<div id="page-wrapper">
	<div colass="container-fluid"></div>
	<div class="container">
		<div class="row">

			<!--  second verticla section -->
			<div class="container">
				<div class="row">
					<button type="button" class="btn bg-blue fs-it-btn"
						data-toggle="modal" data-target=".bs-modal-sm">
						<i class="fa fa-plus" aria-hidden="true"></i> <span
							class="fs-it-btn-vertical-line"></span> Add New File
					</button>
				</div>
			</div>

			<div class="col-md-12">
				<div class="text-right">
					<table
						class="table table-bordered  table-hover table-striped table1">
						<thead>
							<tr>
								<th>File Name</th>
								<th>Amount Claim</th>
								<th>Date</th>
								<th>Action</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td class="text-center"><a
									ng-click="cCctr.gotoDetailPage('profile','1','documentViewer')"
									class="dropdown-toggle" data-toggle="dropdown">View</a>&nbsp ||
									&nbsp <a href="#"><font color="red"> Delete</font></a></td>
							</tr>
														
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td class="text-center"><a
									ng-click="cCctr.gotoDetailPage('profile','1','documentViewer')"
									class="dropdown-toggle" data-toggle="dropdown">View</a>&nbsp ||
									&nbsp <a href="#"><font color="red"> Delete</font></a></td>
							</tr>
									
							
							
							
							
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<!-- modal     -->
	<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1"
		role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<br>

				<div class="modal-body">
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="signin">
							<form class="form-horizontal">
								<fieldset>



									<div class="control-group">
										<label class="control-label" for="userid">Amount Claim</label>
										<div class="controls">
											<input required="" id="userid" name="userid" type="text"
												class="form-control input-medium" placeholder="Amount Claim">
										</div>
									</div>

									<!-- Password input-->
									<div class="control-group">
										<label class="control-label" for="passwordinput">Date</label>

										<div class="controls">
											<input id="date" name="date"
												class="form-control input-medium" type="text"
												placeholder="Date" required="">
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="file">Select File</label>
										<div class="controls">
											<input id="file-upload" type="file" />
										</div>
									</div>

									<BR>
									<!-- Button -->
									<div class="control-group">
										<label class="control-label" for="save"></label>
										<div class="controls">
											<button id="add" name="add"
												class="btn btn-success btn-block btn-primary">Add</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>

					</div>
				</div>

				<div class="modal-footer">
					<center>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</center>
				</div>

			</div>
		</div>
	</div>