<div class="col-md-12 " style="padding-left:0px;">
<div class="heading">
Investments Declaration/Section 80CCD
</div>
<div class="heading"><p>
A new section 80CCD (1B) has been introduced for an additional deduction of up to <b>Rs 50,000</b> for the amount deposited by a 
taxpayer to their NPS account. Contributions to Atal Pension Yojana are also eligible.   </p>
</div>
  

 
	<a class="btn btn-primary" style=" margin-left: 910px;" data-toggle="modal" data-target=".bs-modal-sm">Add </a>
 <div class="table-responsive">
	<table class="table table-bordered table-hover table-striped table">
		<thead>
			<tr>
				<th width="40%">Description</th>
				<th width="15%">Amount Claim</th>
				<th width="15%">Status</th>
				<th width="15%">Remark</th>
				<th width="20%">Action</th>
               
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in cCctr.getEntityListData()">
			<td>{{a.fileDescription}}</td>
				<td>{{a.amountClaimed}}</td>
				<td>{{a.status}}</td>
				<td>{{a.remark}}</td>
				<td><a onclick="test('#viewFile')" ng-click="cCctr.setTemp1(a);">View</a>&nbsp || <a onclick="test('#update')" ng-click="cCctr.setTemp1(a);"><font color="blue">Update</font></a>||
							<a
							ng-click="cCctr.gotoDetailPage('profile','1','documentViewer')"><font
								color="red"> Delete</font></a></td>
						
						
			</tr>
		
			
		</tbody>
	</table>
	</div>
</div>



<!-- modal     -->

<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1"
  style="background-color: rgba(0, 0, 0, .7);"	role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<br>

			<div class="modal-body">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="signin">
						<form class="form-horizontal">
							<fieldset>
							
							<input type="hidden" ng-model="cCctr.fileName.dec.employeeId"
									ng-init="cCctr.fileName.dec.employeeId=cCctr.getEntityListData()[0].employeeId">
								<input type="hidden" ng-model="cCctr.fileName.dec.status"
									ng-init="cCctr.fileName.dec.status='Not Verified'">
 												
 								 <div class="control-group">
									<label class="control-label" for="userid">Description</label>
									<div class="controls">
										<input required="" id="userid" name="userid" type="text"
											class="form-control input-medium" placeholder="Description"
											ng-model="cCctr.fileName.dec.fileDescription ">
											<span class="error" id="fileDescription"></span>
									</div>
								</div>
                                 				
 												


								<div class="control-group">
									<label class="control-label" for="userid">Amount Claim</label>
									<div class="controls">
										<input required="" id="userid" name="userid" type="text"
											class="form-control input-medium" placeholder="Amount Claim"
											ng-model="cCctr.fileName.dec.amountClaimed ">
											<span class="error" id="amountClaimed"></span>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="file">Select File1</label>
									<div class="controls">
										<input multiple id="file-upload" type="file" name="fileName"
											file-model="cCctr.fileName.file" />
									</div>
								</div>

								<BR>
								<!-- Button -->
								<div class="control-group">
									<label class="control-label" for="save"></label>
									<div class="controls">
										<button id="add" name="add"
											class="btn btn-success btn-block btn-primary"
											ng-click="cCctr.submitFile(true,'sec80ccd(1b)',cCctr.fileName)">Add</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>

				</div>
			</div>

			<div class="modal-footer">
				
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				
			</div>

		</div>
	</div>
</div>
<!-- view file -->
<div class="modal fade1" id="viewFile"
	style="background-color: rgba(0, 0, 0, .7);">
	<div class="modal-dialog1" ng-it="cCctr.getEntityData();">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-body row">
				<div class="col-md-8">
					<div style="width: 100%; auto; margin-top: 0px;">
						<iframe
							src="https://docs.google.com/gview?url=http://infolab.stanford.edu/pub/papers/google.pdf&embedded=true#:page.7"
							style="" width="100%" height="100%"></iframe>
					</div>
				</div>
				<div class="col-md-4">
						<div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button><br>
						<h5 class="modal-title" style=" font-family: Times New Roman, Times, serif"><b>Investments Declaration/Section 80CCD(1B)</b></h5>
					</div><br> <label>Description:</label>{{cCctr.temp1.fileDescription}}
					  <br> 
					<label>Amount claim : </label>{{cCctr.temp1.amountClaimed}}
					<br>  
					<label>Status:</label>{{cCctr.temp1.status}}
					<br>
					<label>Remark: </label>{{cCctr.temp1.remark}}
				</div>
			</div>
		</div>
	</div>
</div>

<div id="update" class="modal fade" role="dialog" style="background-color: rgba(0, 0, 0, .7);">
  <div class="modal-dialog" style="width:30%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Update Section 80ccd(1b)</b></h4>
      </div>
      <div class="modal-body">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="signin">
						<form name="fileForm" class="form-horizontal"
							enctype="multipart/form-data">
							<fieldset>


								<div class="control-group">
									<label class="control-label" for="userid">
										Description</label>
									<div class="controls">
										<input required="" id="userid" name="userid" type="text"
											class="form-control input-medium"
											placeholder="Description"
											ng-model="cCctr.temp1.fileDescription ">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="userid">Amount Claim</label>
									<div class="controls">
										<input required="" id="userid" name="userid" type="text"
											class="form-control input-medium" placeholder="Amount Claim"
											ng-model="cCctr.temp1.amountClaimed">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="userid">Status:</label>{{cCctr.temp1.status }}
									<div class="controls">
										
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="userid">Remark:</label> {{cCctr.temp1.remark }}
									<div class="controls">
										
									</div>
								</div>
								
								
								<div class="control-group">
									<label class="control-label" for="file">Select File</label>
									<div class="controls">
										<input multiple id="file-upload" type="file" name="fileName"
											file-model="cCctr.fileName.file" />
									</div>
								</div>
								<BR>

								<div class="control-group">
									<label class="control-label" for="save"></label>
									<div class="controls">
										<button id="add" name="add"
											class="btn btn-success btn-block btn-primary"
											ng-click="cCctr.updateData(true,'sec80ccd(1b)',cCctr.temp1)">Update</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>

				</div>
			</div>

	</div>
  </div>
</div>  
