
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Description"; }
		td:nth-of-type(2):before { content: "Name Of Entity"; }
		td:nth-of-type(3):before { content: "Amount Donated"; }
	    td:nth-of-type(4):before { content: "Amount Exempted"; }
		td:nth-of-type(5):before { content: "Status"; }
		td:nth-of-type(6):before { content: "Remark"; }
		td:nth-of-type(7):before { content: "Action"; }
	
		
		
	}


    @media only screen and (max-width: 1000px) {
        .one{
            display: none;
          
        }
    }
    
 @media only screen and (max-width: 1000px) {
        .two{
         
            padding:8px;
        }
    }
        
   @media only screen and (min-width:600px) {
            #three{
                display: none;
                max-height: 0;
                overflow: hidden;
            }
        }
        
       @media only screen and (min-width:1000px) {
            #search{
             
             margin-left:45%;
             margin-top:2px;
             display:none;
            }
        }
        
            @media only screen and (max-width: 1000px) {
      #hide{
            display: none;
          
        }
    }
     .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: whitesmoke;
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
</style>




<div class="col-md-12 " style="padding-left:0px;">
	<div class="heading">Investments Declaration/Section 80GGA- Donation for scientific research(35AC institution)
</div>
	<div class="heading"><p>If you make any donation for Scientific Research or Rural Development, then you can avail deduction under this section. Under Sec 80GGA deduction, the whole amount of donation is allowed as deduction without any upper limit. However, cash donations of more than Rs. 10,000 are not allowed under this section.
</p></div>



	<div class="row">
	 <div class="col-xs-12">
		<div class="text-right">
	          <button class="btn btn-primary" data-toggle="modal" onclick="test('#myModal')" >Add File</button>
		</div>
	 </div>
    </div>
 <div class="table-responsive">
	<table class=" table-bordered table-hover table-striped ">
		<thead>
			<tr style="background-color:#81b7db;font-size:13px;height:40px">
				<th width="30%">Description</th>
				<th width="15%">Name Of Entity</th>
				<th width="15%">Amount Donated</th>
				<th width="15%">Amount Exempted</th>
				<th width="15%">Status</th>
				<th width="15%">Remark</th>
				<th width="20%">Action</th>
				

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in cCctr.getEntityListData()" style="font-size:13px">
				<td>{{a.fileDescription}}</td>
				<td>{{a.nameOfEntity}}</td>
				
				<td>{{a.amountClaimed}}</td>
				<td>{{a.amtExempted}}</td>
				<td>{{a.status}}</td>
				<td style="height:20px">{{a.remark}}</td>
			
				<td><a ng-click="cCctr.viewFile('fileDetail',a,'viewFile');">View</a>&nbsp || <a onclick="test('#update')" ng-click="cCctr.gotoDetail('fileDetail',a.fileId);cCctr.temp2.dec=a;"><font color="blue">Update</font></a>||
				<a onclick="test('#delete')"><font
						color="red" ng-click="cCctr.setTemp1(a);cCctr.setIndex($index)"> Delete</font></a></td>
			</tr>
			
		</tbody>
	</table>
	<br>
	<br>
	<br>
	<br>
	</div>
</div>



<!-- modal     -->

<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1"
   style="background-color: rgba(0, 0, 0, .7);"		 role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<br>
                        
			<div class="modal-body">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="signin">
						<form name="fileForm"
						 class="form-horizontal" enctype="multipart/form-data">
							<fieldset>
							
							 <input type="hidden" ng-model="cCctr.fileName.dec.employeeId"
									ng-init="cCctr.fileName.dec.employeeId=cCctr.employeeId; cCctr.fileName.dec.status='Not Verified';">
								<input type="hidden" ng-model="cCctr.fileName.dec.status"
									>
									
										 <div class="control-group">
									<label class="control-label" >Description</label>
									<div class="controls">
										<input required="" name="fileDescription" type="text"
											class="form-control input-medium" placeholder="Description"
											ng-model="cCctr.fileName.dec.fileDescription">
											<span class="error" id="fileDescription"></span>
									</div>
								</div>
                                 
                                  <div class="control-group">
									<label class="control-label" >Name of Entity*</label>
									<div class="controls">
										<input ng-required="true" name="nameOfEntity" type="text"
											class="form-control input-medium" placeholder="Name of Entity"
											ng-model="cCctr.fileName.dec.nameOfEntity">
											<span class="error" id="nameOfEntity"></span>
									</div>
								</div>
                                 
                                 <div class="control-group">
									<label class="control-label" >Amount Exempted*</label>
									<div class="controls">
										<input ng-required="true"  name="amtExempted" type="text"
											class="form-control input-medium" placeholder="Amount Exempted"
											ng-model="cCctr.fileName.dec.amtExempted">
											<span class="error" id="amtExempted"></span>
									</div>
								</div>


								<div class="control-group">
									<label class="control-label" >Amount Donated*</label>
									<div class="controls">
										<input ng-required="true" name="amountClaimed" type="text"
											class="form-control input-medium" placeholder="Amount Donated"
											ng-model="cCctr.fileName.dec.amountClaimed">
											<span class="error" id="amountClaimed"></span>
									</div>
								</div>

								

								<div class="control-group">
									<label class="control-label" for="file">Select File</label>
									<div class="controls">
										<input multiple id="file-upload" type="file" name="fileName"
										file-model="cCctr.fileName.file" />
									</div>
								</div>

								<BR>
								<!-- Button -->
								<div class="control-group">
									<label class="control-label" for="save"></label>
									<div class="controls">
										<button id="add" name="add"
											class="btn btn-success btn-block btn-primary"
											ng-click="fileForm.submitted=true;cCctr.submitFile(fileForm.$valid,'sec80gga',cCctr.fileName,'close')" >Add</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>

				</div>
			</div>

			<div class="modal-footer">

				<button type="button" class="btn btn-default" id="close" data-dismiss="modal">Close</button>

			</div>

		</div>
	</div>
</div>



<!-- No view file modal-->
<div class="modal fade1" id="noviewFile"
	style="background-color: rgba(0, 0, 0, .7);">
	<div class="modal-dialog1" ng-it="cCctr.getEntityData();">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-body row">
				<div class="col-md-8">
					<div style="width: 100%; auto; margin-top: 0px;" >
					
					<h1>No File Uploaded</h1>
							 
						
					</div>
				</div>
				<div class="col-md-4" style="font-size: 11px;">


					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"style="color:red"><i class="fa fa-times fa-1x" aria-hidden="true"></i></button>
						<br>
						<h5 class="modal-title"
							style="font-family: Times New Roman, Times, serif">
							<b>Investments Declaration/Section GGA</b>
						</h5>
					</div>
					<br>
					<div class="row col-sm-12>">
						
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Description</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.fileDescription}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Name Of Entity</label></div>
							<div class="col-sm-8">{{cCctr.temp1.nameOfEntity}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Amount Donated</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.amountClaimed}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Amount Exempted</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.amtExempted}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Status</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.status}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Remark </label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.remark}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>







<!-- view file -->
<div class="modal fade1" id="viewFile"
	style="background-color: rgba(0, 0, 0, .7);">
	<div class="modal-dialog1" ng-it="cCctr.getEntityData();">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-body row">
				<div class="col-md-8">
					<div style="width: 100%; auto; margin-top: 0px;">
						<iframe  id="iframe1"
						  ng-src="{{cCctr.loader}}"
							 width="100%" height="100%"></iframe>
					</div>
				</div>
				<div class="col-md-4">
					<div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" ng-click="cCctr.loader='static/img/Spinner-1s-200px.gif'"style="color:red"><i class="fa fa-times fa-1x" aria-hidden="true"></i></button><br>
						<h5 class="modal-title" style=" font-family: Times New Roman, Times, serif"><b>Investments Declaration/Section 80GGA</b></h5>
					</div>
					
					<div class="row col-sm-12" style="font-size: 11px;">
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Description</label></div>
							<div class="col-sm-8">{{cCctr.temp1.fileDescription}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Name Of Entity</label></div>
							<div class="col-sm-8">{{cCctr.temp1.nameOfEntity}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Amount Exempted</label></div>
							<div class="col-sm-8">{{cCctr.temp1.amtExempted}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Amount Donated</label></div>
							<div class="col-sm-8">{{cCctr.temp1.amountClaimed}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Status</label></div>
							<div class="col-sm-8">{{cCctr.temp1.status}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Remark</label></div>
							<div class="col-sm-8">{{cCctr.temp1.remark}}</div>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div id="update" class="modal fade" role="dialog" style="background-color: rgba(0, 0, 0, .7);">
  <div class="modal-dialog" style="width:30%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="closeU" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Update Section 80gga</b></h4>
      </div>
      <div class="modal-body">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="signin">
						<form name="updatefileForm" class="form-horizontal"
							enctype="multipart/form-data">
							<fieldset>


								<div class="control-group">
									<label class="control-label" for="userid">
										Description</label>
									<div class="controls">
										<input  name="fileDescription" type="text"
											class="form-control input-medium"
											placeholder="Description"
											ng-model="cCctr.temp2.dec.fileDescription ">
											<span class="error" id="fileDescriptionU"></span>
									</div>
								</div>
								
								
							<div class="control-group">
									<label class="control-label" for="userid">Amount Exempted</label>
									<div class="controls">
										<input required=""  name="amountDonated" type="text"
											class="form-control input-medium" placeholder="Amount Exempted"
											ng-model="cCctr.temp2.dec.amtExempted">
											<span class="error" id="amtExemptedU"></span>
									</div>
								</div>	
								
								
								
								<div class="control-group">
									<label class="control-label" for="userid">Amount Donated</label>
									<div class="controls">
										<input required=""  name="amountClaimed" type="text"
											class="form-control input-medium" placeholder="Amount Donated"
											ng-model="cCctr.temp2.dec.amountClaimed">
											<span class="error" id="amountClaimedU"></span>
									</div>
								</div>
								
								
									<div class="control-group">
									<label class="control-label" for="userid">Name Of Entity</label>
									<div class="controls">
										<input required=""  name="nameOfEntity" type="text"
											class="form-control input-medium" placeholder="Name Of Entity"
											ng-model="cCctr.temp2.dec.nameOfEntity">
											<span class="error" id="nameOfEntityU"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="userid">Status:</label>{{cCctr.temp2.dec.status }}
									<div class="controls">
										
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="userid">Remark:</label> {{cCctr.temp2.dec.remark }}
									<div class="controls">
										
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="name">Saved File : </label>&nbsp;
									<span ng-show="cCctr.getEntityData().fileName!=null">{{cCctr.getEntityData().fileName}}</span>
									<span ng-show="cCctr.getEntityData().fileName==null">No file uploaded.</span><br>
									<label class="control-label" for="file">Replace File </label>
									<div class="controls">
										<input multiple id="file-upload" type="file" name="fileName"
											file-model="cCctr.temp2.file" >
									</div>
								</div>
								<BR>

								<div class="control-group">
									<label class="control-label" for="save"></label>
									<div class="controls">
										<button id="add" name="add"
											class="btn btn-success btn-block btn-primary" 
											ng-click="cCctr.updateFile(updatefileForm.$valid,'sec80gga',cCctr.temp2,'closeU')">Update</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>

				</div>
			</div>

	</div>
  </div>
</div>  

<div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog modal-sm" style="width:30%">
      <div class="modal-content">
       <p></p>
        <div class="modal-body">
          <p>Are you sure you want to delete ?</p>
          
           <fieldset>
           <div class="row col-sm-12" style="font-size: 13px;">
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Description</label></div>
							<div class="col-sm-8">{{cCctr.temp1.fileDescription}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Name Of Entity</label></div>
							<div class="col-sm-8">{{cCctr.temp1.nameOfEntity}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Amount Exempted</label></div>
							<div class="col-sm-8">{{cCctr.temp1.amtExempted}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Amount Donated</label></div>
							<div class="col-sm-8">{{cCctr.temp1.amountClaimed}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Status</label></div>
							<div class="col-sm-8">{{cCctr.temp1.status}}</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-sm-4"><label>Remark</label></div>
							<div class="col-sm-8">{{cCctr.temp1.remark}}</div>
						</div>
					</div>
          		
		  </fieldset>
          
           <button type="button" class="btn btn-default" ng-click="cCctr.deleteFunction(true,'sec80gga',cCctr.temp1,cCctr.getEntityListData(),cCctr.dlIndex,'closeD')" data-dismiss="modal">Yes</button>
           <button type="button" id="closeD" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
        
      </div>
    </div>
  </div>





