




<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Types of Investment"; }
		td:nth-of-type(2):before { content: "Description"; }
		td:nth-of-type(3):before { content: "Amount Invested"; }
		td:nth-of-type(4):before { content: "Amount Exempted"; }
		td:nth-of-type(5):before { content: "Status"; }
		td:nth-of-type(6):before { content: "Remark"; }
		td:nth-of-type(7):before { content: "Action"; }
		
	}
	

						
						
    @media only screen and (max-width: 1000px) {
        .one{
            display: none;
          
        }
    }
    
 @media only screen and (max-width: 1000px) {
        .two{
         
            padding:8px;
        }
    }
        
   @media only screen and (min-width:600px) {
            #three{
                display: none;
                max-height: 0;
                overflow: hidden;
            }
        }
        
       @media only screen and (min-width:1000px) {
            #search{
             
             margin-left:45%;
             margin-top:2px;
             display:none;
            }
        }
        
            @media only screen and (max-width: 1000px) {
      #hide{
            display: none;
          
        }
    }
     .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: whitesmoke;
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
</style>


<div class="col-md-12 " style="padding-left: 0px;font-size: 12px">
	<div class="heading">Investments Declaration/Section
		80C/80CCC/80CCD - Deduction in respect of certain Investment</div>
	<p style="font-size: 13px">

		80C deduction are the most popular Income Tax Deductions. The 80C
		deduction limit for is Rs. 1,50,000. The various options of
		investments and payments that qualify for deduction under this section
		are: <a onclick="readMore()" id="more" style="color: blue;">Read
			More</a>
	<div class="heading" id="myDIV" style="display: none">

		<p>
			<b>Life Insurance Premium (LIP)</b><br> Deduction is allowed in
			respect of life insurance premium that you pay on your LIC policy but
			policy must be in the name of: In case of an individual: Individual,
			spouse or any child of such individual. In case of HUF: Any member of
			HUF. Do note that before making the payment towards the premium,
			first check with agent or read the policy description whether it is
			eligible for deduction for income tax purpose.
		</p>

		<p>
			<b>Public Provident Fund (PPF)</b><br> Deduction is allowed in
			respect of Contribution made by you towards your PPF. The limit for
			minimum deposit in PPF A/C is Rs. 500 and limit for maximum deposit
			is Rs 1,50,000 during a year. PPF can be in the name of: In case of
			an individual: Individual, spouse or any child of such individual. In
			case of HUF: Any member of HUF. The best part about PPF is that the
			interest you receive on your PPF account and receipts on maturity or
			withdrawals is fully tax free. The PPF account matures after 15 years
			but part of the money can be withdrawn after 5 years.
		</p>
		<p>
			<b>Unit Linked Insurance Plan (ULIP)</b><br> Deduction is
			allowed in respect of Contribution made by you towards your ULIP. You
			can make investments in the name of: In case of an individual:
			Individual, spouse or any child of such individual. In case of HUF:
			Any member of HUF.
		</p>
		<p>
			<b>Children's Tuition Fees</b><br> You can claim deduction for
			the payment of tuition fees of your children to any university,
			college, school or other educational institution situated within
			India for the purpose of education. However, deduction would not be
			allowed for payment towards any development fees or donation or
			payment of similar nature. This deduction is allowed for maximum two
			children.
		</p>
		<p>
			<b>Principal Repayment of Housing Loan</b><br> You can claim the
			deduction of principal repayment of your housing loan taken for
			purchase or construction of residential house property. Deduction can
			also be availed in respect of stamp duty charges, registration fee
			and other expenses paid for purchase of your house. This deduction is
			available for both individuals and HUF.
		</p>
		<p>But keep in mind that if you sell/transfer such house property
			in respect of which such deduction was taken before expiry of 5 years
			from the end of financial year in which possession was taken, then
			the deduction availed in the earlier years will be taxable for you in
			that year.</p>
		<p>
			<b>Sukanya Samriddhi Scheme</b><br> In lines with the Beti
			Bachao, Beti Padhao campaign, this scheme was launched on 22nd
			January, 2015 by Prime Minister Narendra Modi. You claim deduction
			under this scheme for any sum deposited by you in the Sukanya
			Samriddhi Account of your girl child or any girl child for whom
			you're her legal guardian. The minimum limit of deposit under this
			account is Rs 1000 annually and maximum Rs 1,50,000. Interest earned
			and money withdrawals from this account are tax free.
		</p>
		<p>
			<b>Mutual Funds (Equity Linked Saving Scheme)</b><br> You can
			claim deduction in respect of subscription to units of UTI or mutual
			funds specified u/s 10(23D) of Income Tax India, 1961.
		</p>
		<p>
			<b>Provident Fund</b><br> If you're an employee, then you can
			claim deduction in respect of contribution towards your Statutory
			Provident Fund or Recognized Provident Fund Account.

		</p>
		<p>
			<b>Bank FDR's Known as 5 Year Tax Saving FDR's</b><br> Almost
			everyone invests in Bank FDR's but did you know that you can claim
			deduction for it too. Investment must be made in term deposit for a
			fixed period of 5 years or more with scheduled banks to avail the
			deduction.
		</p>
		<p>
			<b>Post Office Tax Saving FDR's Post Office Time Deposit Scheme</b><br>
			' to Bank FDR's, 5 year FDRs of Post Offices are also eligible for
			deduction under section 80C.

		</p>
		<p>
			<b>National Saving Certificate NSCs</b><br> Subscribe to NSC and
			you'll be eligible for deduction for the amount you contribute. These
			can be purchased from Post Office.
		</p>

		<p>
			<b>Deferred Annuity Plan</b><br> You can claim deduction in
			respect of payment made by you under Deferred Annuity Plan. This
			annuity may be in your name, your spouse's name or in the name of any
			of your child. But to claim deduction under this annuity plan, there
			should be no provision of receiving cash in lieu of annuity. And, if
			you're a government employee and any sum is deducted from your salary
			under deferred annuity plan, then deduction is restricted to only
			1/5th of your salary.
		</p>
		<p>
			<b>Others</b><br> Contribution towards Approved Superannuation
			Fund. Subscription to any deposit scheme/pension fund of National
			Housing Bank (NHB) Subscription to bonds issued by National Bank for
			Agriculture and Rural Development (NABARD) Deposit in an account
			under the Senior Citizen Savings Scheme. Subscription to notified
			deposit scheme of: Public Sector Housing Finance Company Housing
			Development Authority of cities, towns and villages Contribution
			towards annuity plans of LIC like Jeevan Dhara, Jeevan Akshay etc. or
			any other insurer as approved by Central Government. Subscription to
			equity shares or debentures of Public Company or any Public financial
			institution forming part of any eligible issue of capital approved by
			Board where proceeds are utilized for infrastructure company.
		</p>


	</div>
	
	<div class="row">
	 <div class="col-xs-12">
		<div class="text-right">
	          <button class="btn btn-primary" data-toggle="modal" onclick="test('#myModal')" >Add File</button>
		</div>
	 </div>
    </div>
 <div class="table-responsive">
	<table class=" table-bordered table-hover table-striped ">
		<thead>
			<tr  style="height:40px;background-color: #81b7db;font-size:13px">
				<th width="15%">Types of Investment</th>
				<th width="30%">Description</th>
				<th width="15%">Amount Invested</th>
				<th width="15%">Amount Exempted</th>
				<th width="10%">Status</th>
				<th width="10%">Remark</th>
				<th width="15%">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in cCctr.getEntityListData() track by a.id" style="font-size:13px">
				<td>{{a.typeOfInvestment}}</td>
				<td>{{a.fileDescription}}</td>
				<td>{{a.amountClaimed}}</td>
				<td>{{a.amtExempted}}</td>
				<td>{{a.status}}</td>
				<td style="height:20px">{{a.remark}}</td>

				<td><a 
					ng-click="cCctr.viewFile('fileDetail',a,'viewFile');" >View</a>|| <a
					onclick="test('#update')"  ng-click="cCctr.gotoDetail('fileDetail',a.fileId);cCctr.temp2.dec=a;"><font
						color="blue">Update</font></a>|| <a onclick="test('#delete')"><font
						color="red" ng-click="cCctr.setTemp1(a);cCctr.setIndex($index)"> Delete</font></a></td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<br>
	<br>
	</div>
</div>
<!-- add modal     -->

<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1"
	style="background-color: rgba(0, 0, 0, .7);" role="dialog"
	aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">  
		<div class="modal-content">
			<br>

			<div class="modal-body">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in">
						<form name="fileForm" class="form-horizontal" role="form"
							enctype="multipart/form-data">
							<fieldset>


								<input type="hidden" ng-model="cCctr.entity.employeeId=cCctr.employeeId"
									ng-init="cCctr.fileName.dec.employeeId=cCctr.employeeId">
								<input type="hidden" ng-model="cCctr.fileName.dec.status"
									ng-init="cCctr.fileName.dec.status='Not Verified'">	
								
									
								<div class="control-group">
									<label class="control-label">Type Of
										Investment*</label>
									<div class="controls">
										<select style="width: 100%; height: 30px"  name="typeOfInvestment"
											ng-model="cCctr.fileName.dec.typeOfInvestment "  ng-required="true" ng-model-options="{updateOn: 'blur'}">
											<option value="Investment under Sec 80C">Investment
												under Sec 80C</option>
											<option value="Life Insurance Premium(LIC)">Life
												Insurance Premium(LIC)</option>
											<option value="Provident Fund(PF)">Provident
												Fund(PF)</option>
											<option value="Public Provident Fund(PPF)" selected>Public
												Provident Fund(PPF)</option>
											<option value="Voluntary Provident Fund(VPF)">Voluntary
												Provident Fund(VPF)</option>
											<option value="National Savings Certificate(NSC)">National
												Savings Certificate(NSC)</option>
											<option value="Interest accrued on NSC(Re-invested)">Interest
												accrued on NSC(Re-invested)</option>
											<option value="Unit Linked Insurance Policy(ULIP)" selected>Unit
												Linked Insurance Policy(ULIP)</option>
											<option
												value="Equity Linked Savings Scheme(ELSS)-Mutual Fund"
												selected>Equity Linked Savings Scheme(ELSS)-Mutual
												Fund</option>
											<option
												value="Payment for Tuition Fees for Children(Max. 2 Children)"
												selected>Payment for Tuition Fees for Children(Max.
												2 Children)</option>
											<option value="Principal Repayment Of Housing Loan" selected>Principal
											Repayment Of Housing Loan</option>
											<option
												value="Stamp Duty, Registration charges incurred for Buying House(1st Year Only)"
												selected>Stamp Duty, Registration charges incurred
												for Buying House(1st Year Only)</option>
											<option value="Infrastructure Bonds" selected>Infrastructure
												Bonds</option>
											<option value="Bank Fixed Deposit For 5 Years & Above"
												selected>Bank Fixed Deposit For 5 Years & Above</option>
											<option value="Post Office Term Deposit For 5 Years & Above"
												selected>Post Office Term Deposit For 5 Years &
												Above</option>
											<option value="Approved Superannuation Fund" selected>Approved
												Superannuation Fund</option>
											<option
												value="Deposit Scheme of the Company Notified by Central Government"
												selected>Deposit Scheme of the Company Notified by
												Central Government</option>
											<option value="Bond Issued by NABARD" selected>Bond
												Issued by NABARD</option>
											<option value="Deposit in Senior Citizens Savings Scheme"
												selected>Deposit in Senior Citizens Savings Scheme</option>
											<option value="80CCC- LIC Annuity Premium" selected>80CCC-
												LIC Annuity Premium</option>
											<option value="80CCD- National Pension Scheme" selected>80CCD-
												National Pension Scheme</option>
												<option value="others" selected>Others
												</option>
										</select>
										
										 <span
									style="color: red"
									ng-show="fileForm.submitted || fileForm.typeOfInvestment.$dirty && fileForm.typeOfInvestment.$invalid">
										<span class="error"
									ng-show="fileForm.typeOfInvestment.$error.required">Type of Investment is
										Required.</span>
										</span>
									
								</div>
									</div>
								<div class="control-group">
									<label class="control-label"> Description</label>
									<div class="controls">
										<input class="form-control"  name="fileDescription" type="text"
											class="form-control" placeholder="Description" autocomplete="off"
											ng-model="cCctr.fileName.dec.fileDescription ">
											<span class="error" id="fileDescription"></span>
											
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Amount Invested*</label>
									<div class="controls">
										<input name="amountClaimed" type="text"
											class="form-control" placeholder="Amount Invest"
											ng-model="cCctr.fileName.dec.amountClaimed "  ng-required="true">
											<span
									style="color: red"
									ng-show="fileForm.submitted || fileForm.amountClaimed.$dirty && fileForm.amountClaimed.$invalid">
										<span class="error"
									ng-show="fileForm.typeOfInvestment.$error.required">Amount Invest is
										Required.</span>
										</span>
										<span class="error" id="amountClaimed"></span>
											
											
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label">Amount Exempted</label>
									<div class="controls">
										<input class="form-control"  name="amtExempted" type="text"
											class="form-control" placeholder="Amount Exempted" autocomplete="off"
											ng-model="cCctr.fileName.dec.amtExempted">
											<span class="error" id="amtExempted"></span>
											
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="file">Select File</label>
									<div class="controls">
										<input multiple id="file-upload" type="file" name="fileName"   
											file-model="cCctr.fileName.file"  accept=".pdf,.png,.jpeg,.jpg"  >
									</div>
								</div>
								<BR>
								<div class="control-group">
									<label class="control-label" for="save"></label>
									<div class="controls" >
										<button id="add" name="add"
											class="btn btn-success btn-block btn-primary"  
											ng-click="fileForm.submitted=true;cCctr.submitFile(fileForm.$valid,'sec80c',cCctr.fileName,'close')" >Add</button>
									</div>
								</div>
							</fieldset>
						</form>
						
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="close" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	                               
</div>
















 <!-- No view file modal-->
<div class="modal fade1" id="noviewFile"
	style="background-color: rgba(0, 0, 0, .7);">
	<div class="modal-dialog1" ng-it="cCctr.getEntityData();">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-body row">
				<div class="col-md-8">
					<div style="width: 100%; auto; margin-top: 0px;" >
					
					<h1>No File Uploaded</h1>
							 
						
					</div>
				</div>
				<div class="col-md-4" style="font-size: 11px;">


					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" style="color:red"><i class="fa fa-times fa-1x" aria-hidden="true"></i></button>
						<br>
						<h5 class="modal-title"
							style="font-family: Times New Roman, Times, serif">
							<b>Investments Declaration/Section 80C</b>
						</h5>
					</div>
					<br>
					<div class="row col-sm-12>">
						<div class="row" style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Type Of Investment</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.typeOfInvestment}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Description</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.fileDescription}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Amount Invested</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.amountClaimed}}</div>
						</div>
						
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Amount Exempted</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.amtExempted}}</div>
						</div>
						
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Status</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.status}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Remark </label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.remark}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- view file modal-->
<div class="modal fade1" id="viewFile"
	style="background-color: rgba(0, 0, 0, .7);">
	<div class="modal-dialog1" ng-it="cCctr.getEntityData();">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-body row">
				<div class="col-md-8"> 
				
					<div style="width: 100%;">
					
					</div>
							 
							<iframe  id="iframe1" 
						  ng-src="{{cCctr.loader}}"
							 width="100%" height="100%"></iframe> 
					
				
				</div>
				<div class="col-md-4" style="font-size: 11px;">


					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" style="color:red" ng-click="cCctr.loader='static/img/Spinner-1s-200px.gif'"><i class="fa fa-times fa-1x" aria-hidden="true"></i></button>
						<br>
						<h5 class="modal-title"
							style="font-family: Times New Roman, Times, serif">
							<b>Investments Declaration/Section 80C</b>
						</h5>
					</div>
					<br>
					<div class="row col-sm-12>">
						<div class="row" style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Type Of Investment</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.typeOfInvestment}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Description</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.fileDescription}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Amount Invested </label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.amountClaimed}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Amount Exempted</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.amtExempted}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Status</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.status}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Remark </label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.remark}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- update modal -->
<div id="update" class="modal fade" role="dialog" tabindex="-1"
	style="background-color: rgba(0, 0, 0, .7);">
	<div class="modal-dialog" style="width: 30%">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" id="closeU" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					<b>Update Section 80c</b>
				</h4>
			</div>
			<div class="modal-body">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="signin">
						<form name="updatefileForm" class="form-horizontal"
							enctype="multipart/form-data">
							<fieldset>



								<div class="control-group">
									<label class="control-label" for="userid">Type Of
										Investment</label>
									<div class="controls">
										<select style="width: 100%; height: 30px"
											ng-model="cCctr.temp2.dec.typeOfInvestment">
											<option value="Investment under Sec 80C">Investment
												under Sec 80C</option>
											<option value="Life Insurance Premium(LIC)">Life
												Insurance Premium(LIC)</option>
											<option value="Provident Fund(PF)">Provident
												Fund(PF)</option>
											<option value="Public Provident Fund(PPF)" selected>Public
												Provident Fund(PPF)</option>
											<option value="Voluntary Provident Fund(VPF)">Voluntary
												Provident Fund(VPF)</option>
											<option value="National Savings Certificate(NSC)">National
												Savings Certificate(NSC)</option>
											<option value="Interest accrued on NSC(Re-invested)">Interest
												accrued on NSC(Re-invested)</option>
											<option value="Unit Linked Insurance Policy(ULIP)" selected>Unit
												Linked Insurance Policy(ULIP)</option>
											<option
												value="Equity Linked Savings Scheme(ELSS)-Mutual Fund"
												selected>Equity Linked Savings Scheme(ELSS)-Mutual
												Fund</option>
											<option
												value="Payment for Tuition Fees for Children(Max. 2 Children)"
												selected>Payment for Tuition Fees for Children(Max.
												2 Children)</option>
											<option value="Principal Repayment Of Housing Loan" selected>Principal
												Repayment Of Housing Loan</option>
											<option
												value="Stamp Duty, Registration charges incurred for Buying House(1st Year Only)"
												selected>Stamp Duty, Registration charges incurred
												for Buying House(1st Year Only)</option>
											<option value="Infrastructure Bonds" selected>Infrastructure
												Bonds</option>
											<option value="Bank Fixed Deposit For 5 Years & Above"
												selected>Bank Fixed Deposit For 5 Years & Above</option>
											<option value="Post Office Term Deposit For 5 Years & Above"
												selected>Post Office Term Deposit For 5 Years &
												Above</option>
											<option value="Approved Superannuation Fund" selected>Approved
												Superannuation Fund</option>
											<option
												value="Deposit Scheme of the Company Notified by Central Government"
												selected>Deposit Scheme of the Company Notified by
												Central Government</option>
											<option value="Bond Issued by NABARD" selected>Bond
												Issued by NABARD</option>
											<option value="Deposit in Senior Citizens Savings Scheme"
												selected>Deposit in Senior Citizens Savings Scheme</option>
											<option value="80CCC- LIC Annuity Premium" selected>80CCC-
												LIC Annuity Premium</option>
											<option value="80CCD- National Pension Scheme" selected>80CCD-
												National Pension Scheme</option>

										</select>

									</div>
								</div>

								<div class="control-group">
									<label class="control-label" > Description</label>
									<div class="controls">
										<input required=""  name="fileDescription" type="text"
											class="form-control input-medium" placeholder="Description"
											ng-model="cCctr.temp2.dec.fileDescription">
											<span class="error" id="fileDescriptionU"></span>
									</div>
								</div>


								<div class="control-group">
									<label class="control-label">Amount Invested</label>
									<div class="controls">
										<input   name="amountClaimed" type="text"
											class="form-control input-medium" placeholder="Amount Invest"
											ng-model="cCctr.temp2.dec.amountClaimed ">
											<span class="error" id="amountClaimedU"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Amount Exempted</label>
									<div class="controls">
										<input class="form-control"  name="amtExempted" type="text"
											class="form-control" placeholder="Amount Exempted" autocomplete="off"
											ng-model="cCctr.temp2.dec.amtExempted">
											<span class="error" id="amtExempted"></span>
											
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="userid">Status:</label>{{cCctr.temp2.dec.status}}
									<div class="controls"></div>
								</div>

								<div class="control-group">
									<label class="control-label" for="userid">Remark:</label>{{cCctr.temp2.dec.remark}}
									<div class="controls"></div>
								</div>

								<div class="control-group">
									<label class="control-label" for="name">Saved File : </label>&nbsp;
									<span ng-show="cCctr.getEntityData().fileName!=null">{{cCctr.getEntityData().fileName}}</span>
									<span ng-show="cCctr.getEntityData().fileName==null">No file uploaded.</span><br>
									<label class="control-label" for="file">Replace File </label>
									<div class="controls">
										<input multiple id="file-upload" type="file" name="fileName"
											file-model="cCctr.temp2.file" >
									</div>
								</div>
								<BR>

								<div class="control-group">
									<label class="control-label" for="save"></label>
									<div class="controls">
										<button id="add" name="update"
											class="btn btn-success btn-block btn-primary"   
											ng-click="cCctr.updateFile(updatefileForm.$valid,'sec80c',cCctr.temp2,'closeU')">Update</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>


<!-- delete modal -->

 <div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog modal-sm" Style="width:30%">
      <div class="modal-content">
       <p></p>
        <div class="modal-body">
          <p>Are you sure you want to delete ?</p>
          <fieldset>
          		<div class="row col-sm-12" style="font-size: 13px;">
						<div class="row" style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Type Of Investment</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.typeOfInvestment}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Description</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.fileDescription}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Amount Invested</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.amountClaimed}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Amount Exempted</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.amtExempted}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Status</label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.status}}</div>
						</div>
						<div class="row"style="margin-top:15px;">
							<div class="col-sm-4">
								<label>Remark </label>
							</div>
							<div class="col-sm-8">{{cCctr.temp1.remark}}</div>
						</div>
					</div>
					</fieldset>
        
           <button  type="button" class="btn btn-default" ng-click="cCctr.deleteFunction(true,'sec80c',cCctr.temp1,cCctr.getEntityListData(),cCctr.dlIndex,'closeD')" data-dismiss="modal" style="margin-top:15px;">Yes</button>
           <button type="button" class="btn btn-default" id="closeD" data-dismiss="modal" style="margin-top:15px;">No</button>
          
        </div>
        
      </div>
    </div>
  </div>




