<style>
@media ( min-width : 300px) and (max-width: 700px) {
	.mobile {
		display: none;
	}
}

@media only screen and (min-width:600px) {
	.hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
		display: none;
	}
}

.sidenavs {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenavs a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenavs a:hover {
	color: #f1f1f1;
}

.sidenavs .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenavs {
		padding-top: 15px;
	}
	.sidenavs a {
		font-size: 18px;
	}
}
</style>







<div id="mySidenav" class="sidenavs">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
		style="margin-top: -5%; margin-left: 15%; color: #fff">&times;</a>
	<div class="row"
		style="margin-top: -75px; background-color: #0F316D; height: 100px">


		<img src="static/img/logo4.png" style="height: 105px; width: 100%"
			ng-click="cCctr.gotoListPage('homeWOTHomepage','homeWOTHomepage')"
			onclick="closeNav()">
	</div>

	<div style="background-color: white; margin-top: 8px"
		onclick="closeNav()"
		ng-click="cCctr.gotoListPage('vendorPayment','vendorPayment')">
		<a ng-click="" class="dropdown-toggle" data-toggle="dropdown"><b
			style="font-size: 17px; color: black;">Vendor Payment</b></a>
	</div>


	<div style="background-color: white; margin-top: 1px">
		<a role="menuitem" tabindex="-1" data-toggle="collapse"
			data-parent="#accordion" data-target="#pm"><b
			style="font-size: 17px; color: black">Form 26Q</b> <i
			style="font-size: 12px; color: black; margin-left: 30%"
			class="glyphicon glyphicon-chevron-down"></i>
	</div>
	</a>


	<ul id="pm" class="panel-collapse collapse">
		<p>
			<a><b style="font-size: 18px; color: white" onclick="closeNav()"
				ng-click="cCctr.gotoListPage('formchallan26Q','formchallan26Q')">Challan
					Details</b> </a>

		</p>
		<p>
			<a><b style="font-size: 18px; color: white" onclick="closeNav()"
				ng-click="cCctr.gotoListPage('form26Q','form26Q')">Deductee
					Details</b> </a>

		</p>
	</ul>

	<div style="background-color: white; margin-top: 1px">
		<a role="menuitem" tabindex="-1" data-toggle="collapse"
			data-parent="#accordion" data-target="#qm"><b
			style="font-size: 17px; color: black">Form 27Q</b> <i
			style="font-size: 12px; color: black; margin-left: 40%"
			class="glyphicon glyphicon-chevron-down"></i>
	</div>
	</a>


	<ul id="qm" class="panel-collapse collapse">
		<p>
			<a><b style="font-size: 18px; color: white" onclick="closeNav()"
				ng-click="cCctr.gotoListPage('regular27QChallan','regular27QChallan')">Challan
					Details </b> </a>

		</p>
		<p>
			<a><b style="font-size: 18px; color: white" onclick="closeNav()"
				ng-click="cCctr.gotoListPage('form27Q','form27Q')">Deductee
					Details </b> </a>

		</p>



	</ul>


	<div style="background-color: white; margin-top: 1px">
		<a role="menuitem" tabindex="-1" data-toggle="collapse"
			data-parent="#accordion" data-target="#rm"><b
			style="font-size: 17px; color: black">Form 24Q</b> <i
			style="font-size: 12px; color: black; margin-left: 30%"
			class="glyphicon glyphicon-chevron-down"></i>
	</div>
	</a>


	<ul id="rm" class="panel-collapse collapse">
		<p>
			<a><b style="font-size: 18px; color: white" onclick="closeNav()"
				ng-click="cCctr.gotoListPage('regular24Q4Challan','regular24Q4Challan')">Challan
					Details </b> </a>

		</p>
		<p>
			<a><b style="font-size: 18px; color: white" onclick="closeNav()"
				ng-click="cCctr.gotoListPage('form24Q','form24Q')">Deductee
					Details </b> </a>

		</p>
		<p>
			<a><b style="font-size: 18px; color: white" onclick="closeNav()"
				ng-click="cCctr.gotoListPage('form24Qsalary','form24Qsalary')">Salary
					Details </b> </a>

		</p>




	</ul>
	<div style="background-color: white; margin-top: 1px"
		onclick="closeNav()"
		ng-click="cCctr.gotoListPage('requestCorrection','requestCorrection')">
		<a class="dropdown-toggle" data-toggle="dropdown"><b
			style="font-size: 17px; color: black;">Request Correction</b></a>
	</div>
	<div style="background-color: white; margin-top: 1px"
		onclick="closeNav()"
		ng-click="cCctr.gotoListPage('statementStatus','statementStatus')">
		<a class="dropdown-toggle" data-toggle="dropdown"><b
			style="font-size: 17px; color: black;">Statement Status</b></a>
	</div>
	<div style="background-color: white; margin-top: 1px"
		onclick="closeNav()"
		ng-click="cCctr.gotoListPage('tokenNumber','tokenNumber')">
		<a class="dropdown-toggle" data-toggle="dropdown"><b
			style="font-size: 17px; color: black;">Token Number Status</b></a>
	</div>
	<div style="background-color: white; margin-top: 1px"
		onclick="closeNav()"
		ng-click="cCctr.gotoListPage('ghReturnStatus','ghReturnStatus')">
		<a class="dropdown-toggle" data-toggle="dropdown"><b
			style="font-size: 17px; color: black;">Form 15G/15H Status</b></a>
	</div>
	<div style="background-color: white; margin-top: 1px"
		onclick="closeNav()"
		ng-click="cCctr.gotoListPage('misReport','misReport')">
		<a class="dropdown-toggle" data-toggle="dropdown"><b
			style="font-size: 17px; color: black;">MISReport</b></a>
	</div>

	<div style="background-color: white; margin-top: 1px"
		ng-click="cCctr.gotoListPage('ticket','ticket')">
		<a><b style="font-size: 17px; color: black;">Generate Ticket</b></a>
	</div>

	<div style="background-color: white; margin-top: 1px"
		onclick="closeNav()"
		ng-click="cCctr.gotoDetailPage('deductorDetails','${br.getTan()}','deductorDetails')">
		<a class="dropdown-toggle" data-toggle="dropdown"><b
			style="font-size: 17px; color: black;">Deductor Details</b></a>
	</div>

	<div style="background-color: white; margin-top: 1px"
		onclick="closeNav()"
		ng-click="cCctr.gotoHomePageSC(cCctr.clientId,'homeSC')">
		<a class="dropdown-toggle" data-toggle="dropdown"><b
			style="font-size: 17px; color: black;">Select Branch</b></a>
	</div>

</div>


<div class="navbar-header hide-on-desktop"
	style="border-bottom: 1px solid">


	<button type="button" onclick="openNav()"
		style="margin-top: 20px; background-color: #0F316D; margin-left: 10px"
		class="pull-left navbar-toggle" data-toggle="collapse"
		data-target="#tejas">
		<span class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
	</button>

	<a class="icon-cog" style="line-height: 0.5%;" ui-sref="home.homePage">
		<span class="icon-tax-o-smart"
		style="font-size: 60px; color: #0F316D; position: relative; top: 10px; margin-top: -5px"></span>


		<span color="whitle"
		style="font-size: 35px; color: #0F316D; position: relative; bottom: 0px;">Tax-<strong
			style="color: #5cb85c;">O</strong>-Smart
	</span>
	</a>



</div>











<div class="sidenav mobile">
	<nav class="navbar navbar-inverse sidebar" role="navigation"
		style="margin-top: -22px; position: fixed">
		<div class="container-fluid"
			style="background-color: #0F316D; color: white">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li
						ng-click="cCctr.gotoListPage('homeWOTHomepage','homeWOTHomepage')"><img
						src="static/img/tdsosmart1.png" style="height: 150px; width: 90%;"></li>

					<li><a
						ng-click="cCctr.gotoListPage('vendorPayment','vendorPayment')"
						class="dropdown-toggle" data-toggle="dropdown"
						onclick="scrollWin()">Vendor Payment</a></li>
					<li><a class="dropdown-toggle" data-toggle="dropdown">Form
							26Q&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
					</a>

						<ul class=" dropdown-menu forAnimate">

							<li><a
								ng-click="cCctr.gotoListPage('formchallan26Q','formchallan26Q')"
								onclick="scrollWin()">Challan Details</a></li>

							<li><a ng-click="cCctr.gotoListPage('form26Q','form26Q')"
								onclick="scrollWin()">Deductee Details</a></li>
						</ul></li>
					<li><a class="dropdown-toggle" data-toggle="dropdown">Form
							27Q&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
					</a>

						<ul class=" dropdown-menu forAnimate">

							<li><a
								ng-click="cCctr.gotoListPage('regular27QChallan','regular27QChallan')"
								onclick="scrollWin()">Challan Details</a></li>

							<li><a ng-click="cCctr.gotoListPage('form27Q','form27Q')"
								onclick="scrollWin()">Deductee Details</a></li>
						</ul></li>
					<li><a class="dropdown-toggle" data-toggle="dropdown">Form
							24Q&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
					</a>



						<ul class=" dropdown-menu forAnimate">


							<li><a
								ng-click="cCctr.gotoListPage('regular24Q4Challan','regular24Q4Challan')"
								onclick="scrollWin()">Challan Details</a></li>
							<li><a ng-click="cCctr.gotoListPage('form24Q','form24Q')"
								onclick="scrollWin()">Deductee Details</a></li>
							<li><a
								ng-click="cCctr.gotoListPage('form24Qsalary','form24Qsalary')"
								onclick="scrollWin()">Salary Details</a></li>
						</ul></li>

					<li><a
						ng-click="cCctr.gotoListPage('requestCorrection','requestCorrection')"
						class="dropdown-toggle" data-toggle="dropdown"
						onclick="scrollWin()">Request Correction</a></li>

					<!-- 	 <li><a  data-toggle="collapse" data-target="#submenu-1"> menu <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-1" class="collapse" style="background-color:white;text-decoration:none">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> abcdefhgdfgfd</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.2</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.3</a></li>
                    </ul>
                </li> -->

					<li><a
						ng-click="cCctr.gotoListPage('statementStatus','statementStatus')"
						class="dropdown-toggle" data-toggle="dropdown"
						onclick="scrollWin()">Statement Status </a></li>
					<li><a
						ng-click="cCctr.gotoListPage('tokenNumber','tokenNumber')"
						class="dropdown-toggle" data-toggle="dropdown"
						onclick="scrollWin()">Token Number Status </a></li>
					<li><a
						ng-click="cCctr.gotoListPage('ghReturnStatus','ghReturnStatus')"
						class="dropdown-toggle" data-toggle="dropdown"
						onclick="scrollWin()">Form 15G/15H Status</a></li>
					<li><a class="dropdown-toggle" data-toggle="dropdown"
						ng-click="cCctr.gotoListPage('misReport','misReport')"
						onclick="scrollWin()">MIS Report</a></li>

					<li><a class="dropdown-toggle" data-toggle="dropdown"
						onclick="scrollWin()"
						ng-click="cCctr.gotoListPage('ticket','ticket')">Generate
							Ticket </a></li>

					<li><a class="dropdown-toggle" data-toggle="dropdown"
						ng-click="cCctr.gotoDetailPage('deductorDetails','${br.getTan()}','deductorDetails')"
						onclick="scrollWin()">Deductor Details</a></li>
					<li><a class="dropdown-toggle" data-toggle="dropdown"
						ng-click="cCctr.gotoHomePageSC(cCctr.clientId,'homeSC')"
						onclick="scrollWin()">Select Branch</a></li>

					<!-- 					<li><a ng-click="cCctr.gotoListPage('defaultSummary','defaultSummary')" class="dropdown-toggle" data-toggle="dropdown">Default
							Summary<span style="font-size: 16px;"
							></span>
					</a></li>
 -->



				</ul>
			</div>
		</div>
	</nav>
</div>



<div ng-http-loader methods="['GET']" ttl="0" id="example/loader"
	template="index/example-loader.tpl"></div>


<div class="main ">

	<div class="col-md-12 mobile"
		style="position: fixed; z-index: 2; margin-top: -25px; margin-right: 0px; background-color: #72ad00; color: white; font-size: 12px; font-family: arial">
		<div class="col-md-4">
			<p>
				<b> NAME : </b> ${cd.getName()}
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<b> PAN : </b> ${br.getPan()}
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<b> TAN : </b> ${br.getTan()}
			</p>
		</div>
	</div>
	<div class="col-md-12 mobile"
		style="position: fixed; z-index: 2; margin-top: -10px; margin-left: 0px; margin-bottom: -20px; background-color: #72ad00; color: white; font-size: 12px; font-family: arial">
		<div class="col-md-4">
			<p>
				<b> BRANCH NAME : </b>${br.getName()}
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<b> BRANCH CODE : </b> ${br.getBranchCode()}
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<b> BRANCH E-MAIL : </b> ${br.getEmail()}
			</p>
		</div>
	</div>


	<div class="col-md-12 hide-on-desktop"
		style="margin-top: -10px; margin-left: 0px; margin-bottom: -20px; background-color: #72ad00; color: white; font-size: 12px; font-family: arial">
		<div class="col-md-2">
			<p>
				<b> BRANCH NAME : </b>${br.getName()}
			</p>
		</div>
		<div class="col-md-2">
			<p>
				<b> BRANCH CODE : </b> ${br.getBranchCode()}
			</p>
		</div>
		<div class="col-md-2">
			<p>
				<b> BRANCH E-MAIL : </b> ${br.getEmail()}
			</p>
		</div>
	</div>

	<div class="col-md-12 hide-on-desktop"
		style="margin-top: -25px; margin-right: 0px; background-color: #72ad00; color: white; font-size: 12px; font-family: arial">
		<div class="col-md-4">
			<p>
				<b> NAME : </b> ${cd.getName()}
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<b> PAN : </b> ${br.getPan()}
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<b> TAN : </b> ${br.getTan()}
			</p>
		</div>
	</div>


	<div ui-view></div>











</div>

<div id="successMsg" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 style="color: green;">
					<img src="./././static/img/success.png" height="30" width="30"><span
						class="headingMsg"></span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="msg" style="font-size: 18px;"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<div id="errorMsg" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 style="color: red;">
					<span class="blink_me"> <img
						src="./././static/img/errorNew.png" height="30" width="30"></span>&nbsp;Error
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="msg" style="font-size: 18px;"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>

<a id="viewFileClick" onclick="test('#viewFile')" style="z-index: 1111">
</a>
<a id="noviewFileClick" onclick="test('#noviewFile')"
	style="z-index: 1111"> </a>

<!-- 
<div class="row">
	<footer
		style="position: fixed; bottom: 0; left: 0; right: 0; width: 100%; background-color: #24478f; color: white">
		<div class="container">

			<div class="col-md-2"></div>
			<div class="col-md-10" style="font-size: 12px; font-family: verdana">
				By continuing past this page, you agree to our <a
					ui-sref="home.terms" style="color: #79BD3C">Terms and
					Conditions</a> and <a ui-sref="home.privacy" style="color: #79BD3C">Privacy
					Policy</a> | Copyright &copy; 2017 taxOsmart.com| All Rights Reserved |</br>
				<strong>Email: </strong>info@rjsa.in &nbsp;&nbsp; <strong>Support:
				</strong>+91-9967646171.

			</div>
		</div>
	</footer>
</div> -->



















<style>

/* remove outer padding */
.main .row {
	padding: 0px;
	margin: 0px;
}

/*Remove rounded coners*/
nav.sidebar.navbar {
	border-radius: 5px;
}

nav.sidebar, .main {
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main {
	padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media ( min-width : 768px) {
	/*Allow main to be next to Nav*/
	.main {
		position: absolute;
		width: calc(100% - 40px); /*keeps 100% minus nav size*/
		margin-left: 40px;
		float: right;
	}

	/*lets nav bar to be showed on mouseover*/
	nav.sidebar:hover+.main {
		margin-left: 200px;
	}

	/*Center Brand*/
	nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
		{
		margin-left: 0px;
	}
	/*Center Brand*/
	nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}

	/*Center Icons*/
	nav.sidebar a {
		padding-right: 13px;
	}

	/*adds border top to first nav box */
	nav.sidebar .navbar-nav>li:first-child {
		border-top: 1px #e5e5e5 solid;
	}

	/*adds border to bottom nav boxes*/
	nav.sidebar .navbar-nav>li {
		border-bottom: 1px #e5e5e5 solid;
	}

	/* Colors/style dropdown box*/
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: red;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		overflow: auto;
	}
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: #FFEFD5;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		overflow: auto;
	}

	/*allows nav box to use 100% width*/
	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
		padding: 0 0px 0 0px;
	}

	/*colors dropdown box text */
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #777;
	}

	/*gives sidebar width/height*/
	nav.sidebar {
		width: 200px;
		height: 100%;
		margin-left: -160px;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
		overflow: auto;
	}

	/*give sidebar 100% width;*/
	nav.sidebar li {
		width: 100%;
	}

	/* Move nav to full on mouse over*/
	nav.sidebar:hover {
		margin-left: 0px;
	}
	/*for hiden things when navbar hidden*/
	.forAnimate {
		opacity: 0;
	}
}

/* .....NavBar: Fully showing nav bar..... */
@media ( min-width : 1330px) {
	/*Allow main to be next to Nav*/
	.main {
		width: calc(100% - 200px); /*keeps 100% minus nav size*/
		margin-left: 200px;
	}

	/*Show all nav*/
	nav.sidebar {
		margin-left: 0px;
		float: left;
	}
	/*Show hidden items on nav*/
	nav.sidebar .forAnimate {
		opacity: 1;
	}
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus
	{
	color: black;
	background-color: orange;
}

nav:hover .forAnimate {
	opacity: 1;
}

section {
	padding-left: 15px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li:focus, .navbar-inverse .navbar-nav>li:hover
	{
	color: white;
	background-color: #ff9c33;
}

.dropdown-menu>li:focus, .dropdown-menu>li:hover {
	color: red;
	background-color: #ff9c33;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus,
	.navbar-inverse .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: orange;
}

.navbar-inverse {
	background-color: #0F316D;
}

.navbar-inverse {
	border-color: black;
}

/* css for top fixed div  */
.top {
	position: fixed;
	z-index: 4000;
	text-align: center;
}

.top-item {
	position: fixed;
	z-index: 4000;
	font-size: 10px;
	text-align: center;
	color: #000000;
	height: 16px;
	align: center;
	width: 200px;
}

.top1 {
	top: 0px;
	background-color: #7AAE60;
	color: white;
}

.top2 {
	top: 16px;
	background-color: #39599A;
	color: white;
}

.navbar-nav>li>a {
	line-height: 6px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: black;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
	color: black;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #fff;
}

nav.sidebar .navbar-nav .open .collapse>li>a:hover, nav.sidebar .navbar-nav .open .collapse>li>a:focus
	{
	color: black;
	background-color: orange;
}

a:focus, a:hover {
	color: white;
	text-decoration: underline;
}

ul.collapse li a:hover, ul li a:focus {
	color: #fff;
	background-color: #d19b3d;
	text-decoration: none;
	padding: 2px;
	margin: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

ul.collapse li {
	height: 25px;
}
</style>



