<div id="page-wrapper">
	<div class="container-fluid">
			<div class="row">
                <h1 class="page-header" style="margin-top:0;">
                	Client Detail
                </h1>
           </div>
		 <div class="row">
          	<div class="col-lg-12" ng-init="cCctr.entity=cCctr.getEntityData();">
          		<form role="form" name="detailclientDetailForm">
          		<div class="row">
           			<div class="form-group" align="left">
            			<a  style="" class="btn btn-primary" data-toggle="modal" data-keyboard="true"   onclick="test('#clientDetail')">Edit Client Detail</a>
            		</div>
           		</div>
				<div class="tab-content ">
					<div class="tab-pane active" id="detailclientDetail">
          				<div class="table-responsive">
                            <table style="width: 100%;border-color: red;border-collapse: separate;border-spacing:10px;">
          						<col width="25%">
          						<col width="25%">
          						<col width="25%">
          						<col width="25%">
          						<tbody>
          						<tr>
          							<th>Client Name</th>
          							<td>{{cCctr.entity.clientName}}</td>
          							<th>PAN</th>
          							<td>{{cCctr.entity.pan}}</td>
          						</tr>
          						<tr>
          							<th>Address</th>
          							<td>{{cCctr.entity.address}}</td>							
          						</tr>
          						</tbody>
          					</table>
          				</div>
          				<div class="row">
            			<div class="col-md-6">
            				<button ng-click="cCctr.update(true,'clientDetail')" class="btn btn-success">Save</button>
            				<button ng-click="cCctr.gotoList('clientDetail')" class="btn btn-primary">Back</button>
            			</div>
            		</div>
					</div>
				</div>
				</form>
 			</div>
		</div>
	</div>
	
	
	   <!-- Edit Client Detail -->
	 <div id="clientDetail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Client Detail</h4>
      </div>
      <div class="modal-body">     		
							<div class="row">
								<div class="col-md-4">
                					<div class="form-group">
								<label>Client Name*</label>
								<input class="form-control" type="text" name="clientName" placeholder="Client Name" ng-model="cCctr.entity.clientName" autocomplete="off"
									ng-maxlength="50" ng-required="true" ng-pattern="/^[A-Za-z\s]*$/" ng-model-options="{updateOn: 'blur'}" />
								<span style="color: red" ng-show="clientDetailForm.clientName.$dirty && clientDetailForm.clientName.$invalid">
									<span class="error" ng-show="clientDetailForm.clientName.$error.pattern">Please enter valid Client Name.</span> 
									<span class="error" ng-show="clientDetailForm.clientName.$error.maxlength">Client Name should not be greater than 50 characters</span> 
									<span class="error" ng-show="clientDetailForm.clientName.$error.required">Client Name is Required.</span>
								</span>
							</div>
            					</div>
            					<div class="col-md-4">
                					<div class="form-group">
                    			<label>PAN*</label>
                    			<input class="form-control" type="text" name="pan" placeholder="PAN" ng-model="cCctr.entity.pan" autocomplete="off"
                					ng-maxlength="50" ng-required="true" ng-pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}" ng-model-options="{updateOn: 'blur'}" />
                    			<span style="color: red" ng-show="clientDetailForm.submitted || clientDetailForm.pan.$dirty && clientDetailForm.pan.$invalid">
									<span class="error" ng-show="clientDetailForm.pan.$error.pattern">Please enter valid PAN.</span>
									<span class="error" ng-show="clientDetailForm.pan.$error.maxlength">PAN should not be greater than 10 characters.</span>
									<span class="error" ng-show="clientDetailForm.pan.$error.required">PAN is Required.</span>
								</span>
                			    </div>
            					</div>
            					</div> 
            					<div class="row">
							<div class="col-md-6">
							<label>Address*</label>
							<textarea rows="4" cols="50" name="comment" form="usrform">
						    Enter address here...</textarea>	
							</div>
							</div>
							
            <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
	</div>
  </div>
</div>
</div>