<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
                <div class="row">
                        
                               <h1>  Add Groups</h1>
                           
                    </div>
		<div class="row">
			<div class="col-md-12">
           		<form role="form" name="groupsDetailForm">
           			<div class="row">
            			<div class="col-md-6">
                			<div class="form-group">
								<label>Group Code*</label>
							<!--  	<md-autocomplete
            								md-input-name="Group Code"
            								ng-required="true"
            								ng-required="true"
            								md-input-minlength="3"
            								md-no-cache = "true"
            								md-input-maxlength="75"
            								md-selected-item="cCctr.entity.groupCode"
            								md-search-text="a"
            								md-items="item in cCctr.ajax1('employee','groupCode',a)"
            								md-delay="2000"
            								placeholder="Group Code">
          								<md-item-template>
            								<span >{{item}}</span>
          								</md-item-template>
          								<md-not-found>
                     						No Group code with "{{a}}" were found.<a ng-click = "">Add new</a>
           								</md-not-found>
        								</md-autocomplete>-->
        									<input class="form-control" type="text" name="groupCode" placeholder="Group Code" ng-model="cCctr.entity.groupCode" autocomplete="off"
														ng-maxlength="10" ng-required="true"   ng-model-options="{updateOn: 'blur'}" />
														
							</div>
            			</div>
            			<div class="col-md-6">
                			<div class="form-group">
                    			<label>Group Name*</label>
                    			<input class="form-control" type="text" name="groupName" placeholder="Group Name" ng-model="cCctr.entity.groupName" autocomplete="off"
                					ng-maxlength="50" ng-required="true" ng-pattern="/^[ A-Za-z\s]*$/" ng-model-options="{updateOn: 'blur'}" />
                    			<span style="color: red" ng-show="groupsDetailForm.groupName.$dirty && groupsDetailForm.groupName.$invalid">
														<span class="error" ng-show="groupsDetailForm.groupName.$error.pattern">Please enter valid Group Name.</span> 
														<span class="error" ng-show="groupsDetailForm.groupName.$error.maxlength">Group Name should not be greater than 50 characters</span> 
														<span class="error" ng-show="groupsDetailForm.groupName.$error.required">Group Name is Required.</span>
													</span>
													<span class="error" id="groupName"></span>      			
                    			
                			</div>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-md-6">
                			<div class="form-group">
                    			<label>Description</label>
                    			<textarea class="form-control" name="description" ng-model="cCctr.entity.description"></textarea>
                    			<span class="error" id="description"></span>
                			</div>
            			</div>
            			<div class="col-md-6">
                			
            			</div>
            		</div>
            	
            		
            		<div class="row">
            			<div class="col-md-6">
            				<button ng-click="groupsDetailForm.submitted=true;cCctr.submit(groupsDetailForm.$valid,'groups')" class="btn btn-success">Submit</button>
            				<button ng-click="cCctr.gotoListPage('groups','groups');" class="btn btn-primary">Cancel</button>
            			</div>
            		</div>
            	</form>
            </div>
		</div>
	</div>
</div>