
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Sr. No."; }
		td:nth-of-type(2):before { content: "Employee Code"; }
		td:nth-of-type(3):before { content: "Name"; }
		td:nth-of-type(4):before { content: "PAN"; }
		td:nth-of-type(5):before { content: "Designation"; }
		td:nth-of-type(6):before { content: "Email"; }
		td:nth-of-type(7):before { content: "Mobile"; }
		td:nth-of-type(8):before { content: "Address"; }
		td:nth-of-type(9):before { content: "Branch"; }
		td:nth-of-type(10):before { content: "Group Code"; }
		td:nth-of-type(11):before { content: "Action"; }
	}
	
    @media only screen and (max-width: 1000px) {
        .one{
            display: none;
          
        }
    }
    
 @media only screen and (max-width: 1000px) {
        .two{
         
            padding:8px;
        }
    }
        
   @media only screen and (min-width:600px) {
            #three{
                display: none;
                max-height: 0;
                overflow: hidden;
            }
        }
        
       @media only screen and (min-width:1000px) {
            #search{
             
             margin-left:45%;
             margin-top:2px;
             display:none;
            }
        }
        
            @media only screen and (max-width: 1000px) {
      #hide{
            display: none;
          
        }
    }
     .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: whitesmoke;
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
</style>

<div class="container-fluid">
	<div style="font-size: 25px;" class="row">Employee</div>

	<!-- Searchbar-->
	<!-- <div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table
					style="width: 100%; font-size:12px;border-color: red; border-collapse: separate; border-spacing: 10px;">
					<tr>
					 <th >Employee Code :</th>
					 <td><md-autocomplete
            								md-input-name="Employee code"
            								md-input-minlength="3"
            								md-no-cache = "true"
            								md-input-maxlength="75"
            								md-selected-item="cCctr.search.employeeCode"
            								md-search-text="b"
            								md-items="item in cCctr.ajax1('employee','employeeCode',b)"
            								md-delay="2000"
            								placeholder="Employee Code">
          								<md-item-template>
            								<span >{{item}}</span>
          								</md-item-template>
          								<md-not-found>
                     						No Employee code with "{{b}}" were found.<a ng-click = "   ">Add new</a>
           								</md-not-found>
        								</md-autocomplete></td>
					  <th >Name :</th>
						<td><input type="text" class="form-control" ng-model="cCctr.search.name"
							placeholder="Name"></td>
							<td></td>
							</tr>
							<tr>
						<th width="10%">PAN :</th>
						<td><input type="text" class="form-control" placeholder="PAN" ng-model="cCctr.search.pan">
						
						</td>
						
					
						<th>Group Code:</th>
						<td><md-autocomplete
            								md-input-name="Group Code"
            								md-input-minlength="3"
            								md-no-cache = "true"
            								md-input-maxlength="75"
            								md-selected-item="cCctr.search.groupCode"
            								md-search-text="a"
            								md-items="item in cCctr.ajax1('employee','groupCode',a)"
            								md-delay=" "
            								placeholder="Group Code">
          								<md-item-template>
            								<span >{{item}}</span>
          								</md-item-template>
          								<md-not-found>
                     						No Group code with "{{a}}" were found.<a ng-click = "">Add new</a>
           								</md-not-found>
        								</md-autocomplete></td>
						
						<td align="center">
							<button ng-click="cCctr.searchEntities(true,'employee','employee')"
								class="btn btn-success" style="width: 90px;">Search</button>
						</td>
							</tr>
							<tr>
						<th>Branch :</th>
						<td><input type="text" class="form-control" ng-model="cCctr.search.branch"
							placeholder="Branch"></td>
						
					
					
						<th>Designation:</th>
						<td><input type="text" class="form-control" ng-model="cCctr.search.designation"
							placeholder="Designation"></td>

						<th></th>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div> -->
	
	
	<div class="container">
	  <br>
	      <button class="btn btn-primary hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
             Search 
          </button>
  <div class="collapse dont-collapse-sm" id="collapseExample2"> 
	  <div class="row">
	   <div class="form-group">
	   <div class="col-md-3">
        <form class="form-inline">

      <label>Employee Code :</label>
                          <md-autocomplete
            								md-input-name="Employee code"
            								md-input-minlength="3"
            								md-no-cache = "true"
            								md-input-maxlength="75"
            								md-selected-item="cCctr.search.employeeCode"
            								md-search-text="b"
            								md-items="item in cCctr.ajax1('employee','employeeCode',b)"
            								md-delay="2000"
            								placeholder="Employee Code">
          								<md-item-template>
            								<span >{{item}}</span>
          								</md-item-template>
          								<md-not-found>
                     						No Employee code with "{{b}}" were found.<a ng-click = "   ">Add new</a>
           								</md-not-found>
        								</md-autocomplete>
									</div>
	<div class="col-md-3">							
            <label>Name :</label>
         <input type="text" class="form-control" ng-model="cCctr.search.name" placeholder="Name">
      </div>
      
     	<div class="col-md-3">	
            <label>PAN :</label>
         <input type="text" class="form-control" placeholder="PAN" ng-model="cCctr.search.pan">
       </div>
 </div>
   </div>
            <div class="row">
 	             <div class="col-md-3">	
                    <label>Group Code:</label>
                    <md-autocomplete
            								md-input-name="Group Code"
            								md-input-minlength="3"
            								md-no-cache = "true"
            								md-input-maxlength="75"
            								md-selected-item="cCctr.search.groupCode"
            								md-search-text="a"
            								md-items="item in cCctr.ajax1('employee','groupCode',a)"
            								md-delay=" "
            								placeholder="Group Code">
          								<md-item-template>
            								<span >{{item}}</span>
          								</md-item-template>
          								<md-not-found>
                     						No Group code with "{{a}}" were found.<a ng-click = "">Add new</a>
           								</md-not-found>
        								</md-autocomplete>
                </div>

	        <div class="col-md-3">	
                <label>Branch :</label>
                 <input type="text" class="form-control" ng-model="cCctr.search.branch"
							placeholder="Branch">
								</div>
             <div class="col-md-3">	
               <label>Designation</label>
                  <input type="text" class="form-control" ng-model="cCctr.search.designation"
							placeholder="Designation">
									</div>
	       </div>	
	      		
	             <div class="row" id="hide" >
	         	  <div class="col-md-3"  style="margin-left:85%;margin-top:-70px">	
	                         <button ng-click="cCctr.searchEntities(true,'employee','employee')"
								class="btn btn-success" style="width: 90px;">Search</button>
	                 </div>					
  </div>
  
   <div class="row" id="search" >
	         	  <div class="col-md-3" id="search">	
	                         <button ng-click="cCctr.searchEntities(true,'employee','employee')"
								class="btn btn-success" style="width: 90px;">Search</button>
	                 </div>					
  </div>
  </div>
 </div>
 
 
 
 
<div class="row">
	 <div class="col-xs-12">
		<div class="text-right">
	          <button class="btn btn-primary" data-toggle="modal" ng-click="cCctr.gotoListPage('addEmployee','addEmployee');" >Import Employee</button>
		</div>
	 </div>
    </div>

	
	<div class="container-fluid">
		<div class="row">
		<div class="table-responsive">
			<table class="table-bordered table-hover table-striped">
				<thead  role="rowgroup">
					<tr role="row" style="height:40px;background-color: #81b7db;text-align:center;font-size:13px">
					 <th role="columnheader" class="one" >Sr. No.</th>
						<th role="columnheader">Employee Code</th>
						<th role="columnheader">Name</th>
						<th role="columnheader">PAN</th>
						<th role="columnheader">Designation</th>
						<th role="columnheader">Email</th>
						<th role="columnheader">Mobile</th>
						<th role="columnheader">Address</th>
						<th role="columnheader">Branch</th>
						<th role="columnheader">Group Code</th>
						<th role="columnheader">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in cCctr.getEntityListData()" style="font-size:13px">
					<td role="cell" class="one" style="height: 60px;padding:10px;font-size:13px">{{$index+1}}</td>
						<td  role="cell">{{a.employeeCode}}</td>
						<td  role="cell">{{a.name}}</td>
						<td  role="cell"style="height: 20px">{{a.pan}}</td>
						<td  role="cell"class="one">{{a.designation}}</td>
						<td  role="cell"class="one">{{a.email}}</td>
						<td  role="cell" style="height:30px">{{a.mobile}}</td>
						<td  role="cell" class="one" style="height: 20px">{{a.address}}</td>
						<td  role="cell" class="one" style="height: 20px">{{a.branch}}</td>
						<td  role="cell">{{a.groupCode}}</td>
						<td  role="cell"  style="height:25px"><a ng-click="cCctr.gotoDetailPage('employee',a.id,'detailemployee');"><font
						color="blue" style="font-size:13px">Detail</font></a></a></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
