
<style>

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0F316D;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1200px) {
  .mn_menu {
     display: none;
   }
}
</style>


<div id="mySidenav" class="sidenav">
                 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br><br>
                     <li class="dropdown"><a
				      ng-click="cCctr.gotoListPage('employee','employee')"
				        class="dropdown-toggle" data-toggle="dropdown"><b style="font-size:13px"><i class="fa fa-user" aria-hidden="true"></i>
                         &nbsp;Employee
						</b></a>
					</li>
                   <li class="dropdown" ><a
				    ng-click="cCctr.gotoListPage('groups','groups')"
				       class="dropdown-toggle" data-toggle="dropdown"><b style="font-size:13px"><i class="fa fa-users" aria-hidden="true"></i>
                                        &nbsp;Groups</b></a> 
				  </li>
                    <li class="dropdown"><a
				         ng-click="cCctr.gotoListPage('notifications','notifications')"
			           	class="dropdown-toggle" data-toggle="dropdown"><b style="font-size:13px"><i class="fa fa-bell" aria-hidden="true"></i>
                        &nbsp;Notifications
						</b></a>
					</li>
                    <li class="dropdown"><a
				        ng-click="cCctr.gotoListPage('employeeInchargeGroup','employeeIncharge')"
			           	class="dropdown-toggle" data-toggle="dropdown"><b style="font-size:13px"><i class="fa fa-money"></i>&nbsp;Employee
						Incharge
						</b></a>
					</li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle"
		                data-toggle="dropdown"><b style="font-size:13px"><i class="fa fa-calculator" aria-hidden="true"></i>&nbsp;Calculator</b><b class="caret"></b></a>
				         <ul class="dropdown-menu">
					
				  <li style="font-size:13px"><a ng-click="cCctr.gotoListPage('hraCalc','hraCalc')"><b style="font-size:12px">HRA
								Calculator</b></a></li>
				     </ul>
				     
				 </li>
			
			    <li class="dropdown"><a href="#" class="dropdown-toggle"
				                data-toggle="dropdown"><b style="font-size:15px"><i class="fa fa-user"></i>&nbsp; ${userName}</b> <b
					              class="caret"></b></a>
			                     	<ul class="dropdown-menu">

			        
						
						
						
			     	    <li style="font-size:13px"><a ng-click="cCctr.changeAction()"><b style="font-size:12px">Go To Main Page</b></a></li>

				           	<li class="divider"></li>
				         	<li style="font-size:12px"><a ui-sref="logout"><i class="fa fa-fw fa-power-off" style="font-size:13px"></i>
							<b style="font-size:13px"> Log Out</b></a></li>
				    </ul>
			 </li>
</div>


<!-- fixed navebar -->
<div style="width:100%;height:auto;font-size:12px">
<div class="top row col-lg-12"style="margin-left:60px">
	<div class="top-item top1 col-lg-offset-5">
		<p>${cd.getName()}</p>
	</div>
	<div class="top-item top2 col-lg-offset-5">
		<p>2018-19</p>
	</div>
</div>

<div class="page-wrapper" ng-init="cCctr.employeeId=${employeeId};cCctr.clientId=${cd.getId()};">
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed" role="navigation"
		style="background-color: white; border-width: 0 0 1px; padding-top: 0px;">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		
		 <button type="button"  onclick="openNav()" style="margin-top:10px;border-color:#fff;margin-left:10px" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#tejas">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button> 
			<a class="icon-cog anchorUnderline" style="line-height: 0.2%;"
				ng-click="cCctr.gotoHomePage(cCctr.clientId,'documentManager')"> <span
				class="icon-tax-o-smart"
				style="font-size: 60px; color: #0F316D; position: relative; top:4px;"></span>

				<span color="whitle"
				style="font-size: 35px; color: #0F316D; position: relative; bottom:13px;">Tax-<strong
					style="color: #79BD3C;">O</strong>-Smart
			</span></a>
		</div>
		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav mn_menu"
			style="margin-top:10px; margin-right: 0%;">

			<li class="dropdown"><a
				ng-click="cCctr.gotoListPage('employee','employee')"
				class="dropdown-toggle" data-toggle="dropdown"><b>Employee </b></a></li>

			<li class="dropdown"><a
				ng-click="cCctr.gotoListPage('groups','groups')"
				class="dropdown-toggle" data-toggle="dropdown"><b>Groups</b></a></li>

			<li class="dropdown"><a
				ng-click="cCctr.gotoListPage('notifications','notifications')"
				class="dropdown-toggle" data-toggle="dropdown"><b>Notifications</b></a></li>

			<li class="dropdown"><a
				ng-click="cCctr.gotoListPage('employeeInchargeGroup','employeeIncharge')"
				class="dropdown-toggle" data-toggle="dropdown"><b> Employee
						Incharge</b></a></li>


			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"><b>Calculator</b><b class="caret"></b></a>
				<ul class="dropdown-menu">
					
					<li style="font-size:12px"><a ng-click="cCctr.gotoListPage('hraCalc','hraCalc')">HRA
								Calculator</a></li>
				</ul></li>

			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"><i class="fa fa-user"></i><b>  ${userName}</b> <b
					class="caret"></b></a>
				<ul class="dropdown-menu">

					
					<li style="font-size:12px"><a ng-click="cCctr.changeAction()">Go To Main Page</a></li>

					<li class="divider"></li>
					<li style="font-size:12px"><a ui-sref="logout"><i class="fa fa-fw fa-power-off"></i>
							Log Out</a></li>
				</ul></li>

		</ul>
	</nav>
	<div ng-http-loader methods="['PUT', 'POST','GET']" ttl="0"   id="example/loader"  template="index/example-loader.tpl"></div>
		<div ui-view></div>
		
		
		  	<div id="errorMsg" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 style="color:red;"> <img src="./././static/img/errorNew.png" height="30" width="30">Error!</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="msg" style="font-size: 18px;">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cCctr.reload();">Ok</button>
			</div>
		</div>
	</div>
	</div>
	
	<div id="successMsg" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 style="color:green;"> <img src="./././static/img/success.png" height="30" width="30"><span class="headingMsg"></span></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="msg" style="font-size: 18px;">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cCctr.reload();">Ok</button>
			</div>
		</div>
	</div>
	</div>
		
	
	<a id="viewProgressBar" onclick="test('#progressBar')"> </a> <a
		id="viewFileClick" onclick="test('#viewFile')"></a> <a
		id="noviewFileClick" onclick="test('#noviewFile')"> </a>
	
<br><br><br><br>
	<footer style="background-color: #24478f; color: white;position:fixed; right: 0; bottom: 0; left: 0; ">
		<div class="page-wrapper">
			&nbsp;&nbsp; Copyright &copy; 2017 taxOsmart.com| All Rights Reserved
			| <strong>Email: </strong>info@rjsa.in &nbsp;&nbsp; <strong>Support:
			</strong>+91-9967646171.

		</div>
	</footer>
</div>
</div>
