<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Sr. No."; }
		td:nth-of-type(2):before { content: "Group Code"; }
		td:nth-of-type(3):before { content: "Group Name"; }
		td:nth-of-type(4):before { content: "Description"; }
		td:nth-of-type(5):before { content: "Action"; }
	
	}
	  
    @media only screen and (max-width: 1000px) {
        .one{
            display: none;
          
        }
    }
    
 @media only screen and (max-width: 1000px) {
        .two{
         
            padding:8px;
        }
    }
        
   @media only screen and (min-width:600px) {
            #three{
                display: none;
                max-height: 0;
                overflow: hidden;
            }
        }
        
       @media only screen and (min-width:1000px) {
            #search{
             
             margin-left:45%;
             margin-top:2px;
             display:none;
            }
        }
        
            @media only screen and (max-width: 1000px) {
      #hide{
            display: none;
          
        }
    }
     .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: whitesmoke;
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
</style>


<div class="container-fluid">
	<div style="font-size: 25px;" class="row">Groups</div>
			<!-- main row -->
		<!-- <div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table
					style="width: 100%;font-size: 12px; border-color: red; border-collapse: separate; border-spacing: 10px;">
					<tr>
					   
						<th width="15%">Group Code:</th>
						<td>
						<md-autocomplete
            								md-input-name="Group Code"
            								md-input-minlength="3"
            								md-no-cache = "true"
            								md-input-maxlength="75"
            								md-selected-item="cCctr.search.groupCode"
            								md-search-text="a"
            								md-items="item in cCctr.ajax1('groups','groupCode',a)"
            								md-delay="2000"
            								placeholder="Group Code">
          								<md-item-template>
            								<span >{{item}}</span>
          								</md-item-template>
          								<md-not-found>
                     						No Employee code with "{{a}}" were found.<a ng-click = "">Add new</a>
           								</md-not-found>
        								</md-autocomplete>
						</td>
						<th width="15%">Group Name:</th>
						<td><input type="text" class="form-control" placeholder="Group Name" ng-model="cCctr.search.groupName"> 
						</td>
						<td align="center">
				<button class="btn btn-success form-control " ng-click="cCctr.searchEntities(true,'groups','groups')">Search</button>
				</td>
					</tr>
					     
							</table>
							</div>
							</div>
					</div> -->
					
				<div class="container">
	  <br>
	      <button class="btn btn-primary hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
             Search 
          </button>
  <div class="collapse dont-collapse-sm" id="collapseExample2"> 
	  <div class="row">
	   <div class="form-group">
	   <div class="col-md-5">
        <form class="form-inline">

      <label>Group Code:</label>
                        <md-autocomplete
            								md-input-name="Group Code"
            								md-input-minlength="3"
            								md-no-cache = "true"
            								md-input-maxlength="75"
            								md-selected-item="cCctr.search.groupCode"
            								md-search-text="a"
            								md-items="item in cCctr.ajax1('groups','groupCode',a)"
            								md-delay="2000"
            								placeholder="Group Code">
          								<md-item-template>
            								<span >{{item}}</span>
          								</md-item-template>
          								<md-not-found>
                     						No Employee code with "{{a}}" were found.<a ng-click = "">Add new</a>
           								</md-not-found>
        								</md-autocomplete>
									</div>
	<div class="col-md-5">							
            <label>Group Name:</label>
      <input type="text" class="form-control" placeholder="Group Name" ng-model="cCctr.search.groupName"> 
      </div>
      
       <div  id="search"class="col-md-2" >
	         	  <div class="col-md-3" id="search">	
	                        <button class="btn btn-success form-control " ng-click="cCctr.searchEntities(true,'groups','groups')">Search</button>
	                 </div>		
     	
 </div>
 
   <div id="hide" >
	         	  <div class="col-md-2"  style="margin-left:85%;margin-top:-50px">	
	                        <button class="btn btn-success form-control " ng-click="cCctr.searchEntities(true,'groups','groups')">Search</button>
	                 </div>					
  </div>
  
   </div>
           
                </div>

	      
         
	       </div>	
	      		
	           
  			
  </div>
  </div>
 </div>
 	
					
					
					
				<div class="row">
	 <div class="col-xs-12">
		<div class="text-right">
	          <button class="btn btn-primary" data-toggle="modal" ng-click="cCctr.gotoListPage('addgroups','addgroups')" >Add Groups</button>
		</div>
	 </div>
    </div>	
					
		
		<div class="table-responsive">
		<table class=" table-bordered table-hover table-striped">
			<thead>
				<tr style="background-color: #81b7db;font-size:13px">
				    <th style="width:300px;height:40px;">Sr. No.</th>
					<th style="width:300px;height:40px;">Group Code</th>
					<th style="width:300px;height:40px">Group Name</th>
					<th style="width:300px;height:40px">Description</th>
					<th style="width:300px;height:40px">Action</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="a in cCctr.getEntityListData()" style="font-size:13px">
			       <td style="font-size:13px;height:35px">{{$index+1}}</td>
					<td>{{a.groupCode}}</td>
					<td>{{a.groupName}} </td>
					<td> {{a.description}}</td>
					<td><a ng-click="cCctr.gotoDetailPage('groups',a.id,'detailgroups');"><font
						color="blue">Detail</font></a></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
