
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<h1>Add Message</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="messageForm">
					<div class="row">
						
						<div class="col-md-6">
							<div class="form-group">
								<label>Subject</label> <input class="form-control" type="text"
									name="NAME" placeholder="Name" ng-model="cCctr.entity.subject"
									autocomplete="off" ng-maxlength="100"
									ng-model-options="{updateOn: 'blur'}" />

							</div>
						</div>
						<div class="col-md-6">
						<div class="form-group">
								<label>Subject</label> <input class="form-control" type="date"
									name="NAME" placeholder="Name" ng-model="cCctr.entity.date"
								 />

							</div>
						
						
						</div>
					</div>

				</form>

					<div class="row">
						<div class="modal-footer">
							<button
								ng-click="messageForm.submitted=true; cCctr.submit(messageForm.$valid,'message',true)"
								class="btn btn-success" onclick="scrollWin()">Save</button>
							<button ng-click="cCctr.gotoListPage('message','message');"
								class="btn btn-danger" onclick="scrollWin()">Back</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
