
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<h1>Add Pensioner Details</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="employeeDetailForm">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Pension No*</label> <input class="form-control"
									type="text" name="pensionNo" placeholder="Pension No"
									ng-model="cCctr.entity.pensioner.pensionNo" autocomplete="off"
									ng-maxlength="50" ng-required="true" ng-pattern="/^[ a-zA-Z0-9]/"
									ng-model-options="{updateOn: 'blur'}" />
									 <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.pensionNo.$dirty && employeeDetailForm.pensionNo.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.pensionNo.$error.pattern">Please
										enter valid Pension No</span> <span class="error"
									ng-show="employeeDetailForm.pensionNo.$error.maxlength">Pension No
										should not be greater than 25 digit.</span> <span class="error"
									ng-show="employeeDetailForm.pensionNo.$error.required">Pension No is Required.</span>
								</span> <span class="error" id="pensionNo"></span>

							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Name*</label> <input class="form-control" type="text"
									name="name" placeholder="Name" ng-model="cCctr.entity.pensioner.name"
									autocomplete="off" ng-maxlength="100" ng-required="true"
									ng-pattern="/^[ A-Za-z\s]*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.name.$dirty && employeeDetailForm.name.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.name.$error.pattern">Please
										enter valid Name</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.maxlength">Name
										should not be greater than 25 digit.</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.required">Name
										 is Required.</span>
								</span> <span class="error" id="name"></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Father Name*</label> <input class="form-control"
									type="text" name="fatherName" placeholder="Father Name"
									ng-model="cCctr.entity.pensioner.fatherName" autocomplete="off"
									ng-maxlength="100" ng-pattern="/^[ A-Za-z\s]*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.name.$dirty && employeeDetailForm.name.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.name.$error.pattern">Please
										enter valid Name</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.maxlength">Father Name
										should not be greater than 25 digit.</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.required">Father Name
										 is Required.</span>
								</span> <span class="error" id="fatherName"></span>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>PAN*</label> <input class="form-control" type="text"
									name="pan" placeholder="PAN" ng-model="cCctr.entity.pensioner.pan"
									autocomplete="off" ng-maxlength="10" ng-required="true"
									ng-pattern="/^([A-Za-z]{5}[0-9]{4}[A-Za-z]{1})*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.pan.$dirty && employeeDetailForm.pan.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.pan.$error.pattern">Please
										enter valid PAN. </span> <span class="error"
									ng-show="employeeDetailForm.pan.$error.maxlength">PAN
										should not be greater than 10 digits.</span>
										<span class="error"
									ng-show="employeeDetailForm.pan.$error.required">PAN is Required </span>

								</span> <span class="error" id="pan"></span>
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="form-group">
								<label>Date Of Birth</label> <input class="form-control"
									type="date" name="dob" placeholder="Date Of Birth"
									ng-model="cCctr.entity.pensioner.dob" autocomplete="off"
									ng-maxlength="10" ng-pattern=""
									ng-model-options="{updateOn: 'blur'}" />

							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Employee Grade*</label> <input class="form-control"
									type="text" name="empGrade" placeholder="Employee Grade"
									ng-model="cCctr.entity.pensioner.empGrade" autocomplete="off"
									ng-maxlength="100" ng-required="true"
									ng-pattern="/^[ A-Za-z\s]*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.name.$dirty && employeeDetailForm.name.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.name.$error.pattern">Please
										enter valid Employee Grade</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.maxlength">Employee Grade
										should not be greater than 25 digit.</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.required">Employee Grade
										 is Required.</span>
								</span> <span class="error" id="empGrade"></span>
							</div>
						</div>
					</div>

					


					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Mobile 1*</label> <input class="form-control" type="text"
									name="mobile1" placeholder="Mobile 1"
									ng-model="cCctr.entity.pensioner.mobile1" autocomplete="off"
									ng-maxlength="10" ng-required="true"
									ng-pattern="/^([6-9]{1})([0-9]{9})$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.mobile1.$dirty && employeeDetailForm.mobile1.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.mobile1.$error.pattern">Please
										enter valid Mobile No..</span> <span class="error"
									ng-show="employeeDetailForm.mobile1.$error.maxlength">
										Mobile No. should not be greater than 10 characters</span>
										<span class="error"
									ng-show="employeeDetailForm.mobile1.$error.required">
										Mobile1 is Required</span>

								</span>

							</div>

						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Mobile 2</label> <input class="form-control" type="text"
									name="mobile2" placeholder="Mobile 2"
									ng-model="cCctr.entity.pensioner.mobile2" autocomplete="off"
									ng-maxlength="10" ng-pattern="/^([6-9]{1})([0-9]{9})$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.mobile2.$dirty && employeeDetailForm.mobile2.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.mobile2.$error.pattern">Please
										enter valid Mobile No..</span> <span class="error"
									ng-show="employeeDetailForm.mobile2.$error.maxlength">
										Mobile No. should not be greater than 10 characters</span>

								</span>

							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Email 1*</label> <input class="form-control" type="text"
									name="email1" placeholder="Email 1"
									ng-model="cCctr.entity.pensioner.email1" autocomplete="off"
									ng-maxlength="50" ng-required="true"
									ng-pattern="/^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4})*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.email1.$dirty && employeeDetailForm.email1.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.email1.$error.pattern">Please
										enter valid Email.</span> <span class="error"
									ng-show="employeeDetailForm.email1.$error.maxlength">
										Email should not be greater than 50 characters</span>
										<span class="error"
									ng-show="employeeDetailForm.email1.$error.required">
										Email1 is required</span>

								</span>

							</div>
						</div>
					</div>

					<div class="row">
						

						<div class="col-md-4">
							<div class="form-group">
								<label>Email 2</label> <input class="form-control" type="text"
									name="email2" placeholder="Email 2"
									ng-model="cCctr.entity.pensioner.email2" autocomplete="off"
									ng-maxlength="50"
									ng-pattern="/^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4})*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.email2.$dirty && employeeDetailForm.email2.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.email2.$error.pattern">Please
										enter valid Email.</span> <span class="error"
									ng-show="employeeDetailForm.email2.$error.maxlength">
										Email should not be greater than 50 characters</span>
								</span>
							</div>
						</div>
					</div>
<br>

	<!-------- Address Details ------->

					<div class="row">
						<h4 class="modal-title">
							<strong>Add Address Details</strong>
						</h4>
					</div>
					<br>

					<div class="row">
						<div class="form-group">
							<div class="col-md-3">
								<h5>
									<b>Permanent Address</b>
								</h5>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-4">
								<h6>
									<b>Address1</b>
								</h6>
								<input type="text" class="form-control" ng-pattern="/^[a-zA-Z\s]/"
									style="padding-top: 0px;" ng-maxlength="200" name="address1"
									ng-model="cCctr.entity.paddress.address1" ng-required="true"
									placeholder="Address1">
									 <span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.address1.$dirty && employeeDetailForm.address1.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.address1.$error.pattern">Please
										enter valid Address1.</span> <span class="error"
									ng-show="employeeDetailForm.address1.$error.maxlength">
										Address1 should not be greater than 200 characters</span>
										<span class="error"
									ng-show="employeeDetailForm.address1.$error.required">
										Address1 is required</span>

								</span><span class="error" id="address1"></span>

							</div>
							<div class="col-md-4">
								<h6>
									<b>Address2</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="150" name="address2"
									ng-model="cCctr.entity.paddress.address2"
									placeholder="Address2">

							</div>
							<div class="col-md-4">
								<h6>
									<b>Address3</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="150" name="address3"
									ng-model="cCctr.entity.paddress.address3"
									placeholder="Address3">

							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">

							<div class="col-md-4">
								<h6>
									<b>City</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="20" name="city"
									ng-model="cCctr.entity.paddress.city" placeholder="City"
									ng-pattern="/^[a-zA-z\s]*$/">

							</div>
							<div class="col-md-4">
								<h6>
									<b>State</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="20" name="state"
									ng-model="cCctr.entity.paddress.state" placeholder="State"
									ng-pattern="/^[a-zA-z\s]*$/">

							</div>
							<div class="col-md-4">
								<h6>
									<b>PinCode</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="10" name="pincode"
									ng-model="cCctr.entity.paddress.pincode" placeholder="PinCode"
									ng-pattern="/^[0-9\s]*$/">

							</div>

						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<div class="col-md-3">
								<h5>
									<b>Current Address</b>
								</h5>

							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group">
							<div class="col-md-4">
								<h6>
									<b>Address1</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="200" name="address1"
									ng-model="cCctr.entity.caddress.address1" ng-required="true"
									placeholder="Address1" ng-pattern="/^[a-zA-Z\s]"> 
								<span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.address1.$dirty && employeeDetailForm.address1.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.address1.$error.pattern">Please
										enter valid Address1.</span> <span class="error"
									ng-show="employeeDetailForm.address1.$error.maxlength">
										Address1 should not be greater than 200 characters</span>
										<span class="error"
									ng-show="employeeDetailForm.address1.$error.required">
										Address1 is required</span>
										<span class="error" id="address1"></span>

								</span>
							</div>
							<div class="col-md-4">
								<h6>
									<b>Address2</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="150" name="address2"
									ng-model="cCctr.entity.caddress.address2"
									placeholder="Address2" ng-pattern=" ">

							</div>
							<div class="col-md-4">
								<h6>
									<b>Address3</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="150" name="address3"
									ng-model="cCctr.entity.caddress.address3"
									placeholder="Address3" ng-pattern=" ">

							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">

							<div class="col-md-4">
								<h6>
									<b>City</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="20" name="city"
									ng-model="cCctr.entity.caddress.city" placeholder="City"
									ng-pattern="/^[a-zA-z\s]*$/">

							</div>
							<div class="col-md-4">
								<h6>
									<b>State</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="20" name="state"
									ng-model="cCctr.entity.caddress.state" placeholder="State"
									ng-pattern="/^[a-zA-z\s]*$/">

							</div>
							<div class="col-md-4">
								<h6>
									<b>PinCode</b>
								</h6>
								<input type="text" class="form-control"
									style="padding-top: 0px;" ng-maxlength="10" name="pincode"
									ng-model="cCctr.entity.caddress.pincode" placeholder="PinCode"
									ng-pattern="/^[0-9\s]*$/"> 

							</div>

						</div>
					</div>
					<br>
<!---- --Pensioner Bank details------->

					<div class="row">
						<h4 class="modal-title">
							<strong>Add Pensioner Bank Details</strong>
						</h4>
					</div>
					<br>

					<div class="row">
					<div class="form-group">
						<div class="col-md-4">
							<label>Bank Name</label> <input class="form-control" type="text"
								name="bankName" placeholder="Bank Name" ng-required="true"
								ng-model="cCctr.entity.bank.bankName" autocomplete="off"
								ng-pattern="/^[a-zA-Z\s]" ng-model-options="{updateOn: 'blur'}" />
								<span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.bankName.$dirty && employeeDetailForm.bankName.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.bankName.$error.pattern">Please
										enter valid Bank Name.</span> <span class="error"
									ng-show="employeeDetailForm.bankName.$error.maxlength">
										Bank Name should not be greater than 200 characters</span>
										<span class="error"
									ng-show="employeeDetailForm.bankName.$error.required">
									Bank Name is required</span>

								</span>
						</div>

						<div class="col-md-4">
							<label>Account No</label> <input class="form-control" type="text"
								name="acNo" placeholder="Account No" ng-required="true" ng-maxlength="25"
								ng-model="cCctr.entity.bank.acNo" autocomplete="off"
								ng-pattern="/^[({0-9})({4,25})]/" ng-model-options="{updateOn: 'blur'}" />
									<span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.acNo.$dirty && employeeDetailForm.acNo.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.acNo.$error.pattern">Please
										enter valid Account No</span> <span class="error"
									ng-show="employeeDetailForm.acNo.$error.maxlength">
										Account No should not be greater than 200 characters</span>
										<span class="error"
									ng-show="employeeDetailForm.acNo.$error.required">
										Account No is required</span>

								</span>
						</div>
						<div class="col-md-4">
							<label>Branch </label> <input class="form-control" type="text"
								name="branch" placeholder="Branch"
								ng-model="cCctr.entity.bank.branch" autocomplete="off"
								ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							
						</div>
					</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<label>IFSC</label> <input class="form-control" type="text"
								name="ifsc" placeholder="IFSC" ng-model="cCctr.entity.bank.ifsc"
								autocomplete="off" ng-pattern=""
								ng-model-options="{updateOn: 'blur'}" />
						</div>
						<div class="col-md-4">
							<label>Account Type </label> <input class="form-control"
								type="text" name="acType" placeholder="Account Type"
								ng-model="cCctr.entity.bank.acType
														"
								autocomplete="off" ng-pattern=""
								ng-model-options="{updateOn: 'blur'}" />
						</div>
						<div class="col-md-4">
							<label>MICR</label> <input class="form-control" type="text"
								name="micrNo" placeholder="MICR No."
								ng-model="cCctr.entity.bank.micrNo" autocomplete="off"
								ng-model-options="{updateOn: 'blur'}" />
						</div>
					</div>

					<div class="row">
						<div class="modal-footer">
							<button
								ng-click="employeeDetailForm.submitted=true; cCctr.submit(employeeDetailForm.$valid,'pensioner')"
								class="btn btn-success" onclick="scrollWin()">Save</button>
							<button ng-click="cCctr.gotoListPage('pensioner','pensioner');"
								class="btn btn-danger" onclick="scrollWin()">Back</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>









