				<div id="page-wrapper">
						<div class="container-fluid">
							<div class="row">
								<h1> Add Pensioner Details </h1>
							</div>
							      <div class="row">
									<div class="col-md-12">
				<form role="form" name="employeeDetailForm">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Pension No*</label> <input class="form-control"
									type="text" name="pensionNo" placeholder="Pension No"
									ng-model="cCctr.entity.pensionNo" autocomplete="off"
									ng-maxlength="50" ng-required="true"
									ng-model-options="{updateOn: 'blur'}" />

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Name*</label> <input class="form-control" type="text"
									name="name" placeholder="Name" ng-model="cCctr.entity.name"
									autocomplete="off" ng-maxlength="100" ng-required="true"
									ng-pattern="/^[ A-Za-z\s]*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.name.$dirty && employeeDetailForm.name.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.name.$error.pattern">Please
										enter valid Name</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.maxlength">Name
										should not be greater than 25 digit.</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.required">Name
										No is Required.</span>
								</span> <span class="error" id="name"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Father Name*</label> <input class="form-control"
									type="text" name="fatherName" placeholder="Father Name"
									ng-model="cCctr.entity.fatherName" autocomplete="off"
									ng-maxlength="100" ng-pattern="/^[ A-Za-z\s]*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.name.$dirty && employeeDetailForm.name.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.name.$error.pattern">Please
										enter valid Name</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.maxlength">Name
										should not be greater than 25 digit.</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.required">Name
										No is Required.</span>
								</span> <span class="error" id="name"></span>
							</div>
						</div>


						<div class="col-md-6">
							<div class="form-group">
								<label>PAN*</label> <input class="form-control" type="text"
									name="pan" placeholder="PAN" ng-model="cCctr.entity.pan"
									autocomplete="off" ng-maxlength="10"
									ng-pattern="/^([A-Za-z]{5}[0-9]{4}[A-Za-z]{1})*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.pan.$dirty && employeeDetailForm.pan.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.pan.$error.pattern">Please
										enter valid PAN. </span> <span class="error"
									ng-show="employeeDetailForm.pan.$error.maxlength">PAN
										should not be greater than 10 digits.</span>

								</span> <span class="error" id="pan"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Date Of Birth</label> <input class="form-control"
									type="date" name="dob" placeholder="Date Of Birth"
									ng-model="cCctr.entity.dob" autocomplete="off"
									ng-maxlength="10" ng-pattern=""
									ng-model-options="{updateOn: 'blur'}" />

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Employee Grade*</label> <input class="form-control"
									type="text" name="empGrade" placeholder="Employee Grade"
									ng-model="cCctr.entity.empGrade" autocomplete="off"
									ng-maxlength="100" ng-required="true"
									ng-pattern="/^[ A-Za-z\s]*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.name.$dirty && employeeDetailForm.name.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.name.$error.pattern">Please
										enter valid Name</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.maxlength">Name
										should not be greater than 25 digit.</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.required">Name
										No is Required.</span>
								</span> <span class="error" id="name"></span>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Mobile 1*</label> <input class="form-control" type="text"
									name="mobile1" placeholder="Mobile 1"
									ng-model="cCctr.entity.mobile1" autocomplete="off"
									ng-maxlength="10" ng-required="true"
									ng-pattern="/^([6-9]{1})([0-9]{9})$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.mobile.$dirty && employeeDetailForm.mobile.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.mobile.$error.pattern">Please
										enter valid Mobile No..</span> <span class="error"
									ng-show="employeeDetailForm.mobile.$error.maxlength">
										Mobile No. should not be greater than 10 characters</span>

								</span>

							</div>

						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Mobile 2</label> <input class="form-control" type="text"
									name="mobile2" placeholder="Mobile 2"
									ng-model="cCctr.entity.mobile2" autocomplete="off"
									ng-maxlength="10" ng-pattern="/^([6-9]{1})([0-9]{9})$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.mobile.$dirty && employeeDetailForm.mobile.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.mobile.$error.pattern">Please
										enter valid Mobile No..</span> <span class="error"
									ng-show="employeeDetailForm.mobile.$error.maxlength">
										Mobile No. should not be greater than 10 characters</span>

								</span>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Email 1*</label> <input class="form-control" type="text"
									name="email1" placeholder="Email 1"
									ng-model="cCctr.entity.email1" autocomplete="off"
									ng-maxlength="50" ng-required="true"
									ng-pattern="/^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4})*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.email.$dirty && employeeDetailForm.email.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.email.$error.pattern">Please
										enter valid Email.</span> <span class="error"
									ng-show="employeeDetailForm.email.$error.maxlength">
										Email should not be greater than 50 characters</span>

								</span>

							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Email 2</label> <input class="form-control" type="text"
									name="email2" placeholder="Email 2"
									ng-model="cCctr.entity.email2" autocomplete="off"
									ng-maxlength="50"
									ng-pattern="/^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4})*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted ||employeeDetailForm.email.$dirty && employeeDetailForm.email.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.email.$error.pattern">Please
										enter valid Email.</span> <span class="error"
									ng-show="employeeDetailForm.email.$error.maxlength">
										Email should not be greater than 50 characters</span>

								</span>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Bank Account No</label> <input class="form-control"
									type="text" name="bankAccNo" placeholder="Bank Account No"
									ng-model="cCctr.entity.bankAccNo" autocomplete="off"
									ng-maxlength="50" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>IFSC Code</label> <input class="form-control" type="text"
									name="ifcCode" placeholder="IFSC Code"
									ng-model="cCctr.entity.ifcCode" autocomplete="off"
									ng-maxlength="50" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Bank Name*</label> <input class="form-control"
									type="text" name="bankName" placeholder="Bank Name"
									ng-model="cCctr.entity.bankName" autocomplete="off"
									ng-maxlength="100" ng-required="true"
									ng-pattern="/^[ A-Za-z\s]*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="employeeDetailForm.submitted || employeeDetailForm.name.$dirty && employeeDetailForm.name.$invalid">
									<span class="error"
									ng-show="employeeDetailForm.name.$error.pattern">Please
										enter valid Name</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.maxlength">Name
										should not be greater than 25 digit.</span> <span class="error"
									ng-show="employeeDetailForm.name.$error.required">Name
										No is Required.</span>
								</span> <span class="error" id="name"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="modal-footer" >
							<button
								ng-click="employeeDetailForm.submitted=true; cCctr.submit(employeeDetailForm.$valid,'pensioner')"
								class="btn btn-success">Save</button>
							<button ng-click="cCctr.gotoListPage('pensioner','pensioner');"
								class="btn btn-danger">Back</button>
						</div>
					</div>
				</form>

			</div>
				</div>
				</div>
				</div>
										    
										    
										    
										    
										    
										    
										    
										    
										  
											      
								                   
										   		   
										    
										    	   
										    	
										    	  
					
					