
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<h1>Add Pension</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="pensionForm">
					<div class="row">

						<div class="col-md-6">
							<div class="form-group">
								<label>Pensioner Name</label> <input class="form-control"
									type="text" name="NAME" placeholder="Pensioner Name"
									ng-model="cCctr.entity.pensionerName" autocomplete="off"
									ng-maxlength="100" ng-model-options="{updateOn: 'blur'}" />

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Pensioner Code</label> <input class="form-control"
									type="text" name="NAME" placeholder="Pensioner Code"
									ng-model="cCctr.entity.pensionerCode" />

							</div>


						</div>
					</div>
					<div class="row">

						<div class="col-md-6">
							<div class="form-group">
								<label>Address</label>
								<textarea class="form-control" type="text" name="address"
									placeholder="Address" ng-model="cCctr.entity.address"
									autocomplete="off" ng-maxlength="100"
									ng-model-options="{updateOn: 'blur'}"></textarea>

							
							</div>
						</div>

					</div>

				</form>

				<div class="row">
						<div class="modal-footer">
							<button
								ng-click="pensionForm.submitted=true; cCctr.submit(pensionForm.$valid,'pensionMaster',true)"
								class="btn btn-success" onclick="scrollWin()">Save</button>
							<button ng-click="cCctr.gotoListPage('pensionMaster','pensionMaster');"
								class="btn btn-danger" onclick="scrollWin()">Back</button>
						</div>
					</div>
				

			</div>
		</div>
	</div>
</div>
