<style>
/*Refresh button  */
.tooltip-top {
 bottom: 84%;
margin-left: -7%;
}
/*Add Button  */
.tooltip-top1 {
bottom: 125%;
margin-left: -67%;
}
/*Back button  */
.tooltip-top2 {
 bottom: 125%;
margin-left: -67%;
}

</style>

<div id="page-wrapper">
	<div class="container-fluid">
	
	<button class="btn btn-grad astro-MG2CNCJP tool" data-toggle="modal"
					style="background-image: linear-gradient(to right, #5237B3 0%, #5370C6 51%, #7740B9 100%);float: right;"
					 onClick="refreshPageButton()"><i
					class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh
					<span class="tooltiptext tooltip-top">Refresh Button</span></button>
					
		<div class="col-md-12 "
			style="margin: 2% 0 2% 0; font-size: 12pxp;">
			<div class="heading" style="margin-left: 13%;">
				<strong style="margin-left: 17px;">Add Ticket Details</strong>
			</div>
		</div>

		<div class="col-md-8">

			<div class="tab-pane fade active in">
				<form name="fileForm" class="form-horizontal" role="form"
					enctype="multipart/form-data" style="font-size: 20px; margin-left: 134px; margin-right: -134px;">
					<!-- Hidden Filed -->
					<input type="hidden" ng-model="cCctr.entity.dateOfOpening"
						ng-init="cCctr.entity.dateOfOpening=cCctr.presentDate()">

					<input type="hidden" ng-model="cCctr.entity.dateOfChange"
						ng-init="cCctr.entity.dateOfChange=cCctr.presentDate()"> <input
						type="hidden" ng-model="cCctr.entity.resolved"
						ng-init="cCctr.entity.resolved= 'true' "> <input
						type="hidden" ng-model="cCctr.entity.status"
						ng-init="cCctr.entity.status='Open'">

					<div class="row">
						<div class="col-md-4">
							<div>
								<label style="font-size: 15px">Form*</label>
								<div>
									<select name="form" id="form" ng-model="cCctr.entity.form"
										title="Select Form" class="form-control" required>
										<option disabled value="">Select Form</option>
										<#list Form as f>
										<option value="${f}">${f}</option>
										</#list>
									</select>
									<!-- <select name="form" id="form" ng-model="cCctr.entity.form"
										class="form-control" required>
										<option disabled value="">Select Form</option>
										<option value="24Q">24Q</option>
										<option value="26Q">26Q</option>
										<option value="27Q">27Q</option>
										<option value="27EQ">27EQ</option>
										<option value="15G">15G</option>
										<option value="15H">15H</option>
									</select> -->
								</div>
							</div>
							<span style="color: red"
								ng-show="fileForm.submitted || fileForm.form.$dirty && fileForm.form.$invalid">
								<span class="error" ng-show="fileForm.form.$error.required">
									Form is Required </span>
							</span>
						</div>


						<div class="col-md-4">
							<div>
								<label style="font-size: 15px">Financial Year*</label> <select
									class="form-control" id="fy" name="fy" title="Select Financial Year"
									ng-model="cCctr.entity.fy" ng-required="true">
									<option disabled value="">Select financial Year</option>
									<#list financialYear as year>
									<option value="${year}">${year}</option>
									</#list>
								</select>

							</div>
							<span style="color: red"
								ng-show="fileForm.submitted || fileForm.fy.$dirty && fileForm.fy.$invalid">
								<span class="error" ng-show="fileForm.fy.$error.required">
									Finacial Year is Required </span>
							</span>
						</div>
						<div class="col-md-4">
							<div>
								<label style="font-size: 15px">Quarter*</label> <select
									class="form-control" id="quarter" name="quarter" title="Select Quarter"
									ng-model="cCctr.entity.quarter" ng-required="true">
									<option disabled value="">Select Quarter</option>
									<#list Quarter as quarter>
									<option value="${quarter}">${quarter}</option>
									</#list>
								</select>
							</div>
							<span style="color: red"
								ng-show="fileForm.submitted || fileForm.quarter.$dirty && fileForm.quarter.$invalid">
								<span class="error" ng-show="fileForm.quarter.$error.required">
									Quarter is Required </span>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
								<div>
									<label style="font-size: 15px">Customer/Vendor Id</label> <input class="form-control"
										name="custVendId" title="Enter Customer/Vendor Id" id="custVendId" Customer/Vendor Id
										ng-maxlength = "15"
										ng-model="cCctr.entity.custVendId" placeholder="Customer/Vendor Id"
										class="form-control">
								</div>
								<span style="color: red"
									ng-show="fileForm.submitted || fileForm.custVendId.$dirty && fileForm.custVendId.$invalid">
									<span class="error"
									ng-show="fileForm.custVendId.$error.required"> Customer/Vendor
										Id is Required </span>
										<span class="error"
									ng-show="fileForm.custVendId.$error.maxlength"> Customer/Vendor
										Id is less than 15 Characters. </span>
								</span>

							</div>
						<div class="col-md-6">
								<div>
									<label style="font-size: 15px">PAN</label> <input class="form-control" name="pan" title="Enter PAN"
										id="pan" ng-model="cCctr.entity.pan" placeholder="PAN"
										ng-pattern="/^([A-Za-z]{5}[0-9]{4}[A-Za-z]{1})*$/"
										class="form-control">
								</div>
								<span style="color: red"
									ng-show="fileForm.submitted || fileForm.pan.$dirty && fileForm.pan.$invalid">
									<span class="error" ng-show="fileForm.pan.$error.required">
										PAN is Required </span> <span class="error" id="pan"></span> <span
									class="error" ng-show="fileForm.pan.$error.pattern">Please
										enter valid Pan</span>
								</span>

							</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div style="margin-left: 0%">
								<label style="font-size: 15px">Branch Code*</label> <input
									class="form-control" name="branchCode" title="Enter Branch Code"
									id="branchCode" type="number"
									ng-model="cCctr.entity.branchCode" placeholder="Branch Code"
									ng-required="true">
							</div>
							<span style="color: red"
								ng-show="fileForm.submitted || fileForm.branchCode.$dirty && fileForm.branchCode.$invalid">
								<span class="error"
								ng-show="fileForm.branchCode.$error.required">Branch Code
									is Required </span>
							</span>
						</div>
					</div>
					<!-- <div class="row">
							<div class="col-md-12">
								<div style="margin-left: 0%">
									<md-autocomplete md-input-name="branchCode"
										md-input-minlength="3" md-no-cache="true"
										md-input-maxlength="75" style="height:10%"
										md-selected-item="cCctr.search.branchCode" md-search-text="b"
										md-items="item in cCctr.ajax('branch','branchCode',b)"
										md-delay="0" placeholder="Branch Code"> <md-item-template>
									<span>{{item}}</span> </md-item-template> <md-not-found> No Branch
									Code with "{{b}}" were found. <a ng-click="">Add new</a> </md-not-found> </md-autocomplete>
								</div>
							</div>
						</div> -->
					<div class="row">
						<div class="col-md-12">
							<div class="">
								<label style="font-size: 15px">Description*</label>
								<textarea class="form-control" name="description" title="Add Description"
									id="description" ng-model="cCctr.entity.description"
									style="width: 100%;" required></textarea>
								<span style="color: red"
									ng-show="fileForm.submitted || fileForm.description.$dirty && fileForm.description.$invalid">
									<span class="error"
									ng-show="fileForm.description.$error.required">Description
										is Required </span>
								</span>
							</div>
						</div>
					</div>
					<br>
					<!-- <div class="control-group">
							<label class="control-label" for="save"></label>
							<div class="controls">
								<button id="add" name="add"
									class="btn btn-success btn-primary"
									ng-click="fileForm.submitted=true;cCctr.submit(fileForm.$valid,cCctr.entity,'ticket')">Add</button>
									<button id="add" name="add"
									class="btn btn-danger btn-primary"
									ng-click="fileForm.submitted=true;cCctr.submit(fileForm.$valid,cCctr.entity,'ticket')">Back</button>
									
							</div>
						</div> -->


					<div class="modal-footer" style="text-align: center">

						<button class="pushable darkgreen tool" style="margin-top: 2%;"
							data-dismiss="modal"
							ng-click="fileForm.submitted=true;cCctr.submit(fileForm.$valid,cCctr.entity,'ticket')">
							<span class="front darkgreenspan"> Add
							<span class="tooltiptext tooltip-top1">Add Button</span></span>
						</button>
						<button class="pushable darkred tool" style="margin-top: 2%;"
							ng-click="cCctr.gotoListPage('ticket','ticket');">
							<span class="front darkredspan"> Back
							<span class="tooltiptext tooltip-top2">Back Button</span></span>
						</button>


					</div>


				</form>

			</div>

		</div>
	</div>
</div>
</div>
