<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<br>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<h1>Add User Details</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="formUserDetails">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<h6>
									<label>Branch Code*</label>
								</h6>
								<input class="form-control" type="text" name="branchCode"
									placeholder=" Branch Code" ng-model="cCctr.entity.branchCode"
									autocomplete="off" ng-required="true" ng-maxlength="10"
									ng-pattern="/^[a-zA-Z0-9]*$/"
									ng-model-options="{updateOn: 'blur'}" /> 
									 <span
									style="color: red"
									ng-show="formUserDetails.submitted || formUserDetails.branchCode.$dirty && formUserDetails.branchCode.$invalid">
									<span class="error"
									ng-show="formUserDetails.roCode.$error.pattern">Enter
										valid Branch Code </span> <span class="error"
									ng-show="formUserDetails.branchCode.$error.maxlength">Branch
										Code should not be greater than 45 characters.</span> <span
									class="error"
									ng-show="formUserDetails.branchCode.$error.required">Branch
										Code is Required.</span>
								</span> <span class="error" id="branchCode"></span>

							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<h6>
									<label>User Name*</label>
								</h6>
								<input class="form-control" type="text" name="name"
									placeholder="User Name" ng-model="cCctr.entity.name"
									autocomplete="off" ng-required="true" ng-maxlength="45"
									ng-pattern="/^[a-zA-Z0-9]*$/"
									ng-model-options="{updateOn: 'blur'}" />
									 <span
									style="color: red"
									ng-show="formUserDetails.submitted || formUserDetails.roName.$dirty && formUserDetails.roName.$invalid">
									<span class="error"
									ng-show="formUserDetails.roName.$error.pattern">Enter
										valid RO Name </span> <span class="error"
									ng-show="formUserDetails.roName.$error.maxlength">RO Name
										should not be greater than 45 characters.</span> <span class="error"
									ng-show="formUserDetails.roName.$error.required">RO Name
										is Required.</span>
								</span> <span class="error" id="name"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<h6>
									<label>Zone*</label>
								</h6>
								<input class="form-control" type="text" name="zone"
									placeholder="Zone" ng-model="cCctr.entity.zone"
									autocomplete="off" ng-required="true" ng-maxlength="45"
									ng-pattern="/^[a-zA-Z0-9]*$/"
									ng-model-options="{updateOn: 'blur'}" />
									 <span style="color: red"
									ng-show="formUserDetails.submitted ||formUserDetails.zone.$dirty && formUserDetails.zone.$invalid">
									<span class="error"
									ng-show="formUserDetails.zone.$error.required"> 
									zone is Required. </span>
								</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<h6>
									<label>User PAN*</label>
								</h6>
								<input class="form-control" type="text" name="pan"
									placeholder="PAN" ng-model="cCctr.entity.pan"
									autocomplete="off" ng-required="true" ng-maxlength="45"
									ng-pattern="/^([A-Za-z]{5}[0-9]{4}[A-Za-z]{1})*$/"
									ng-model-options="{updateOn: 'blur'}" />
									 <span
									style="color: red"
									ng-show="formUserDetails.submitted || formUserDetails.pan.$dirty && formUserDetails.pan.$invalid">
									<span class="error"
									ng-show="formUserDetails.pan.$error.required">User PAN
										is Required: </span> <span class="error"
									ng-show="formUserDetails.pan.$error.pattern">User PAN
										is invalid: </span>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						


						<div class="col-md-6">
							<div class="form-group">
								<h6>
									<label>User Type</label>
								</h6>
								<input class="form-control" type="text" name="type"
									placeholder="type" ng-model="cCctr.entity.type"
									autocomplete="off" ng-required="true" ng-maxlength="45"
									ng-pattern="/^[a-zA-Z0-9]*$/"
									ng-model-options="{updateOn: 'blur'}" />
									 <span
									style="color: red"
									ng-show="formUserDetails.submitted || formUserDetails.type.$dirty && formUserDetails.type.$invalid">
									<span class="error"
									ng-show="formUserDetails.type.$error.pattern">Enter
										Valid User Type</span>  <span class="error"
									ng-show="formUserDetails.type.$error.required">
										Type is Required.</span>
								</span> <span class="error" id="Type"></span>
							</div>
						</div>
						
					</div>
					

					<div class="row">
						<div class="modal-footer">
							<button
								ng-click="formUserDetails.submitted=true; cCctr.submit(formUserDetails.$valid,cCctr.entity,'userDetails')"
								class="btn btn-success">Save</button>
							<button ng-click="cCctr.gotoListPage('userDetails','userDetails');"
								class="btn btn-danger" onclick="scrollWin()">Back</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>