<style>
 
 
 /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Sr. No."; }
		td:nth-of-type(2):before { content: "Branch Name."; }
		td:nth-of-type(3):before { content: "Branch Code"; }
		td:nth-of-type(4):before { content: "Tan"; }
		td:nth-of-type(5):before { content: "Pan"; }
		td:nth-of-type(6):before { content: "Type Of Deductor"; }
		td:nth-of-type(7):before { content: "Email"; }
		td:nth-of-type(8):before { content: "Action"; }
		
	}
	
	
 
    @media only screen and (max-width: 1000px) {
        .one{
            display: none;
          
        }
    }
    
 @media only screen and (max-width: 1000px) {
        .two{
         
            padding:8px;
        }
    }
        
   @media only screen and (min-width:600px) {
            #three{
                display: none;
                max-height: 0;
                overflow: hidden;
            }
        }
        
       @media only screen and (min-width:1000px) {
            #search{
             
             margin-left:45%;
             margin-top:2px;
             display:none;
            }
        }
        
            @media only screen and (max-width: 1000px) {
      #hide{
            display: none;
          
        }
    }
     .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: whitesmoke;
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
.tables>thead>tr>th {
    font-size: 12px;
    background-color: #B6D8FC;
    text-align: center;
}
.tables>tbody>tr>td {
    font-size: 12px;
  height:30Px;
    text-align: center;
}
 
 </style>





	<div class="container-fluid">
    <div class="col-md-12 " style="padding-left: 0px;font-size: 12pxp; margin-top:2%" >
	<div class="heading"><strong>Branch Details</strong></div>
	</div>
		
	  <br>
	     <!--  <button class="btn btn-primary hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" >
             Search 
          </button> -->
     <!--  <div class="collapse dont-collapse-sm" id="collapseExample2" > 
	    <div class="row">
	     <div class="form-group">
	      <div class="col-md-3">	
                  <h6><b>Name</b><h6>
                  <input type="text" ng-model="cCctr.search.name" class="form-control" placeholder="Name" style="width:100%">
			</div>
	  <div class="col-md-3">							
            <h6><b>TAN</b></h6>
             <input type="text"ng-model="cCctr.search.tan" class="form-control" placeholder="TAN" style="width:100%">
      </div>
      
     	<div class="col-md-3">	
           <h6><b>Email</b><h6>
           <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ng-model="cCctr.search.email" class="form-control" placeholder="Email" style="width:100%">
       </div>
      
   </div>
            
           
	       </div>	
	       <div class="row">
	   <div class="form-group">
	  
	    <div class="col-md-3">	
                <h6><b>Branch Code</b><h6>
                  <input type="text"ng-model="cCctr.search.branchCode" class="form-control" placeholder="Branch" style="width:100%">
								</div>
	<div class="col-md-3">							
            <h6><b>PAN</b></h6>
           <input type="text"ng-model="cCctr.search.pan" class="form-control" placeholder="PAN" style="width:100%">
      </div>
   </div>
 </div>
	      		
	             <div class="row" id="hide" >
	         	  <div class="col-md-3"  style="margin-left:85%;margin-top:-70px">	
	                          <button ng-click="cCctr.searchEntities(true,'branch')"
									class="btn btn-success" onclick="scrollWin()">Search</button>
	                 </div>					
  				</div>
  
             <div class="row" id="search" >
	         	  <div class="col-md-3" id="search">	
	                <button ng-click="cCctr.searchEntities(true,'branch')"
					class="btn btn-success" onclick="scrollWin()">Search</button>
	                 </div>					
              </div>
  </div> -->
 </div>

 
 					
					<!-- 	<div class="table-responsive"> -->

							<table class=" tables table-bordered table-hover table-striped" role="table"
								style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">
								<thead>
							<colgroup>
									<col span="14" style="background-color: #ffffff">
								</colgroup>
							 <tr>
							  <thead role="rowgroup">
							      <tr style="height:40px;background-color:#81b7db">
							      <th width="10%">Sr. No.</th>
							      <th width="10%">Branch Name</th>
							      <th width="10%">Branch Code</th>
							      <th width="10%" >Tan</th>
							      <th width="10%">Pan</th>
							      <th width="10%" >Type Of Deductor</th>
							      <th width="10%">Email</th>
							      <th width="10%">Action</th>
                                  </tr>
                               </thead>
								<tbody>
									<tr  ng-repeat="a in cCctr.getEntityListData() track by a.id">
										<td >{{$index+1}}</td>
											<td>{{a.name}}</td>
											<td>{{a.branchCode}}</td>
											<td>{{a.tan}}</td>
											<td>{{a.pan}}</td>
											<td>{{a.type}}</td>
											<td>{{a.email}}</td>
											<td><button ng-click="cCctr.gotoHomePageWOT(a.id,'homeWOT')" class="btn btn-success" onclick="scrollWin()" style="height:30px; margin-top:10px; margin-bottom:10px; background-color:#0f316d">Work on this</button></td>
										<!-- <td>{{a.total-a.amountPaid}}</td> -->
										
									</tr>								
								</tbody>
							</table>
							</div>
					
					



