<style>
 

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: white;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

.btn-grad {
	background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	padding: 8px;
}

.btn-grad:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

th {
	text-align: center;
}

td .autoResize {
	min-width: 100px;
	width: auto;
}

.autoResize {
	min-width: 115px;
	resize: horizontal;
	overflow: auto;
	display: block
}

.autoResizeQuarter {
	min-width: 70px;
	resize: horizontal;
	overflow: auto;
	display: block
}


</style>

<div
	ng-init="cCctr.helpFolder = 'homeSChelpPage' ;  cCctr.helpPage = 'challanSCHelp' ">
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="collapse dont-collapse-sm" id="collapseExample2">
			<div class="row">
				<div class="heading">
					<strong>Challan Details</strong>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-12" style="padding-left: 0px;">
						<div class="col-md-3">
							<h6>
								<b>CIN</b>
							</h6>
							<input type="text" ng-model="cCctr.search.CIN"
								class="form-control" placeholder="CIN" style="width: 100%">
						</div>
						<div class="col-md-3">
							<h6>
								<b>TAN</b>
							</h6>
							<select name="tan" id="tan" class="form-control"
								ng-model="cCctr.search.TAN">
								<option disabled value="">Select Tan</option>
								<#list Tan as T>
								<option value="${T}">${T}</option>
								</#list>
							</select>
						</div>
						<div class="col-md-3">
							<h6>
								<b>challan Mismatch </b>
							</h6>
							<select name="challanMismatch" id="challanMismatch"
								class="form-control" ng-model="cCctr.search.CHALLAN_MISMATCH"
								ng-required="true" ng-model-options="{updateOn: 'blur'}">
								<option disabled value="">Select</option>
								<option value="1">True</option>
								<option value="0">False</option>
							</select>
						</div>
						<div class="col-md-3 Btns">


							<button
							id="searchButton" 
								ng-click="cCctr.searchEntities(true,'challan', 'challan')"
								class="btn btn-success  tool" onclick="scrollWin()">
								<div class=button-main-box>
									<i class="fa fa-search border-0 p-0"
										style="color: inherit; display: block; background-color: transparent; font-size: 23px;"></i>
									<div class="button-tooltip-box">
										<span class="tooltiptext Search">Search Button</span>
									</div>
								</div>

							</button>

							<button class="btn btn-primary  collapsed tool"
								style="background-color: #FFA500; border-color: #FFA500;"
								data-toggle="collapse" data-target="#collapseExample"
								aria-expanded="false" data-parent="#collapseExample"
								aria-controls="collapseExample">
								<div class=button-main-box>
									<i class="fa fa-filter border-0 p-0"
										style="color: #fff; display: block; background-color: transparent; font-size: 23px;"></i>
									<div class="button-tooltip-box">
										<span class="tooltiptext Search">Advance Search Button</span>
									</div>
								</div>

							</button>





						</div>
					</div>


				</div>
			</div>

			<div class="collapse " id="collapseExample"
				style="margin-left: -15px;">
				<div class="row">

					<div class="col-md-12" style="padding-left: 15px;">
						<div class="col-md-3">
							<h6>
								<b>Amount of challan</b>
								<h6>
									<input type="text" ng-model="cCctr.search.AMOUNT_OF_CLALLAN"
										class="form-control" placeholder="Amount of challan"
										style="width: 100%">
						</div>
						<div class="col-md-3">
							<h6>
								<b>Date of Deposition</b>
								<h6>
									<input type="Date" ng-model="cCctr.search.dateOfDeposition"
										ng-change="cCctr.search.dateOfDeposition=cCctr.date(cCctr.search.dateOfDeposition);"
										class="form-control" placeholder="Date of Deposition"
										style="width: 100%">
						</div>
						<div class="col-md-3">
							<h6>
								<b>As on Date</b>
								<h6>
									<input type="date" ng-model="cCctr.search.asOnDate"
										ng-change="cCctr.search.asOnDate=cCctr.date(cCctr.search.asOnDate);"
										class="form-control" placeholder="As on Date"
										style="width: 100%">
						</div>

						<div class="col-md-3 ExcelBtn ">
							<button class="btn btn-primary waves-effect waves-light tool"
								type="button" style="float: inherit;"
								ng-click="cCctr.generateExcel('apichallan/generateExcel/','CHALLAN')">
								Export to Excel<span class="tooltiptext ExportExcel">Export
									to Excel</span>
							</button>
						</div>

					</div>
				</div>

			</div>


			<div class="row">
				<div class="col-xs-12">
					<div class="col-md-4" style="margin-top: 5px"></div>
					<div class="text-right" style="width: 100%"></div>
				</div>
			</div>
			<div class="row">
			   <div class=" table-responsive">  
				<table class=" table table-bordered table-hover table-striped"
					role="table"
					style="font-size: 12px; width: 100%; margin-top: 1.5%;">

					<thead>
					<colgroup>
						<col span="14" style="background-color: #ffffff">
					</colgroup>
					<tr>
					<thead role="rowgroup">
						<tr role="row"
							style="height: 40px; background-color: #7482f45e; cursor: pointser">
							<th>Sr. No.</th>
							<th><div class="autoResize">CIN</div></th>
							<th><div class="autoResize">TAN</div></th>
							<th><div class="autoResize">Amount of challan</div></th>
							<th><div class="autoResize">Date of Deposition</div></th>
							<th><div class="autoResize">As on Date</div></th>
							<th><div class="autoResize">Challan Mismatch</div></th>

							<!-- 	<th>Action</th> -->
						</tr>
					</thead>
					<tbody style="text-align: center;">
						<tr style="color: red"
							ng-show="cCctr.getEntityListData().length <= 0">
							<td colspan="14" style="text-align: center;"><b><h3
										style="text-align: center;">No data found!!</h3></b></td>
						<tr role="row" ng-repeat="a in cCctr.getEntityListData()"
							style="cursor: pointer">
							<td>{{$index+cCctr.srNo}}</td>
							<td>{{a.CIN}}</td>
							<td>{{a.TAN}}</td>
							<td>{{a.AMOUNT_OF_CLALLAN}}</td>
							<td>{{a.DATE_OF_DEPOSITION|date:'dd-MM-yyyy'}}</td>
							<td>{{a.AS_ON_DATE|date:'dd-MM-yyyy'}}</td>
							<td ng-if="a.CHALLAN_MISMATCH == 1">True</td>
							<td ng-if="a.CHALLAN_MISMATCH == 0">False</td>
							<td ng-if="a.CHALLAN_MISMATCH == null">-</td>

							<!-- <td><a
							ng-click="cCctr.gotoDetailPage('challan',a.id,'detailchallan')"
							style="color: blue" onclick="scrollWin()"><img
								src="static\img\edit.png" width="22px" height="22px"
								alt="Details" style="margin-top: 5px; margin-bottom: 5px;" /></a></td> -->
						</tr>
					</tbody>
				</table>




				<div class="row" ng-show="cCctr.getNoPage() > 0">
					<div align="center">
						<span ng-show="cCctr.PreviousNo != 1"> <a
							ng-show="cCctr.PreviousNo >= 1 && cCctr.PreviousNo <= cCctr.getNoPage()"
							ng-click="cCctr.getPage(true,'challan',cCctr.PreviousNo-1);cCctr.DisplayNo(cCctr.currentPage)"><strong>Previous</strong></a>
						</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>Displaying page &nbsp;<strong>{{cCctr.PreviousNo}}</strong>&nbsp;
							of &nbsp;<strong>{{cCctr.getNoPage()}}</strong>
							&nbsp;&nbsp;&nbsp;&nbsp; <span
							ng-show="cCctr.PreviousNo != cCctr.getNoPage()"> <a
								ng-show="cCctr.PreviousNo >= 1 && cCctr.PreviousNo <= cCctr.getNoPage()"
								ng-click="cCctr.getPage(true,'challan',cCctr.PreviousNo+1);cCctr.DisplayNo(cCctr.currentPage)"><strong>Next</strong></a>
						</span>
						</span>
					</div>
					<form role="form" name="gotoForm" ng-if="cCctr.getNoPage()!=1">
						<div align="center" style="margin-top: 1%;">
							<span>Go to</span> &nbsp;&nbsp;&nbsp; <input
								style="width: 70px; text-align: center;" type="number"
								name="pageNo" id="pageNo" ng-model="cCctr.currentPage"
								oninput="javascript: if (this.value.length > this.max.length) this.value = this.value.slice(0, this.max.length);"
								autocomplete="off" ng-min="1" min="1"
								max="{{cCctr.getNoPage()}}" ng-max="cCctr.getNoPage()"
								ng-required="true"> &nbsp;&nbsp;&nbsp;
							<button
								ng-show="cCctr.currentPage >= 1 && cCctr.currentPage <= cCctr.getNoPage()"
								ng-click="gotoForm.submitted=true;cCctr.getPage(gotoForm.$valid,'challan',cCctr.currentPage);cCctr.DisplayNo(cCctr.currentPage)"
								class="btn btn-primary btn-sm">Go</button>
						</div>
						<div align="center">
							<span style="color: red"
								ng-show="gotoForm.submitted || gotoForm.pageNo.$dirty && gotoForm.pageNo.$invalid">
								<span class="error" ng-show="gotoForm.pageNo.$error.min">Page
									No. should not be less than 1.</span> <span class="error"
								ng-show="gotoForm.pageNo.$error.max">Page No. should not
									be greater than {{cCctr.getNoPage()}}.</span> <span class="error"
								ng-show="gotoForm.pageNo.$error.required">Please enter
									page number.</span>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(function ($) {
	const SELECTOR = '.table-responsive';
	const stickyBarTemplate = '<div class="sticky-scrollbar"><div></div></div>';
	const stickyBarCSS = {
	    display: 'none',
	    overflowX: 'scroll',
	    position: 'sticky',
	    width: '100%',
	    height: '3%',
	    bottom: 0,
	    'z-index': 999
	};

	renderBars();
	$(window).on('load pageUpdate', renderBars);

	function renderBars() {
	    $(SELECTOR).each(function () {
	        let $container = $(this);
	        let $table = $container.find("table:first");
	        let $bar = $container.find('.sticky-scrollbar');
	        if (!$bar.length) {
	            $bar = $(stickyBarTemplate).appendTo($container).css(stickyBarCSS);

	            const resizeObserver = new ResizeObserver(entries => {
	                updateBar()
	            });
	            resizeObserver.observe($container[0]);
	            resizeObserver.observe($table[0]);

	            updateBar();
	            function updateBar() {
	                $bar.children('div').height(1).width($table.width());
	                $bar.width($container.width()).scrollLeft($container.scrollLeft());

	                requestAnimationFrame(function () {
	                    if ($table.width() > $container.width()) {
	                        $bar.show();

	                        $bar.scroll(function () {
	                            $table
	                                .css({"transform": "translateX(-" + $bar.scrollLeft() + "px)"});
	                            $container
	                                .find('.left-header, .top-left-header')
	                                .css({"transform": "translateX(" + $bar.scrollLeft() + "px)"});
	                        });

	                        $bar.scrollLeft($container.scrollLeft());
	                    } else {
	                        $bar.hide();
	                    }
	                });
	            }
	        }
	    });
	}
	});
</script>
<script>
	$(document).ready(function() {
		$(this).scrollTop(0);
	});
</script>