<style>
@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

@media ( max-width : 1200px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

@media ( min-width : 300px) and (max-width: 700px) {
	.mobile {
		display: none;
	}
}

@media only screen and (min-width:700px) {
	.hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
		display: none;
	}
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width:
	1024px) {
	/* CSS */
	.mobile {
		display: none;
	}
}
.btn-grad {
	background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	padding: 8px;
}

.btn-grad:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}


td .autoResize {
	min-width:100px;
	width: auto;
}
.autoResize {
	min-width:70px;
	resize: horizontal;
	overflow: auto;
	display: block 
}

.autoResizeQuarter {
	min-width:70px;
	resize: horizontal;
	overflow: auto;
	display: block 
}

/*Refresh Button*/
.tooltip-top {
  bottom: 84%;
  margin-left:-9%;
}
/*Search Button*/
.tooltip-top1 {
  bottom: 125%;
  margin-left:-22%;
}
/*Export to Excel*/
.tooltip-top2 {
  bottom: 125%;
  margin-left:-30%;
}
</style>




<div id="page-wrapper" ng-controller="CommonController as cCctr">
					<button class="btn btn-grad astro-MG2CNCJP tool" data-toggle="modal"
					style="background-image: linear-gradient(to right, #5237B3 0%, #5370C6 51%, #7740B9 100%);float: right;"
						 onClick="refreshPageButton()"><i
						class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh<span class="tooltiptext tooltip-top">Refresh or Press F5</span></button>
	<div class="col-md-12 "
		style="padding-left: 0px; font-size: 12pxp; margin-top: 2%">
		<div class="heading">
			<strong>Deductor Details</strong>
		</div>


	</div>

	<br>
	<button class="btn btn-primary hidden visible-xs" type="button"
		data-toggle="collapse" data-target="#collapseExample2"
		aria-expanded="false" aria-controls="collapseExample">Search</button>

	<div class="collapse dont-collapse-sm" id="collapseExample2">
		<div class="row">
			<div class="form-group">

				<div class="col-md-3">
					<h6>
						<b>TAN</b>
					</h6>
					<select name="tan" id="tan" class="form-control"
						ng-model="cCctr.search.TAN">
						<option disabled value="">Select Tan</option>
						<#list Tan as T>
						<option value="${T}">${T}</option>
						</#list>
					</select>
				</div>

				<div class="col-md-3">
					<h6>
						<b>State</b>
					</h6>
					<input type="text" ng-model="cCctr.search.STATE"
						class="form-control" placeholder="STATE" style="width: 100%">
				</div>

				<div class="col-md-3">
					<h6>
						<b>City</b>

					</h6>
					<input type="text" ng-model="cCctr.search.CITY"
						class="form-control" placeholder="CITY" style="width: 100%">
				</div>

			</div>
		</div>


		<div class="row" id="hide">
			<div class="col-md-4" style="margin-left: 73%; margin-top: -35px">
					<button ng-click="cCctr.searchEntities(true,'deductorDetails')"
						class="btn btn-grad astro-MG2CNCJP tool"
						style="padding: 6px 9px; background-image: linear-gradient(to right, #093028 0%, #237A57 51%, #093028 100%)"
						onclick="scrollWin()">
						<i class="fa fa-search" aria-hidden="true"></i> Search
						<span class="tooltiptext tooltip-top1">Search Button</span>
					</button>
					<button class="btn btn-grad astro-MG2CNCJP tool" type="button"
							style=" background-image: linear-gradient(to right, #517fa4 0%, #243949 51%, #517fa4 100%);"
							ng-click="cCctr.generateExcel('apideductorDetails/generateExcel/','DEDUCTORDETAILS')">Export
							to Excel<span class="tooltiptext tooltip-top2">Export to Excel</span></button>
			</div>
		</div>
	</div>





	<div class="row">
	<div class="table-responsive"> 

		<table class="table table-bordered table-hover table-striped"
			role="table"
			style="font-size: 12px">
			<thead>
			<colgroup>
				<col span="14" style="background-color: #ffffff">
			</colgroup>
			<tr>
			<thead role="rowgroup">
				<tr style="height: 40px; background-color: #81b7db">
					<th>Sr. No.</th>
					<th>TAN</th>
					<th>State</th>
					<th>City</th>
					<!--  <th>Action</th>-->

				</tr>
			</thead>
			<tbody>
				<tr style="color: red"
					ng-show="cCctr.getEntityListData().length <= 0">
					<td colspan="14" style="text-align: center;"><b><h3
								style="text-align: center;">No data found!!</h3></b></td>
				<tr ng-repeat="a in cCctr.getEntityListData()">
					<td>{{$index+1}}</td>
					<td>{{a.TAN}}</td>
					<td>{{a.STATE}}</td>
					<td>{{a.CITY}}</td>
					<!--  <td><a
						ng-click="cCctr.gotoDetailPage('deductorDetails',a.TAN,'detailDeductorDetails')"
						style="color: blue" onclick="scrollWin()"><img
							src="static\img\edit.png" width="22px" height="22px"
							alt="Details" style="margin-top: 5px; margin-bottom: 5px;" /></a></td>-->
				</tr>

			</tbody>
		</table>
		</div>

		<div class="row" ng-show="cCctr.getNoPage() > 0">
			<div class="row" align="center">
				<span ng-show="cCctr.currentPage != 1"> <a
					ng-click="cCctr.getPage(true,'deductorDetails',cCctr.currentPage-1)"><strong>Previous</strong></a>
				</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>Displaying page &nbsp;<strong>{{cCctr.currentPage}}</strong>&nbsp;
					of &nbsp;<strong>{{cCctr.getNoPage()}}</strong>
					&nbsp;&nbsp;&nbsp;&nbsp; <span
					ng-show="cCctr.currentPage != cCctr.getNoPage()"> <a
						ng-click="cCctr.getPage(true,'deductorDetails',cCctr.currentPage+1)"><strong>Next</strong></a>
				</span>
				</span>
			</div>
			<form role="form" name="gotoForm">
				<div class="row" align="center">
					<span>Go to</span> &nbsp;&nbsp;&nbsp; <input
						style="width: 70px; text-align: center;" type="number"
						name="pageNo" ng-model="cCctr.currentPage"
						ng-init="cCctr.pageNo=cCctr.currentPage" autocomplete="off"
						ng-min="1" min="1" max="{{cCctr.getNoPage()}}" 
						ng-max="cCctr.getNoPage()" ng-required="true">
					&nbsp;&nbsp;&nbsp;
					<button style="height: 25px;"
						ng-click="gotoForm.submitted=true;cCctr.getPage(gotoForm.$valid,'deductorDetails',cCctr.currentPage)"
						class="btn btn-primary">Go</button>
				</div>
				<div class="row" align="center">
					<span style="color: red"
						ng-show="gotoForm.submitted || gotoForm.pageNo.$dirty && gotoForm.pageNo.$invalid">
						<span class="error" ng-show="gotoForm.pageNo.$error.min">Page
							No. should not be less than 1.</span> <span class="error"
						ng-show="gotoForm.pageNo.$error.max">Page No. should not be
							greater than {{cCctr.getNoPage()}}.</span> <span class="error"
						ng-show="gotoForm.pageNo.$error.required">Please enter page
							number.</span>
					</span>
				</div>
			</form>
		</div>


	</div>
</div>

</div>
<!--</div>-->

<!--</div> -->
