
<style>
@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: white;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

.page-header {
	border-bottom: none;
}

.tooltip-top {
	bottom: 118%;
	margin-left: -88%;
	width: max-content !important;
}
/*Edit Button*/
.tooltip-top1 {
	bottom: 118%;
	margin-left: -88%;
	width: max-content !important;
}
/*Resolved Button*/
.tooltip-top2 {
	bottom: 118%;
	margin-left: -88%;
	width: max-content !important;
}
/*Reject Button*/
.tooltip-top3 {
	bottom: 118%;
	margin-left: -88%;
	width: max-content !important;
}
/*Back Button*/
.tooltip-top4 {
	bottom: 118%;
	margin-left: -88%;
	width: max-content !important;
}
</style>

<div
	ng-init="cCctr.helpFolder = 'homeSChelpPage' ;  cCctr.helpPage = 'form27QSCDetailHelp' ">
	<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityData();">
		<div class="container-fluid ContFluid">
			<div ng-show="cCctr.show != true">
				<h4>
					<strong>Details of Form 27Q Deductee</strong>
				</h4>
			</div>
			<div class="panel  panel-default">
				<div class="panel-body">
					<div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Quarter &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.quarter}}</div>
							<div class="col-md-3">
								<label>Grossing up Indicator &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.grossingUpIndicator}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Month&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.month}}</div>
							<div class="col-md-3">
								<label>No of certificate under section&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.certificateNumber}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Branch Code&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.branchCode}}</div>
							<div class="col-md-3">
								<label>TDS Rate As Per It Acts &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.tdsRateAsPerItActs}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>RO Code &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.roCode}}</div>

							<div class="col-md-3">
								<label>TAN</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.TAN}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Vend/Cust Id&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.custVendId}}</div>
							<div class="col-md-3">
								<label>Nature Of Remittance &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.natureOfRemittance}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Unique Ref Number&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.uniqueRefNo}}</div>
							<div class="col-md-3">
								<label>Unique Knowledge No.&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.uniqueAcknowledgeNo}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Account Number&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.accNo}}</div>
							<div class="col-md-3">
								<label>Country &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.countryOfResidence}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Challan Heading&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.challanHeading}}</div>
							<div class="col-md-3">
								<label>Email &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.emailId}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Deductee Ref. No &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.deducteeRefNo}}</div>
							<div class="col-md-3">
								<label>Contact no &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.contactNoOfDeductee}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Deductee Code &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.deducteeCode}}</div>
							<div class="col-md-3">
								<label>Address &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.addressOfDeductee}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Pan&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.pan}}</div>
							<div class="col-md-3">
								<label>Tax Identification Number &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.taxIdentificationNo}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Name &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.name }}</div>
							<div class="col-md-3">
								<label>Cash Withdrawl (194N) &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.cashWithdrawal194N}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Section Code &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.sectionCode}}</div>
							<div class="col-md-3">
								<label>Cash Withdrawl 194N(20L to 1cr) &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.cashWithdrawal194N20Lto1Cr}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Date of Payment &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.dateOfPayment|date:'dd-MM-yyyy'}}</div>
							<div class="col-md-3">
								<label>Cash Withdrawl 194N(>1cr) &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.cashWithdrawal194N1Cr}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Paid Amount&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.amountPaid}}</div>
							<div class="col-md-3">
								<label>Error Description&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.errorDescription}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>TDS&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.tds}}</div>
							<div class="col-md-3">
								<label>Warning Description&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.warningDescription}}</div>
						</div>


						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Surcharge &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.surcharge}}</div>
							<div class="col-md-3">
								<label>Short Deduction&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.ShortDeduction}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Education Cess &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.eduCess}}</div>
							<div class="col-md-3">
								<label>Interest on Short Deduction &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.interestOnShortDeduction}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Total Tax Deducted &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.totalTaxDeducted}}</div>
							<div class="col-md-3">
								<label>Interest on Late Payment&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.interestOnLatePayment}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Total Tax Deposited &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.totalTaxDeposited}}</div>
							<div class="col-md-3">
								<label>Interest on Late Deduction&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.interestOnLateDeduction}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Date Of Deduction &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.dateOfDeduction}}</div>
							<div class="col-md-3">
								<label>Reason for non Deduction &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.remarksReason}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Status &nbsp;</label>
							</div>
							<div class="col-md-3">{{ cCctr.entity.deductee.resolved ?
								': Pending' : ': Resolved' }}</div>
							<!-- <div class="col-md-3" ng-if="cCctr.entity.deductee.resolved == 0">:
								Resolved</div>
							<div class="col-md-3" ng-if="cCctr.entity.deductee.resolved == 1"
								style="color: red">: Not Resolved</div>
							<div class="col-md-3">
								<label>Rate at which tax Deducted &nbsp;</label>
							</div> -->
							<div class="col-md-3">:
								{{cCctr.entity.deductee.rateAtWhichTaxCollected}}</div>
						</div>

						<div class="row">
							<input
								ng-model="cCctr.newEntity.deducteeId = cCctr.entity.deductee.id"
								id="deducteeId" name="deducteeId" style="display: none">

							<input ng-model="cCctr.newEntity.fy = cCctr.entity.deductee.fy"
								id="fy" name="fy" style="display: none"> <input
								ng-model="cCctr.newEntity.deducteeForm ='27Qform'"
								id="deducteeForm" name="deducteeForm" style="display: none">

							<input class="form-control"
								ng-model="cCctr.newEntity.branchCode = cCctr.entity.deductee.branchCode"
								id="branchCode" name="branchCode" style="display: none">

							<div class="Buttons" style="gap: 3px; float: left">

								<button ng-hide=( "admin"!="${typeOfUser}"
									); 
											data-toggle="modal"
									data-target="#Update27QForm" type="button"
									class="btn btn-outline-primary waves-effect waves-light tool">
									<i class="far fa-edit mr-2"></i>Edit<span
										class="tooltiptext tooltip-top2">Edit Button</span>
								</button>

								<button
									ng-click="cCctr.gotoListPage('form27QDeductee','form27QDeductee')"
									type="button"
									class="btn btn-outline-danger waves-effect waves-light tool">
									<i class="mdi mdi-arrow-left-bold-outline mr-2"></i>Back<span
										class="tooltiptext tooltip-top2">Back Button</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row"
			ng-hide="cCctr.entity.remarks =='' || cCctr.entity.remarks == null">
			<div class="table-responsive"
				style="overflow-x: inherit; width: 100%">
				<table class=" tables table-bordered table-hover table-striped"
					role="table"
					style="overflow-x: inherit; font-size: 12px; width: 100%; margin-top: 1.5%;">

					<tr>
					<thead role="rowgroup">
						<tr style="height: 40px;">
							<th>Sr. No.</th>
							<th><div class="autoResizeQuarter">Added By</div></th>
							<th><div class="autoResizeQuarter">Remark</div></th>
							<th><div class="autoResizeQuarter">Date of Remark</div></th>
							<th><div class="autoResizeQuarter">Status</div></th>
							<th><div class="autoResizeQuarter">Approved On</div></th>
							<th><div class="autoResizeQuarter">Approved By</div></th>
							<th><div class="autoResizeQuarter">Action</div></th>
						</tr>
					</thead>
					<tbody>
						<tr role="row"
							ng-repeat="a in ( filteredList =( cCctr.entity.remarks  ) )">
							<td>{{$index+cCctr.srNo}}</td>
							<td>{{a.addedby}}</td>
							<td>{{a.remark}}</td>
							<td>{{a.DATETIME | date:'dd-MM-yyyy - HH:mm:ss'}}</td>
							<td>{{a.status}}</td>
							<td>{{a.approvedon | date:'dd-MM-yyyy - HH:mm:ss'}}</td>
							<td>{{a.approvedby}}</td>
							<!-- <td class=""><a class="tool" style="color: blue"><img
									ng-click="cCctr.updateDeductee(true,a.formdata,a.id,a.deducteeformid,'form27QDeductee')"
									src="static\img\edit.png" width="22px" height="22px"
									alt="Details" style="margin-top: 5px; margin-bottom: 5px;"
									role="button" tabindex="0"> <span
									class="tooltiptext tooltip-top5 approveToolTip">Approve</span></a></td> -->
							<td class=""><div
									ng-hide="(a.status === 'Approved') || (a.status === 'Rejected')">
									<a class="tool" style="color: blue"> <img
										data-toggle="modal" data-target="#updateDeductee"
										ng-click="cCctr.temp=a" src="static\img\edit.png" width="22px"
										height="22px" alt="Details"
										style="margin-top: 5px; margin-bottom: 5px;" role="button"
										tabindex="0"> <span
										class="tooltiptext tooltip-top5 approveToolTip">Approve
									</span></a>
								</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Approve/Reject Modal -->
	<div class="modal fade" id="updateDeductee" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true"
		ng-init="cCctr.temp">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Approve or
						Reject Form 27Q Deductee</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form name="updateDeductee"
						class="ng-pristine ng-invalid ng-invalid-required">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-12">
									<label style="font-size: 12px">Action<span
									style="color: red;">*</span></label> <select
										name="typeOfAction" ng-required="true" class="form-control"
										ng-model="cCctr.temp.typeOfAction">
										<option selected disabled value="">Select type
											of action</option>
										<option value="Approved">Approve</option>
										<option value="Reject">Reject</option>
									</select><span style="color: red"
										ng-show="updateDeductee.submitted ||updateDeductee.typeOfAction.$dirty && updateDeductee.typeOfAction.$invalid">
										<span class="error"
										ng-show="updateDeductee.typeOfAction.$error.required">Action
											Type is Required.</span>
									</span>
								</div>
								<div class="col-md-12" ng-if="cCctr.temp.typeOfAction=='Reject'">
									<label for="exampleInputEmail1" class="form-label">Remark<span
									style="color: red;">*</span></label>
									<textarea type="text" class="form-control" ng-required="cCctr.temp.typeOfAction=='Reject"
										name="Remark" ng-model="cCctr.temp.rejectRemark" rows="3"
										cols="2"></textarea>
									<span style="color: red"
										ng-show="updateDeductee.submitted ||updateDeductee.Remark.$dirty && updateDeductee.Remark.$invalid">
										<span class="error"
										ng-show="updateDeductee.Remark.$error.required">Please enter valid remark.</span>
									</span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success waves-effect waves-light tool"
						style="margin-top: 2%;"
						ng-click="updateDeductee.submitted=true;cCctr.updateDeductee(updateDeductee.$valid,cCctr.temp,cCctr.temp.formdata,cCctr.temp.id,cCctr.temp.deducteeid,'form27QDeductee')">
						Update</button>
					<button class="btn btn-danger waves-effect waves-light tool"
						style="margin-top: 2%;" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Update Modal -->

<div class="modal fade" id="Update27QForm" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Update Form 27Q
					Deductee</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="24QForm"
					class="ng-pristine ng-invalid ng-invalid-required">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-4">
								<label for="quarter" class="form-label">Quarter</label> <input
									type="text" class="form-control" ng-required="true"
									disabled="disabled" ng-model="cCctr.entity.deductee.quarter" />
								<span class="error ng-hide"
									ng-show="deducteeForm.submitted || deducteeForm.quarter.$dirty && deducteeForm.quarter.$invalid">
									<span class="error"
									ng-show="deducteeForm.quarter.$error.required">Please
										enter Quarter.</span>
								</span>
							</div>

							<div class="col-md-4">
								<label for="month" class="form-label">Month</label> <input
									type="text" class="form-control" ng-required="true"
									disabled="disabled" ng-model="cCctr.entity.deductee.month" />
								<span class="error ng-hide"
									ng-show="deducteeForm.submitted || deducteeForm.month.$dirty && deducteeForm.month.$invalid">
									<span class="error"
									ng-show="deducteeForm.month.$error.required">Please
										enter Month.</span>
								</span>
							</div>

							<div class="col-md-4">
								<label for="roCode" class="form-label">RO Code</label> <input
									type="text" class="form-control" ng-required="true"
									disabled="disabled" ng-model="cCctr.entity.deductee.roCode" />
								<span class="error ng-hide"
									ng-show="deducteeForm.submitted || deducteeForm.roCode.$dirty && deducteeForm.roCode.$invalid">
									<span class="error"
									ng-show="deducteeForm.roCode.$error.required">Please
										enter RO Code.</span>
								</span>
							</div>

							<div class="col-md-12">
								<div class="col-md-4">
									<label for="branchCode" class="form-label">Branch Code</label>
									<input type="text" class="form-control" ng-required="true"
										disabled="disabled"
										ng-model="cCctr.entity.deductee.branchCode" /> <span
										class="error ng-hide"
										ng-show="deducteeForm.submitted || deducteeForm.branchCode.$dirty && deducteeForm.branchCode.$invalid">
										<span class="error"
										ng-show="deducteeForm.branchCode.$error.required">Please
											enter Branch Code.</span>
									</span>
								</div>


								<div class="col-md-4">
									<label for="TAN" class="form-label">TAN</label> <input
										type="text" class="form-control" ng-required="true"
										disabled="disabled" ng-model="cCctr.entity.deductee.TAN" /> <span
										class="error ng-hide"
										ng-show="deducteeForm.submitted || deducteeForm.TAN.$dirty && deducteeForm.TAN.$invalid">
										<span class="error" ng-show="deducteeForm.TAN.$error.required">Please
											enter TAN.</span>
									</span>
								</div>

								<div class="col-md-4">
									<label for="custVendId" class="form-label">Vend/Cust Id
										ID</label> <input type="text" class="form-control" disabled="disabled"
										ng-model="cCctr.entity.deductee.custVendId" /> <span
										class="error ng-hide"
										ng-show="deducteeForm.submitted || deducteeForm.custVendId.$dirty && deducteeForm.custVendId.$invalid">
										<span class="error"
										ng-show="deducteeForm.custVendId.$error.required">Please
											enter Customer/Vendor ID.</span>
									</span>
								</div>
							</div>

							<div>
								<div class="col-md-12">

									<div class="col-md-4">
										<label for="uniqueRefNo" class="form-label">Unique Ref
											No</label> <input type="text" class="form-control"
											disabled="disabled"
											ng-model="cCctr.entity.deductee.uniqueRefNo" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.uniqueRefNo.$dirty && deducteeForm.uniqueRefNo.$invalid">
											<span class="error"
											ng-show="deducteeForm.uniqueRefNo.$error.required">Please
												enter Unique Ref No.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="accNo" class="form-label">Account No</label> <input
											type="text" class="form-control" disabled="disabled"
											ng-model="cCctr.entity.deductee.accNo" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.accNo.$dirty && deducteeForm.accNo.$invalid">
											<span class="error"
											ng-show="deducteeForm.accNo.$error.required">Please
												enter Account No.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="challanHeading" class="form-label">Challan
											Heading</label> <input type="text" class="form-control"
											disabled="disabled"
											ng-model="cCctr.entity.deductee.challanHeading" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.challanHeading.$dirty && deducteeForm.challanHeading.$invalid">
											<span class="error"
											ng-show="deducteeForm.challanHeading.$error.required">Please
												enter Challan Heading.</span>
										</span>
									</div>

								</div>

								<div class="col-md-12">

									<div class="col-md-4">
										<label for="deducteeRefNo" class="form-label">Deductee
											Ref No</label> <input type="text" class="form-control"
											disabled="disabled"
											ng-model="cCctr.entity.deductee.deducteeRefNo" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.deducteeRefNo.$dirty && deducteeForm.deducteeRefNo.$invalid">
											<span class="error"
											ng-show="deducteeForm.deducteeRefNo.$error.required">Please
												enter Deductee Ref No.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="uniqueAcknowledgeNo" class="form-label">Unique
											Knowledge No</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.uniqueAcknowledgeNo" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.uniqueAcknowledgeNo.$dirty && deducteeForm.uniqueAcknowledgeNo.$invalid">
											<span class="error"
											ng-show="deducteeForm.uniqueAcknowledgeNo.$error.required">Please
												enter Unique Acknowledge No.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="certificateNumber" class="form-label">No
											of certificate under section</label> <input type="text"
											class="form-control" ng-required="true"
											ng-model="cCctr.entity.deductee.certificateNumber" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.certificateNumber.$dirty && deducteeForm.certificateNumber.$invalid">
											<span class="error"
											ng-show="deducteeForm.certificateNumber.$error.required">Please
												enter Certificate Number.</span>
										</span>
									</div>

								</div>

								<div class="col-md-12">


									<div class="col-md-4">
										<label for="countryOfResidence" class="form-label">Country
										</label> <input type="text" class="form-control" ng-required="true"
											ng-model="cCctr.entity.deductee.countryOfResidence" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.countryOfResidence.$dirty && deducteeForm.countryOfResidence.$invalid">
											<span class="error"
											ng-show="deducteeForm.countryOfResidence.$error.required">Please
												enter Country of Residence.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="tdsRateAsPerItActs" class="form-label">TDS
											Rate as Per IT Acts</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.tdsRateAsPerItActs" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.tdsRateAsPerItActs.$dirty && deducteeForm.tdsRateAsPerItActs.$invalid">
											<span class="error"
											ng-show="deducteeForm.tdsRateAsPerItActs.$error.required">Please
												enter TDS Rate as Per IT Acts.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="grossingUpIndicator" class="form-label">Grossing
											Up Indicator</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.grossingUpIndicator" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.grossingUpIndicator.$dirty && deducteeForm.grossingUpIndicator.$invalid">
											<span class="error"
											ng-show="deducteeForm.grossingUpIndicator.$error.required">Please
												enter Grossing Up Indicator.</span>
										</span>
									</div>

								</div>

								<div class="col-md-12">
									<div class="col-md-4">
										<label for="emailId" class="form-label">Email ID</label> <input
											type="email" class="form-control" ng-required="true"
											ng-model="cCctr.entity.deductee.emailId" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.emailId.$dirty && deducteeForm.emailId.$invalid">
											<span class="error"
											ng-show="deducteeForm.emailId.$error.required">Please
												enter Email ID.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="contactNoOfDeductee" class="form-label">Contact
											No</label> <input type="text" class="form-control" ng-required="true"
											ng-model="cCctr.entity.deductee.contactNoOfDeductee" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.contactNoOfDeductee.$dirty && deducteeForm.contactNoOfDeductee.$invalid">
											<span class="error"
											ng-show="deducteeForm.contactNoOfDeductee.$error.required">Please
												enter Contact No of Deductee.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="natureOfRemittance" class="form-label">Nature
											of Remittance</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.natureOfRemittance" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.natureOfRemittance.$dirty && deducteeForm.natureOfRemittance.$invalid">
											<span class="error"
											ng-show="deducteeForm.natureOfRemittance.$error.required">Please
												enter Nature of Remittance.</span>
										</span>
									</div>

								</div>

								<div class="col-md-12">
									<div class="col-md-4">
										<label for="deducteeCode" class="form-label">Deductee
											Code</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.deducteeCode" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.deducteeCode.$dirty && deducteeForm.deducteeCode.$invalid">
											<span class="error"
											ng-show="deducteeForm.deducteeCode.$error.required">Please
												enter Deductee Code.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="addressOfDeductee" class="form-label">Address
											of Deductee</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.addressOfDeductee" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.addressOfDeductee.$dirty && deducteeForm.addressOfDeductee.$invalid">
											<span class="error"
											ng-show="deducteeForm.addressOfDeductee.$error.required">Please
												enter Address of Deductee.</span>
										</span>
									</div>


									<div class="col-md-4">
										<label for="pan" class="form-label">PAN</label> <input
											oninput="this.value = this.value.toUpperCase()"
											type="text" class="form-control" ng-required="true"
											ng-model="cCctr.entity.deductee.pan" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.pan.$dirty && deducteeForm.pan.$invalid">
											<span class="error"
											ng-show="deducteeForm.pan.$error.required">Please
												enter PAN.</span>
										</span>
									</div>

								</div>



								<div class="col-md-12">
									<div class="col-md-4">
										<label for="taxIdentificationNo" class="form-label">Tax
											Identification Number</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.taxIdentificationNo" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.taxIdentificationNo.$dirty && deducteeForm.taxIdentificationNo.$invalid">
											<span class="error"
											ng-show="deducteeForm.taxIdentificationNo.$error.required">Please
												enter Tax Identification No.</span>
										</span>
									</div>


									<div class="col-md-4">
										<label for="name" class="form-label">Name</label> <input
											type="text" class="form-control" ng-required="true"
											ng-model="cCctr.entity.deductee.name" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.name.$dirty && deducteeForm.name.$invalid">
											<span class="error"
											ng-show="deducteeForm.name.$error.required">Please
												enter Name.</span>
										</span>
									</div>


									<div class="col-md-4">
										<label for="cashWithdrawal194N" class="form-label">Cash
											Withdrawal 194N</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.cashWithdrawal194N" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.cashWithdrawal194N.$dirty && deducteeForm.cashWithdrawal194N.$invalid">
											<span class="error"
											ng-show="deducteeForm.cashWithdrawal194N.$error.required">Please
												enter Cash Withdrawal 194N.</span>
										</span>
									</div>




								</div>

								<div class="col-md-12">
									<div class="col-md-4">
										<label for="sectionCode" class="form-label">Section
											Code</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.sectionCode" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.sectionCode.$dirty && deducteeForm.sectionCode.$invalid">
											<span class="error"
											ng-show="deducteeForm.sectionCode.$error.required">Please
												enter Section Code.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="dateOfPayment" class="form-label">Cash
											Withdrawl 194N(20L to 1cr)</label> <input type="text"
											class="form-control" ng-required="true"
											ng-model="cCctr.entity.deductee.cashWithdrawal194N20Lto1Cr" />
										<span class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.dateOfPayment.$dirty && deducteeForm.dateOfPayment.$invalid">
											<span class="error"
											ng-show="deducteeForm.dateOfPayment.$error.required">Please
												enter Date of Payment.</span>
										</span>
									</div>


									<div class="col-md-4">
										<label class="form-label">Date Of Payment</label> <input
											id="date" class="form-control" type="date" name="date"
											value={{cCctr.entity.deductee.dateOfPayment}}
											ng-model="cCctr.entity.deductee.dateOfPayment"
											autocomplete="off"
											ng-blur="cCctr.entity.deductee.dateOfPayment=cCctr.entity.deductee.dateOfPayment" />
										<!-- <label for="dateOfPayment" class="form-label">Date of
											Payment</label> <input type="date" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.dateOfPayment" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.dateOfPayment.$dirty && deducteeForm.dateOfPayment.$invalid">
											<span class="error"
											ng-show="deducteeForm.dateOfPayment.$error.required">Please
												enter Date of Payment.</span>
										</span> -->
									</div>


								</div>


								<div class="col-md-12">
									<div class="col-md-4">
										<label for="cashWithdrawal194N1Cr" class="form-label">Cash
											Withdrawal 194N (>1Cr</label> <input type="text" class="form-control"
											ng-required="true"
											ng-model="cCctr.entity.deductee.cashWithdrawal194N1Cr" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.cashWithdrawal194N1Cr.$dirty && deducteeForm.cashWithdrawal194N1Cr.$invalid">
											<span class="error"
											ng-show="deducteeForm.cashWithdrawal194N1Cr.$error.required">Please
												enter Cash Withdrawal 194N (1Cr).</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="amountPaid" class="form-label">Amount Paid</label>
										<input type="text" class="form-control" ng-required="true"
											ng-model="cCctr.entity.deductee.amountPaid" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.amountPaid.$dirty && deducteeForm.amountPaid.$invalid">
											<span class="error"
											ng-show="deducteeForm.amountPaid.$error.required">Please
												enter Amount Paid.</span>
										</span>
									</div>



									<div class="col-md-4">
										<label for="errorDescription" class="form-label">Error
											Description</label> <input type="text" class="form-control"
											ng-required="true" disabled="disabled"
											ng-model="cCctr.entity.deductee.errorDescription" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.errorDescription.$dirty && deducteeForm.errorDescription.$invalid">
											<span class="error"
											ng-show="deducteeForm.errorDescription.$error.required">Please
												enter Error Description.</span>
										</span>
									</div>




								</div>


								<div class="col-md-12">

									<div class="col-md-4">
										<label for="tds" class="form-label">TDS</label> <input
											type="text" class="form-control" ng-required="true"
											ng-model="cCctr.entity.deductee.tds" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.tds.$dirty && deducteeForm.tds.$invalid">
											<span class="error"
											ng-show="deducteeForm.tds.$error.required">Please
												enter TDS.</span>
										</span>
									</div>


									<div class="col-md-4">
										<label for="warningDescription" class="form-label">Warning
											Description</label> <input type="text" class="form-control"
											disabled="disabled"
											ng-model="cCctr.entity.deductee.warningDescription" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.warningDescription.$dirty && deducteeForm.warningDescription.$invalid">
											<span class="error"
											ng-show="deducteeForm.warningDescription.$error.required">Please
												enter Warning Description.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="surcharge" class="form-label">Surcharge</label> <input
											type="text" class="form-control"
											ng-model="cCctr.entity.deductee.surcharge" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.surcharge.$dirty && deducteeForm.surcharge.$invalid">
											<span class="error"
											ng-show="deducteeForm.surcharge.$error.required">Please
												enter Surcharge.</span>
										</span>
									</div>




								</div>





								<div class="col-md-12">
									<div class="col-md-4">
										<label for="ShortDeduction" class="form-label">Short
											Deduction</label> <input type="text" class="form-control"
											ng-model="cCctr.entity.deductee.shortDeduction" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.shortDeduction.$dirty && deducteeForm.shortDeduction.$invalid">
											<span class="error"
											ng-show="deducteeForm.shortDeduction.$error.required">Please
												enter Short Deduction.</span>
										</span>
									</div>
									<div class="col-md-4">
										<label for="eduCess" class="form-label">Education Cess</label>
										<input type="text" class="form-control"
											ng-model="cCctr.entity.deductee.eduCess" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.eduCess.$dirty && deducteeForm.eduCess.$invalid">
											<span class="error"
											ng-show="deducteeForm.eduCess.$error.required">Please
												enter Edu Cess.</span>
										</span>
									</div>



									<div class="col-md-4">
										<label for="InterestOnShortDeduction" class="form-label">Interest
											On Short Deduction</label> <input type="text" class="form-control"
											ng-model="cCctr.entity.deductee.interestOnShortDeduction" />
										<span class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.interestOnShortDeduction.$dirty && deducteeForm.interestOnShortDeduction.$invalid">
											<span class="error"
											ng-show="deducteeForm.interestOnShortDeduction.$error.required">Please
												enter Interest On Short Deduction.</span>
										</span>
									</div>
								</div>


								<div class="col-md-12">

									<div class="col-md-4">
										<label for="totalTaxDeducted" class="form-label">Total
											Tax Deducted</label> <input type="text" class="form-control"
											ng-model="cCctr.entity.deductee.totalTaxDeducted" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.totalTaxDeducted.$dirty && deducteeForm.totalTaxDeducted.$invalid">
											<span class="error"
											ng-show="deducteeForm.totalTaxDeducted.$error.required">Please
												enter Total Tax Deducted.</span>
										</span>
									</div>


									<div class="col-md-4">
										<label for="interestOnLatePayment" class="form-label">Interest
											On Late Payment</label> <input type="text" class="form-control"
											ng-model="cCctr.entity.deductee.interestOnLatePayment" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.interestOnLatePayment.$dirty && deducteeForm.interestOnLatePayment.$invalid">
											<span class="error"
											ng-show="deducteeForm.interestOnLatePayment.$error.required">Please
												enter Interest On Late Payment.</span>
										</span>
									</div>


									<div class="col-md-4">
										<label for="totalTaxDeposited" class="form-label">Total
											Tax Deposited</label> <input type="text" class="form-control"
											ng-model="cCctr.entity.deductee.totalTaxDeposited" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.totalTaxDeposited.$dirty && deducteeForm.totalTaxDeposited.$invalid">
											<span class="error"
											ng-show="deducteeForm.totalTaxDeposited.$error.required">Please
												enter Total Tax Deposited.</span>
										</span>
									</div>
								</div>





								<div class="col-md-12">
									<div class="col-md-4">
										<label for="InterestOnLateDeduction" class="form-label">Interest
											On Late Deduction</label> <input type="text" class="form-control"
											ng-model="cCctr.entity.deductee.interestOnLateDeduction" />
										<span class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.interestOnLateDeduction.$dirty && deducteeForm.interestOnLateDeduction.$invalid">
											<span class="error"
											ng-show="deducteeForm.interestOnLateDeduction.$error.required">Please
												enter Interest On Late Deduction.</span>
										</span>
									</div>



									<div class="col-md-4">
										<label class="form-label">Date Of Deduction</label> <input
											id="date" class="form-control" type="date" name="date"
											value={{cCctr.entity.deductee.dateOfDeduction}}
											ng-model="cCctr.entity.deductee.dateOfDeduction"
											autocomplete="off"
											ng-blur="cCctr.entity.deductee.dateOfDeduction=cCctr.entity.deductee.dateOfDeduction" />
										<!-- <label for="dateOfDeduction" class="form-label">Date
											of Deduction</label> <input type="date" class="form-control"
											
											ng-model="cCctr.entity.deductee.dateOfDeduction" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.dateOfDeduction.$dirty && deducteeForm.dateOfDeduction.$invalid">
											<span class="error"
											ng-show="deducteeForm.dateOfDeduction.$error.required">Please
												enter Date of Deduction.</span> -->
										</span>
									</div>

									<div class="col-md-4">
										<label for="remarksReason" class="form-label">Reason
											for non Deduction</label> <input type="text" class="form-control"
											ng-model="cCctr.entity.deductee.remarksReason" /> <span
											class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.remarksReason.$dirty && deducteeForm.remarksReason.$invalid">
											<span class="error"
											ng-show="deducteeForm.remarksReason.$error.required">Please
												enter Remarks Reason.</span>
										</span>
									</div>

									<div class="col-md-4">
										<label for="rateAtWhichTaxCollected" class="form-label">Rate
											at Which Tax Collected</label> <input type="text"
											class="form-control"
											ng-model="cCctr.entity.deductee.rateAtWhichTaxCollected" />
										<span class="error ng-hide"
											ng-show="deducteeForm.submitted || deducteeForm.rateAtWhichTaxCollected.$dirty && deducteeForm.rateAtWhichTaxCollected.$invalid">
											<span class="error"
											ng-show="deducteeForm.rateAtWhichTaxCollected.$error.required">Please
												enter Rate at Which Tax Collected.</span>
										</span>
									</div>

								</div>

							</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success waves-effect waves-light tool"
					style="margin-top: 2%;"
					ng-click="profileForm.submitted=true;cCctr.save(true,cCctr.entity.deductee,'deducteeremark')">
					Update</button>
				<button class="btn btn-danger waves-effect waves-light tool"
					style="margin-top: 2%;" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	$('#reload').click(function() {
		location.reload();
	});
</script>
<script>
	$(document).ready(function() {
		$(this).scrollTop(0);
	});
</script>







