
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
	td:nth-of-type(1):before {
		content: "Sr. No.";
	}
	td:nth-of-type(2):before {
		content: "Employee Code";
	}
	td:nth-of-type(3):before {
		content: "Name";
	}
	td:nth-of-type(4):before {
		content: "PAN";
	}
	td:nth-of-type(5):before {
		content: "Designation";
	}
	td:nth-of-type(6):before {
		content: "Email";
	}
	td:nth-of-type(7):before {
		content: "Mobile";
	}
	td:nth-of-type(8):before {
		content: "Address";
	}
	td:nth-of-type(9):before {
		content: "Branch";
	}
	td:nth-of-type(10):before {
		content: "Group Code";
	}
	td:nth-of-type(11):before {
		content: "Action";
	}
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityData();">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;">Details of Pensioner</h3>
			</div>

			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">
					<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>Pensioner No &nbsp;:</label> {{cCctr.entity.pensioner.pensionNo}}
						</div>
						<div class="col-md-3">
							<label>Vendor Name &nbsp;:</label> {{cCctr.entity.pensioner.name}}
						</div>

					</div>
 			</div>

		</div>






	</div>
	<div class="row">



		<ul class="nav nav-tabs">
		<li ><a data-target="#pensionerDtls"
				data-toggle="tab">Pensioner Details</a></li>
				<li ><a data-target="#addrDtls"
				data-toggle="tab">Address Detail</a></li>
				<li ><a data-target="#bankDtls"
				data-toggle="tab">Bank Account Detail</a></li>
				<li ><a data-target="#paymentDtls"
				data-toggle="tab">Pensioner Salary Detail</a></li>

		</ul>
		<br>
		
		
				<div class="tab-content ">
				
			<div class="tab-pane active" id="pensionerDtls">
			<hr>
              <div class="panel panel-default"
				style="margin-top: -5%; border: none !important;">
				<div class="panel-body">
				<b>Pensioner Details</b>
				<br>
				<br>
					<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>Father Name &nbsp;:</label> {{cCctr.entity.pensioner.fatherName}}
						</div>
						<div class="col-md-3">
							<label>PAN &nbsp;:</label> {{cCctr.entity.pensioner.pan}}
						</div>
						<div class="col-md-3">
							<label>DOB &nbsp;:</label> {{cCctr.entity.pensioner.dob|date:'dd-MM-yyyy'}}
						</div>
						<div class="col-md-3">
							<label>Employee Grade &nbsp;:</label> {{cCctr.entity.pensioner.empGrade}}
						</div>
						
						

					</div>
					<br>
					<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>Mobile No 1 &nbsp;:</label> {{cCctr.entity.pensioner.mobile1}}
						</div>
						<div class="col-md-3">
							<label>Mobile No 2 &nbsp;:</label> {{cCctr.entity.pensioner.mobile2}}
						</div>
						<div class="col-md-3">
							<label>Email 1 &nbsp;:</label> {{cCctr.entity.pensioner.email1}}
						</div>
						<div class="col-md-3">
							<label>Email 2 &nbsp;:</label> {{cCctr.entity.pensioner.email2}}
						</div>
						<div class="col-xs-12">
								<div class="text-left">
									<button class="btn btn-primary" data-toggle="modal"
										onclick="test('#profile')">Edit</button>
								</div>
							</div>
							<div id="profile" class="modal fade" role="dialog">
				<div class="modal-dialog modal-lg">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" id="closeU"
								data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Edit Employee Bank Details</h4>
						</div>
						<div class="modal-body">

							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade active in" id="signin">
									<form name="profileForm" class="form-horizontal"
										enctype="multipart/form-data">


										<div class="row">
											<div class="col-md-6">

												<label>Father Name</label> <input class="form-control"
													type="text" name="fatherName" placeholder="Father Name"
													ng-model="cCctr.entity.pensioner.fatherName" autocomplete="off"
													ng-pattern="" ng-model-options="{updateOn: 'blur'}"
													ng-maxlength="15" />
													

											</div>

											<div class="col-md-6">
												<label>Pan</label> <input class="form-control"
													type="text" name="pan" placeholder="pan"
													ng-model="cCctr.entity.pensioner.pan" autocomplete="off"
													ng-pattern="" ng-model-options="{updateOn: 'blur'}"
													ng-maxlength="20" />
													<span style="color: red" ng-show="profileForm.submitted || profileForm.pan.$dirty && profileForm.pan.$invalid">
													 <span class="error" ng-show="profileForm.pan.$error.maxlength">Account Number should not be greater than 20 digit.</span>
													 </span>
											</div>

										</div>

										<div class="row">
											<div class="col-md-6">

												<label>DOB </label> <input class="form-control"
													type="text" name="dob" placeholder="Branch"
													ng-model="cCctr.entity.pensioner.dob|date:'dd-MM-yyyy'" autocomplete="off"
													ng-pattern="" ng-model-options="{updateOn: 'blur'}"
													ng-maxlength="30" />
													

											</div>

											<div class="col-md-6">

												<label>Employee Grade</label> <input class="form-control" type="text"
													name="empGrade" placeholder="IFSC"
													ng-model="cCctr.entity.pensioner.empGrade" autocomplete="off"
													ng-pattern="" ng-model-options="{updateOn: 'blur'}"
													ng-maxlength="20" /> 
													

											</div>


										</div>

										<div class="row">
											<div class="col-md-6">

												<label>Mobile No.1 </label> <input class="form-control"
													type="text" name="mobile1" placeholder="mobile1"
													ng-model="cCctr.entity.pensioner.mobile1
														"
													autocomplete="off" ng-pattern=""
													ng-model-options="{updateOn: 'blur'}" />
											</div>


											<div class="col-md-6">

												<label>Mobile No.2</label> <input class="form-control" type="text"
													name="mobile2" placeholder="mobile2."
													ng-model="cCctr.entity.pensioner.mobile2" autocomplete="off"
													ng-model-options="{updateOn: 'blur'}" />

											</div>


										</div>
										
										<div class="row">
											<div class="col-md-6">

												<label>Email.1 </label> <input class="form-control"
													type="text" name="email1" placeholder="email1"
													ng-model="cCctr.entity.pensioner.email1
														"
													autocomplete="off" ng-pattern=""
													ng-model-options="{updateOn: 'blur'}" />
											</div>


											<div class="col-md-6">

												<label>Email.2</label> <input class="form-control" type="text"
													name="mobile2" placeholder="mobile2"
													ng-model="cCctr.entity.pensioner.mobile2" autocomplete="off"
													ng-model-options="{updateOn: 'blur'}" />

											</div>


										</div>
										
										
										
										</form>
								</div>
							</div>
						
							<div class="modal-footer">
								<button
									ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'bank',cCctr.entity.bank,'closeU')"
									class="btn btn-success" data-dismiss="modal">Save</button>
								<button class="btn btn-danger" data-dismiss="modal">Back</button>
							</div>
						</div>
					</div>
						
				</div>

			</div>
						
						

					</div>
					

					
				</div>
			</div>
			
			</div>
			
			<div class="tab-pane" id="addrDtls">
			<hr>
              <div class="panel panel-default"
				style="margin-top: -5%; border: none !important;">
				<div class="panel-body">
				
					<b>	Permanent Address</b>
					<br><br>
					<div class="row" style="font-size: 13px;">
						<div class="col-md-4">
							<label>Address1 &nbsp;:</label> {{cCctr.entity.paddress.address1}}
						</div>
						<div class="col-md-4">
							<label>Address2 &nbsp;:</label> {{cCctr.entity.paddress.address2}}
						</div>
						<div class="col-md-4">
							<label>Address2 &nbsp;:</label> {{cCctr.entity.paddress.address3}}
						</div>
					</div>
					<br>
					<div class="row" style="font-size: 13px;">
						<div class="col-md-4">
							<label>City &nbsp;:</label> {{cCctr.entity.paddress.city}}
						</div>
						<div class="col-md-4">
							<label>State &nbsp;:</label> {{cCctr.entity.paddress.state}}
						</div>
						<div class="col-md-4">
							<label>Pincode &nbsp;:</label> {{cCctr.entity.paddress.pincode}}
						</div>
						</div>	
						<br>				
					<div class="row" style="font-size: 13px;">
					<b>Current Details</b>
				<br>
				<br>
						<div class="row" style="font-size: 13px;">
						<div class="col-md-4">
							<label>Address1 &nbsp;:</label> {{cCctr.entity.caddress.address1}}
						</div>
						<div class="col-md-4">
							<label>Address2 &nbsp;:</label> {{cCctr.entity.caddress.address2}}
						</div>
						<div class="col-md-4">
							<label>Address3 &nbsp;:</label> {{cCctr.address.caddress.address3}}
						</div>
					</div>
						<br>
						<div class="row" style="font-size: 13px;">
						<div class="col-md-4">
							<label>City &nbsp;:</label> {{cCctr.entity.caddress.city}}
						</div>
						<div class="col-md-4">
							<label>State &nbsp;:</label> {{cCctr.entity.caddress.state}}
						</div>
						<div class="col-md-4">
							<label>Pincode &nbsp;:</label> {{cCctr.entity.caddress.pincode}}
						</div>
						</div>	
						
						

					</div>
					

					
				</div>
			</div>
			
			</div>
			
			
						<div class="tab-pane " id="bankDtls">
						<hr>
              <div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">
					<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>Bank Name &nbsp;:</label> {{cCctr.entity.bank.bankName}}
						</div>
						<div class="col-md-3">
							<label>Account Number &nbsp;:</label> {{cCctr.entity.bank.acNo}}
						</div>
						<div class="col-md-3">
							<label>Branch &nbsp;:</label> {{cCctr.entity.bank.branch}}
						</div>
						<div class="col-md-3">
							<label>IFSC &nbsp;:</label> {{cCctr.entity.bank.ifsc}}
						</div>
						
						

					</div>
					<br>
					<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>Account Type &nbsp;:</label> {{cCctr.entity.bank.acType}}
						</div>
						<div class="col-md-3">
							<label>MICR &nbsp;:</label> {{cCctr.entity.bank.micrNo}}
						</div>
										
					</div>
					

					
				</div>
			</div>

			</div>
			
									<div class="tab-pane " id="paymentDtls">
									
						<hr>
              <div class="panel panel-default"
				style="margin-top: -5%; border: none !important;">
				<div class="panel-body">
				<br>
					<b>Pensioner Salary Details</b>
							<div class="row" style="font-size: 13px;">
							<br>
						<div class="col-md-3">
							<label>Basic Salary &nbsp;:</label> {{cCctr.entity.psalary.basicSalary}}
						</div>
						<div class="col-md-3">
							<label>HRA &nbsp;:</label> {{cCctr.entity.psalary.hra}}
						</div>
						<div class="col-md-3">
							<label>DA &nbsp;:</label> {{cCctr.entity.psalary.da}}
						</div>
						<div class="col-md-3">
							<label>CCA &nbsp;:</label> {{cCctr.entity.psalary.cca}}
						</div>
						
						

					</div>
					<br>	
					<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>Special Allowance &nbsp;:</label> {{cCctr.entity.psalary.specialAllowance}}
						</div>
						<div class="col-md-3">
							<label>Travel Allowance &nbsp;:</label> {{cCctr.entity.psalary.travelAllowance}}
						</div>
						<div class="col-md-3">
							<label>Medical Allowance &nbsp;:</label> {{cCctr.entity.psalary.medicalAllowance}}
						</div>
						<div class="col-md-3">
							<label>EPF Employer Contribution &nbsp;:</label> {{cCctr.entity.psalary.epfEmployerContribution}}
						</div>
						
						

					</div>
						<br>
						<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>EPF Emp Contribution &nbsp;:</label> {{cCctr.entity.psalary.epfEmpContribution}}
						</div>
						<div class="col-md-3">
							<label>Leave Enhancement &nbsp;:</label> {{cCctr.entity.psalary.leaveEnhancement}}
						</div>
						<div class="col-md-3">
							<label>Horanium &nbsp;:</label> {{cCctr.entity.psalary.horanium}}
						</div>
						<div class="col-md-3">
							<label>Add Income &nbsp;:</label> {{cCctr.entity.psalary.addIncome}}
						</div>
						
						

					</div>	
					<br>
						<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>Car Perk &nbsp;:</label> {{cCctr.entity.psalary.carPerk}}
						</div>
						<div class="col-md-3">
							<label>Loan Perk &nbsp;:</label> {{cCctr.entity.psalary.loanPerk}}
						</div>
						<div class="col-md-3">
							<label>NPS Employer Contribution &nbsp;:</label> {{cCctr.entity.psalary.npsEmployerContribution}}
						</div>
						<div class="col-md-3">
							<label>NPS Emp Contribution &nbsp;:</label> {{cCctr.entity.psalary.npsEmpContribution}}
						</div>
						
						

					</div>	
										
					
				</div>
			</div>

			</div>

		</div>
		
		
		
		

		


		</div>

	</div>

</div>






