<div class="page-wrapper" id="body1"
	ng-init="cCctr.entity=cCctr.getEntityData()">
	
		<div id="mySidenav2" class="sidenav" ng-init="">
		<div
			style="text-align: center; margin-top: -50px; margin-bottom: 20px">
			<h1>
				<b>Remarks</b>
			</h1>
		</div>
		<a href="javascript:void(0)" class="closebtn" onclick="closeRemark()">&times;</a>
		<div class="row" style="padding-left: 20px">
			<div class="col-md-12">
				<table class="table table-hover table-sriped table-bordered">
					<thead>
						<th>Sr No.</th>
						<th>Remark</th>
					</thead>
					<tbody>
						<tr ng-repeat="a in cCctr.entity.listRemarks">
							<td>{{$index+1}}</td>
							<td>{{a.remark}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

<div class="container">
<h1>Detail Form27EQ Update Request Detail</h1>
 <button class="btn btn-primary" style="float: right"
			onclick="openRemark()">Previous Remark</button>
			<br>
		<br>
<fieldset>
 <legend>Old Data:</legend>
 <div class="row">
 <div class="col-md-3">
 <label>Deductee Sr No</label> : {{cCctr.entity.oldData.deducteeSrNo}}
 </div>
 <div class="col-md-3">
 <label>Sr No In Challan</label> :{{cCctr.entity.oldData.srNoInChallan}}
 </div>
 <div class="col-md-3">
 <label>Deductee Ref No</label> :{{cCctr.entity.oldData.deducteeRefNo}}
 </div>
 <div class="col-md-3">
 <label>Deductee Code</label> : {{cCctr.entity.oldData.deducteeCode}}
 </div>
 </div>
  <div class="row">
 <div class="col-md-3">
 <label>PAN</label>: {{cCctr.entity.oldData.panoftheParty}}
 </div>
 <div class="col-md-3">
 <label>Name</label> :{{cCctr.entity.oldData.nameoftheParty}}
 </div>
 <div class="col-md-3">
 <label>Section Code</label> :{{cCctr.entity.oldData.sectionCollectionCode}}
 </div>
 <div class="col-md-3">
 <label>Date</label> :{{cCctr.entity.oldData.dateofCollected}}
 </div>
 </div>
  <div class="row">
 <div class="col-md-3">
 <label>Amount Paid</label> :{{cCctr.entity.oldData.amountReceiptDebited}}
 </div>
 <div class="col-md-3">
 <label>TDS</label> :{{cCctr.entity.oldData.tcs}}
 </div>
 <div class="col-md-3">
 <label>Surcharge</label> :{{cCctr.entity.oldData.surcharge}}
 </div>
 <div class="col-md-3">
 <label>Education Cess</label> :{{cCctr.entity.oldData.educationCess}}
 </div>
 </div>
 <div class="row">
 <div class="col-md-3">
 <label>Address Of Deductee</label> :{{cCctr.entity.oldData.addressOfDeductee}}
 </div>
 <div class="col-md-3">
 <label>Contact No Of Deductee</label> :{{cCctr.entity.oldData.contactNoOfDeductee}}
 </div>
 <div class="col-md-3">
 <label>Email Id</label> :{{cCctr.entity.oldData.emailId}}
 </div>
 <div class="col-md-3">
 <label>Country Of Residence</label> :{{cCctr.entity.oldData.countryOfResidence}}
 </div>
 </div>
 <div class="row">
 <div class="col-md-3">
 <label>Total Tax Deducted</label> :{{cCctr.entity.oldData.totalTaxCollected}}
 </div>
 <div class="col-md-3">
 <label>Total Tax Deposited</label> :{{cCctr.entity.oldData.totalTaxDeposited}}
 </div>
 <div class="col-md-3">
 <label>Date of Deduction</label> :{{cCctr.entity.oldData.dateofCollected}}
 </div>
 <div class="col-md-3">
 <label>Rate At Which Tax Deducted</label> :{{cCctr.entity.oldData.rateatwhichTaxCollected}}
 </div>
 </div>
 
 
  <div class="row">
 <div class="col-md-3">
 <label>Reason For Non Deduction</label> :{{cCctr.entity.oldData.reasonforNonCollection}}
 </div>
 <div class="col-md-3">
 <label>Grossing Up Indicator</label> :{{cCctr.entity.oldData.grossingUpIndicator}}
 </div>
 <div class="col-md-3">
 <label>No Of Certificate Under Section</label> :{{cCctr.entity.oldData.certificatenumber}}
 </div>
 <div class="col-md-3">
 <label>Unique Acknowledge No</label> :{{cCctr.entity.oldData.uniqueAcknowledgeNo}}
 </div>
 </div>
 
 <div class="row">
 <div class="col-md-12">
 <label>Remarks</label> :{{cCctr.entity.oldData.remarks}}
 </div>
 </div>
</fieldset>
<br><br><br><Br>
<fieldset>
 <legend>Changed Data:</legend>
 <div class="row">
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.deducteeSrNo!=cCctr.entity.neData.deducteeSrNo}">
 <label>Deductee Sr No</label> : {{cCctr.entity.neData.deducteeSrNo}}
 </div>
 <div class="col-md-3"  ng-class="{'give-border': cCctr.entity.oldData.srNoInChallan!=cCctr.entity.neData.srNoInChallan}">
 <label>Sr No In Challan</label> :{{cCctr.entity.neData.srNoInChallan}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.deducteeRefNo!=cCctr.entity.neData.deducteeRefNo}">
 <label>Deductee Reference No</label> :{{cCctr.entity.neData.deducteeRefNo}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.deducteeCode!=cCctr.entity.neData.deducteeCode}">
 <label>Deductee Code</label> : {{cCctr.entity.neData.deducteeCode}}
 </div>
 </div>
  <div class="row">
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.pan!=cCctr.entity.neData.pan}">
 <label>PAN</label>: {{cCctr.entity.neData.panoftheParty}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.name!=cCctr.entity.neData.name}">
 <label>Name</label> :{{cCctr.entity.neData.nameoftheParty}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.sectionCode!=cCctr.entity.neData.sectionCode}">
 <label>Section Code</label> :{{cCctr.entity.neData.sectionCollectionCode}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.date!=cCctr.entity.neData.date}">
 <label>Date</label> :{{cCctr.entity.neData.date}}
 </div>
 </div>
  <div class="row">
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.amountPaid!=cCctr.entity.neData.amountPaid}">
 <label>Amount Paid</label> :{{cCctr.entity.neData.amountReceiptDebited}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.tds!=cCctr.entity.neData.tds}">
 <label>TDS</label> :{{cCctr.entity.neData.tcs}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.surcharge!=cCctr.entity.neData.surcharge}">
 <label>Surcharge</label> :{{cCctr.entity.neData.surcharge}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.educationCess!=cCctr.entity.neData.educationCess}">
 <label>Education Cess</label> :{{cCctr.entity.neData.educationCess}}
 </div>
 </div>
 <div class="row">
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.addressOfDeductee!=cCctr.entity.neData.addressOfDeductee}">
 <label>Address Of Deductee</label> :{{cCctr.entity.neData.addressOfDeductee}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.contactNoOfDeductee!=cCctr.entity.neData.contactNoOfDeductee}">
 <label>Contact No Of Deductee</label> :{{cCctr.entity.neData.contactNoOfDeductee}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.emailId!=cCctr.entity.neData.emailId}">
 <label>Email Id</label> :{{cCctr.entity.neData.emailId}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.countryOfResidence!=cCctr.entity.neData.countryOfResidence}">
 <label>Country Of Residence</label> :{{cCctr.entity.neData.countryOfResidence}}
 </div>
 </div>
 <div class="row">
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.totalTaxDeducted!=cCctr.entity.neData.totalTaxDeducted}">
 <label>Total Tax Deducted</label> :{{cCctr.entity.neData.totalTaxDeducted}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.totalTaxDeposited!=cCctr.entity.neData.totalTaxDeposited}">
 <label>Total Tax Deposited</label> :{{cCctr.entity.neData.totalTaxDeposited}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.dateOfDeduction!=cCctr.entity.neData.dateOfDeduction}">
 <label>Date of Deduction</label> :{{cCctr.entity.neData.dateofCollected}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.rateAtWhichTaxDeducted!=cCctr.entity.neData.rateAtWhichTaxDeducted}">
 <label>Rate At Which Tax Deducted</label> :{{cCctr.entity.neData.rateatwhichTaxCollected}}
 </div>
 </div>
 
 
  <div class="row">
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.reasonForNonDeduction!=cCctr.entity.neData.reasonForNonDeduction}">
 <label>Reason For Non Deduction</label> :{{cCctr.entity.neData.reasonForNonDeduction}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.grossingUpIndicator!=cCctr.entity.neData.grossingUpIndicator}">
 <label>Grossing Up Indicator</label> :{{cCctr.entity.neData.grossingUpIndicator}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.noOfCertificateUnderSection!=cCctr.entity.neData.noOfCertificateUnderSection}">
 <label>No.Of Certificate Under Section</label> :{{cCctr.entity.neData.noOfCertificateUnderSection}}
 </div>
 <div class="col-md-3" ng-class="{'give-border': cCctr.entity.oldData.uniqueAcknowledgeNo!=cCctr.entity.neData.uniqueAcknowledgeNo}">
 <label>Unique Acknowledge No</label> :{{cCctr.entity.neData.uniqueAcknowledgeNo}}
 </div>
 </div>
 <div class="row">
 <div class="col-md-12">
 <label>Remarks</label> :{{cCctr.entity.neData.remarks}}
 </div>
 </div>
</fieldset><br><br>

<form name="remarkForm">
			<div class="form-group"
				style="width: 50%; display: block; margin-left: auto; margin-right: auto;"
				ng-show="cCctr.entity.neData.status=='Pending for approval'">
				<label>Remark*:</label>
				<textarea class="form-control" rows="2" id="remarks" name="remarks"
					ng-required="true" ng-model="cCctr.entity.neData.remarks"></textarea>
				<span style="color: red"
					ng-show="remarkForm.submitted || remarkForm.remarks.$dirty && remarkForm.remarks.$invalid">
					<span
					class="error" ng-show="remarkForm.remarks.$error.required">Remark is Required.</span>
				</span> <span class="error" id="remarks"></span>
			</div>
		</form>

</div>

<div ng-show="cCctr.entity.neData.status=='Pending for approval'" style="display: flex; align-items: center; justify-content: center;">
<button class="btn btn-success" type="type" ng-click="remarkForm.submitted=true;cCctr.approveUpdate(remarkForm.$valid,'form27QDeducteeUpdateRequestDetail',cCctr.entity.neData)">Approve</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-danger" type="type" ng-click="remarkForm.submitted=true;cCctr.rejectUpdate(remarkForm.$valid,'form27QDeducteeUpdateRequestDetail',cCctr.entity.neData)">Reject</button>


</div>
<button onclick=window.history.back(); class="btn btn-primary">Back</button>
<div>

</div>
</div>
<style>
.give-border{
	border: 1px solid red;
}


.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	float: right;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.button {
	position: relative;
	background-color: #FFA500;
	border: none;
	font-size: 15px;
	color: black;
	width: 130px;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.button:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
}

.button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}
</style>

</style>