
<style>
 
@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: white;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityData(); ">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;">
					<Strong>Details Of Challan</Strong>
				</h3>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="text-left">
						<button class="btn btn-primary" data-toggle="modal"
							onclick="test('#myModal');scrollWin()">Edit</button>
					</div>
				</div>
			</div>



			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">
					<br>



					<h4>Challan Details:</h4>

					<div class="container">

						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>TDS &nbsp;:</label> {{cCctr.entity.tds}}
								</div>
								<div class="col-md-6">
									<label>Surcharge. &nbsp;:</label>
									{{cCctr.entity.surcharge}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Education Cess &nbsp;:</label>
									{{cCctr.entity.eduCess}}
								</div>

								<div class="col-md-6">
									<label>Interest &nbsp;:</label>
									{{cCctr.entity.interest}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Fee &nbsp;:</label> {{cCctr.entity.fee}}
								</div>
								<div class="col-md-6">
									<label>Others &nbsp;:</label> {{cCctr.entity.others}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Total Tax Deposited &nbsp;:</label>
									{{cCctr.entity.totalTaxDeposit}}
								</div>
								<div class="col-md-6">
									<label>TDS Deposit Book Entry&nbsp;:</label>
									{{cCctr.entity.tdsDepositBookEntry}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>BSR Code &nbsp;:</label>
									{{cCctr.entity.bsrCode}}
								</div>
								<div class="col-md-6">
									<label>Challan Serial No &nbsp;:</label>
									{{cCctr.entity.challanSrNo}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Date Tax Of Deposition &nbsp;:</label>
									{{cCctr.entity.dateTaxDeposit | date:'dd-MM-yyyy'}}
								</div>
								<div class="col-md-6">
									<label> Minor Head Of Challan &nbsp;:</label>
									{{cCctr.entity.minorHeadChallan}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Interest Allocated &nbsp;:</label>
									{{cCctr.entity.interestAllocated}}
								</div>
								<div class="col-md-6">
									<label>Other Amount Allocated &nbsp;:</label>
									{{cCctr.entity.otherAmtAllocated}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Nil Challan Indicator &nbsp;:</label>
									{{cCctr.entity.nilChallanIndicator}}
								</div>
								<div class="col-md-6">
									<label> Financial Year &nbsp;:</label>
									{{cCctr.entity.fy}}
								</div>
							</div>

						  <div class="row" style="font-size: 13px;">
				  				<div class="col-md-6">
									<label>Amount Available &nbsp;:</label>
									{{cCctr.entity.amountAvailable}}
								</div>
					<!--  <div class="col-md-6">
							<label>Quarter &nbsp;:</label> {{cCctr.entity.quarter}}
					</div>-->
					<div class="col-md-6">
							<label>Amount Consumed &nbsp;:</label> {{cCctr.entity.amountConsumed}}
					</div>
  				</div>

							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<div ng-if="cCctr.entity.verify == 1">
										<label>Verified &nbsp;:&nbsp;</label><i class="fa fa-check"
											aria-hidden="true" style="color: #5cb85c"></i>
									</div>
									<div ng-if="cCctr.entity.verify == 0">
										<label>Verified &nbsp;:&nbsp;</label><i class="fa fa-times"
											aria-hidden="true" style="color: #ff0000"></i>
									</div>
								</div>
							</div>
							<div>
								<button
									ng-click="challanForm.submitted=true;cCctr.updateData(challanForm.$valid,'challanForm',cCctr.entity,'closeU')"
									class="btn btn-success" data-dismiss="model"
									style="margin-left: 780px" onclick="scrollWin()">Save</button>
								<button class="btn btn-danger"
									ng-click="cCctr.gotoList2Page('challanForm','challanForm');"
									onclick="scrollWin()">Back</button>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content" style="top: 40px;">
				<div class="modal-header">

					<button type="button" class="close" id="closeU"
						data-dismiss="modal">&times;</button>
					<h4 class="modal-title">
						<strong>Edit Challan Details</strong>
					</h4>
				</div>
				<form name="challanForm" class="form-horizontal"
					enctype="multipart/form-data">
					<div class="modal-body">

						<div class="row">
							<div class="col-md-6">

								<label>TDS<span style="color:red;">*</span></label> <input class="form-control" type="text"
									name="tds" placeholder="TDS"
									ng-model="cCctr.entity.tds" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-maxlength="12"
									ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.tds.$dirty && challanForm.tds.$invalid">
									<span class="error" ng-show="challanForm.tds.$error.pattern">Please
										enter valid TDS. </span> <span class="error"
									ng-show="challanForm.tds.$error.maxlength">TDS should
										not be greater than 12 characters.</span> <span class="error"
									ng-show="challanForm.tds.$error.required">TDS is
										Required.</span>
								</span> <span class="error" id="tds"></span>

							</div>

							<div class="col-md-6">

								<label>Surcharge<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="surcharge" placeholder="Surcharge"
									ng-model="cCctr.entity.surcharge" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-maxlength="12"
									ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.surcharge.$dirty && challanForm.surcharge.$invalid">
									<span class="error"
									ng-show="challanForm.surcharge.$error.pattern">Please
										enter valid Surcharge. </span> <span class="error"
									ng-show="challanForm.surcharge.$error.maxlength">Surcharge
										should not be greater than 12 characters.</span> <span class="error"
									ng-show="challanForm.surcharge.$error.required">Surcharge
										is Required.</span>
								</span> <span class="error" id="surcharge"></span>

							</div>


						</div>

						<div class="row">
							<div class="col-md-6">

								<label> Education Cess<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="eduCess" placeholder="Education Cess"
									ng-model="cCctr.entity.eduCess" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-maxlength="12"
									ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.eduCess.$dirty && challanForm.eduCess.$invalid">
									<span class="error"
									ng-show="challanForm.eduCess.$error.pattern">Please
										enter valid EducationCess. </span> <span class="error"
									ng-show="challanForm.eduCess.$error.maxlength">EducationCess
										should not be greater than 12 characters.</span> <span class="error"
									ng-show="challanForm.eduCess.$error.required">EducationCess
										is Required.</span>
								</span> <span class="error" id="bsrCode"></span>

							</div>

							<div class="col-md-6">

								<label>Interest<span style="color:red;">*</span></label> <input class="form-control" type="text"
									name="interest" placeholder="Interest"
									ng-model="cCctr.entity.interest" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-maxlength="12"
									ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.interest.$dirty && challanForm.interest.$invalid">
									<span class="error"
									ng-show="challanForm.interest.$error.pattern">Please
										enter valid Interest. </span> <span class="error"
									ng-show="challanForm.interest.$error.maxlength">Interest
										should not be greater than 12 characters.</span> <span class="error"
									ng-show="challanForm.interest.$error.required">Interest
										is Required.</span>
								</span> <span class="error" id="bsrCode"></span>

							</div>


						</div>
						<div class="row">
							<div class="col-md-6">

								<label>Fee<span style="color:red;">*</span></label> <input class="form-control" type="text"
									name="fee" placeholder="Fee"
									ng-model="cCctr.entity.fee" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-maxlength="12"
									ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.Fee.$dirty && challanForm.Fee.$invalid">
									<span class="error" ng-show="challanForm.Fee.$error.pattern">Please
										enter valid Fee. </span> <span class="error"
									ng-show="challanForm.Fee.$error.maxlength">Fee should
										not be greater than 12 characters.</span> <span class="error"
									ng-show="challanForm.Fee.$error.required">Fee is
										Required.</span>
								</span> <span class="error" id="bsrCode"></span>

							</div>

							<div class="col-md-6">

								<label>Others<span style="color:red;">*</span></label> <input class="form-control" type="text"
									name="others" placeholder="Others"
									ng-model="cCctr.entity.others" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-maxlength="12"
									ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.others.$dirty && challanForm.others.$invalid">
									<span class="error"
									ng-show="challanForm.others.$error.pattern">Please
										enter valid Others. </span> <span class="error"
									ng-show="challanForm.others.$error.maxlength">Others
										should not be greater than 12 characters.</span> <span class="error"
									ng-show="challanForm.others.$error.required">Others is
										Required.</span>
								</span> <span class="error" id="others"></span>

							</div>


						</div>
						<div class="row">
							<div class="col-md-6">

								<label>Total Tax Deposited<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="totalTaxDeposited"
									placeholder="Total Tax Deposited"
									ng-model="cCctr.entity.totalTaxDeposit"
									autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-maxlength="12" ng-required="true"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.totalTaxDeposited.$dirty && challanForm.totalTaxDeposited.$invalid">
									<span class="error"
									ng-show="challanForm.bsrCodetotalTaxDeposited.$error.pattern">Please
										enter valid Total Tax Deposited. </span> <span class="error"
									ng-show="challanForm.totalTaxDeposited.$error.maxlength">Total
										Tax Deposited should not be greater than 12 characters.</span> <span
									class="error"
									ng-show="challanForm.totalTaxDeposited.$error.required">Total
										Tax Deposited is Required.</span>
								</span> <span class="error" id="totalTaxDeposited"></span>

							</div>

							<div class="col-md-6">

								<label>TDS Deposit Book Entry<span style="color:red;">*</span></label> <input
									class="form-control" type="text" name="tdsDepositBookEntry"
									placeholder="TDS Deposit Book Entry"
									ng-model="cCctr.entity.tdsDepositBookEntry"
									autocomplete="off" ng-pattern="/^[a-zA-Z0-9]*$/"
									ng-maxlength="50" ng-required="true"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.tdsDepositBookEntry.$dirty && challanForm.tdsDepositBookEntry.$invalid">
									<span class="error"
									ng-show="challanForm.tdsDepositBookEntry.$error.pattern">Please
										enter valid TDS Deposit BookEntry. </span> <span class="error"
									ng-show="challanForm.tdsDepositBookEntry.$error.maxlength">TDS
										Deposit BookEntry should not be greater than 50 characters.</span> <span
									class="error"
									ng-show="challanForm.tdsDepositBookEntry.$error.required">TDS
										Deposit BookEntry is Required.</span>
								</span> <span class="error" id="tdsDepositBookEntry"></span>

							</div>
						</div>
						<div class="row">
							<div class="col-md-6">

								<label> BSR Code<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="bsrCode" placeholder="BSR Code"
									ng-model="cCctr.entity.bsrCode" autocomplete="off"
									ng-pattern="/^[a-zA-Z0-9]*$/" ng-maxlength="45"
									ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.bsrCode.$dirty && challanForm.bsrCode.$invalid">
									<span class="error"
									ng-show="challanForm.bsrCode.$error.pattern">Please
										enter valid BsrCode. </span> <span class="error"
									ng-show="challanForm.bsrCode.$error.maxlength">BsrCode
										should not be greater than 45 characters.</span> <span class="error"
									ng-show="challanForm.bsrCode.$error.required">BsrCode
										is Required.</span>
								</span> <span class="error" id="bsrCode"></span>

							</div>

							<div class="col-md-6">

								<label>Challan Serial No<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="challanSrNo" placeholder="Challan Serial No"
									ng-model="cCctr.entity.challanSrNo"
									autocomplete="off" ng-pattern="/^[0-9]*$/" ng-maxlength="25"
									ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.challanSrNo.$dirty && challanForm.challanSrNo.$invalid">
									<span class="error"
									ng-show="challanForm.challanSrNo.$error.pattern">Please
										enter valid Challan Serial No. </span> <span class="error"
									ng-show="challanForm.challanSrNo.$error.maxlength">Challan
										Serial No should not be greater than 25 characters.</span> <span
									class="error"
									ng-show="challanForm.challanSrNo.$error.required">Challan
										Serial No is Required.</span>
								</span> <span class="error" id="challanSrNo"></span>

							</div>


						</div>
						<div class="row">
							<div class="col-md-6">

								<label> Date Of Deposition<span style="color:red;">*</span></label> <input type="date"
									class="form-control" style="padding-top: 0px;"
									name="dateTaxDeposit"
									value={{cCctr.entity.dateTaxDeposit}}
									ng-model="cCctr.entity.dateTaxDeposit"
									autocomplete="off" ng-model-options="{updateOn: 'blur'}" />

							</div>

							<div class="col-md-6">

								<label>Minor Head Of Challan<span style="color:red;">*</span></label> <input
									class="form-control" type="text" name="minorHeadChallan"
									placeholder="Minor Head Of Challan"
									ng-model="cCctr.entity.minorHeadChallan"
									autocomplete="off" ng-pattern="/^[a-zA-Z0-9]*$/"
									ng-maxlength="45" ng-required="true"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.minorHeadChallan.$dirty && challanForm.minorHeadChallan.$invalid">
									<span class="error"
									ng-show="challanForm.minorHeadChallan.$error.pattern">Please
										enter valid Minor Head Of challan. </span> <span class="error"
									ng-show="challanForm.minorHeadChallan.$error.maxlength">Minor
										Head Of challan should not be greater than 45 characters.</span> <span
									class="error"
									ng-show="challanForm.minorHeadChallan.$error.required">Minor
										Head Of challan is Required.</span>
								</span> <span class="error" id="minorHeadChallan"></span>

							</div>


						</div>
						<div class="row">
							<div class="col-md-6">

								<label> Interest Allocated<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="interestAllocated"
									placeholder="Interest Allocated"
									ng-model="cCctr.entity.interestAllocated"
									autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-maxlength="12" ng-required="true"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.interestAllocated.$dirty && challanForm.interestAllocated.$invalid">
									<span class="error"
									ng-show="challanForm.interestAllocated.$error.pattern">Please
										enter valid Interest Allocated. </span> <span class="error"
									ng-show="challanForm.interestAllocated.$error.maxlength">
										Interest Allocated should not be greater than 12 characters.</span> <span
									class="error"
									ng-show="challanForm.interestAllocated.$error.required">
										Interest Allocated is Required.</span>
								</span> <span class="error" id="interestAllocated"></span>

							</div>

							<div class="col-md-6">

								<label>Other Amount Allocated<span style="color:red;">*</span></label> <input
									class="form-control" type="text" name="otherAmtAllocated"
									placeholder="Other Amount Allocated"
									ng-model="cCctr.entity.otherAmtAllocated"
									autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-maxlength="12" ng-required="true"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.otherAmtAllocated.$dirty && challanForm.otherAmtAllocated.$invalid">
									<span class="error"
									ng-show="challanForm.otherAmtAllocated.$error.pattern">Please
										enter valid Other Amt Allocated. </span> <span class="error"
									ng-show="challanForm.otherAmtAllocated.$error.maxlength">Other
										Amt Allocated should not be greater than 12 characters.</span> <span
									class="error"
									ng-show="challanForm.otherAmtAllocated.$error.required">Other
										Amt Allocated is Required.</span>
								</span> <span class="error" id="otherAmtAllocated"></span>

							</div>


						</div>
						<div class="row">
							<div class="col-md-6">

								<label> Nil Challan Indicator<span style="color:red;">*</span></label> <input
									class="form-control" type="text" name="nilChallanIndicator"
									placeholder="Nil Challan Indicator"
									ng-model="cCctr.entity.nilChallanIndicator"
									autocomplete="off" ng-pattern="/^[a-zA-Z]*$/" ng-maxlength="45"
									ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.nilChallanIndicator.$dirty && challanForm.nilChallanIndicator.$invalid">
									<span class="error"
									ng-show="challanForm.nilChallanIndicator.$error.pattern">Please
										enter valid Nil Challan Indicator. </span> <span class="error"
									ng-show="challanForm.nilChallanIndicator.$error.maxlength">Nil
										Challan Indicator should not be greater than 45 characters.</span> <span
									class="error"
									ng-show="challanForm.nilChallanIndicator.$error.required">Nil
										Challan Indicator is Required.</span>
								</span> <span class="error" id="nilChallanIndicator"></span>

							</div>
							<div class="col-md-6">

								<label> Financial Year<span style="color:red;">*</span></label> <select name="fy"
									class="form-control" ng-model="cCctr.entity.fy"
									ng-required="true" ng-model-options="{updateOn: 'blur'}">
									<option value="201920">201920</option>
									<option value="201819">201819</option>
									<option value="201718">201718</option>
									<option value="201617">201617</option>
									<option value="201516">201516</option>
									<option value="201415">201415</option>
									<option value="201314">201314</option>
									<option value="201213">201213</option>
									<option value="201112">201112</option>
									<option value="201011">201011</option>
									<option value="200910">200910</option>
									<option value="200809">200809</option>
									<option value="200708">200708</option>
								</select> <span style="color: red"
									ng-show="challanForm.submitted ||challanForm.fy.$dirty && challanForm.fy.$invalid">
									<span class="error" ng-show="challanForm.fy.$error.required">Financial
										Year is Required.</span>
								</span> <span class="error" id="fy"></span>

							</div>

						</div>

						<div class="row">
						<div class="col-md-6">

								<label>Amount Consumed<span style="color:red;">*</span></label> <input class="form-control"
									ng-pattern="/^[0-9]/" type="text" name="amountConsumed"
									placeholder="Amount Consumed"
									ng-model="cCctr.entity.amountConsumed"
									autocomplete="off" ng-maxlength="12"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.amountConsumed.$dirty && challanForm.amountConsumed.$invalid">
									<span class="error"
									ng-show="challanForm.amountConsumed.$error.pattern">Please
										enter valid Amount Consumed. </span> <span class="error"
									ng-show="challanForm.amountConsumed.$error.maxlength">Amount
										Consumed should not be greater than 12 characters.</span> <span
									class="error"
									ng-show="challanForm.amountConsumed.$error.required">Amount
										Consumed is Required.</span>
								</span> <span class="error" id="amountConsumed"></span>

							</div>

							<!--  <div class="col-md-6">
								
									<label>Quarter<span style="color:red;">*</span></label> 
									<select name="quarter" class="form-control" ng-model="cCctr.entity.quarter" ng-required="true" ng-model-options="{updateOn: 'blur'}">
										<option value="Q1">Q1</option>
										<option value="Q2">Q2</option>
										<option value="Q3">Q3</option>
										<option value="Q4">Q4</option>
									</select>
										<span style="color: red" ng-show="challanForm.submitted ||challanForm.quarter.$dirty && challanForm.quarter.$invalid">
									<span class="error" ng-show="challanForm.quarter.$error.required">Quarter is Required.</span>
								    </span>
												<span class="error" id="quarter"></span>
								
							</div>-->
							
							
							
							<div class="col-md-6">

								<label>Amount Available<span style="color:red;">*</span></label> <input class="form-control"
									ng-pattern="/^[0-9]/" type="text" name="amountAvailable"
									placeholder="Amount Available"
									ng-model="cCctr.entity.amountAvailable"
									autocomplete="off" ng-maxlength="12"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="challanForm.submitted ||challanForm.amountAvailable.$dirty && challanForm.amountAvailable.$invalid">
									<span class="error"
									ng-show="challanForm.amountAvailable.$error.pattern">Please
										enter valid Amount Available. </span> <span class="error"
									ng-show="challanForm.amountAvailable.$error.maxlength">Amount
										Available should not be greater than 12 characters.</span> <span
									class="error"
									ng-show="challanForm.amountAvailable.$error.required">Amount
										Available is Required.</span>
								</span> <span class="error" id="amountAvailable"></span>

							</div>

						</div>

						<div class="row">
							

						</div>

					</div>
				</form>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal">Ok</button>
					<button class="btn btn-danger" data-dismiss="modal">Back</button>

				</div>


			</div>

		</div>
	</div>

</div>
<script>
	$(document).ready(function() {
		$(this).scrollTop(0);
	});
</script>

