
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityData();">

	<div id="mySidenav2" class="sidenav" ng-init="">
		<div
			style="text-align: center; margin-top: -50px; margin-bottom: 20px">
			<h1>
				<b>Remarks</b>
			</h1>
		</div>
		<a href="javascript:void(0)" class="closebtn" onclick="closeRemark()">&times;</a>
		<div class="row" style="padding-left: 20px">
			<div class="col-md-12">
				<table class="table table-hover table-sriped table-bordered">
					<thead>
						<th>Sr No.</th>
						<th>Remark</th>
					</thead>
					<tbody>
						<tr ng-repeat="a in cCctr.entity.listRemarks">
							<td>{{$index+1}}</td>
							<td>{{a.remark}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;">Details of 24Q
					Salary Update Request</h3>
			</div>
			<button class="btn btn-primary" style="float: right"
				onclick="openRemark()">Previous Remark</button>
			<br> <br>


			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">




					<h4>Employee Details:</h4>
					<div class="container">

						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div ng-show="cCctr.entity.newData.docId!=null">
								<h3>Old Data</h3>
								<div class="row" style="font-size: 13px;">
									<br>
									<div class="col-md-3">
										<label>PAN &nbsp;:</label> {{cCctr.entity.oldData.pan}} <br>
										<span class="error" id="pan"></span>
									</div>
									<div class="col-md-3">
										<label>PAN Reference No. &nbsp;:</label>
										{{cCctr.entity.oldData.panRefNo}}
									</div>
									<div class="col-md-3">
										<label>Name &nbsp;:</label> {{cCctr.entity.oldData.name}}
									</div>
									<div class="col-md-3">
										<label>Category &nbsp;:</label>
										{{cCctr.entity.oldData.category}}
									</div>
								</div>

								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>From Date of Employment &nbsp;:</label>
										{{cCctr.entity.oldData.fromDateOfEmployment |
										date:'dd-MM-yyyy'}}
									</div>
									<div class="col-md-3">
										<label>To Date of Employment &nbsp;:</label>
										{{cCctr.entity.oldData.toDateOfEmployment |
										date:'dd-MM-yyyy'}}
									</div>
									<div class="col-md-3">
										<label>Gross Salary As Per Provision &nbsp;:</label>
										{{cCctr.entity.oldData.grossSalaryAsPerProvision}}
									</div>
									<div class="col-md-3">
										<label>Value Of Perquisites &nbsp;:</label>
										{{cCctr.entity.oldData.valueOfPerquisites}}
									</div>
								</div>

								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Profit In Salary &nbsp;:</label>
										{{cCctr.entity.oldData.profitInSalary}}
									</div>
									<div class="col-md-3">
										<label>Taxable Salary From Current Emp &nbsp;:</label>
										{{cCctr.entity.oldData.taxableSalaryFromCurrentEmp}}
									</div>
									<div class="col-md-3">
										<label>Reported Salary From Other Emp &nbsp;:</label>
										{{cCctr.entity.oldData.reportedSalaryFromOtherEmp}}
									</div>
									<div class="col-md-3">
										<label>Total Amount Of Salary &nbsp;:</label>
										{{cCctr.entity.oldData.totalAmountOfSalary}}
									</div>
								</div>
							</div>
							<br>
							<div>
								<h3 ng-show="cCctr.entity.newData.docId!=null">Changed Data</h3>
								<h3 ng-show="cCctr.entity.newData.docId==null">New Data</h3>
								<div class="row" style="font-size: 13px;">
									<br>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.pan!=cCctr.entity.newData.pan}">
										<label>PAN &nbsp;:</label> {{cCctr.entity.newData.pan}} <br>
										<span class="error" id="pan"></span>
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.panRefNo!=cCctr.entity.newData.panRefNo}">
										<label>PAN Reference No. &nbsp;:</label>
										{{cCctr.entity.newData.panRefNo}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.name!=cCctr.entity.newData.name}">
										<label>Name &nbsp;:</label> {{cCctr.entity.newData.name}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.category!=cCctr.entity.newData.category}">
										<label>Category &nbsp;:</label>
										{{cCctr.entity.newData.category}}
									</div>
								</div>

								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.fromDateOfEmployment!=cCctr.entity.newData.fromDateOfEmployment}">
										<label>From Date of Employment &nbsp;:</label>
										{{cCctr.entity.newData.fromDateOfEmployment |
										date:'dd-MM-yyyy'}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.toDateOfEmployment!=cCctr.entity.newData.toDateOfEmployment}">
										<label>To Date of Employment &nbsp;:</label>
										{{cCctr.entity.newData.toDateOfEmployment |
										date:'dd-MM-yyyy'}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.grossSalaryAsPerProvision!=cCctr.entity.newData.grossSalaryAsPerProvision}">
										<label>Gross Salary As Per Provision &nbsp;:</label>
										{{cCctr.entity.newData.grossSalaryAsPerProvision}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.valueOfPerquisites!=cCctr.entity.newData.valueOfPerquisites}">
										<label>Value Of Perquisites &nbsp;:</label>
										{{cCctr.entity.newData.valueOfPerquisites}}
									</div>
								</div>

								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.profitInSalary!=cCctr.entity.newData.profitInSalary}">
										<label>Profit In Salary &nbsp;:</label>
										{{cCctr.entity.newData.profitInSalary}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.taxableSalaryFromCurrentEmp!=cCctr.entity.newData.taxableSalaryFromCurrentEmp}">
										<label>Taxable Salary From Current Emp &nbsp;:</label>
										{{cCctr.entity.newData.taxableSalaryFromCurrentEmp}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.reportedSalaryFromOtherEmp!=cCctr.entity.newData.reportedSalaryFromOtherEmp}">
										<label>Reported Salary From Other Emp &nbsp;:</label>
										{{cCctr.entity.newData.reportedSalaryFromOtherEmp}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.totalAmountOfSalary!=cCctr.entity.newData.totalAmountOfSalary}">
										<label>Total Amount Of Salary &nbsp;:</label>
										{{cCctr.entity.newData.totalAmountOfSalary}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>




					<h4>Allowance Details:</h4>


					<div class="container">

						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div ng-show="cCctr.entity.newData.docId!=null">
								<h3>Old Data</h3>
								<div class="row" style="font-size: 13px;">
									<br>
									<div class="col-md-3">
										<label>Leave Travel Allowance &nbsp;:</label>
										{{cCctr.entity.newData.leaveTravelAllowance}}
									</div>
									<div class="col-md-3">
										<label>Gratuity &nbsp;:</label>
										{{cCctr.entity.newData.gratuity}}
									</div>
									<div class="col-md-3">
										<label>Commuted Value Of Pension &nbsp;:</label>
										{{cCctr.entity.newData.commutedValueOfPension}}
									</div>
									<div class="col-md-3">
										<label>Leave Encashment Salary &nbsp;:</label>
										{{cCctr.entity.newData.leaveEncashmentSalary}}
									</div>
								</div>

								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>HouseRent Allowance &nbsp;:</label>
										{{cCctr.entity.newData.houseRentAllowance}}
									</div>
									<div class="col-md-3">
										<label>Any Other Exemptionus10 &nbsp;:</label>
										{{cCctr.entity.newData.anyOtherExemptionus10}}
									</div>
									<div class="col-md-3">
										<label>Total Amount Of Exemption &nbsp;:</label>
										{{cCctr.entity.newData.totalAmountOfExemption}}
									</div>

								</div>
							</div>
							<br>
							<div>
								<h3 ng-show="cCctr.entity.newData.docId!=null">Changed Data</h3>
								<h3 ng-show="cCctr.entity.newData.docId==null">New Data</h3>
								<div class="row" style="font-size: 13px;">
									<br>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.leaveTravelAllowance!=cCctr.entity.newData.leaveTravelAllowance}">
										<label>Leave Travel Allowance &nbsp;:</label>
										{{cCctr.entity.newData.leaveTravelAllowance}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.gratuity!=cCctr.entity.newData.gratuity}">
										<label>Gratuity &nbsp;:</label>
										{{cCctr.entity.newData.gratuity}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.commutedValueOfPension!=cCctr.entity.newData.commutedValueOfPension}">
										<label>Commuted Value Of Pension &nbsp;:</label>
										{{cCctr.entity.newData.commutedValueOfPension}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.leaveEncashmentSalary!=cCctr.entity.newData.leaveEncashmentSalary}">
										<label>Leave Encashment Salary &nbsp;:</label>
										{{cCctr.entity.newData.leaveEncashmentSalary}}
									</div>
								</div>

								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.houseRentAllowance!=cCctr.entity.newData.houseRentAllowance}">
										<label>HouseRent Allowance &nbsp;:</label>
										{{cCctr.entity.newData.houseRentAllowance}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.anyOtherExemptionus10!=cCctr.entity.newData.anyOtherExemptionus10}">
										<label>Any Other Exemptionus10 &nbsp;:</label>
										{{cCctr.entity.newData.anyOtherExemptionus10}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.totalAmountOfExemption!=cCctr.entity.newData.totalAmountOfExemption}">
										<label>Total Amount Of Exemption &nbsp;:</label>
										{{cCctr.entity.newData.totalAmountOfExemption}}
									</div>

								</div>
							</div>
						</div>
					</div>
					<hr>



					<h4>Other Details:</h4>

					<div class="container">

						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div ng-show="cCctr.entity.newData.docId!=null">
								<h3>Old Data</h3>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Entertainment Allowance &nbsp;:</label>
										{{cCctr.entity.newData.entertainmentAllowance}}
									</div>
									<div class="col-md-3">
										<label>PTax &nbsp;:</label> {{cCctr.entity.newData.pTax}}
									</div>
									<div class="col-md-3">
										<label>Standard Deduction &nbsp;:</label>
										{{cCctr.entity.newData.standardDeduction}}
									</div>
									<div class="col-md-3">
										<label>Total Deduction Under Section16 &nbsp;:</label>
										{{cCctr.entity.newData.totalDeductionUnderSection16}}
									</div>
								</div>
							</div>
							<br>
							<div>
								<h3 ng-show="cCctr.entity.newData.docId!=null">Changed Data</h3>
								<h3 ng-show="cCctr.entity.newData.docId==null">New Data</h3>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.entertainmentAllowance!=cCctr.entity.newData.entertainmentAllowance}">
										<label>Entertainment Allowance &nbsp;:</label>
										{{cCctr.entity.newData.entertainmentAllowance}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.pTax!=cCctr.entity.newData.pTax}">
										<label>PTax &nbsp;:</label> {{cCctr.entity.newData.pTax}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.standardDeduction!=cCctr.entity.newData.standardDeduction}">
										<label>Standard Deduction &nbsp;:</label>
										{{cCctr.entity.newData.standardDeduction}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.totalDeductionUnderSection16!=cCctr.entity.newData.totalDeductionUnderSection16}">
										<label>Total Deduction Under Section16 &nbsp;:</label>
										{{cCctr.entity.newData.totalDeductionUnderSection16}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>



					<h4>Income Details:</h4>

					<div class="container">

						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div ng-show="cCctr.entity.newData.docId!=null">
								<h3>Old Data</h3>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Income From Salary &nbsp;:</label>
										{{cCctr.entity.newData.incomeFromSalary}}
									</div>
									<div class="col-md-3">
										<label>Income From House Property &nbsp;:</label>
										{{cCctr.entity.newData.incomeFromHouseProperty}}
									</div>
									<div class="col-md-3">
										<label>Income From Other Sources &nbsp;:</label>
										{{cCctr.entity.newData.incomeFromOtherSources}}
									</div>
									<div class="col-md-3">
										<label>Gross Total Income &nbsp;:</label>
										{{cCctr.entity.newData.grossTotalIncome}}
									</div>
								</div>
							</div>
							<br>
							<div>
								<h3 ng-show="cCctr.entity.newData.docId!=null">Changed Data</h3>
								<h3 ng-show="cCctr.entity.newData.docId==null">New Data</h3>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.incomeFromSalary!=cCctr.entity.newData.incomeFromSalary}">
										<label>Income From Salary &nbsp;:</label>
										{{cCctr.entity.newData.incomeFromSalary}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.incomeFromHouseProperty!=cCctr.entity.newData.incomeFromHouseProperty}">
										<label>Income From House Property &nbsp;:</label>
										{{cCctr.entity.newData.incomeFromHouseProperty}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.incomeFromOtherSources!=cCctr.entity.newData.incomeFromOtherSources}">
										<label>Income From Other Sources &nbsp;:</label>
										{{cCctr.entity.newData.incomeFromOtherSources}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.grossTotalIncome!=cCctr.entity.newData.grossTotalIncome}">
										<label>Gross Total Income &nbsp;:</label>
										{{cCctr.entity.newData.grossTotalIncome}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>



					<h4>Deduction Details:</h4>

					<div class="container">

						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div ng-show="cCctr.entity.newData.docId!=null">
								<h3>Old Data</h3>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Deduction Us80C &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80C}}
									</div>
									<div class="col-md-3">
										<label>Deduction Us80CCC &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80CCC}}
									</div>
									<div class="col-md-3">
										<label>Deduction Us80CCD1 &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80CCD1}}
									</div>
									<div class="col-md-3">
										<label>Deduction Us80C80CCC80CCD1 &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80C80CCC80CCD1}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Deduction Us80CCD1B &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80CCD1B}}
									</div>
									<div class="col-md-3">
										<label>Deduction Us80CCD2 &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80CCD2}}
									</div>
									<div class="col-md-3">
										<label>Deduction Us80D &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80D}}
									</div>
									<div class="col-md-3">
										<label>Deduction Us80E &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80E}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Deduction Us80G &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80G}}
									</div>
									<div class="col-md-3">
										<label>Deduction Us80TTA &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80TTA}}
									</div>
									<div class="col-md-3">
										<label>Amount Deductible80ccg &nbsp;:</label>
										{{cCctr.entity.newData.amountDeductible80ccg}}
									</div>
									<div class="col-md-3">
										<label>Any Other Deduction &nbsp;:</label>
										{{cCctr.entity.newData.anyOtherDeduction}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Total Deduction UnderChapterVIA &nbsp;:</label>
										{{cCctr.entity.newData.totalDeductionUnderChapterVIA}}
									</div>
								</div>
							</div>
							<br>
							<div>
								<h3 ng-show="cCctr.entity.newData.docId!=null">Changed Data</h3>
								<h3 ng-show="cCctr.entity.newData.docId==null">New Data</h3>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80C!=cCctr.entity.newData.deductionUs80C}">
										<label>Deduction Us80C &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80C}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80CCC!=cCctr.entity.newData.deductionUs80CCC}">
										<label>Deduction Us80CCC &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80CCC}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80CCD1!=cCctr.entity.newData.deductionUs80CCD1}">
										<label>Deduction Us80CCD1 &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80CCD1}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80C80CCC80CCD1!=cCctr.entity.newData.deductionUs80C80CCC80CCD1}">
										<label>Deduction Us80C80CCC80CCD1 &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80C80CCC80CCD1}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80CCD1B!=cCctr.entity.newData.deductionUs80CCD1B}">
										<label>Deduction Us80CCD1B &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80CCD1B}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80CCD2!=cCctr.entity.newData.deductionUs80CCD2}">
										<label>Deduction Us80CCD2 &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80CCD2}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80D!=cCctr.entity.newData.deductionUs80D}">
										<label>Deduction Us80D &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80D}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80E!=cCctr.entity.newData.deductionUs80E}">
										<label>Deduction Us80E &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80E}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80G!=cCctr.entity.newData.deductionUs80G}">
										<label>Deduction Us80G &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80G}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductionUs80TTA!=cCctr.entity.newData.deductionUs80TTA}">
										<label>Deduction Us80TTA &nbsp;:</label>
										{{cCctr.entity.newData.deductionUs80TTA}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.amountDeductible80ccg!=cCctr.entity.newData.amountDeductible80ccg}">
										<label>Amount Deductible80ccg &nbsp;:</label>
										{{cCctr.entity.newData.amountDeductible80ccg}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.anyOtherDeduction!=cCctr.entity.newData.anyOtherDeduction}">
										<label>Any Other Deduction &nbsp;:</label>
										{{cCctr.entity.newData.anyOtherDeduction}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.totalDeductionUnderChapterVIA!=cCctr.entity.newData.totalDeductionUnderChapterVIA}">
										<label>Total Deduction UnderChapterVIA &nbsp;:</label>
										{{cCctr.entity.newData.totalDeductionUnderChapterVIA}}
									</div>
								</div>
							</div>

						</div>
					</div>
					<hr>


					<h4>Tax Details:</h4>

					<div class="container">
						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div ng-show="cCctr.entity.newData.docId!=null">
								<h3>Old Data</h3>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Total Taxable Income &nbsp;:</label>
										{{cCctr.entity.newData.totalTaxableIncome}}
									</div>
									<div class="col-md-3">
										<label>Income Tax On Total Income &nbsp;:</label>
										{{cCctr.entity.newData.incomeTaxOnTotalIncome}}
									</div>
									<div class="col-md-3">
										<label>Rebate Us87A &nbsp;:</label>
										{{cCctr.entity.newData.rebateUs87A}}
									</div>
									<div class="col-md-3">
										<label>Surcharge &nbsp;:</label>
										{{cCctr.entity.newData.surcharge}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Education Cess &nbsp;:</label>
										{{cCctr.entity.newData.educationCess}}
									</div>
									<div class="col-md-3">
										<label>Income Tax ReliefUs89 &nbsp;:</label>
										{{cCctr.entity.newData.incomeTaxReliefUs89}}
									</div>
									<div class="col-md-3">
										<label>Net Income Tax Payable &nbsp;:</label>
										{{cCctr.entity.newData.netIncomeTaxPayable}}
									</div>
									<div class="col-md-3">
										<label>Tds From Current Employer &nbsp;:</label>
										{{cCctr.entity.newData.tdsFromCurrentEmployer}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3">
										<label>Reported Tds From Previous Employer &nbsp;:</label>
										{{cCctr.entity.newData.reportedTdsFromPreviousEmployer}}
									</div>
									<div class="col-md-3">
										<label>Total Tds &nbsp;:</label>
										{{cCctr.entity.newData.totalTds}}
									</div>
									<div class="col-md-3">
										<label>Short fall In Tax Deduction &nbsp;:</label>
										{{cCctr.entity.newData.shortfallInTaxDeduction}}
									</div>
								</div>
							</div>
							<br>
							<div>
								<h3 ng-show="cCctr.entity.newData.docId!=null">Changed Data</h3>
								<h3 ng-show="cCctr.entity.newData.docId==null">New Data</h3>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.totalTaxableIncome!=cCctr.entity.newData.totalTaxableIncome}">
										<label>Total Taxable Income &nbsp;:</label>
										{{cCctr.entity.newData.totalTaxableIncome}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.incomeTaxOnTotalIncome!=cCctr.entity.newData.incomeTaxOnTotalIncome}">
										<label>Income Tax On Total Income &nbsp;:</label>
										{{cCctr.entity.newData.incomeTaxOnTotalIncome}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.rebateUs87A!=cCctr.entity.newData.rebateUs87A}">
										<label>Rebate Us87A &nbsp;:</label>
										{{cCctr.entity.newData.rebateUs87A}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.surcharge!=cCctr.entity.newData.surcharge}">
										<label>Surcharge &nbsp;:</label>
										{{cCctr.entity.newData.surcharge}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.educationCess!=cCctr.entity.newData.educationCess}">
										<label>Education Cess &nbsp;:</label>
										{{cCctr.entity.newData.educationCess}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.incomeTaxReliefUs89!=cCctr.entity.newData.incomeTaxReliefUs89}">
										<label>Income Tax ReliefUs89 &nbsp;:</label>
										{{cCctr.entity.newData.incomeTaxReliefUs89}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.netIncomeTaxPayable!=cCctr.entity.newData.netIncomeTaxPayable}">
										<label>Net Income Tax Payable &nbsp;:</label>
										{{cCctr.entity.newData.netIncomeTaxPayable}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.tdsFromCurrentEmployer!=cCctr.entity.newData.tdsFromCurrentEmployer}">
										<label>Tds From Current Employer &nbsp;:</label>
										{{cCctr.entity.newData.tdsFromCurrentEmployer}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.reportedTdsFromPreviousEmployer!=cCctr.entity.newData.reportedTdsFromPreviousEmployer}">
										<label>Reported Tds From Previous Employer &nbsp;:</label>
										{{cCctr.entity.newData.reportedTdsFromPreviousEmployer}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.totalTds!=cCctr.entity.newData.totalTds}">
										<label>Total Tds &nbsp;:</label>
										{{cCctr.entity.newData.totalTds}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.shortfallInTaxDeduction!=cCctr.entity.newData.shortfallInTaxDeduction}">
										<label>Short fall In Tax Deduction &nbsp;:</label>
										{{cCctr.entity.newData.shortfallInTaxDeduction}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>



					<h4>Landlord and Lender Details:</h4>

					<div class="container">
						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div ng-show="cCctr.entity.newData.docId!=null">
								<h3>Old Data</h3>
								<div class="row" style="font-size: 13px;">
									<br>
									<div class="col-md-6">
										<label>Whether Tax Deducted At Higher Rate &nbsp;:</label>
										{{cCctr.entity.newData.whetherTaxDeductedAtHigherRate}}
									</div>
									<div class="col-md-6">
										<label>Count Of Pan Of Lender &nbsp;:</label>
										{{cCctr.entity.newData.countOfPanOfLandlord}}
									</div>
									<div class="col-md-6">
										<label>Pan Of Landlord1 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLandlord1}}
									</div>
									<div class="col-md-6">
										<label>Name Of Landlord1 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLandlord1}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-6">
										<label>Pan Of Landlord2 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLandlord2}}
									</div>
									<div class="col-md-6">
										<label>Name Of Landlord2 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLandlord2}}
									</div>
									<div class="col-md-6">
										<label>Pan Of Landlord3 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLandlord3}}
									</div>
									<div class="col-md-6">
										<label>Name Of Landlord3 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLandlord3}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-6">
										<label>Pan Of Landlord4 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLandlord4}}
									</div>
									<div class="col-md-6">
										<label>Name Of Landlord4 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLandlord4}}
									</div>
									<div class="col-md-6">
										<label>Whether Interest Paid To Be Lender &nbsp;:</label>
										{{cCctr.entity.newData.whetherInterestPaidToBeLender}}
									</div>
									<div class="col-md-6">
										<label>Count Of Pan Of Lender &nbsp;:</label>
										{{cCctr.entity.newData.countOfPanOfLender}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-6">
										<label>Pan Of Lender1 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLender1}}
									</div>
									<div class="col-md-6">
										<label>Name Of Lender1 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLender1}}
									</div>
									<div class="col-md-6">
										<label>Pan Of Lender2 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLender2}}
									</div>
									<div class="col-md-6">
										<label>Name Of Lender2 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLender2}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-6">
										<label>Pan Of Lender3 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLender3}}
									</div>
									<div class="col-md-6">
										<label>Name Of Lender3 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLender3}}
									</div>
									<div class="col-md-6">
										<label>Pan Of Lender4 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLender4}}
									</div>
									<div class="col-md-6">
										<label>Name Of Lender4 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLender4}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-6">
										<label>Contribution Paid By Trustees &nbsp;:</label>
										{{cCctr.entity.newData.contributionPaidByTrustees}}
									</div>
									<div class="col-md-6">
										<label>Name of the super Annuation Fund &nbsp;:</label>
										{{cCctr.entity.newData.nameOfTheSuperAnnuationFund}}
									</div>
									<div class="col-md-6">
										<label>Super annuation Fund From Date &nbsp;:</label>
										{{cCctr.entity.newData.SuperannuationFundFromDate |
										date:'dd-MM-yyyy'}}
									</div>
									<div class="col-md-6">
										<label>Super annuation Fund To Date &nbsp;:</label>
										{{cCctr.entity.newData.SuperannuationFundToDate |
										date:'dd-MM-yyyy'}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-6">
										<label>Contribution Super annuation Fund &nbsp;:</label>
										{{cCctr.entity.newData.contributionSuperannuationFund}}
									</div>
									<div class="col-md-6">
										<label>Average Rate Of Deduction &nbsp;:</label>
										{{cCctr.entity.newData.averageRateOfDeduction}}
									</div>
									<div class="col-md-6">
										<label>Tax Deducted Of Super annuationFund &nbsp;:</label>
										{{cCctr.entity.newData.taxDeductedOfSuperannuationFund}}
									</div>
									<div class="col-md-6">
										<label>Gross Total Income including Contribution
											&nbsp;:</label>
										{{cCctr.entity.newData.grossTotalIncomeincludingContribution}}
									</div>
								</div>
							</div>
							<br>
							<div>
								<h3 ng-show="cCctr.entity.newData.docId!=null">Changed Data</h3>
								<h3 ng-show="cCctr.entity.newData.docId==null">New Data</h3>
								<div class="row" style="font-size: 13px;">
									<br>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.whetherTaxDeductedAtHigherRate!=cCctr.entity.newData.whetherTaxDeductedAtHigherRate}">
										<label>Whether Tax Deducted At Higher Rate &nbsp;:</label>
										{{cCctr.entity.newData.whetherTaxDeductedAtHigherRate}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.countOfPanOfLandlord!=cCctr.entity.newData.countOfPanOfLandlord}">
										<label>Count Of Pan Of Lender &nbsp;:</label>
										{{cCctr.entity.newData.countOfPanOfLandlord}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.panOfLandlord1!=cCctr.entity.newData.panOfLandlord1}">
										<label>Pan Of Landlord1 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLandlord1}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.nameOfLandlord1!=cCctr.entity.newData.nameOfLandlord1}">
										<label>Name Of Landlord1 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLandlord1}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.panOfLandlord2!=cCctr.entity.newData.panOfLandlord2}">
										<label>Pan Of Landlord2 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLandlord2}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.nameOfLandlord2!=cCctr.entity.newData.nameOfLandlord2}">
										<label>Name Of Landlord2 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLandlord2}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.panOfLandlord3!=cCctr.entity.newData.panOfLandlord3}">
										<label>Pan Of Landlord3 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLandlord3}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.nameOfLandlord3!=cCctr.entity.newData.nameOfLandlord3}">
										<label>Name Of Landlord3 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLandlord3}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.panOfLandlord4!=cCctr.entity.newData.panOfLandlord4}">
										<label>Pan Of Landlord4 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLandlord4}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.nameOfLandlord4!=cCctr.entity.newData.nameOfLandlord4}">
										<label>Name Of Landlord4 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLandlord4}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.whetherInterestPaidToBeLender!=cCctr.entity.newData.whetherInterestPaidToBeLender}">
										<label>Whether Interest Paid To Be Lender &nbsp;:</label>
										{{cCctr.entity.newData.whetherInterestPaidToBeLender}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.countOfPanOfLender!=cCctr.entity.newData.countOfPanOfLender}">
										<label>Count Of Pan Of Lender &nbsp;:</label>
										{{cCctr.entity.newData.countOfPanOfLender}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.panOfLender1!=cCctr.entity.newData.panOfLender1}">
										<label>Pan Of Lender1 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLender1}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.nameOfLender1!=cCctr.entity.newData.nameOfLender1}">
										<label>Name Of Lender1 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLender1}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.panOfLender2!=cCctr.entity.newData.panOfLender2}">
										<label>Pan Of Lender2 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLender2}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.nameOfLender2!=cCctr.entity.newData.nameOfLender2}">
										<label>Name Of Lender2 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLender2}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.panOfLender3!=cCctr.entity.newData.panOfLender3}">
										<label>Pan Of Lender3 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLender3}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.nameOfLender3!=cCctr.entity.newData.nameOfLender3}">
										<label>Name Of Lender3 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLender3}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.panOfLender4!=cCctr.entity.newData.panOfLender4}">
										<label>Pan Of Lender4 &nbsp;:</label>
										{{cCctr.entity.newData.panOfLender4}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.nameOfLender4!=cCctr.entity.newData.nameOfLender4}">
										<label>Name Of Lender4 &nbsp;:</label>
										{{cCctr.entity.newData.nameOfLender4}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.contributionPaidByTrustees!=cCctr.entity.newData.contributionPaidByTrustees}">
										<label>Contribution Paid By Trustees &nbsp;:</label>
										{{cCctr.entity.newData.contributionPaidByTrustees}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.nameOfTheSuperAnnuationFund!=cCctr.entity.newData.nameOfTheSuperAnnuationFund}">
										<label>Name of the super Annuation Fund &nbsp;:</label>
										{{cCctr.entity.newData.nameOfTheSuperAnnuationFund}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.SuperannuationFundFromDate!=cCctr.entity.newData.SuperannuationFundFromDate}">
										<label>Super annuation Fund From Date &nbsp;:</label>
										{{cCctr.entity.newData.SuperannuationFundFromDate |
										date:'dd-MM-yyyy'}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.SuperannuationFundToDate!=cCctr.entity.newData.SuperannuationFundToDate}">
										<label>Super annuation Fund To Date &nbsp;:</label>
										{{cCctr.entity.newData.SuperannuationFundToDate |
										date:'dd-MM-yyyy'}}
									</div>
								</div>
								<div class="row" style="font-size: 13px;">
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.contributionSuperannuationFund!=cCctr.entity.newData.contributionSuperannuationFund}">
										<label>Contribution Super annuation Fund &nbsp;:</label>
										{{cCctr.entity.newData.contributionSuperannuationFund}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.averageRateOfDeduction!=cCctr.entity.newData.averageRateOfDeduction}">
										<label>Average Rate Of Deduction &nbsp;:</label>
										{{cCctr.entity.newData.averageRateOfDeduction}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.taxDeductedOfSuperannuationFund!=cCctr.entity.newData.taxDeductedOfSuperannuationFund}">
										<label>Tax Deducted Of Super annuationFund &nbsp;:</label>
										{{cCctr.entity.newData.taxDeductedOfSuperannuationFund}}
									</div>
									<div class="col-md-3"
										ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.grossTotalIncomeincludingContribution!=cCctr.entity.newData.grossTotalIncomeincludingContribution}">
										<label>Gross Total Income including Contribution
											&nbsp;:</label>
										{{cCctr.entity.newData.grossTotalIncomeincludingContribution}}
									</div>
								</div>
							</div>

						</div>
					</div>
					<hr>

					<form name="remarkForm">
						<div class="form-group"
							style="width: 50%; display: block; margin-left: auto; margin-right: auto;"
							ng-show="cCctr.entity.newData.status=='Pending for approval'">
							<label>Remark*:</label>
							<textarea class="form-control" rows="2" id="remarks"
								name="remarks" ng-required="true"
								ng-model="cCctr.entity.newData.remarks"></textarea>
							<span style="color: red"
								ng-show="remarkForm.submitted || remarkForm.remarks.$dirty && remarkForm.remarks.$invalid">
								<span class="error" ng-show="remarkForm.remarks.$error.required">Remark
									is Required.</span>
							</span> <span class="error" id="remarks"></span>
						</div>
					</form>

					<div
						style="display: flex; align-items: center; justify-content: center;"
						ng-show="cCctr.entity.newData.status=='Pending for approval'">
						<button class="btn btn-success" type="type"
							ng-click="remarkForm.submitted=true;cCctr.approveUpdate(remarkForm.$valid,'form24QSalaryUpdateRequestDetail',cCctr.entity.newData)">Approve</button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-danger" type="type"
							ng-click="remarkForm.submitted=true;cCctr.rejectUpdate(remarkForm.$valid,'form24QSalaryUpdateRequestDetail',cCctr.entity.newData)">Reject</button>


					</div>
					<button onclick=window.history.back(); class="btn btn-primary">Back</button>


				</div>
			</div>
		</div>
	</div>
</div>

<style>
.give-border {
	border: 1px solid red;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	float: right;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
</style>