
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper"
	ng-init="cCctr.entity.deductee=cCctr.getEntityData().deductee;">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;">
					<strong>Details of Form 27Q Deductee</strong>
				</h3>
			</div>
			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">
					<br>



					<h4>Deductee Details:</h4>

					<div class="container">

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Quarter &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.quarter}}</div>
							<div class="col-md-3">
								<label>Grossing up Indicator &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.grossingUpIndicator}}</div>
							<!-- <div class="col-md-3">

									<label>Deductee Code &nbsp;:</label>
									{{cCctr.entity.deducteeCode}}
								</div> -->
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Month&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.month}}</div>
							<div class="col-md-3">
								<label>No of certificate under section&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.noOfCertificateUnderSection}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Branch Code&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.branchCode}}</div>
							<div class="col-md-3">
								<label>TDS Rate As Per It Acts &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.tdsRateAsPerItActs}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>RO Code &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.roCode}}</div>

							<div class="col-md-3">
								<label>TAN</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.TAN}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Vend/Cust Id&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.custVendId}}</div>
							<div class="col-md-3">
								<label>Nature Of Remittance &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.natureOfRemittance}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Unique Ref Number&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.uniqueRefNo}}</div>
							<div class="col-md-3">
								<label>Unique Knowledge No.&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.uniqueAcknowledgeNo}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Account Number&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.accNo}}</div>
							<div class="col-md-3">
								<label>Country &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.countryOfResidence}}</div>

						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Challan Heading&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.challanHeading}}</div>
							<div class="col-md-3">
								<label>Email &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.emailId}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Deductee Ref. No &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.deducteeRefNo}}</div>
							<div class="col-md-3">
								<label>Contact no &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.contactNoOfDeductee}}</div>

						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Deductee Code &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.deducteeCode}}</div>
							<div class="col-md-3">
								<label>Address &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.addressOfDeductee}}</div>

						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Pan&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.pan}}</div>
							<div class="col-md-3">
								<label>Tax Identification Number &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.taxIdentificationNo}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Name &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.name }}</div>
							<div class="col-md-3">
								<label>Cash Withdrawl (194N) &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.cashWithdrawal194N}}</div>


						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Section Code &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.sectionCode}}</div>
							<div class="col-md-3">
								<label>Cash Withdrawl 194N(20L to 1cr) &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.cashWithdrawal194N20Lto1Cr}}</div>


						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Date of Payment &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.date|date:'dd-MM-yyyy'}}</div>
							<div class="col-md-3">
								<label>Cash Withdrawl 194N(>1cr &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.cashWithdrawal194N1Cr}}</div>


						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Paid Amount&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.amountPaid}}</div>
							<div class="col-md-3">
								<label>Error Description&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.errorDescription}}</div>


						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>TDS&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.tds}}</div>
							<div class="col-md-3">
								<label>Warning Description&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.warningDescription}}</div>


						</div>


						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Surcharge &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.surcharge}}</div>
							<div class="col-md-3">
								<label>Short Deduction&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deductee.ShortDeduction}}</div>

						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Education Cess &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.educationCess}}</div>
							<div class="col-md-3">
								<label>Interest on Short Deduction &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.ShortDeduction}}</div>


						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Total Tax Deducted &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.totalTaxDeducted}}</div>
							<div class="col-md-3">
								<label>Interest on Late Payment&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.ShortDeduction}}</div>



						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Total Tax Deposited &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.totalTaxDeposited}}</div>
							<div class="col-md-3">
								<label>Interest on Late Deduction&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.ShortDeduction}}</div>



						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Date Of Deduction &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.dateOfDeduction}}</div>
							<div class="col-md-3">
								<label>Reason for non Deduction &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.reasonForNonDeduction}}</div>


						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Rate at which tax Deducted &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.deductee.rateAtWhichTaxDeducted}}</div>
							<div class="col-md-3">
								<label>Status &nbsp;</label>
							</div>
							<div class="col-md-3" ng-if="cCctr.entity.deductee.resolved == 0">:
								Resolved</div>
							<div class="col-md-3" ng-if="cCctr.entity.deductee.resolved == 1">:
								Not Resolved</div>



						</div>


						<div class="row" style="font-size: 13px;"></div>

						<div class="row">
							<form role="form" name="remark">
								<input
									ng-model="cCctr.newEntity.deducteeId = cCctr.entity.deductee.id"
									id="deducteeId" name="deducteeId" style="display: none">

								<input ng-model="cCctr.newEntity.fy = cCctr.entity.deductee.fy"
									id="fy" name="fy" style="display: none"> <input
									ng-model="cCctr.newEntity.deducteeForm ='27Qform'"
									id="deducteeForm" name="deducteeForm" style="display: none">

								<input class="form-control"
									ng-model="cCctr.newEntity.branchCode = cCctr.entity.deductee.branchCode"
									id="branchCode" name="branchCode" style="display: none">

								<button data-toggle="modal" data-target="#myModal"
									class="btn btn-success" style="margin-left: 50%">Add
									Remark</button>

								<button class="btn btn-danger"
									ng-click="cCctr.gotoListPage('form27QDeductee','form27QDeductee')">Back</button>

								<div ng-if="cCctr.entity.deductee.resolved == 1"
									style="margin: -2.9% 0 0% 64.2%;">
									<button data-toggle="modal" data-target="#resolveModal"
										class="btn btn-primary">Resolved</button>
								</div>
								<div ng-if="cCctr.entity.deductee.resolved == 0"
									style="margin: -2.9% 0 0% 64.2%;">
									<button data-toggle="modal" data-target="#resolveModal"
										class="btn btn-primary" disabled>Resolved</button>
								</div>

								<div ng-if="cCctr.entity.deductee.resolved == 1"
									style="margin: -2.9% 0 0% 72.2%;">
									<button data-toggle="modal" data-target="#rejectModal"
										class="btn btn-info">Reject</button>
								</div>
								<div ng-if="cCctr.entity.deductee.resolved == 0"
									style="margin: -2.9% 0 0% 72.2%;">
									<button data-toggle="modal" data-target="#rejectModal"
										class="btn btn-info" disabled>Reject</button>
								</div>

								<div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Add Remark</h4>
											</div>
											<div class="col-md-12">
												<div class="col-md-12">
													<label style="font-size: 13px; margin-top: 2%">Remarks&nbsp;:</label>
												</div>
												<textarea ng-model="cCctr.newEntity.remark" id="remark"
													name="remark"
													style="width: 90%; height: 20%; font-size: 15px; margin-left: 5%;"
													ng-required="true"></textarea>
												<span style="color: red; margin-left: 5%;" class="error"
													ng-show="remark.submitted || remark.remark.$dirty && remark.remark.$invalid">Please
													enter valid Remark</span> <span class="error" id="remark"></span>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success "
													ng-click="remark.submitted=true;cCctr.addRemark(remark.$valid,'remark',cCctr.newEntity,'Remark','close')"
													data-dismiss="modal" style="margin: 2% 5% 0 0; width: 15%;">Add</button>
											</div>
										</div>

									</div>
								</div>
								<!-- Reject Remark model -->
									<div class="modal fade" id="rejectModal" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Reject</h4>
												</div>
												<div class="col-md-12 ">
													<label style="font-size: 13px; margin-top: 2%">Why
														do you want to reject?</label><br>
													<textarea ng-model="cCctr.newEntity.remark" id="remark"
													name="remark"
													style="width: 90%; height: 20%; font-size: 15px; margin-left: 5%;"
													ng-required="true"></textarea>
												</div>
													<div class="modal-footer">
													<button class="btn btn-success"
														ng-init="cCctr.resolve.resolved = 'false'; cCctr.resolve.id = cCctr.entity.deductee.id"
														ng-click="cCctr.addRemark(true,'remark',cCctr.newEntity,'Reject','close')" style="margin-top: 1%;">Yes</button>
													<button class="btn btn-danger" data-dismiss="modal" style="margin-top: 1%;">No</button>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Resolve Remark model -->
									<div class="modal fade" id="resolveModal" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Resolve</h4>
												</div>
												<div class="col-md-12 ">
													<label style="font-size: 13px; margin-top: 2%">Resolve</label><br>
													<textarea ng-model="cCctr.newEntity.remark" id="remark"
													name="remark"
													style="width: 90%; height: 20%; font-size: 15px; margin-left: 5%;"
													ng-required="true"></textarea>
												</div>
													<div class="modal-footer">
													<button class="btn btn-success"
														ng-init="cCctr.resolve.resolved = 'false'; cCctr.resolve.id = cCctr.entity.deductee.id"
														ng-click="cCctr.addRemark(true,'remark',cCctr.newEntity,'Resolve','close')" style="margin-top: 1%;">Yes</button>
													<button class="btn btn-danger" data-dismiss="modal" style="margin-top: 1%;">No</button>
												</div>
											</div>
										</div>
									</div>
							</form>
						</div>
					</div>
				</div>
				<br>
				<div>
					<div class="table-responsive" style="overflow-x: inherit">
						<!-- 	<div class="col-md-12" style="margin-left:-30px"> -->
						<table class=" table table-bordered table-hover  table-striped"
							role="table"
							style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">

							<thead>
							<colgroup>
								<col span="14" style="background-color: #ffffff">
							</colgroup>
							<tr>
							<thead>
								<tr role="row" style="height: 40px; background-color: #81b7db">
									<th>Sr.No</th>
									<th style="width: 50%">Remark</th>
									<th>Status</th>
									<th>Remark By</th>
									<th>Date & Time</th>

								</tr>

							</thead>
							<tbody>
								<tr ng-repeat="a in cCctr.getEntityListData().remark">
									<th>{{$index+1}}</th>
									<th>{{a.remark}}</th>
									<th>{{a.status}}</th>
									<th>{{a.userName}}</th>
									<th>{{a.dateTime | date:'dd-MM-yyyyTHH:mm:ss'}}</th>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


















