<div class="page-wrapper" id="body1"
	ng-init="cCctr.entity=cCctr.getEntityData()">


	<div id="mySidenav2" class="sidenav" ng-init="">
		<div
			style="text-align: center; margin-top: -50px; margin-bottom: 20px">
			<h1>
				<b>Remarks</b>
			</h1>
		</div>
		<a href="javascript:void(0)" class="closebtn" onclick="closeRemark()">&times;</a>
		<div class="row" style="padding-left: 20px">
			<div class="col-md-12">
				<table class="table table-hover table-sriped table-bordered">
					<thead>
						<th>Sr No.</th>
						<th>Remark</th>
					</thead>
					<tbody>
						<tr ng-repeat="a in cCctr.entity.listRemarks">
							<td>{{$index+1}}</td>
							<td>{{a.remark}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>













	<div class="container">
		<h1>Detail Form26Q Update Request Detail</h1>
		<button class="btn btn-primary" style="float: right"
			onclick="openRemark()">Previous Remark</button>
		<br> <br>
		<fieldset ng-show="cCctr.entity.newData.docId!=null">
			<legend>
				<b>Old Data:</b>
			</legend>
			<div class="row">
				<div class="col-md-3">
					<label>Challan Sr No</label> : {{cCctr.entity.oldData.challanSrNo}}
				</div>
				<div class="col-md-3">
					<label>Deductee Reference No</label>
					:{{cCctr.entity.oldData.deducteeRefNo}}
				</div>
				<div class="col-md-3">
					<label>Deductee Code</label> :{{cCctr.entity.oldData.deducteeCode}}
				</div>
				<div class="col-md-3">
					<label>Deductee Pan</label> : {{cCctr.entity.oldData.deducteePan}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>Deductee Name</label>: {{cCctr.entity.oldData.deducteeName}}
				</div>
				<div class="col-md-3">
					<label>Section Code</label> :{{cCctr.entity.oldData.sectionCode}}
				</div>
				<div class="col-md-3">
					<label>Payment Date</label> :{{cCctr.entity.oldData.paymentDate}}
				</div>
				<div class="col-md-3">
					<label>Paid Amount</label> :{{cCctr.entity.oldData.paidAmt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>TDS</label> :{{cCctr.entity.oldData.tds}}
				</div>
				<div class="col-md-3">
					<label>Surcharge</label> :{{cCctr.entity.oldData.surcharge}}
				</div>
				<div class="col-md-3">
					<label>Education Cess</label> :{{cCctr.entity.oldData.eduCess}}
				</div>
				<div class="col-md-3">
					<label>Total Tax Deduct</label>
					:{{cCctr.entity.oldData.totalTaxDeduct}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>Total Tax Deposit</label>
					:{{cCctr.entity.oldData.totalTaxDeposit}}
				</div>
				<div class="col-md-3">
					<label>Deduct Date</label> :{{cCctr.entity.oldData.deductDate}}
				</div>
				<div class="col-md-3">
					<label>Rate Tax Deduct</label>
					:{{cCctr.entity.oldData.rateTaxDeduct}}
				</div>
				<div class="col-md-3">
					<label>Remarks</label> :{{cCctr.entity.oldData.remarks}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>Certificate Number</label>
					:{{cCctr.entity.oldData.certificateNo}}
				</div>
				<div class="col-md-3">
					<label>Financial Year</label> :{{cCctr.entity.oldData.fy}}
				</div>
				<div class="col-md-3">
					<label>Quarter</label> :{{cCctr.entity.oldData.quarter}}
				</div>
				<div class="col-md-3">
					<label>Verify</label> :{{cCctr.entity.oldData.verify}}
				</div>
			</div>
		</fieldset>
		<br>
		<fieldset>
			<br> <br> <br>
			<legend ng-show="cCctr.entity.newData.docId!=null">Changed
				Data:</legend>
			<legend ng-show="cCctr.entity.newData.docId==null">New Data</legend>

			<div class="row">
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.challanSrNo!=cCctr.entity.newData.challanSrNo}">
					<label>Challan Sr No</label> : {{cCctr.entity.newData.challanSrNo}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deducteeRefNo!=cCctr.entity.newData.deducteeRefNo}">
					<label>Deductee Ref No</label> :
					{{cCctr.entity.newData.deducteeRefNo}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deducteeCode!=cCctr.entity.newData.deducteeCode}">
					<label>Deductee Code</label> :
					{{cCctr.entity.newData.deducteeCode}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deducteePan!=cCctr.entity.newData.deducteePan}">
					<label>Deductee Pan</label> : {{cCctr.entity.newData.deducteePan}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deducteeName!=cCctr.entity.newData.deducteeName}">
					<label>Deductee Name</label> :{{cCctr.entity.newData.deducteeName}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.sectionCode!=cCctr.entity.newData.sectionCode}">
					<label>Section Code</label> : {{cCctr.entity.newData.sectionCode}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.paymentDate!=cCctr.entity.newData.paymentDate}">
					<label>Payment Date</label> : {{cCctr.entity.newData.paymentDate}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.paidAmt!=cCctr.entity.newData.paidAmt}">
					<label>Paid Amount</label> : {{cCctr.entity.newData.paidAmt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.tds!=cCctr.entity.newData.tds}">
					<label>TDS</label> : {{cCctr.entity.newData.tds}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.surcharge!=cCctr.entity.newData.surcharge}">
					<label>Surcharge</label> :{{cCctr.entity.newData.surcharge}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.eduCess!=cCctr.entity.newData.eduCess}">
					<label>EduCess</label> :{{cCctr.entity.newData.eduCess}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.totalTaxDeduct!=cCctr.entity.newData.totalTaxDeduct}">
					<label>Total Tax Deduct</label> :
					{{cCctr.entity.newData.totalTaxDeduct}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.totalTaxDeposit!=cCctr.entity.newData.totalTaxDeposit}">
					<label>Total Tax Deposit</label> :
					{{cCctr.entity.newData.totalTaxDeposit}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.deductDate!=cCctr.entity.newData.deductDate}">
					<label>Deduct Date</label> : {{cCctr.entity.newData.deductDate}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.rateTaxDeduct!=cCctr.entity.newData.rateTaxDeduct}">
					<label>Rate Tax Deduct</label> :
					{{cCctr.entity.newData.rateTaxDeduct}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.remarks!=cCctr.entity.newData.remarks}">
					<label>Remarks</label> : {{cCctr.entity.newData.remarks}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.certificateNo!=cCctr.entity.newData.certificateNo}">
					<label>Certificate No</label> :
					{{cCctr.entity.newData.certificateNo}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.fy!=cCctr.entity.newData.fy}">
					<label>Financial Year</label> : {{cCctr.entity.newData.fy}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.quarter!=cCctr.entity.newData.quarter}">
					<label>Quarter</label> : {{cCctr.entity.newData.quarter}}
				</div>
				<div class="col-md-3"
					ng-class="{'give-border': cCctr.entity.oldData!=null&&cCctr.entity.oldData.verify!=cCctr.entity.newData.verify}">
					<label>Verify</label> : {{cCctr.entity.newData.verify}}
				</div>
			</div>
		</fieldset>
		<br> <br> <br>

		<form name="remarkForm">
			<div class="form-group"
				style="width: 50%; display: block; margin-left: auto; margin-right: auto;"
				ng-show="cCctr.entity.newData.status=='Pending for approval'">
				<label>Remark*:</label>
				<textarea class="form-control" rows="2" id="remarks" name="remarks"
					ng-required="true" ng-model="cCctr.entity.newData.remarks"></textarea>
				<span style="color: red"
					ng-show="remarkForm.submitted || remarkForm.remarks.$dirty && remarkForm.remarks.$invalid">
					<span class="error" ng-show="remarkForm.remarks.$error.required">Remark
						is Required.</span>
				</span> <span class="error" id="remarks"></span>
			</div>
		</form>

	</div>

	<div
		style="display: flex; align-items: center; justify-content: center;"
		ng-show="cCctr.entity.newData.status=='Pending for approval'">
		<button class="btn btn-success" type="type"
			ng-click="remarkForm.submitted=true;cCctr.approveUpdate(remarkForm.$valid,'form26QDeducteeUpdateRequestDetail',cCctr.entity.newData)">Approve</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn btn-danger" type="type"
			ng-click="remarkForm.submitted=true;cCctr.rejectUpdate(remarkForm.$valid,'form26QDeducteeUpdateRequestDetail',cCctr.entity.newData)">Reject</button>


	</div>
	<button onclick=window.history.back(); class="btn btn-primary">Back</button>



</div>
<style>
.give-border {
	border: 1px solid red;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	float: right;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.button {
	position: relative;
	background-color: #FFA500;
	border: none;
	font-size: 15px;
	color: black;
	width: 130px;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.button:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
}

.button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}
</style>





<script>
	
</script>