<style>

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
	td:nth-of-type(1):before {
		content: "Sr. No.";
	}
	td:nth-of-type(2):before {
		content: "Employee No";
	}
	td:nth-of-type(3):before {
		content: " Name";
	}
	td:nth-of-type(4):before {
		content: "Father Name";
	}
	td:nth-of-type(5):before {
		content: "PAN";
	}
	td:nth-of-type(6):before {
		content: "Date Of Birth";
	}
	td:nth-of-type(7):before {
		content: "Date Of Joining";
	}
	td:nth-of-type(8):before {
		content: "Designation";
	}
	td:nth-of-type(9):before {
		content: "Current Office";
	}
	td:nth-of-type(10):before {
		content: "Employee Grade";
	}
	td:nth-of-type(11):before {
		content: "Mobile 1";
	}
	td:nth-of-type(12):before {
		content: "Mobile 2";
	}
	td:nth-of-type(13):before {
		content: "Email 1";
	}
	td:nth-of-type(14):before {
		content: "Email 2";
	}
	td:nth-of-type(15):before {
		content: "Bank Account Number";
	}
	td:nth-of-type(16):before {
		content: "IFC Code";
	}
	td:nth-of-type(17):before {
		content: "Bank Name";
	}
	td:nth-of-type(18):before {
		content: "Action";
	}
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper">
	<div class="container-fluid">
		<div class="col-md-12 "
			style="padding-left: 0px; font-size: 12pxp; margin-top: 2%">
			<div class="heading">
				<strong>Employee Details</strong>
			</div>



		</div>

		<br>
		<button class="btn btn-primary hidden visible-xs" type="button"
			data-toggle="collapse" data-target="#collapseExample2"
			aria-expanded="false" aria-controls="collapseExample">
			Search</button>
		<div class="collapse dont-collapse-sm" id="collapseExample2">
			<div class="row">
				<div class="form-group">
					<div class="col-md-3">
						<h6>
							<b>Employee No</b>
							<h6>
								<input type="text" ng-model="cCctr.search.employeeNo"
									class="form-control" placeholder="Employee No"
									style="width: 100%">
					</div>
					<div class="col-md-3">
						<h6>
							<b>Name</b>
							<h6>
								<input type="text" ng-model="cCctr.search.name"
									class="form-control" placeholder="Name" style="width: 100%">
					</div>


					<div class="col-md-3">
						<h6>
							<b>PAN</b>
							<h6>
								<input type="text" ng-model="cCctr.search.pan"
									class="form-control" placeholder="PAN" style="width: 100%">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<div class="col-md-3">
						<h6>
							<b>Designation</b>
							<h6>
								<input type="text" ng-model="cCctr.search.designation"
									class="form-control" placeholder="Designation"
									style="width: 100%">
					</div>
					<div class="col-md-3">
						<h6>
							<b>Email</b>
							<h6>
								<input type="text" ng-model="cCctr.search.email1"
									class="form-control" placeholder="Email" style="width: 100%">
					</div>


					<div class="col-md-3">
						<h6>
							<b>Mobile</b>
							<h6>
								<input type="text" ng-model="cCctr.search.mobile1"
									class="form-control" placeholder="Mobile" style="width: 100%">
					</div>
				</div>
			</div>

			<div class="row" id="hide">
				<div class="col-md-3" style="margin-left: 85%; margin-top: -74px">
					<button ng-click="cCctr.searchEntities(true,'employee')"
						class="btn btn-success" onclick="scrollWin()">Search</button>
				</div>


			</div>

			<div class="row" id="search">
				<div class="col-md-3" id="search">
					<button ng-click="cCctr.searchEntities(true,'employee')"
						class="btn btn-success" onclick="scrollWin()">Search</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="text-right">
				<button class="btn btn-primary" data-toggle="modal"
					ng-click="cCctr.gotoListPage('addEmployee','addEmployee');">Add</button>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- <div class="table-responsive"> -->

		<table class=" tables table-bordered table-hover table-striped"
			role="table"
			style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">


			<thead>
			<colgroup>
				<col span="14" style="background-color: #ffffff">
			</colgroup>
			<tr>
			<thead role="rowgroup">
				<tr role="row"
					style="height: 55px; background-color: #81b7db; text-align: center">
					<th width="10%" class="one">Sr. No.</th>
					<th width="10%">Employee No</th>
					<th width="10%">Name</th>
					<th width="10%">Father Name</th>
					<th width="10%">PAN</th>
					<th width="10%" style="padding: 20px">Date Of Birth</th>
					<th width="10%" style="padding: 20px">Date Of Joining</th>
					<th width="10%">Designation</th>
					<th width="10%" style="padding: 20px">Current Office</th>
					<th width="10%">Employee Grade</th>
					<th width="10%">Mobile 1</th>
					<th width="10%">Mobile 2</th>
					<th width="10%">Email 1</th>
					<th width="10%">Email 2</th>


					<th width="10%">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr role="row"
					ng-repeat="a in cCctr.getEntityListData() track by a.id">
					<td role="cell" class="one" style="height: 60px; padding: 10px">{{$index+1}}</td>
					<td>{{a.employeeNo}}</td>
					<td>{{a.name}}</td>
					<td>{{a.fatherName}}</td>
					<td>{{a.pan}}</td>
					<td>{{a.dob | date:'dd-MM-yyyy'}}</td>
					<td>{{a.doj | date:'dd-MM-yyyy'}}</td>
					<td>{{a.designation}}</td>
					<td>{{a.currentOffice}}</td>
					<td>{{a.empGrade}}</td>
					<td>{{a.mobile1}}</td>
					<td>{{a.mobile2}}</td>
					<td>{{a.email1}}</td>
					<td>{{a.email2}}</td>

					<td><a
						ng-click="cCctr.gotoDetailPage('employee',a.id,'detailemployee');"><font
							color="blue" style="font-size: 13px" onclick="scrollWin()"><img
								src="static\img\edit.png" width="22px" height="22px"
								alt="Details" employee /></font></a></td>
					<!-- <td>{{a.total-a.amountPaid}}</td> -->

				</tr>

			</tbody>
		</table>
	</div>
</div>
</div>