<style>
 
 
 
 /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Sr. No."; }
		td:nth-of-type(2):before { content: "User"; }
		td:nth-of-type(3):before { content: " Date"; }
		td:nth-of-type(4):before { content: "FY"; }
		td:nth-of-type(5):before { content: "TAN"; }
		td:nth-of-type(6):before { content: "Form"; }
		td:nth-of-type(7):before { content: "Quarter"; }
		td:nth-of-type(8):before { content: "Time"; }
		td:nth-of-type(9):before { content: "Action"; }
		
		
		
	}
 
 
 
    @media only screen and (max-width: 1000px) {
        .one{
            display: none;
          
        }
    }
    
 @media only screen and (max-width: 1000px) {
        .two{
         
            padding:8px;
        }
    }
        
   @media only screen and (min-width:600px) {
            #three{
                display: none;
                max-height: 0;
                overflow: hidden;
            }
        }
        
       @media only screen and (min-width:1000px) {
            #search{
             
             margin-left:45%;
             margin-top:2px;
             display:none;
            }
        }
        
            @media only screen and (max-width: 1000px) {
      #hide{
            display: none;
          
        }
    }
     .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: whitesmoke;
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
 
 </style>





	<div class="container-fluid">
    <div class="col-md-12 " style="padding-left: 0px;font-size: 12pxp; margin-top:2%" >
	<div class="heading">Logs Detail</div>
	</div>
		
	  <br>
	      <button class="btn btn-primary hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
             Search 
          </button>
  <div class="collapse dont-collapse-sm" id="collapseExample2" > 
	  <div class="row">
	   <div class="form-group">
	  
	    <div class="col-md-3">	
                <h6><b>User</b><h6>
                  <input type="text" ng-model="cCctr.search.user" class="form-control" placeholder="User" style="width:100%">
								</div>
	  <div class="col-md-3">							
            <h6><b>Quarter</b></h6>
            <select ng-model="cCctr.search.quarter" class="form-control">
                   <option value="Q1">Q1</option>
                   <option value="Q2">Q2</option>
                   <option value="Q3">Q3</option>
                   <option value="Q4">Q4</option>
                   </select> 
      </div>
      
     	<div class="col-md-3">	
           <h6><b>TAN</b><h6>
            <input type="text" ng-model="cCctr.search.tan" class="form-control" placeholder="TAN"style="width:100%">
								</div>
          
   
      
   </div>
            
           
	       </div>	
	       <div class="row">
	   <div class="form-group">
	  
	    <div class="col-md-3">	
                <h6><b>Form</b><h6>
                 <select ng-model="cCctr.search.form" class="form-control">
                   <option value="24Q">24Q</option>
                   <option value="26Q">26Q</option>
                   <option value="27Q">27Q</option>
                   <option value="27EQ">27EQ</option>
                   </select> 
                  
								</div>
	<div class="col-md-3">							
            <h6><b>Financial Year</b></h6>
           <select ng-model="cCctr.search.fy" class="form-control">
                  <option value="201920">201920</option>
                   <option value="201819">201819</option>
                   <option value="201718">201718</option>
                   <option value="201617">201617</option>
                    <option value="201516">201516</option>
                     <option value="201415">201415</option> 
                     <option value="201314">201314</option>
                      <option value="201213">201213</option>
                       <option value="201112">201112</option> 
                       <option value="201011">201011</option>
                        <option value="200910">200910</option>
                         <option value="200809">200809</option>
                         <option value="200708">200708</option>
                   </select>
      </div>
   </div>
 </div>
	      		
	             <div class="row" id="hide" >
	         	  <div class="col-md-3"  style="margin-left:85%;margin-top:-70px">	
	                          <button ng-click="cCctr.searchEntities(true,'logs')"
									class="btn btn-success" onclick="scrollWin()">Search</button>
	                 </div>					
  				</div>
  
             <div class="row" id="search" >
	         	  <div class="col-md-3" id="search">	
	                <button ng-click="cCctr.searchEntities(true,'logs')"
					class="btn btn-success" onclick="scrollWin()">Search</button>
	                 </div>					
              </div>
  </div>
 </div>

 
 					
						<!-- <div class="table-responsive"> -->

							<table class="tables table-bordered table-hover table-striped" role="table"
								style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">
								<thead>
							<colgroup>
									<col span="14" style="background-color: #ffffff">
								</colgroup>
							 <tr>
							  <thead role="rowgroup">
							      <tr role="row" style="height:40px;background-color:#81b7db">
							      <th width="10%">Sr. No.</th>
							      <th width="10%">User</th>
							      <th width="10%">Date</th>
							      <th width="10%" >FY</th>
							      <th width="10%">TAN</th>
							      <th width="10%" >Form</th>
							      <th width="10%">Quarter</th>
							      <th width="10%">Time</th>
							      <th width="10%">Action</th>
                                  </tr>
                               </thead>
								<tbody>
									<tr role="row" ng-repeat="a in cCctr.getEntityListData() track by a.id">
										<td role="cell" class="one" style="padding:5px">{{$index+1}}</td>
											<td>{{a.user}}</td>
											<td style="text-align:center">{{a.date | date:'dd-MM-yyyy'}}</td>
											<td>{{a.fy}}</td>
											<td>{{a.tan}}</td>
											<td>{{a.form}}</td>
											<td>{{a.quarter}}</td>
											<td>{{a.time}}</td>
											<td><a ng-click="cCctr.gotoHomePageWOT(cCctr.clientId,a.id,'homeWOT')" style="color:blue" onclick="scrollWin()">Work On This</a></td>
										<!-- <td>{{a.total-a.amountPaid}}</td> -->
										
									</tr>								
								</tbody>
							</table>
							</div>
					
					



