<style>
 
  /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Sr. No."; }
		td:nth-of-type(2):before { content: "Basic Salary"; }
		td:nth-of-type(3):before { content: "HRA"; }
		td:nth-of-type(4):before { content: "DA"; }
		td:nth-of-type(5):before { content: "CCA"; }
		td:nth-of-type(6):before { content: "Special Allowance"; }
		td:nth-of-type(7):before { content: "Travel Allowance"; }
		td:nth-of-type(8):before { content: "Medical Allowance"; }
		td:nth-of-type(9):before { content: "EPF Employer Contribution"; }
		td:nth-of-type(10):before { content: "EPF Employee Contribution"; }
		td:nth-of-type(11):before { content: "Leave Enhancement"; }
		td:nth-of-type(12):before { content: "Horanium"; }
		td:nth-of-type(13):before { content: "Add Income"; }
		td:nth-of-type(14):before { content: "Car Perk"; }
		td:nth-of-type(15):before { content: "Loan Perk"; }
		td:nth-of-type(16):before { content: "NPS Employer Contribution"; }
		td:nth-of-type(17):before { content: "NPS Employee Contributiont"; }
		td:nth-of-type(18):before { content: "TDS"; }
		td:nth-of-type(19):before { content: "Other Income"; }
		td:nth-of-type(20):before { content: "Month"; }
		
	}
	
	
	
	
    @media only screen and (max-width: 1000px) {
        .one{
            display: none;
          
        }
    }
    
 @media only screen and (max-width: 1000px) {
        .two{
         
            padding:8px;
        }
    }
        
   @media only screen and (min-width:600px) {
            #three{
                display: none;
                max-height: 0;
                overflow: hidden;
            }
        }
        
       @media only screen and (min-width:1000px) {
            #search{
             
             margin-left:45%;
             margin-top:2px;
             display:none;
            }
        }
        
            @media only screen and (max-width: 1000px) {
      #hide{
            display: none;
          
        }
    }
     .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: whitesmoke;
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
 
 </style>




<div id="page-wrapper">
	<div class="container-fluid">
<div class="col-md-12 " style="padding-left: 0px;font-size: 12pxp; margin-top:2%">
	<div class="heading">Monthly Salary Details</div>
	</div>
		
	  <br>
	      <button class="btn btn-primary hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
             Search 
          </button>
  <div class="collapse dont-collapse-sm" id="collapseExample2"> 
	  <div class="row">
	   <div class="form-group">
	  
	    <div class="col-md-3">	
                <h6><b>Month</b><h6>
                  <input type="text"ng-model="cCctr.search.month" class="form-control" placeholder="Month" style="width:80%">
								</div>
	<div class="col-md-3" >							
            <h6><b>Financial Year</b></h6>
          <input type="text"ng-model="cCctr.search.fy" class="form-control" placeholder="Financial Year" style="width:80%">
								</div>
      </div>
      
     	<div class="col-md-3">	
           <h6><b>Quarter</b><h6>
           <input type="text" ng-model="cCctr.search.fromDocumentNumber" class="form-control" placeholder="Quarter" style="width:80%">
       </div>
      
   </div>
            
           
	       
	      		
	             <div class="row" id="hide" >
	         	  <div class="col-md-3"  style="margin-left:85%;margin-top:-50px">	
	                          <button ng-click="cCctr.searchEntities(true,'salary')"
									class="btn btn-success" onclick="scrollWin()">Search</button>
	                 </div>					
  </div>
  
   <div class="row" id="search" >
	        <div class="col-md-3" id="search">	
	          <button ng-click="cCctr.searchEntities(true,'salary')"
			class="btn btn-success" onclick="scrollWin()">Search</button>
	         </div>					
  </div>
  </div>
</div>	

 
 					<div class="row">
						<!-- <div class="table-responsive"> -->
							<table class=" tables table-bordered table-hover table-striped" role="table"
								style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">
								<thead>
								<colgroup>
									<col span="14" style="background-color: #ffffff">
								</colgroup>
							 <tr>
							  <thead role="rowgroup">
    <tr role="row" style="height:40px;background-color:#81b7db">
      <th width="10%">Sr. No.</th>
      <th width="20%" style="padding:20px">Basic Salary</th>
      <th width="10%" style="padding:20px">HRA</th>
      <th width="10%" style="padding:20px" >DA</th>
      <th width="10%" style="padding:20px">CCA</th>
      <th width="10%" style="padding:20px">Special Allowance</th>
      <th width="10%" style="padding:20px">Travel Allowance</th>
      <th width="10%" style="padding:20px">Medical Allowance</th>
      <th width="10%" style="padding:20px">EPF Employer Contribution</th>
      <th width="10%" style="padding:20px">EPF Employee Contribution</th>
      <th width="10%" style="padding:20px">Leave Enhancement</th>
      <th width="10%" style="padding:20px">Horanium</th>
      <th width="10%" style="padding:20px">Add Income</th>
      <th width="10%" style="padding:20px">Car Perk</th>
      <th width="10%" style="padding:20px">Loan Perk</th>
      <th width="10%" style="padding:20px">NPS Employer Contribution</th>
      <th width="10%" style="padding:20px">NPS Employee Contribution</th>
      <th width="10%" style="padding:20px">TDS</th>
      <th width="10%" style="padding:20px">Other Income</th>
      <th width="10%" style="padding:20px">Month</th>
    
      </tr>
  </thead>
								<tbody>
									<tr role="row" ng-repeat="a in cCctr.getEntityListData() track by a.id">
										<td role="cell" class="one" style="height: 60px;padding:10px">{{$index+1}}</td>
											<td>{{a.basicSalary}}</td>
											<td>{{a.hra}}</td>
											<td>{{a.da}}</td>
											<td>{{a.cca}}</td>
											<td>{{a.specialAllowance}}</td>
											<td>{{a.travelAllowance}}</td>
											<td>{{a.medicalAllowance}}</td>
											<td>{{a.epfEmployerContribution}}</td>
											<td>{{a.epfEmpContribution}}</td>
											<td>{{a.leaveEnhancement}}</td>
											<td>{{a.horanium}}</td>
											<td>{{a.addIncome}}</td>
											<td>{{a.carPerk}}</td>
											<td>{{a.loanPerk}}</td>
											<td>{{a.npsEmployerContribution}}</td>
											<td>{{a.npsEmpContribution}}</td>
											<td>{{a.tds}}</td>
											<td>{{a.otherIncome}}</td>
											<td>{{a.month}}</td>
														<!-- <td>{{a.total-a.amountPaid}}</td> -->
										
									</tr>
								
								</tbody>
							</table>
							</div>
</div>
</div>