<style>
 
 
    @media only screen and (max-width: 1000px) {
        .one{
            display: none;
          
        }
    }
    
 @media only screen and (max-width: 1000px) {
        .two{
         
            padding:8px;
        }
    }
        
   @media only screen and (min-width:600px) {
            #three{
                display: none;
                max-height: 0;
                overflow: hidden;
            }
        }
        
       @media only screen and (min-width:1000px) {
            #search{
             
             margin-left:45%;
             margin-top:2px;
             display:none;
            }
        }
        
            @media only screen and (max-width: 1000px) {
      #hide{
            display: none;
          
        }
    }
     .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: whitesmoke;
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
 
 </style>




<div id="page-wrapper">
	<div class="container-fluid">
<div class="col-md-12 " style="padding-left: 0px;font-size: 12pxp; margin-top:2%">
	<div class="heading">Pensioner Details</div>
	


	</div>
		
	  <br>
	      <button class="btn btn-primary hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
             Search 
          </button>
  <div class="collapse dont-collapse-sm" id="collapseExample2"> 
	 	  <div class="row">
	   <div class="form-group">
	   <div class="col-md-3">	
                <h6><b>Employee No</b><h6>
                  <input type="text"ng-model="cCctr.search.toDocumentNumber" class="form-control" placeholder="Employee No" style="width:70%">
								</div>
	  <div class="col-md-3">	
                <h6><b>Name</b><h6>
                  <input type="text"ng-model="cCctr.search.toDocumentNumber" class="form-control" placeholder="Name" style="width:70%">
								</div>
	  
	  
	    <div class="col-md-3">	
                <h6><b>PAN</b><h6>
                  <input type="text"ng-model="cCctr.search.toDocumentNumber" class="form-control" placeholder="PAN" style="width:70%">
								</div>     
   </div>
  	       </div>
  	       
  	        <div class="row">
	   <div class="form-group">
	   <div class="col-md-3">	
                <h6><b>Designation</b><h6>
                  <input type="text"ng-model="cCctr.search.toDocumentNumber" class="form-control" placeholder="Designation" style="width:70%">
								</div>
	  <div class="col-md-3">	
                <h6><b>Email</b><h6>
                  <input type="text"ng-model="cCctr.search.toDocumentNumber" class="form-control" placeholder="Email" style="width:70%">
								</div>
	  
	  
	    <div class="col-md-3">	
                <h6><b>Mobile</b><h6>
                  <input type="text"ng-model="cCctr.search.toDocumentNumber" class="form-control" placeholder="Mobile" style="width:70%">
								</div>     
   </div>
  	       </div>	
	      		
	             <div class="row" id="hide" >
	         	  <div class="col-md-3"  style="margin-left:85%;margin-top:-70px">	
	                          <button ng-click="cCctr.searchEntities(true,'invoice')"
									class="btn btn-success" >Search</button>
	                 </div>	
	                 <div class="col-md-3"  style="margin-left:85%;margin-top:-30px">	
	                          <button style="width:70px" ng-click="cCctr.gotoListPage('addPensioner','addPensioner')"
									class="btn btn-success" >Add</button>
	                 </div>					
  </div>
  
   <div class="row" id="search" >
	         	  <div class="col-md-3" id="search">	
	                          <button ng-click="cCctr.searchEntities(true,'invoice')"
									class="btn btn-success">Search</button>
	                 </div>					
  </div>
  </div>
 </div>

 
 					<div class="row">
						<div class="table-responsive">

							<table class="  table-bordered table-hover table-striped" role="table"
								style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">


								<thead>

								
									
									
								<colgroup>
									<col span="14" style="background-color: #ffffff">
								</colgroup>
							 <tr>
							  <thead role="rowgroup">
    <tr role="row" style="height:40px;background-color:#81b7db">
      <th width="10%">Sr. No.</th>
      <th width="10%">Pension No</th>
      <th width="10%">Name</th>
      <th width="10%" >Father Name</th>
     <th width="10%" >PAN</th>
     <th width="10%" >DOB</th>
     <th width="10%" >Employee Grade</th>
     <th width="10%" >Mobile 1</th>
     <th width="10%" >Mobile 2</th>
     <th width="10%" >Email 1</th>
     <th width="10%" >Email 2</th>
     <th width="10%" >Bank Account Number</th>
     <th width="10%" >IFC Code</th>
     <th width="10%" >Bank Name</th>
     <th width="10%">Action</th>    
      
    
     
     
    </tr>
  </thead>
								<tbody>
									<tr role="row" ng-repeat="a in cCctr.getEntityListData() track by a.id">
										<td role="cell" class="one" style="height: 60px;padding:10px">{{$index+1}}</td>
											<td>{{a.pensionNo}}</td>
											<td>{{a.name}}</td>
											<td>{{a.fatherName}}</td>
											<td>{{a.pan}}</td>
											<td>{{a.dob |date:'dd-MM-yyyy'}}</td>
											<td>{{a.empGrade}}</td>
											<td>{{a.mobile1}}</td>
											<td>{{a.mobile2}}</td>
											<td>{{a.email1}}</td>
											<td>{{a.email2}}</td>
											<td>{{a.bankAccNo}}</td>
											<td>{{a.ifcCode}}</td>
											<td>{{a.bankName}}</td>
											<td><a
							                ng-click="cCctr.gotoDetailPage('pensioner',a.id,'detailpensioner');"><font
								          color="blue" style="font-size: 13px">Detail</font></a></td>			
										<!-- <td>{{a.total-a.amountPaid}}</td> -->
										
									</tr>
								
								</tbody>
							</table>
							</div>
</div>
</div>