<style>
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
	td:nth-of-type(1):before {
		content: "CIN";
	}
	td:nth-of-type(2):before {
		content: "TAN";
	}
	td:nth-of-type(3):before {
		content: "Available Balance";
	}
	td:nth-of-type(4):before {
		content: "Amount of challan";
	}
	td:nth-of-type(5):before {
		content: "Date of Deposition";
	}
	td:nth-of-type(6):before {
		content: "As on Date";
	}
	td:nth-of-type(7):before {
		content: "Challan Mismatch";
	}
	td:nth-of-type(8):before {
		content: "Section";
	}
	td:nth-of-type(9):before {
		content: "Minorhead";
	}
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
.btn-grad {
	background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	padding: 8px;
}

.btn-grad:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

th{
text-align: center;
}


td .autoResize {
	min-width:100px;
	width: auto;
}
.autoResize {
	min-width:115px;
	resize: horizontal;
	overflow: auto;
	display: block 
}

.autoResizeQuarter {
	min-width:70px;
	resize: horizontal;
	overflow: auto;
	display: block 
}

/*Refresh Button*/
.tooltip-top {
  bottom: 84%;
  margin-left:-9%;
}
/*Search Button*/
.tooltip-top1 {
  bottom: 113%;
margin-left: -18%;
}
/*Advanced Search Button*/
.tooltip-top2 {
 bottom: 113%;
margin-left: -34%;
}
/*Export to Excel Button*/
.tooltip-top3 {
 bottom: 85%;
  margin-left:-41%;
}
/*add Button*/
.tooltip-top4 {
 bottom: 113%;
  margin-left:-17%;
}
/*Detail Button*/
.tooltip-top5 {
  margin-left:-6%;
}
</style>

<div id="page-wrapper" ng-controller="CommonController as cCctr">
	<div class="container-fluid">
<!-- 	<button class="btn btn-grad astro-MG2CNCJP tool" data-toggle="modal"
					style="background-image: linear-gradient(to right, #5237B3 0%, #5370C6 51%, #7740B9 100%);float: right;"
						 onClick="refreshPageButton()"><i
						class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh<span class="tooltiptext tooltip-top">Refresh or Press F5</span></button> -->
		<div class="col-md-12 "
			style="padding-left: 0px; font-size: 12px; margin-top: 1%">
			<div class="heading">
				<strong>RO Details</strong>
			</div>

		</div>
		<br>
		<button class="btn btn-primary hidden visible-xs" type="button"
			data-toggle="collapse" data-target="#collapseExample2"
			aria-expanded="false" aria-controls="collapseExample">Search
		</button>
		<div class="collapse dont-collapse-sm" id="collapseExample2">
			<div class="row">
				<div class="form-group">
					<div class="col-md-3">
						<h6>
							<b>ROCode</b>
						</h6>
						<input type="text" ng-model="cCctr.search.roCode"
							class="form-control" placeholder="ROCode" style="width: 100%">
					</div>

					<div class="col-md-3">
						<h6>
							<b>ROName</b>
						</h6>
						<input type="text" ng-model="cCctr.search.roName"
							class="form-control" placeholder="ROName" style="width: 100%">
					</div>
					
					<div class="col-md-3">
						<h6>
							<b>ROAddress</b>
							</h6>
								<input type="text" ng-model="cCctr.search.roAddress"
									class="form-control" placeholder="ROAddress"
									style="width: 100%">
					</div>
				</div>
			</div>
			<div class="collapse  panel-collapse" id="collapseExample4">
				<div class="row">
					

					<div class="col-md-3">
						<h6>
							<b>ROEmail</b>
							</h6>
								<input type="text" ng-model="cCctr.search.roEmail"
									class="form-control" placeholder="ROEmail" style="width: 100%">
					</div>

					<div class="col-md-3">
						<h6>
							<b>ROState</b>
						</h6>
						    <select class="form-control" name="roState"  
									placeholder="RO State" ng-model="cCctr.search.roState"
									>
									<option disabled value="">Select State</option>
									<#list State as state>
									<option value="${state}">${state}</option>
									</#list>
								</select>
					</div>
					
					<div class="col-md-3">
						<h6>
							<b>ROPincode</b>
							</h6>
								<input type="text" ng-model="cCctr.search.roPincode"
									class="form-control" placeholder="ROPincode"
									style="width: 100%">
					</div>

				</div>
				<div class="row">
				
					<div class="col-md-3">
						<button class="btn btn-grad exportbtn tool" type="button" style="margin-top:15%;background-image: linear-gradient(to right, #517fa4 0%, #243949 51%, #517fa4 100%);"
							ng-click="cCctr.generateExcel('apiRODetails/generateExcel/','RODetails')">Export
							to Excel<span class="tooltiptext tooltip-top3">Export to Excel</span></button>
					</div>

				</div>

			</div>
			
			
			<!-- <div class="row text-right" id="hide">
				<div class="col-md-5" style="margin-left: 55%; margin-top: -35px">
					<button ng-click="cCctr.searchEntities(true,'RODetails','RODetails')" style="background-image: linear-gradient(to right, #093028 0%, #237A57  51%, #093028  100%)"
						class="btn btn-grad astro-MG2CNCJP tool" onclick="scrollWin()"><i class="fa fa-search" aria-hidden="true"></i>
						Search<span class="tooltiptext tooltip-top1">Search Button</span></button>
						
					<button class="btn btn-grad astro-MG2CNCJP tool"
						style="background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%)" data-toggle="collapse"
						data-target="#collapseExample4" aria-expanded="false"
						aria-controls="collapseExample"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Advance Search
						<span class="tooltiptext tooltip-top2">Advanced Search Button</span></button>
						
							<button class="btn btn-grad astro-MG2CNCJP tool" data-toggle="modal" style="background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)"
					ng-click="cCctr.gotoAddPage('addRODetails')"><i
											class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add RO<span class="tooltiptext tooltip-top4">Add Button</span></button>
				</div>
			</div> -->
			
			
			
			
			<div style="right: 3%; position: absolute; gap: 20px;margin-top:-3%;display:flex" class="">


		<button ng-click="cCctr.searchEntities(true,'RODetails','RODetails')"
			class="btn btn-success mobile tool" onclick="scrollWin()">
			<i class="fa fa-search border-0 p-0"
				style="color: inherit; background-color: transparent;font-size: large;"></i>
		<span class="tooltiptext tooltip-top">Search Button</span> </button>

		<button class="btn btn-primary mobile collapsed tool"
			style="background-color: #FFA500; border-color: #FFA500;"
			data-toggle="collapse" data-target="#collapseExample4"
			aria-expanded="false" data-parent="#navaccordion"
			aria-controls="collapseExample">
			<i class="fa fa-filter border-0 p-0"
				style="color: #fff; background-color: transparent;font-size: large;"></i>
		<span class="tooltiptext tooltip-top1">Advance Search Button</span></button>

		<button class="btn btn-primary mobile tool" data-toggle="modal" ng-click="cCctr.gotoAddPage('addRODetails')"
			data-target="#bd-example-modal-xl">
			<i class="fa fa-edit border-0 p-0"
				style="color: inherit; background-color: transparent;font-size: large;"></i>
		<span class="tooltiptext tooltip-top2">Add  Button</span></button>
		
	

	</div>
			
			
			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-md-4" style="margin-top: 5px"></div>
			<div class="text-right" style="width: 100%"></div>
		</div>
	</div>
	<div class="row">
		<!--   <div class=" table-responsive">  -->
		<table class="table table-bordered table-hover table-striped"
					role="table"
					style="font-size: 12px; width: 99%; padding: 5px; margin: 5px; margin-left: 10px; overflow-x: inherit;">


					<thead>
					<colgroup>
						<col span="14" style="background-color: #ffffff">
					</colgroup>
					<tr>
					<thead role="rowgroup">
						<tr role="row" style="background-color: #81b7db; height: 40px;">
							<th>Sr. No.</th>
							<th>RO Code</th>
							<th><div class="autoResizeQuarter">RO NAME</div></th>
							<th><div class="autoResize">RO Address</div></th>
							<th><div class="autoResizeQuarter">RO Email</div></th>
							<th>RO State</th>
							<th>RO Pincode</th>
							<th class="hide-on-desktop">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr style="color: red"
							ng-show="cCctr.getEntityListData().length <= 0">
							<td colspan="14" style="text-align: center;"><h3
										style="text-align: center;"><b>No data found!!</b></h3></td>
						<tr role="row"
						ng-dblclick="cCctr.gotoDetailPage('RODetails',a.id,'UpdateRODetails')"
							ng-repeat="a in cCctr.getEntityListData() track by a.id">
							<td>{{$index+1}}</td>
							<td>{{a.roCode}}</td>
							<td >{{a.roName}}</td>
							<td >{{a.roAddress}}</td>
							<td >{{a.roEmail}}</td>
							<td>{{a.roState}}</td>
							<td>{{a.roPincode}}</td>

							<div>
								<td ng-if="a.verify == 1"><i class="fa fa-check"
									aria-hidden="true" style="color: #5cb85c"></i></td>
								<td ng-if="a.verify == 0"><i class="fa fa-times"
									aria-hidden="true" style="color: #ff0000"></i></td>
							</div>
							<td class="hide-on-desktop"><a class="tool"
								ng-click="cCctr.gotoDetailPage('RODetails',a.id,'UpdateRODetails')"
								style="color: blue"><img src="static\img\edit.png"
									width="22px" height="22px" alt="Details"
									style="margin-top: 5px; margin-bottom: 5px;" /><span class="tooltiptext tooltip-top5">Detail</span></a></td>



						</tr>

					</tbody>
				</table>
	</div>

	<div class="row" ng-show="cCctr.getNoPage() > 0">
		<div class="row" align="center">
			<span ng-show="cCctr.currentPage != 1"> <a
				ng-click="cCctr.getPage(true,'RODetails',cCctr.currentPage-1)"><strong>Previous</strong></a>
			</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>Displaying page &nbsp;<strong>{{cCctr.currentPage}}</strong>&nbsp;
				of &nbsp;<strong>{{cCctr.getNoPage()}}</strong>
				&nbsp;&nbsp;&nbsp;&nbsp; <span
				ng-show="cCctr.currentPage != cCctr.getNoPage()"> <a
					ng-click="cCctr.getPage(true,'RODetails',cCctr.currentPage+1)"><strong>Next</strong></a>
			</span>
			</span>
		</div>
		<form role="form" name="gotoForm">
			<div class="row" align="center">
				<span>Go to</span> &nbsp;&nbsp;&nbsp; <input
					style="width: 70px; text-align: center;" type="number"
					name="pageNo" ng-model="cCctr.currentPage"
					ng-init="cCctr.pageNo=cCctr.currentPage" autocomplete="off"
					ng-min="1" ng-max="cCctr.getNoPage()" ng-required="true">
				&nbsp;&nbsp;&nbsp;
				<button style="height: 25px;"
					ng-click="gotoForm.submitted=true;cCctr.getPage(gotoForm.$valid,'RODetails',cCctr.currentPage)"
					class="btn btn-primary">Go</button>
			</div>
			<div class="row" align="center">
				<span style="color: red"
					ng-show="gotoForm.submitted || gotoForm.pageNo.$dirty && gotoForm.pageNo.$invalid">
					<span class="error" ng-show="gotoForm.pageNo.$error.min">Page
						No. should not be less than 1.</span> <span class="error"
					ng-show="gotoForm.pageNo.$error.max">Page No. should not be
						greater than {{cCctr.getNoPage()}}.</span> <span class="error"
					ng-show="gotoForm.pageNo.$error.required">Please enter page
						number.</span>
				</span>
			</div>
		</form>
	</div>

</div>