<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>

<div id="page-wrapper"
	ng-init="cCctr.entity.roDetails=cCctr.getEntityData().roDetails">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;">
					<strong>RODetails From</strong>
				</h3>
			</div>
			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">

					<div class="row">
						<div class="col-md-6">
							<button class="pushable lightblue"
								
								data-toggle="modal" onclick="test('#profile')">
								<span class="front lightbluespan"
									><i
									class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;Edit</span>
							</button>

							<button class="pushable black"
								ng-click="cCctr.gotoListPage('RODetails','RODetails')">
								<span class="front blackspan"><i
									class="fa fa-arrow-left" aria-hidden="true"></i> Back</span>
							</button>
						</div>
					</div>
					<br> <br>
					<div class="container">

						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div class="row" style="font-size: 13px;">
								<div class="col-md-2">
									<label>RO Code &nbsp;</label>
								</div>
								<div class="col-md-4">: {{cCctr.entity.roDetails.roCode}}
								</div>
								<div class="col-md-2">
									<label>RO Name. &nbsp;</label>
								</div>
								<div class="col-md-4">: {{cCctr.entity.roDetails.roName}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-2">
									<label>RO Address &nbsp;</label>
								</div>
								<div class="col-md-4">:
									{{cCctr.entity.roDetails.roAddress}}</div>

								<div class="col-md-2">
									<label>RO Email &nbsp;</label>
								</div>
								<div class="col-md-4">: {{cCctr.entity.roDetails.roEmail}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-2">
									<label>RO State &nbsp;</label>
								</div>
								<div class="col-md-4">: {{cCctr.entity.roDetails.roState}}
								</div>
								<div class="col-md-2">
									<label>RO Pincode &nbsp;</label>
								</div>
								<div class="col-md-4">: {{cCctr.entity.roDetails.roPincode
									}}</div>
							</div>

						</div>
					</div>

					<div>
						<div class="table-responsive" style="overflow-x: inherit">
							<table class=" table table-bordered table-hover table-striped"
								role="table"
								style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">
								<thead>
								<colgroup>
									<col span="14" style="background-color: #ffffff">
								</colgroup>
								<tr>
								<thead role="rowgroup">
									<tr style="height: 40px; background-color: #81b7db">
										<th>Sr. No.</th>
										<th>Branch Code</th>
										<th>Branch Name</th>
										<th>Action</th>

									</tr>
								</thead>

								<tr ng-repeat="a in cCctr.getEntityData().branch">
									<td>{{$index+1}}</td>
									<td>{{a.branchCode}}</td>
									<td>{{a.branchName}}</td>
									<td><a
										ng-click="cCctr.gotoDetailPage('branch',a.id,'roBranchDetail')"
										style="color: blue"><img src="static\img\edit.png"
											width="22px" height="22px" alt="Details"
											style="margin-top: 5px; margin-bottom: 5px;" /></a></td>


								</tr>
								</tbody>

							</table>
						</div>

					</div>

					<div id="profile" class="modal fade" role="dialog">
						<div class="modal-dialog modal-lg">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" id="closeU"
										data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Edit RO Details</h4>
								</div>
								<div class="modal-body">

									<div id="myTabContent" class="tab-content">
										<div class="tab-pane fade active in" id="signin">
											<form name="profileForm" class="form-horizontal"
												enctype="multipart/form-data">
												<div class="row">
													<div class="col-md-6">
														<label style="font-size: 12px;">ROCode*</label> <input
															class="form-control" type="text" name="roCode"
															placeholder="RO Code"
															ng-model="cCctr.entity.roDetails.roCode"
															ng-required="true" ng-maxlength="10"
															ng-pattern="/^[a-zA-Z0-9]*$/"
															ng-model-options="{updateOn: 'blur'}" /> <span
															style="color: red"
															ng-show="profileForm.submitted || profileForm.roCode.$dirty && profileForm.roCode.$invalid">
															<span class="error"
															ng-show="profileForm.roCode.$error.pattern">Enter
																valid Ro Code </span> <span class="error"
															ng-show="profileForm.roCode.$error.maxlength">RO
																Code should not be greater than 10 characters. </span> <span
															class="error"
															ng-show="profileForm.roCode.$error.required">RO
																Code is Required. </span>
														</span>
													</div>

													<div class="col-md-6">

														<label style="font-size: 12px;">ROName*</label> <input
															class="form-control" type="text" name="roName"
															placeholder="RO Name" ng-required="true"
															ng-model="cCctr.entity.roDetails.roName"
															ng-model-options="{updateOn: 'blur'}"
															ng-pattern="/^[a-zA-Z0-9]*$/" ng-maxlength="20" />
														<span style="color: red"
															ng-show="profileForm.submitted || profileForm.roName.$dirty && profileForm.roName.$invalid">
															<span class="error"
															ng-show="profileForm.roName.$error.pattern">Please
																enter valid Ro Name. </span> <span class="error"
															ng-show="profileForm.roName.$error.maxlength"> Ro
																Name. should not be greater than 20 characters.</span> <span
															class="error"
															ng-show="profileForm.roName.$error.required"> RO
																Name. is Required.</span>
														</span>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6">

														<label style="font-size: 12px;">RO Address*</label>
														<textarea class="form-control" type="text"
															name="roAddress" placeholder="Pan Reference No."
															ng-required="true"
															ng-model="cCctr.entity.roDetails.roAddress"
															ng-model-options="{updateOn: 'blur'}" /></textarea>
														<span style="color: red"
															ng-show="profileForm.submitted || profileForm.roAddress.$dirty && profileForm.roAddress.$invalid">
															<span class="error"
															ng-show="profileForm.roAddress.$error.required">RO
																Address is Required.</span>
														</span>
													</div>

													<div class="col-md-6">

														<label style="font-size: 12px;">ROEmail*</label> <input
															class="form-control" type="text" name="roEmail"
															placeholder="RO Email" ng-required="true"
															ng-model="cCctr.entity.roDetails.roEmail"
															ng-required="true" style="text-transform: lowercase"
															ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
															ng-model-options="{updateOn: 'blur'}" /> <span
															style="color: red"
															ng-show="profileForm.submitted || profileForm.roEmail.$dirty && profileForm.roEmail.$invalid">
															<span class="error"
															ng-show="profileForm.roEmail.$error.pattern">Please
																enter valid Email Id. </span> <span class="error"
															ng-show="profileForm.roEmail.$error.required">Email
																Id is Required.</span>
														</span>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<label style="font-size: 12px;">ROState*</label> <select
															class="form-control" type="text" name="roState"
															placeholder="RO State" ng-required="true"
															ng-model="cCctr.entity.roDetails.roState"
															ng-model-options="{updateOn: 'blur'}">
															<option disabled value="">Select State</option>
															<#list State as state>
															<option value="${state}">${state}</option>
															</#list>
														</select> <span style="color: red"
															ng-show="profileForm.submitted || profileForm.roState.$dirty && profileForm.roState.$invalid">
															<span class="error"
															ng-show="profileForm.roState.$error.pattern">Please
																enter valid State. </span> <span class="error"
															ng-show="profileForm.roState.$error.maxlength">State
																should not be greater than 45 characters.</span> <span
															class="error"
															ng-show="profileForm.roState.$error.required">State
																is Required.</span>
														</span> <span class="error" id="roState"></span>

													</div>

													<div class="col-md-6">

														<label style="font-size: 12px;">ROPincode*</label> <input
															class="form-control" type="text" name="roPincode"
															ng-required="true" placeholder="ROPincode"
															ng-model="cCctr.entity.roDetails.roPincode" ng-pattern=""
															ng-model-options="{updateOn: 'blur'}" /> <span
															style="color: red" ng-required="true"
															ng-pattern="/^[0-9]{6}$/"
															ng-show="profileForm.submitted || profileForm.roPincode.$dirty && profileForm.roPincode.$invalid">
															<span class="error"
															ng-show="profileForm.roPincode.$error.pattern">Please
																enter valid RO Pincode </span> <span class="error"
															ng-show="profileForm.roPincode.$error.required">RO
																Pincode is Required.</span>
														</span>

													</div>
												</div>
												<br> <br>
												<div class="row">
													<div class="col-md-12" style="text-align: right">

														<button class="pushable darkblue"
															style="margin-top: 2%;"
															data-dismiss="modal"
															ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,cCctr.entity.roDetails,'RODetails')">
															<span class="front darkbluespan"
																>
																Update</span>
														</button>
														<button class="pushable lightblack"
															style="margin-top: 2%;"
															data-dismiss="modal">
															<span class="front lightblackspan"
																>Close</span>
														</button>

													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>