
<style>
@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: white;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

.btn-grad {
	background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	padding: 8px;
}

.btn-grad:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

th {
	text-align: center;
}

td .autoResize {
	min-width: 100px;
	width: auto;
}

.autoResize {
	min-width: 115px;
	resize: horizontal;
	overflow: auto;
	display: block
}

.autoResizeQuarter {
	min-width: 70px;
	resize: horizontal;
	overflow: auto;
	display: block
}

.tooltip-top4 {
	width: max-content !important;
	margin-top: -83%;
	right: -6px;
}

.tooltip-top5 {
	width: max-content !important;
	margin-top: -68%;
	right: -6px;
}

.modal-open .model {
	overflow-x: hidden;
	overflow-y: auto;
}

/* Style for the help button image */
.help-button {
	transition: transform .2s;
	position: fixed;
	right: 10px;
	bottom: 10px;
	border-radius: 10px;
	background-color: #1e3361;
}

.help-button img {
	width: 50%; /* Ensure the image covers the button */
	height: auto; /* Maintain aspect ratio */
	filter: brightness(100);
}

/* Style for the help button when hovered */
.help-button:hover {
	transition: 0.5s;
	box-shadow: 0px 10px 10px black;
}

.help-button .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	top: 13px;
	right: 110%;
	opacity: 0;
	transition: opacity 1s;
}

.help-button:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	filter: drop-shadow(0px 0px 10px #222);
}
</style>

<div id="page-wrapper" ng-controller="CommonController as cCctr">
	<div class="container-fluid">

		<div class="collapse dont-collapse-sm" id="collapseExample2">
			<div class="row">
				<div class="heading">
					<strong>Upload Certificate</strong>
				</div>
				<div style="float: right">
					<button class="btn btn-secondary mobile tool" data-toggle="modal"
						style="background-color: crimson; margin-right: 80px;"
						data-toggle="collapse" data-target="#generateModal"
						aria-expanded="false" data-parent="#generateModal"
						aria-controls="collapseExample">
						<div class=button-main-box>
							Generate Zip Files
							<div class="button-tooltip-box">
								<span class="tooltiptext Search" style="margin-left: -50px;">
									Generate Zip Files</span>
							</div>
						</div>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-12" style="padding-left: 0px;">
						<div class="col-md-3">
							<h6>
								<b>Quarter</b>
							</h6>
							<select ng-model="cCctr.search.quarter" style="width: 100%"
								class="form-control">
								<option disabled value="">Select Quarter</option>
								<#list Quarter as quarter>
								<option value="${quarter}">${quarter}</option>
								</#list>
							</select>
						</div>

						<div class="col-md-3">
							<h6>
								<b>Financial Year</b>
							</h6>
							<select ng-model="cCctr.search.fy" style="width: 100%"
								class="form-control">
								<option disabled value="">Select financial Year</option>
								<#list financialYear as year>
								<option value="${year}">${year}</option>
								</#list>
							</select>
						</div>
						<div class="col-md-3">
							<h6>
								<b>Certificate</b>
							</h6>
							<select ng-model="cCctr.search.form" class="form-control"
								required>
								<option disabled value="">Select Certificate</option>
								<#list typeOfCertificate as Certificate>
								<option value="${Certificate}">${Certificate}</option>
								</#list>
							</select>
						</div>
						<div class="col-md-3 Btns">
							<button
								ng-click="cCctr.searchEntities(true,'uploadCertificate','uploadCertificate')"
								class="btn btn-success  tool" onclick="scrollWin()">
								<div class=button-main-box>
									<i class="fa fa-search border-0 p-0"
										style="color: inherit; display: block; background-color: transparent; font-size: 23px;"></i>
									<div class="button-tooltip-box">
										<span class="tooltiptext Search">Search Button</span>
									</div>
								</div>
							</button>
							<button class="btn btn-danger mobile tool" data-toggle="modal"
								data-target="#certificateModal">
								<div class=button-main-box>
									<i class="fa fa-upload border-0 p-0"
										style="color: inherit; display: block; background-color: transparent; font-size: 23px;"></i>
									<div class="button-tooltip-box">
										<span class="tooltiptext Search">Upload Certificate</span>
									</div>
								</div>
							</button>

							<button class="btn btn-primary mobile tool" data-toggle="modal"
								ng-click="cCctr.generateExcel('apiuploadCertificate/generateExcel/','uploadCertificate')">
								<div class=button-main-box>
									Export to Excel
									<div class="button-tooltip-box">
										<span class="tooltiptext Search" style="margin-left: -50px;">Export
											to Excel Button</span>
									</div>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-md-4" style="margin-top: 5px"></div>
				<div class="text-right" style="width: 100%"></div>
			</div>
		</div>

		<div class="row">
			    <div class=" table-responsive">  
			<table class=" table table-bordered table-hover table-striped"
				role="table" style="font-size: 12px; width: 100%; margin-top: 1.5%;">

				<thead>
				<colgroup>
					<col span="14" style="background-color: #ffffff">
				</colgroup>
				<tr>
				<thead role="rowgroup">
					<tr role="row"
						style="height: 40px; background-color: #7482f45e; cursor: pointer">
						<th>Sr. No.</th>
						<th><div class="autoResize">Zip File</div></th>
						<th><div class="autoResize">User Name</div></th>
						<th><div class="autoResize">TAN</div></th>
						<th><div class="autoResize">Financial Year</div></th>
						<th><div class="autoResize">Quarter</div></th>
						<th><div class="autoResize">Form</div></th>
						<th><div class="autoResize">Date</div></th>
						<th><div class="autoResize">Status</div></th>
					</tr>
				</thead>
				<tbody style="text-align: center;">
					<tr style="color: red"
						ng-show="cCctr.getEntityListData().length <= 0">
						<td colspan="14" style="text-align: center;"><b><h3
									style="text-align: center;">No data found!!</h3></b></td>
					<tr role="row" style="cursor: pointer"
						ng-repeat="a in cCctr.getEntityListData()">
						<td role="cell" class="one" style="padding: 5px">{{$index+cCctr.srNo}}</td>
						<td>{{a.fileName}}</td>
						<td>{{a.userName}}</td>
						<td>{{a.TAN}}</td>
						<td>{{a.fy}}</td>
						<td>{{a.quarter}}</td>
						<td>{{a.form}}</td>
						<td>{{a.uploadedTime |date:'dd-MM-yyyy hh:mm:ss a'}}</td>
						<td>{{a.status}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row" ng-show="cCctr.getNoPage() > 0">
			<div align="center">
				<span ng-show="cCctr.PreviousNo != 1"> <a
					ng-show="cCctr.PreviousNo >= 1 && cCctr.PreviousNo <= cCctr.getNoPage()"
					ng-click="cCctr.getPage(true,'uploadCertificate',cCctr.PreviousNo-1);cCctr.DisplayNo(cCctr.currentPage)"><strong>Previous</strong></a>
				</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>Displaying page &nbsp;<strong>{{cCctr.PreviousNo}}</strong>&nbsp;
					of &nbsp;<strong>{{cCctr.getNoPage()}}</strong>
					&nbsp;&nbsp;&nbsp;&nbsp; <span
					ng-show="cCctr.PreviousNo != cCctr.getNoPage()"> <a
						ng-show="cCctr.PreviousNo >= 1 && cCctr.PreviousNo <= cCctr.getNoPage()"
						ng-click="cCctr.getPage(true,'uploadCertificate',cCctr.PreviousNo+1);cCctr.DisplayNo(cCctr.currentPage)"><strong>Next</strong></a>
				</span>
				</span>
			</div>
			<form role="form" name="gotoForm" ng-if="cCctr.getNoPage()!=1">
				<div align="center" style="margin-top: 1%;">
					<span>Go to</span> &nbsp;&nbsp;&nbsp; <input
						style="width: 70px; text-align: center;" type="number"
						name="pageNo" id="pageNo" ng-model="cCctr.currentPage"
						oninput="javascript: if (this.value.length > this.max.length) this.value = this.value.slice(0, this.max.length);"
						autocomplete="off" ng-min="1" min="1" max="{{cCctr.getNoPage()}}"
						ng-max="cCctr.getNoPage()" ng-required="true">
					&nbsp;&nbsp;&nbsp;
					<button
						ng-show="cCctr.currentPage >= 1 && cCctr.currentPage <= cCctr.getNoPage()"
						ng-click="gotoForm.submitted=true;cCctr.getPage(gotoForm.$valid,'uploadCertificate',cCctr.currentPage);cCctr.DisplayNo(cCctr.currentPage)"
						class="btn btn-primary btn-sm">Go</button>
				</div>
				<div align="center">
					<span style="color: red"
						ng-show="gotoForm.submitted || gotoForm.pageNo.$dirty && gotoForm.pageNo.$invalid">
						<span class="error" ng-show="gotoForm.pageNo.$error.min">Page
							No. should not be less than 1.</span> <span class="error"
						ng-show="gotoForm.pageNo.$error.max">Page No. should not be
							greater than {{cCctr.getNoPage()}}.</span> <span class="error"
						ng-show="gotoForm.pageNo.$error.required">Please enter page
							number.</span>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- upload Certificate modal -->
	<div class="modal fade" id="certificateModal" role="dialog">
		<form role="form" name="uploadCertificate">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">

						<h4 class="modal-title"><b>Upload Certificate</b></h4>
						<button type="button" class="close" style="font-size: 24px;" data-dismiss="modal">&times;</button>
					</div>
					<div>
						<div class="col-md-12">
							<div class="form-group">
								<label style="font-size: 12px">TAN Number<span
									style="color: red;">*</span></label> <select name="tan" id="tan"
									title="Select TAN" class="form-control"
									ng-model="cCctr.entity.tan" ng-required="true">
									<option disabled value="">Select Tan</option>
									<!-- <option value="ALL TAN" selected>ALL TAN</option -->>
									<#list Tan as T>
									<option value="${T}">${T}</option>
									</#list>
								</select> <span style="color: red"
									ng-show="uploadCertificate.submitted ||uploadCertificate.tan.$dirty && uploadCertificate.tan.$invalid">
									<span class="error"
									ng-show="uploadCertificate.tan.$error.required">TAN is
										Required. </span>
								</span>
							</div>
						</div>
					</div>
					<div>
						<div class="col-md-12">
							<div class="form-group">
								<label style="font-size: 12px">Type of Certificate<span
									style="color: red;">*</span></label> <select name="typeofCertificate"
									id="typeofCertificate" title="Select Type of Certificate"
									class="form-control" ng-model="cCctr.entity.typeofCertificate"
									ng-required="true">
									<option disabled value="">Select Certificate</option>
									<#list typeOfCertificate as Certificate>
									<option value="${Certificate}">${Certificate}</option>
									</#list>
								</select> <span style="color: red"
									ng-show="uploadCertificate.submitted ||uploadCertificate.typeofCertificate.$dirty && uploadCertificate.typeofCertificate.$invalid">
									<span class="error"
									ng-show="uploadCertificate.typeofCertificate.$error.required">Type
										of Certificate is Required.</span>
								</span>
							</div>
						</div>
					</div>
					<div>
						<div class="col-md-12">
							<div class="form-group">
								<label style="font-size: 12px">Financial Year<span
									style="color: red;">*</span></label> <select name="financialYear"
									class="form-control" title="Select Financial Year"
									id="financialYear" ng-model="cCctr.entity.financialYear"
									ng-required="true">
									<option disabled value="">Select financial Year</option>
									<#list financialYear as year>
									<option value="${year}">${year}</option>
									</#list>
								</select> <span style="color: red"
									ng-show="uploadCertificate.submitted ||uploadCertificate.financialYear.$dirty && uploadCertificate.financialYear.$invalid">
									<span class="error"
									ng-show="uploadCertificate.financialYear.$error.required">Financial
										Year is Required.</span>
								</span>
							</div>
						</div>
					</div>
					<div>
						<div class="col-md-12">
							<div class="form-group">
								<label style="font-size: 12px">Quarter<span
									style="color: red;">*</span></label> <select name="quarter"
									class="form-control" title="Select Quarter" id="quarter"
									ng-model="cCctr.entity.quarter" ng-required="true">
									<option disabled value="">Select Quarter</option>
									<#list Quarter as quarter>
									<option value="${quarter}">${quarter}</option>
									</#list>
								</select> <span style="color: red"
									ng-show="uploadCertificate.submitted ||uploadCertificate.quarter.$dirty && uploadCertificate.quarter.$invalid">
									<span class="error"
									ng-show="uploadCertificate.quarter.$error.required">Quarter
										is Required. </span>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-12">
							<label style="font-size: 13px; margin-top: 2%">Upload
								Certificate&nbsp;<span
									style="color: red;">*</span></label> <input id="file" type="file"
								name="file" class="form-control"
								ng-model="cCctr.entity.blob" file-model="cCctr.entity.blob" accept=".pdf,.zip" ng-required="true"/>
								<span style="color: red"
									ng-show="uploadCertificate.submitted ||uploadCertificate.file.$dirty && uploadCertificate.file.$invalid">
									<span class="error"
									ng-show="uploadCertificate.file.$error.required">Certificate
										is Required. </span>
								</span>	
							<p class="allowedCSS">For single file upload (.pdf) file,<br> For bulk files upload (.zip) file.</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
							class="btn btn-primary waves-effect waves-light"
							ng-click="uploadCertificate.submitted=true;cCctr.uploadCertificate(uploadCertificate.$valid,'uploadCertificate',cCctr.entity)">Upload</button>

						<button type="button"
							class="btn btn-danger waves-effect waves-light"
							data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>

<!-- Generate Model -->
<div class="modal" id="generateModal" role="dialog">
	<div class="modal-dialog" id="Popup">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Generate Zip Files</h4>

				<button type="button" class="close" data-dismiss="modal"
					onclick="location.reload()">&times;</button>

			</div>
			<div class="modal-body">

				<form role="form" name="generateDetails">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label style="font-size: 15px">Type of Certificate<span
									style="color: red;">*</span></label> <select name="typeofCertificate"
									id="typeofCertificate" title="Select Type of Certificate"
									class="form-control" ng-model="cCctr.entity.form"
									ng-required="true" ng-model-options="{updateOn: 'blur'}">
									<option disabled value="">Select Certificate</option>
									<#list typeOfCertificate as Certificate>
									<option value="${Certificate}">${Certificate}</option>
									</#list>
								</select> <span style="color: red"
									ng-show="generateDetails.submitted ||generateDetails.typeofCertificate.$dirty && generateDetails.typeofCertificate.$invalid">
									<span class="error"
									ng-show="generateDetails.typeofCertificate.$error.required">Type
										of Certificate is Required.</span>
								</span>
							</div>
						</div>

						<div class="col-md-12">
							<div>
								<label style="font-size: 15px">Financial Year<span
									style="color: red;">*</span></label> <select class="form-control"
									id="fy" name="fy" title="Select Financial Year"
									ng-model="cCctr.entity.fy" ng-required="true">
									<option disabled value="">Select financial Year</option>
									<#list financialYear as year>
									<option value="${year}">${year}</option>
									</#list>
								</select> <span style="color: red"
									ng-show="generateDetails.submitted ||generateDetails.fy.$dirty && generateDetails.fy.$invalid">
									<span class="error"
									ng-show="generateDetails.fy.$error.required">Financial
										Year is Required. </span>
								</span>
							</div>
						</div>

						<div class="col-md-12">
							<div>
								<label style="font-size: 15px">Quarter<span
									style="color: red;">*</span></label> <select class="form-control"
									id="quarter" name="quarter" title="Select Quarter"
									ng-model="cCctr.entity.quarter" ng-required="true">
									<option disabled value="">Select Quarter</option>
									<#list Quarter as quarter>
									<option value="${quarter}">${quarter}</option>
									</#list>
								</select> <span style="color: red"
									ng-show="generateDetails.submitted ||generateDetails.quarter.$dirty && generateDetails.quarter.$invalid">
									<span class="error"
									ng-show="generateDetails.quarter.$error.required">Quarter
										is Required. </span>
								</span>
							</div>

						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-success  tool"
					ng-click="generateDetails.submitted=true;cCctr.createBranchZip(generateDetails.$valid,'apidownloadCertificate/createBranchZip/ALL TAN/'+cCctr.entity.form+'/'+cCctr.entity.fy+'/'+cCctr.entity.quarter)">
					<span class="   "> Generate Zip <span
						class="tooltiptext tooltip-top4">Generate Zip Button</span>
					</span>
				</button>
				<button class="btn btn-danger waves-effect waves-light tool"
					data-dismiss="modal">
					<span class="   " onclick="location.reload()"> Close <span
						class="tooltiptext tooltip-top5">Close Button</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</div>

	<button class="help-button" ng-click="cCctr.gotoHelp('homeSChelpPage', 'uploadCertificateHelp')"
		style="margin-bottom: 0%; width: 75px; height: 75px;">
		<img src="static/img/ROBO-TRANSPARENT.png" alt="Help">
		<!-- <span class="tooltiptext"
			style="font-family: 'Roboto', sans-serif;">Support</span> -->
		<span class=""
			style="font-family: 'Roboto', sans-serif; font-weight: bold; color: white; font-size: 14px;">SUPPORT</span>
	</button>

<!-- zip Modal -->
<div id="zipMsg" class="modal" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 style="color: green;">
					<picture>
					<source type="image/webp" srcset="static/img/success.webp">
					<img src="./././static/img/success.webp" height="30" width="30">
					</picture>
					<span class="headingMsg"></span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="msg" style="font-size: 18px;"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="cCctr.reload();" id="reload">Ok</button>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('input:file').change(function() {
			if ($(this).val()) {
				$('button').attr('disabled', false);
			}
		});
	});
</script>

<script>
	function hideDiv() {
		document.getElementById('Popup').style.display = 'none';
	}
</script>
<script>
$(function ($) {
	const SELECTOR = '.table-responsive';
	const stickyBarTemplate = '<div class="sticky-scrollbar"><div></div></div>';
	const stickyBarCSS = {
	    display: 'none',
	    overflowX: 'scroll',
	    position: 'sticky',
	    width: '100%',
	    height: '3%',
	    bottom: 0,
	    'z-index': 999
	};

	renderBars();
	$(window).on('load pageUpdate', renderBars);

	function renderBars() {
	    $(SELECTOR).each(function () {
	        let $container = $(this);
	        let $table = $container.find("table:first");
	        let $bar = $container.find('.sticky-scrollbar');
	        if (!$bar.length) {
	            $bar = $(stickyBarTemplate).appendTo($container).css(stickyBarCSS);

	            const resizeObserver = new ResizeObserver(entries => {
	                updateBar()
	            });
	            resizeObserver.observe($container[0]);
	            resizeObserver.observe($table[0]);

	            updateBar();
	            function updateBar() {
	                $bar.children('div').height(1).width($table.width());
	                $bar.width($container.width()).scrollLeft($container.scrollLeft());

	                requestAnimationFrame(function () {
	                    if ($table.width() > $container.width()) {
	                        $bar.show();

	                        $bar.scroll(function () {
	                            $table
	                                .css({"transform": "translateX(-" + $bar.scrollLeft() + "px)"});
	                            $container
	                                .find('.left-header, .top-left-header')
	                                .css({"transform": "translateX(" + $bar.scrollLeft() + "px)"});
	                        });

	                        $bar.scrollLeft($container.scrollLeft());
	                    } else {
	                        $bar.hide();
	                    }
	                });
	            }
	        }
	    });
	}
	});
</script>
<script>
	$(document).ready(function() {
		$(this).scrollTop(0);
	});
</script>