<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityData();">
	<div class="container-fluid">
	                <div class="row">
                        <h1 class="page-header" style="margin-top:0;">
                        	Detail of Customer
                         </h1>
                    </div>
		 <div class="row" ng-init="cCctr.temp={};cCctr.flag='';">
          	<div class="col-lg-12">
				<ul class="nav nav-tabs">
					<li class="active">
        				<a  data-target="#declarationDtls" data-toggle="tab">Declaration Detail</a>
					</li>
					<li><a data-target="#notifications"  data-toggle="tab" > Notifications Send </a>
					</li>
				</ul>

				<div class="tab-content " >
          			<div class="tab-pane active" id="declarationDtls">
              		<a  style="" class="btn btn-primary" data-toggle="modal" data-keyboard="true"  
              		ng-click="cCctr.flag='add';cCctr.temp={};cCctr.temp.clientId=cCctr.entity.partyDetail.clientId;cCctr.temp.partyId=cCctr.entity.partyDetail.id;cCctr.temp.aliasName=cCctr.entity.partyDetail.name;cCctr.temp.partyType='customer';" 
              		onclick="test('#partyBankDetail');"  >Add Bank Details</a>
              			
              			<div class="table-responsive">
							<table 
								class="table table-bordered ">
								<thead>
									<tr style="background-color: #81b7db">
										<th style="text-align: center;"> Bank Name</th>
										<th style="text-align: center;" >Branch</th>
										<th style="text-align: center;" >Account No.</th>
										<th style="text-align: center;" >IFSC</th>
										<th style="text-align: center;">MICR No</th>
										<th style="text-align: center;">Account Type</th>
										<th style="text-align: center;">Edit Bank Details</th>
										<th></th>
									</tr>
								</thead>
          						<tbody>
          						<tr ng-repeat="pb in cCctr.entity.partyBankDetail">
          							
          							<td>{{pb.bankName}}</td>
          							
          							<td>{{pb.branch}}</td>
          						
          							<td>{{pb.acNo}}</td>
          							
          							<td>{{pb.ifsc}}</td>
          						
          							<td>{{pb.micrNo}}</td>   
          							
          							<td>{{pb.acType}}</td>      
          							
          								
          							<td  class="tab-pane" id="bankDetail"><a  class="btn btn-primary" data-toggle="modal" data-keyboard="true" ng-click="cCctr.flag='edit';cCctr.temp=pb;"  onclick="test('#partyBankDetail');" >Edit Bank Details</a></td>	
          							<td rowspan="1" style="text-align: center;vertical-align: middle;"><a
											ng-click="cCctr.gotoDeleteOnly(pb.id,'partyBankDetail');cCctr.entity.partyBankDetail.splice($index,1);">
											<span class="fa fa-trash-o" style=""></span></a></td>		
          						</tr>
          						</tbody>
          					</table>
          					</div>
          					
          					
          					<div class="row">
            			<div class="col-md-6">
            				
            					<button onclick=window.history.back();  class="btn btn-primary">Back</button>
            			</div>
            		</div>
            		</div>
          				
					<div class="tab-pane" id="notifications">
          				<!-- Invoice List-->
                  <div class="row" >
                    <div class="col-lg-12">
                        <div class="panel panel-default" style="border: none !important;" >
                            <div class="panel-heading">
                            	<div class="row">
                            		<div class="col-md-6">
                                		<h3 class="panel-title"><strong>Name &nbsp;:</strong> {{cCctr.entity.partyDetail.name}}</h3>
                                	</div>
                                	<div class="col-md-6">
                                		<h3 style="float: right;" class="panel-title"><strong>Outstanding &nbsp;:</strong> {{cCctr.entity.partyDetail.outstanding}}</h3>
                                	</div>
                               	 </div>
                                <div class="row">
                            		<div class="col-md-6">
                                		<h3 style="float: center" class="panel-title"><strong>GSTIN :</strong> {{cCctr.entity.partyDetail.gstin}}</h3>
                                	</div>
                                	<div class="col-md-6">
                                		<h3 style="float: right" class="panel-title"><a  style="float: right;color:Green" ng-click="cCctr.gotoAdd('invoice')" data-toggle="tab" >&nbsp;&nbsp;+Add Invoice&nbsp;&nbsp;</a> </h3>
                                	</div>
                                </div>
                            </div>
                            <div class="panel-body" >
                            <div ng-repeat="item in cCctr.getEntityListData();" ng-hide="!$first">

	<!--first heading -->
	<div class="col-md-12 " style="padding-left: 0px;">
		<div style="font-size: 30px;">Investment Details</div>



		<table class="table table-bordered table-hover table-striped table">
			<thead style="background-color: #A9A9A9;">
				<tr>
					<th>Section</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<!-- first row -->
				<tr ng-show="item.sec80c!=null">
					<td>Section 80C</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped inner-table"
							id="inner-table">
							<thead
								style="background-color: #D3D3D3;       &gt;
							&lt;tr style="height: 1px;">
								<th>Types of Investment</th>
								<th>File Description</th>
								<th>Amount Claim</th>
								<th>Status</th>
								<th>Remark</th>
								<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80 in item.sec80c">
									<td>{{s80.typeOfInvestment}}</td>
									<td>{{s80.fileDescription}}</td>
									<td>{{s80.amountClaimed}}</td>
									<td>{{s80.status}}</td>
									<td>{{s80.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th colspan="2" style="text-align: center;">Total</th>
									<th>{{item.sec80c | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<!-- second row -->
				<tr ng-show="item.sec80ccc!=null">
					<td>Section 80CCC</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr>
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80ccc in item.sec80ccc">
									<td>{{s80ccc.fileDescription}}</td>
									<td>{{s80ccc.amountClaimed}}</td>
									<td>{{s80ccc.status}}</td>
									<td>{{s80ccc.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80ccc | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<!-- third row -->
				<tr ng-show="item.sec80ccd_1b!=null">
					<td>Section 80CCD</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80ccd1b in item.sec80ccd_1b">
									<td>{{s80ccd1b.fileDescription}}</td>
									<td>{{s80ccd1b.amountClaimed}}</td>
									<td>{{s80ccd1b.status}}</td>
									<td>{{s80ccd1b.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80ccd_1b | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<!-- forth row -->

				<tr ng-show="item.sec80ccd!=null">
					<td>Section 80CCD(1B)</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80ccd in item.sec80ccd">
									<td>{{s80ccd.fileDescription}}</td>
									<td>{{s80ccd.amountClaimed}}</td>
									<td>{{s80ccd.status}}</td>
									<td>{{s80ccd.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80ccd | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<!-- fifth row -->
				<tr ng-show="item.sec80d!=null">
					<td>Section 80D</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80d in item.sec80d">
									<td>{{s80d.fileDescription}}</td>
									<td>{{s80d.amountClaimed}}</td>
									<td>{{s80d.status}}</td>
									<td>{{s80d.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80d | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<!-- fifth row -->

				<tr ng-show="item.sec80dd!=null">
					<td>Section 80DD</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr>
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80dd in item.sec80dd">
									<td>{{s80dd.fileDescription}}</td>
									<td>{{s80dd.amountClaimed}}</td>
									<td>{{s80dd.status}}</td>
									<td>{{s80dd.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80dd | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>



				<!-- sixth row -->
				<tr ng-show="item.sec80ddb!=null">
					<td>Section 80DDB</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80ddb in item.sec80ddb">
									<td>{{s80ddb.fileDescription}}</td>
									<td>{{s80ddb.amountClaimed}}</td>
									<td>{{s80ddb.status}}</td>
									<td>{{s80ddb.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80ddb | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>

							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>

				<!-- 7th row -->
				<tr ng-show="item.sec80ee!=null">
					<td>Section 80EE</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80ee in item.sec80ee">
									<td>{{s80ee.fileDescription}}</td>
									<td>{{s80ee.amountClaimed}}</td>
									<td>{{s80ee.status}}</td>
									<td>{{s80ee.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80ee | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>

				<!-- 8th row -->
				<tr ng-show="item.sec80g!=null">
					<td>Section 80G</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80g in item.sec80g">
									<td>{{s80g.fileDescription}}</td>
									<td>{{s80g.amountClaimed}}</td>
									<td>{{s80g.status}}</td>
									<td>{{s80g.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80g | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>

				<!-- 9th row -->
				<tr ng-show="item.sec80gg!=null">
					<td>Section 80GG</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80gg in item.sec80gg">
									<td>{{s80gg.fileDescription}}</td>
									<td>{{s80gg.amountClaimed}}</td>
									<td>{{s80gg.status}}</td>
									<td>{{s80gg.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80gg | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>


				<!-- 10th row -->
				<tr ng-show="item.sec80gga!=null">
					<td>Section 80GGA</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80gga in item.sec80gga">
									<td>{{s80gga.fileDescription}}</td>
									<td>{{s80gga.amountClaimed}}</td>
									<td>{{s80gga.status}}</td>
									<td>{{s80gga.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80gga | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>

				<!-- 12th row -->
				<tr ng-show="item.sec80ggc!=null">
					<td>Section 80GGC</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80ggc in item.sec80ggc">
									<td>{{s80ggc.fileDescription}}</td>
									<td>{{s80ggc.amountClaimed}}</td>
									<td>{{s80ggc.status}}</td>
									<td>{{s80ggc.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80ggc | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>

				<!-- 13th row -->
				<tr ng-show="item.sec80tta!=null">
					<td>Section 80TTA</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80tta in item.sec80tta">
									<td>{{s80tta.fileDescription}}</td>
									<td>{{s80tta.amountClaimed}}</td>
									<td>{{s80tta.status}}</td>
									<td>{{s80tta.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80tta | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>


				<!-- 14th row -->
				<tr ng-show="item.sec80u!=null">
					<td>Section 80U</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s80u in item.sec80u">
									<td>{{s80u.fileDescription}}</td>
									<td>{{s80u.amountClaimed}}</td>
									<td>{{s80u.status}}</td>
									<td>{{s80u.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec80u | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>

				<!-- 14th row -->
				<tr ng-show="item.other!=null">
					<td>Other</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="other in item.other">
									<td>{{other.fileDescription}}</td>
									<td>{{other.amountClaimed}}</td>
									<td>{{other.status}}</td>
									<td>{{other.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.other | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table> <!-- end  inner table-->
					</td>
				</tr>



			</tbody>
		</table>
		<!-- end  inner table-->

		<!--Second heading -->
		<div style="font-size: 30px;">Exempted Allowance</div>
		<table class="table table-bordered table-hover table-striped table">
			<thead>
				<tr>
					<th>Section</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<!-- first row -->
				<tr ng-show="item.sec105!=null">
					<td>Section 10(5) - Leave Travel Concession</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr style="height: 2px;">
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s105 in item.sec105">
									<td>{{s105.fileDescription}}</td>
									<td>{{s105.amountClaimed}}</td>
									<td>{{s105.status}}</td>
									<td>{{s105.remark}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec105 | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<!-- second row -->
				<tr ng-show="item.sec1013a!=null">
					<td>Section 10 (13A) - House Rent Allowance</td>
					<td>
						<table
							class="table table-bordered table-hover table-striped table inner-table"
							id="inner-table">
							<thead>
								<tr>
									<th>File Description</th>
									<th>Amount Claim</th>
									<th>Status</th>
									<th>Name of Landlord</th>
									<th>PAN of Landlord</th>
									<th>Address of Landlord</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s1013a in item.sec1013a">
									<td>{{s1013a.fileDescription}}</td>
									<td>{{s1013a.amountClaimed}}</td>
									<td>{{s1013a.status}}</td>
									<td>{{s1013a.nameOfLandlord}}</td>
									<td>{{s1013a.panOfLandlord}}</td>
									<td>{{s1013a.addressOfLandlord}}</td>
									<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp
										<a ng-click=""><font color="red"> Delete</font></a></td>
								</tr>
								<tr>
									<th style="text-align: center;">Total</th>
									<th>{{item.sec1013a | sumByKey:'amountClaimed'}}</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

			</tbody>
		</table>
	</div>



	<!-- third heading -->
	<div style="font-size: 30px;">House Property Income</div>
	<table class="table table-bordered table-hover table-striped table">
		<thead>
			<tr>
				<th>Section</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<!-- first row -->
			<tr ng-show="item.hpi!=null">
				<td>House Property Income</td>
				<td>
					<table
						class="table table-bordered table-hover table-striped table inner-table"
						id="inner-table">
						<thead>
							<tr>
								<th>File Description</th>
								<th>Amount Claim</th>
								<th>Status</th>
								<th>Income Paid</th>
								<th>Name of Landlord</th>
								<th>Details Of Landlord</th>
								<th>PAN of Landlord</th>
								<th>Address of Landlord</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="hpi in item.hpi">
								<td>{{hpi.fileDescription}}</td>
								<td>{{hpi.amountClaimed}}</td>
								<td>{{hpi.status}}</td>
								<td>{{hpi.interestPaid}}</td>
								<td>{{hpi.nameOflender}}</td>
								<td>{{hpi.detailsOfLandlord}}</td>
								<td>{{hpi.panOfLandlord}}</td>
								<td>{{hpi.addressOfLandlord}}</td>
								<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp <a
									ng-click=""><font color="red"> Delete</font></a></td>
							</tr>
							<tr>
								<th style="text-align: center;">Total</th>
								<th>{{item.hpi | sumByKey:'amountClaimed'}}</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>


	<!-- 4TH heading -->
	<div style="font-size: 30px;">Other Income Details</div>
	<table class="table table-bordered table-hover table-striped table">
		<thead>
			<tr>
				<th>Section</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<!-- first row -->
			<tr ng-show="item.oid!=null">
				<td>Other Income Details</td>
				<td>
					<table
						class="table table-bordered table-hover table-striped table inner-table"
						id="inner-table">
						<thead>
							<tr>
								<th>Income Details</th>
								<th>File Description</th>
								<th>Amount Claim</th>
								<th>Status</th>
								<th>Remark</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="oid in item.oid">
								<td>{{oid.incomeDetails}}</td>
								<td>{{oid.fileDescription}}</td>
								<td>{{oid.amountClaimed}}</td>
								<td>{{oid.status}}</td>
								<td>{{oid.remark}}</td>
								<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp <a
									ng-click=""><font color="red"> Delete</font></a></td>
							</tr>
							<tr>
								<th colspan="2" style="text-align: center;">Total</th>
								<th>{{item.oid | sumByKey:'amountClaimed'}}</th>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- 5TH heading -->
	<div style="font-size: 30px;">Previous Employee Details</div>
	<table class="table table-bordered table-hover table-striped table">
		<thead>
			<tr>
				<th>Section</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<!-- first row -->
			<tr ng-show="item.ped!=null">
				<td>Previous Employee Details</td>
				<td>
					<table
						class="table table-bordered table-hover table-striped table inner-table"
						id="inner-table">
						<thead>
							<tr style="height: 2px;">
								<th>File Description</th>
								<th>Amount Claim</th>
								<th>Status</th>
								<th>Remark</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ped in item.ped">
								<td>{{ped.fileDescription}}</td>
								<td>{{ped.amountClaimed}}</td>
								<td>{{ped.status}}</td>
								<td>{{ped.remark}}</td>
								<td><a onclick="test('#viewFile')">View</a>&nbsp || &nbsp <a
									ng-click=""><font color="red"> Delete</font></a></td>
							</tr>
							<tr>
								<th style="text-align: center;">Total</th>
								<th>{{item.ped | sumByKey:'amountClaimed'}}</th>
								<td></td>
								<td></td>
								<td></td>
							</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

</div>

<!-- view file -->
<div class="modal fade1" id="viewFile"
	style="background-color: rgba(0, 0, 0, .7);">
	<div class="modal-dialog1">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-body row">
				<div class="col-md-8">
					<div style="width: 100%; auto; margin-top: 0px;">
						<iframe
							src="https://docs.google.com/gview?url=http://infolab.stanford.edu/pub/papers/google.pdf&embedded=true#:page.7"
							style="" width="100%" height="100%"></iframe>
					</div>
				</div>
				<div class="col-md-4">
					<button type="button" class="close" data-dismiss="modal">&times;</button>


					<div class="modal-header">

						<h4 class="modal-title">File Description</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
                            </div>
                        </div>
                    </div>
                </div>
					</div>
					

		</div>
   	</div>
   	</div>
   	</div>
   	</div>

 

