<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
                <div class="row">
                        
                               <h2>  Add Reimburseable InCharge Details</h2>
                           
                    </div>
		<div class="row">
			<div class="col-md-12">
           		<form role="form" name="empInchargeForm">
           			
            		<div class="row">
            			<div class="col-md-6">
                			<div class="form-group">
                    			<label>Nature Of Reimbursement*</label>
                    			<input class="form-control" type="text" name="natureOfReimbursement" placeholder="Nature Of Reimbursement" ng-model="cCctr.entity.natureOfReimbursement" autocomplete="off"
                					ng-maxlength="100" ng-required="true" ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
                    			
                			</div>
            			</div>
            			<div class="col-md-6">
            			<div class="form-group">
                    			<label>Amount Incurred*</label>
                    			<input class="form-control" type="text" name="amountIncurred" placeholder="Amount Incurred" ng-model="cCctr.entity.amountIncurred" autocomplete="off"
                					ng-maxlength="50" ng-required="true" ng-model-options="{updateOn: 'blur'}" />
                    			
                			</div>
                			
            			</div>
            		</div>
            		
            		<div class="row">
            			<div class="col-md-6">
                			<div class="form-group">
                    			<label>Date*</label>
                    			<input class="form-control" type="date" name="date" placeholder="Date" ng-model="cCctr.entity.date" autocomplete="off"
                					ng-maxlength="10" ng-required="true" ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
                    			
                			</div>
            			</div>
            			<div class="col-md-6">
            			<div class="form-group">
                    			<label>Reimbursement Claim No.*</label>
                    			<input class="form-control" type="text" name="claimNo" placeholder="Claim No" ng-model="cCctr.entity.claimNo" autocomplete="off"
                					ng-maxlength="50" ng-required="true" ng-pattern=" " ng-model-options="{updateOn: 'blur'}" />
                    			
														
                			</div>
                			
            			</div>
            		</div>
            		
            		
            		<div class="row">
            			<div class="col-md-6">
                			<div class="form-group">
                    			<label>Claim Submitted To*</label>
                    			<input class="form-control" type="text" name="claimSubmittedTo" placeholder="Claim Submitted To" ng-model="cCctr.entity.claimSubmittedTo" autocomplete="off"
                					ng-maxlength="10" ng-required="true" ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
                    			
                			</div>
            			</div>
            			<div class="col-md-6">
            			<div class="form-group">
                    			<label>Approved Amount*</label>
                    			<input class="form-control" type="text" name="amountApproved" placeholder="Amount Approved" ng-model="cCctr.entity.amountApproved" autocomplete="off"
                					ng-maxlength="50" ng-required="true" ng-pattern=" " ng-model-options="{updateOn: 'blur'}" />
                    			
														
                			</div>
                			
            			</div>
            		</div>
            		
            	
            		<div class="row">
            			<div class="col-md-6">
                			<div class="form-group">
                    			<label>Approved Date*</label>
                    			<input class="form-control" type="text" name=approvedDate placeholder="Approved Date" ng-model="cCctr.entity.approvedDate" autocomplete="off"
                					ng-maxlength="10" ng-required="true" ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
                    			
                			</div>
            			</div>
            			<div class="col-md-6">
            			<div class="form-group">
                    			<label>Remark*</label>
                    			<input class="form-control" type="text" name="remark" placeholder="Remark" ng-model="cCctr.entity.remark" autocomplete="off"
                					ng-maxlength="50" ng-required="true" ng-pattern=" " ng-model-options="{updateOn: 'blur'}" />
                    			
														
                			</div>
                			
            			</div>
            		</div>
            		
            		<div class="row">
            			<div class="col-md-6">
            				<button ng-click="empInchargeForm.submitted=true;cCctr.submit(empInchargeForm.$valid,'reimburseableIncharge')" class="btn btn-success">Submit</button>
            				<button ng-click="cCctr.gotoListPage('reimburseableIncharge','reimburseableIncharge');" class="btn btn-primary">Cancel</button>
            			</div>
            		</div>
            	</form>
            </div>
		</div>
	</div>
</div>