<br>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<h4>Add Regular 24Q4Challan Details</h4>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="form24qchallan">


					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label> TDS</label> <input class="form-control" type="text"
									name="tds" placeholder="TDS" ng-model="cCctr.entity.tds"
									autocomplete="off" ng-pattern=""
									ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Surcharge</label> <input class="form-control" type="text"
									name="surcharge" placeholder="Total Tax Deposited"
									ng-model="cCctr.entity.surcharge" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>


					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label> EducationCess</label> <input class="form-control"
									type="text" name="educationCess" placeholder="EducationCess"
									ng-model="cCctr.entity.educationCess" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>

                       <div class="col-md-6">
						<div class="form-group">
							<label>Interest</label> <input class="form-control" type="text"
								name="interest" placeholder="Interest"
								ng-model="cCctr.entity.interest" autocomplete="off"
								ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
						</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-6">
						<div class="form-group">
							<label> fee</label> <input class="form-control" type="text"
								name="fee" placeholder="Fee" ng-model="cCctr.entity.fee"
								autocomplete="off" ng-pattern=""
								ng-model-options="{updateOn: 'blur'}" />
						</div>
						</div>
                       <div class="col-md-6">
						<div class="form-group">
							<label>Others</label> <input class="form-control" type="text"
								name="others" placeholder="Others"
								ng-model="cCctr.entity.others" autocomplete="off" ng-pattern=""
								ng-model-options="{updateOn: 'blur'}" />
						</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label> Total Tax Deposited</label> <input class="form-control"
									type="text" name="totalTaxDeposited"
									placeholder="Total Tax Deposited"
									ng-model="cCctr.entity.totalTaxDeposited" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>
                        <div class="col-md-6">
						<div class="form-group">
							<label>By Book Entry</label> <input class="form-control"
								type="text" name="byBookEntry" placeholder="By Book Entry"
								ng-model="cCctr.entity.byBookEntry" autocomplete="off"
								ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
						</div>
</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label> BsrCode</label> <input class="form-control" type="text"
									name="bsrCode" placeholder="bsrCode"
									ng-model="cCctr.entity.bsrCode" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Challan Serial No</label> <input class="form-control"
									type="text" name="challanSerialNo"
									placeholder="ChallanSerialNo"
									ng-model="cCctr.entity.challanSerialNo" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label> Date Of Deposition</label> <input class="form-control"
									type="date" name="dateOfDeposition"
									placeholder="DateOfDeposition"
									ng-model="cCctr.entity.dateOfDeposition"
									" autocomplete="off" ng-pattern=""
									ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>minorHeadOfChallan</label> <input class="form-control"
									type="text" name="minorHeadOfChallan"
									placeholder="Minor Head Of Challan"
									ng-model="cCctr.entity.minorHeadOfChallan" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label> Interest Allocated</label> <input class="form-control"
									type="text" name="interestAllocated"
									placeholder="InterestAllocated"
									ng-model="cCctr.entity.interestAllocated" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Other Amt Allocated</label> <input class="form-control"
									type="text" name="otherAmtAllocated"
									placeholder="Other Amt Allocated"
									ng-model="cCctr.entity.otherAmtAllocated" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label> Remarks</label> <input class="form-control" type="text"
									name="remarks" placeholder="remarks"
									ng-model="cCctr.entity.remarks" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Nill Challan Indicator</label> <input
									class="form-control" type="text" name="nillChallanIndicator"
									placeholder="Nill Challan Indicator"
									ng-model="cCctr.entity.nillChallanIndicator" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>



					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label> Short Payment</label> <input class="form-control"
									type="text" name="shortPayment" placeholder="ShortPayment"
									ng-model="cCctr.entity.shortPayment" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>


						<div class="col-md-6">
							<div class="form-group">
								<label>Interest On Short Payment</label> <input
									class="form-control" type="text" name="interestOnShortPayment"
									placeholder="Interest On ShortPayment"
									ng-model="cCctr.entity.interestOnShortPayment"
									autocomplete="off" ng-pattern=""
									ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label> financial Year</label> <input class="form-control"
									type="text" name="fy" placeholder="financial Year"
									ng-model="cCctr.entity.fy" autocomplete="off" ng-pattern=""
									ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Quarter</label> <input class="form-control" type="text"
									name="quarter" placeholder="quarter"
									ng-model="cCctr.entity.quarter" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button
				ng-click="form24qchallan.submitted=true; cCctr.submit(form24qchallan.$valid,'regular24Q4Challan')"
				class="btn btn-success" data-dismiss="modal">Save</button>
			<button
				ng-click="cCctr.gotoListPage('regular24Q4Challan','regular24Q4Challan"
				class="btn btn-primary">Cancel</button>
		</div>
	</div>
</div>
</div>

</div>
