<br>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<h4>Add Regular 27Q4Challan Details</h4>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="form27qchallan">
<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>TDS</label> <input
														class="form-control" type="text" name="tds"
														placeholder="TDS"
														ng-model="cCctr.entity.tds"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Surcharge </label> <input
														class="form-control" type="text" name="surcharge"
														placeholder="Surcharge"
														ng-model="cCctr.entity.surcharge"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Education Cess</label> <input class="form-control" type="text"
														name="eduCess" placeholder="Education Cess"
														ng-model="cCctr.entity.eduCess" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


											<div class="col-md-6">
												<div class="form-group">
													<label>Interest </label> <input class="form-control"
														type="text" name="interest" placeholder="Interest"
														ng-model="cCctr.entity.interest" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Fee</label> <input class="form-control"
														type="text" name="fee"
														placeholder="Fee"
														ng-model="cCctr.entity.fee"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Others</label> <input
														class="form-control" type="text" name="others"
														placeholder="Others"
														ng-model="cCctr.entity.others" />
									
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Total Tax Deposit </label> <input class="form-control"
														type="text" name="totalTaxDeposit" placeholder="Total Tax Deposit"
														ng-model="cCctr.entity.totalTaxDeposit"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											 <div class="col-md-6">
												<div class="form-group">
													<label>Tax Deposit Date</label> <input class="form-control"
														type="text" name="taxDepositDate" placeholder="Tax Deposit Date"
														ng-model="cCctr.entit.taxDepositDate|
									date:'dd-MM-yyyy'" />
												</div>
											</div>
										</div>
										<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Bank Branch Code</label> <input class="form-control"
										type="text" name="bankBranchCode" placeholder="Bank Branch Code"
										ng-model="cCctr.entit.bankBranchCode" autocomplete="off"
										ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>Challan Sr.No</label> <input class="form-control"
										type="text" name="challanSrNo"
										placeholder="Challan Sr.No"
										ng-model="cCctr.entity.challanSrNo"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Minor Head Challan</label> <input class="form-control" type="text"
										name="minorHeadChallan" placeholder="Minor Head Challan"
										ng-model="cCctr.entity.minorHeadChallan" autocomplete="off"
										ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>Interest Allocated</label> <input class="form-control"
										type="text" name="interestAllocated"
										placeholder="Interest Allocated"
										ng-model="cCctr.entity.interestAllocated"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Other Amount Allocated</label> <input class="form-control"
										type="text" name="otherAmtAllocated"
										placeholder="Other Amount Allocated"
										ng-model="cCctr.entit.otherAmtAllocated"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label> Nil Challan Indicator</label> <input class="form-control"
										type="text" name="nilChallanIndicator"
										placeholder="Nil Challan Indicator"
										ng-model="cCctr.entity.nilChallanIndicator"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>FY</label> <input class="form-control" type="text"
										name="fy" placeholder="FY" ng-model="cCctr.entity.fy"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label> Quarter</label> <input class="form-control" type="text"
										name="quarter" placeholder="Quarter"
										ng-model="cCctr.entity.quarter" autocomplete="off"
										ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>
						</div>
									
								</form>
								</div>
							</div>
							<div class="modal-footer">
								<button
									ng-click="form27qchallan.submitted=true; cCctr.submit(form27qchallan.$valid,'regular27QChallan')"
									class="btn btn-success" data-dismiss="modal">Save</button>
								<button
								ng-click="cCctr.gotoListPage('regular27QChallan','regular27QChallan');"
								class="btn btn-danger">Cancel</button>
							</div>
						</div>
					</div>
				</div>

			</div>
