<br>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<h1>Add Regular 26Q4 Deductee Details</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="form26qdeductee">


							<div class="row">
								<div class="col-md-6">
								   <div class="form-group">
									     <label> Challan Sr No</label> 
									     <input class="form-control"
										    type="text" name="challanSrNo" placeholder="challanSrNo"
										    ng-model="cCctr.entity.challanSrNo" autocomplete="off"
										    ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
										     <span class="error" id="challanSrNo"></span>
								</div>
							
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>deducteeRefNo</label> <input
														class="form-control" type="text" name="deducteeRefNo"
														placeholder="deducteeRefNo"
														ng-model="cCctr.entity.deducteeRefNo"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Deductee Code </label> <input
														class="form-control" type="text" name="deducteeCode"
														placeholder="deducteeCode"
														ng-model="cCctr.entity.deducteeCode"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>DeducteePan</label> <input class="form-control" type="text"
														name="deducteePan" placeholder="deducteePan"
														ng-model="cCctr.entity.deducteePan" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>DeducteeName</label> <input class="form-control"
														type="text" name="deducteeName" placeholder="deducteeName"
														ng-model="cCctr.entity.deducteeName" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>SectionCode</label> <input class="form-control"
														type="text" name="sectionCode"
														placeholder="sectionCode"
														ng-model="cCctr.entity.sectionCode"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Payment Date </label> <input class="form-control"
														type="date" name="paymentDate" placeholder="paymentDate"
														ng-model="cCctr.entity.paymentDate" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Paid Amt</label> <input
														class="form-control" type="text" name="paidAmt"
														placeholder="paidAmt"
														ng-model="cCctr.entity.paidAmt"/>
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>tds </label> <input class="form-control"
														type="text" name="tds" placeholder="tds"
														ng-model="cCctr.entity.tds"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Surcharge</label> <input class="form-control" type="text"
														name="surcharge" placeholder="surcharge"
														ng-model="cCctr.entity.surcharge" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Education cess </label> <input class="form-control"
														type="text" name="eduCess" placeholder="eduCess"
														ng-model="cCctr.entity.eduCess"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>TotalTaxDeduct</label> <input class="form-control"
														type="text" name="totalTaxDeduct"
														placeholder="totalTaxDeduct"
														ng-model="cCctr.entity.totalTaxDeduct"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>TotalTaxDeposit</label> <input class="form-control"
										type="text" name="totalTaxDeposit" placeholder="totalTaxDeposit"
										ng-model="cCctr.entity.totalTaxDeposit" autocomplete="off"
										ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>DeductDate</label> <input class="form-control"
										type="date" name="deductDate"
										placeholder="deductDate"
										ng-model="cCctr.entity.deductDate"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Rate Tax Deduct</label> <input class="form-control" type="text"
										name="rateTaxDeduct" placeholder="rateTaxDeduct"
										ng-model="cCctr.entity.rateTaxDeduct" autocomplete="off"
										ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>Remarks</label> <input class="form-control"
										type="text" name="remarks"
										placeholder="remarks"
										ng-model="cCctr.entity.remarks"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>CertificateNo</label> <input class="form-control"
										type="text" name="certificateNo"
										placeholder="certificateNo"
										ng-model="cCctr.entity.certificateNo"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label> Warning Description</label> <input class="form-control"
										type="text" name="warningDescription"
										placeholder="warningDescription"
										ng-model="cCctr.entity.warningDescription"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>ShortDeduct</label> <input class="form-control"
										type="text" name="shortDeduct"
										placeholder="shortDeduct"
										ng-model="cCctr.entity.shortDeduct"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label> Interest On ShtDeduct</label> <input
										class="form-control" type="text"
										name="interestOnShtDeduct"
										placeholder="interestOnShtDeduct"
										ng-model="cCctr.entity.interestOnShtDeduct"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Interest On Late Pay</label> <input class="form-control"
										type="text" name="interestOnLatePay"
										placeholder="interestOnLatePay"
										ng-model="cCctr.entity.interestOnLatePay"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label> Interest On LateDeduct</label> <input
										class="form-control" type="text"
										name="interestOnLateDeduct"
										placeholder="interestOnLateDeduct"
										ng-model="cCctr.entity.interestOnLateDeduct"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Financial Year</label> <input class="form-control"
										type="text" name="fy"
										placeholder="Financial Year"
										ng-model="cCctr.entity.fy"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label> Quarter</label> <input
										class="form-control" type="text"
										name="quarter"
										placeholder="quarter"
										ng-model="cCctr.entity.quarter"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						
						
									</form>
								</div>
							</div>
							<div class="modal-footer">
								<button
									ng-click="form26qdeductee.submitted=true; cCctr.submit(form26qdeductee.$valid,'form26Q')"
									class="btn btn-success" data-dismiss="modal">Save</button>
								<button
								ng-click="cCctr.gotoListPage('form26Q','form26Q');"
								class="btn btn-primary">Cancel</button>
							</div>
						</div>
					</div>
				</div>

			</div>
