<br>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<h1>Add Regular 26Q4Challan Details</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="form26qchallan">


							<div class="row">
								<div class="col-md-6">
								   <div class="form-group">
									     <label> TDS</label> 
									     <input class="form-control"
										    type="text" name="tds" placeholder="TDS"
										    ng-model="cCctr.entity.tds" autocomplete="off"
										    ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
								</div>
							
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Surcharge</label> <input
														class="form-control" type="text" name="surcharge"
														placeholder="surcharge"
														ng-model="cCctr.entity.surcharge"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>EduCation cess </label> <input
														class="form-control" type="text" name="eduCess"
														placeholder="eduCess"
														ng-model="cCctr.entity.eduCess"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Interest</label> <input class="form-control" type="text"
														name="interest" placeholder="interest"
														ng-model="cCctr.entity.interest" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Fee </label> <input class="form-control"
														type="text" name="fee" placeholder="fee"
														ng-model="cCctr.entity.fee" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Others</label> <input class="form-control"
														type="text" name="others"
														placeholder="others"
														ng-model="cCctr.entity.others"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>TotalTaxDeposit </label> <input class="form-control"
														type="text" name="totalTaxDeposit" placeholder="totalTaxDeposit "
														ng-model="cCctr.entity.totalTaxDeposit" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>TDS Deposit BookEntry</label> <input
														class="form-control" type="text" name="tdsDepositBookEntry"
														placeholder="tdsDepositBookEntry"
														ng-model="cCctr.entity.tdsDepositBookEntry"/>
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>BsrCode </label> <input class="form-control"
														type="text" name="bsrCode" placeholder="bsrCode"
														ng-model="cCctr.entity.bsrCode"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>ChallanSrNo</label> <input class="form-control" type="text"
														name="challanSrNo" placeholder="challanSrNo"
														ng-model="cCctr.entity.challanSrNo" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Date Tax Deposit </label> <input class="form-control"
														type="date" name="dateTaxDeposit" placeholder="dateTaxDeposit"
														ng-model="cCctr.entity.dateTaxDeposit"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>MinorHeadChallan</label> <input class="form-control"
														type="text" name="minorHeadChallan"
														placeholder="minorHeadChallan"
														ng-model="cCctr.entity.minorHeadChallan"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Interest Allocated</label> <input class="form-control"
										type="text" name="interestAllocated" placeholder="interestAllocated"
										ng-model="cCctr.entity.interestAllocated" autocomplete="off"
										ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>otherAmtAllocated</label> <input class="form-control"
										type="text" name="otherAmtAllocated"
										placeholder="otherAmtAllocated"
										ng-model="cCctr.entity.otherAmtAllocated"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>nilChallanIndicator</label> <input class="form-control" type="text"
										name="nilChallanIndicator" placeholder="nilChallanIndicator"
										ng-model="cCctr.entity.nilChallanIndicator" autocomplete="off"
										ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>ShortPayment</label> <input class="form-control"
										type="text" name="shortPayment"
										placeholder="shortPayment"
										ng-model="cCctr.entity.shortPayment"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>WarningDescription</label> <input class="form-control"
										type="text" name="warningDescription"
										placeholder="warningDescription"
										ng-model="cCctr.entity.warningDescription"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label> interestShortPay</label> <input class="form-control"
										type="text" name="interestShortPay"
										placeholder="interestShortPay"
										ng-model="cCctr.entity.interestShortPay"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>fy</label> <input class="form-control"
										type="text" name="fy"
										placeholder="fy"
										ng-model="cCctr.entity.fy"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label> Quarter</label> <input
										class="form-control" type="text"
										name="quarter"
										placeholder="quarter"
										ng-model="cCctr.entity.quarter"
										autocomplete="off" ng-pattern=""
										ng-model-options="{updateOn: 'blur'}" />
								</div>
							</div>


						</div>
						
						
									</form>
								</div>
							</div>
							<div class="modal-footer">
								<button
									ng-click="form26qchallan.submitted=true; cCctr.submit(form26qchallan.$valid,'formchalllan26Q')"
									class="btn btn-success" data-dismiss="modal">Save</button>
								<button
								ng-click="cCctr.gotoListPage('formchalllan26Q','formchalllan26Q');"
								class="btn btn-primary">Cancel</button>
							</div>
						</div>
					</div>
				</div>

			</div>
