<br>
<div id="page-wrapper" ng-controller="CommonWOTController as cWctr">
	<div class="container-fluid">
		<div class="row">
			<h3>
				<strong>Add Regular 24Q4 Deductee Details</strong>
			</h3>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="form24qdeductee">


					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Challan Sr. No<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="challanSrNo" placeholder="Challan Sr. No"
									ng-model="cWctr.entity.challanSrNo" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-model-options="{updateOn: 'blur'}" ng-required="true"
									ng-maxlength="12" /> <span style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.challanSrNo.$dirty && form24qdeductee.challanSrNo.$invalid">
									<span class="error"
									ng-show="form24qdeductee.challanSrNo.$error.pattern">Please
										enter valid Challan Sr. No </span> <span class="error"
									ng-show="form24qdeductee.challanSrNo.$error.maxlength">Challan
										Sr. No should not be greater than 12 characters.</span> <span
									class="error"
									ng-show="form24qdeductee.challanSrNo.$error.required">Challan
										Sr. No is Required.</span>
								</span> <span class="error" id="challanSrNo"></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Employee Reference No<span style="color:red;">*</span></label> <input
									class="form-control" type="text" name="employeeRefNo"
									placeholder="Employee Reference No."
									ng-model="cWctr.entity.employeeRefNo" ng-required="true"
									ng-maxlength="12" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.employeeRefNo.$dirty && form24qdeductee.employeeRefNo.$invalid">
									<span class="error"
									ng-show="form24qdeductee.employeeRefNo.$error.pattern">Please
										enter valid Employee Reference No. </span> <span class="error"
									ng-show="form24qdeductee.employeeRefNo.$error.maxlength">Employee
										Reference No. should not be greater than 12 characters.</span> <span
									class="error"
									ng-show="form24qdeductee.employeeRefNo.$error.required">Employee
										Reference No. is Required.</span>
								</span> <span class="error" id="employeeRefNo"></span>
							</div>
						</div>


					</div>

<div class="row">
						<div class="col-md-6">

							<label> Branch Code<span style="color:red;">*</span></label> <input class="form-control"
								type="text" name="branchCode" placeholder="Branch Code"
								ng-model="cWctr.entity.branchCode" autocomplete="off"
								ng-pattern="/^[0-9]+$/" ng-maxlength="10" ng-required="true"
								ng-model-options="{updateOn: 'blur'}" /> <span
								style="color: red"
								ng-show="form24qdeductee.submitted ||form24qdeductee.challanSrNo.$dirty && form24qdeductee.challanSrNo.$invalid">
								<span class="error"
								ng-show="form24qdeductee.branchCode.$error.pattern">Please
									enter valid branchCode. </span> <span class="error"
								ng-show="form24qdeductee.branchCode.$error.maxlength">branchCode
									should not be greater than 10 characters.</span> <span class="error"
								ng-show="form24qdeductee.branchCode.$error.required">branchCode
									is Required.</span>
							</span> <span class="error" id="branchCode"></span>

						</div>

						<div class="col-md-6">

							<label>Account Number<span style="color:red;">*</span></label> <input class="form-control"
								type="text" name="Account Number" placeholder="Account Number"
								ng-model="cWctr.entity.accNo" autocomplete="off"
								ng-pattern="/^[0-9]+$/" ng-maxlength="12" ng-required="true"
								ng-model-options="{updateOn: 'blur'}" /> <span
								style="color: red"
								ng-show="form24qdeductee.submitted ||form24qdeductee.accNo.$dirty && form24qdeductee.accNo.$invalid">
								<span class="error"
								ng-show="form24qdeductee.accNo.$error.pattern">Please
									enter valid Account Number. </span> <span class="error"
								ng-show="form24qdeductee.accNo.$error.maxlength">Account
									Number should not be greater than 12 characters.</span> <span
								class="error" ng-show="form24qdeductee.accNo.$error.required">Account
									Number is Required.</span>
							</span> <span class="error" id="accNo"></span>
						</div>


					</div>

<div class="row">
						<div class="col-md-6">
							<label> Deductee ID<span style="color:red;">*</span></label> <input class="form-control"
								type="text" name="deducteeId" placeholder="Deductee ID"
								ng-model="cWctr.entity.deducteeId" autocomplete="off"
								ng-pattern="/^[0-9]+$/" ng-maxlength="15" ng-required="true"
								ng-model-options="{updateOn: 'blur'}" /> <span
								style="color: red"
								ng-show="form24qdeductee.submitted ||form24qdeductee.deducteeId.$dirty && form24qdeductee.deducteeId.$invalid">
								<span class="error"
								ng-show="form24qdeductee.deducteeId.$error.pattern">Please
									enter valid deductee Id. </span> <span class="error"
								ng-show="form24qdeductee.deducteeId.$error.maxlength">deductee Id
									should not be greater than 15 characters.</span> <span class="error"
								ng-show="form24qdeductee.deducteeId.$error.required">deductee Id
									is Required.</span>
							</span> <span class="error" id="deducteeId"></span>

						</div>

						<div class="col-md-6">

							<label>Challan Heading<span style="color:red;">*</span></label> <input class="form-control"
								type="text" name="challanHeading" placeholder="challan Heading"
								ng-model="cWctr.entity.challanHeading" autocomplete="off"
								ng-pattern="/^[a-zA-Z0-9]*$/" ng-maxlength="12" ng-required="true"
								ng-model-options="{updateOn: 'blur'}" /> <span
								style="color: red"
								ng-show="form24qdeductee.submitted ||form24qdeductee.challanHeading.$dirty && form24qdeductee.challanHeading.$invalid">
								<span class="error"
								ng-show="form24qdeductee.challanHeading.$error.pattern">Please
									enter valid Challan Heading. </span> <span class="error"
								ng-show="form24qdeductee.challanHeading.$error.maxlength">Challan Heading
									 should not be greater than 12 characters.</span> <span
								class="error" ng-show="form24qdeductee.challanHeading.$error.required">Challan Heading
									 is Required.</span>
							</span> <span class="error" id="challanHeading"></span>
						</div>
					</div>
					

					<div class="row">
						<div class="col-md-6">

							<label>ID Number<span style="color:red;">*</span></label> <input class="form-control" type="text"
								name="idNo" placeholder="Id Number" ng-model="cWctr.entity.idNo"
								autocomplete="off" ng-pattern="/^[0-9]+$/" ng-maxlength="15"
								ng-required="true" ng-model-options="{updateOn: 'blur'}" /> <span
								style="color: red"
								ng-show="form24qdeductee.submitted ||form24qdeductee.idNo.$dirty && form24qdeductee.idNo.$invalid">
								<span class="error"
								ng-show="form24qdeductee.idNo.$error.pattern">Please
									enter valid idNo. </span> <span class="error"
								ng-show="form24qdeductee.idNo.$error.maxlength">idNo
									should not be greater than 15 characters.</span> <span class="error"
								ng-show="form24qdeductee.idNo.$error.required">idNo is
									Required.</span>
							</span> <span class="error" id="idNo"></span>

						</div>

						<div class="col-md-6">

							<label>CIF<span style="color:red;">*</span></label> <input class="form-control" type="text"
								name="CIF" placeholder="CIF" ng-model="cWctr.entity.cif"
								autocomplete="off" 
								ng-maxlength="12" ng-required="true"
								ng-model-options="{updateOn: 'blur'}" /> <span
								style="color: red"
								ng-show="form24qdeductee.submitted ||form24qdeductee.accNo.$dirty && form24qdeductee.accNo.$invalid">
								<span class="error" ng-show="form24qdeductee.cif.$error.pattern">Please
									enter valid CIF. </span> <span class="error"
								ng-show="form24qdeductee.cif.$error.maxlength">cif should
									not be greater than 12 characters.</span> <span class="error"
								ng-show="form24qdeductee.cif.$error.required">cif is
									Required.</span>
							</span> <span class="error" id="cif"></span>
						</div>


					</div>


					<div class="row">
						<div class="col-md-6">

							<label>Type<span style="color:red;">*</span></label> <select name="type"
								class="form-control" ng-model="cWctr.entity.type"
								ng-required="true" ng-model-options="{updateOn: 'blur'}">
								<option value="cbs">Core Banking System</option>
								<option value="vps">Vendor Payment System</option>
								<option value="hrms">Human Resource Management System</option>
								<option value="cpps">Central Pension Payment System</option>
							</select> <span style="color: red"
								ng-show="form24qdeductee.submitted ||form24qdeductee.type.$dirty && form24qdeductee.type.$invalid">
								<span class="error"
								ng-show="form24qdeductee.type.$error.required">type
									is Required.</span>
							</span> <span class="error" id="type"></span>
						</div>
						<div class="col-md-6">

							<label>Month<span style="color:red;">*</span></label> <select name="quarter"
								class="form-control" ng-model="cWctr.entity.month"
								ng-required="true" ng-model-options="{updateOn: 'blur'}">
  <option selected value='1'>Janaury</option>
    <option value='2'>February</option>
    <option value='3'>March</option>
    <option value='4'>April</option>
    <option value='5'>May</option>
    <option value='6'>June</option>
    <option value='7'>July</option>
    <option value='8'>August</option>
    <option value='9'>September</option>
    <option value='10'>October</option>
    <option value='11'>November</option>
    <option value='12'>December</option>
							</select> <span style="color: red"
								ng-show="form24qdeductee.submitted ||form24qdeductee.month.$dirty && form24qdeductee.month.$invalid">
								<span class="error"
								ng-show="form24qdeductee.month.$error.required">Month
									is Required.</span>
							</span> <span class="error" id="month"></span>
						</div>

					</div>


					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Pan Reference No<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="panRefNo" placeholder="Pan Reference No."
									ng-model="cWctr.entity.panRefNo" ng-required="true"
									ng-maxlength="12" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.panRefNo.$dirty && form24qdeductee.panRefNo.$invalid">
									<span class="error"
									ng-show="form24qdeductee.panRefNo.$error.pattern">Please
										enter valid Pan Reference No. </span> <span class="error"
									ng-show="form24qdeductee.panRefNo.$error.maxlength">Pan
										Reference No. should not be greater than 12 characters.</span> <span
									class="error"
									ng-show="form24qdeductee.panRefNo.$error.required">Pan
										Reference No.is Required.</span>
								</span> <span class="error" id="panRefNo"></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Pan<span style="color:red;">*</span></label> <input class="form-control" type="text"
									name="pan" placeholder="Pan" ng-model="cWctr.entity.pan"
									autocomplete="off" ng-required="true" ng-maxlength="10"
									ng-pattern="/^([A-Za-z]{5}[0-9]{4}[A-Za-z]{1})*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.pan.$dirty && form24qdeductee.pan.$invalid">
									<span class="error"
									ng-show="form24qdeductee.pan.$error.pattern">Please
										enter valid Pan Reference No. </span> <span class="error"
									ng-show="form24qdeductee.pan.$error.maxlength">Pan
										should not be greater than 12 characters.</span> <span class="error"
									ng-show="form24qdeductee.pan.$error.required">Pan is
										Required.</span>
								</span><span class="error" id="pan"></span>
							</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Name<span style="color:red;">*</span></label> <input class="form-control" type="text"
									name="name" placeholder="Name" ng-model="cWctr.entity.name"
									ng-required="true" ng-maxlenght="45" autocomplete="off"
									ng-pattern="/^[a-zA-Z0-9][a-zA-Z0-9]+$/
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.name.$dirty && form24qdeductee.name.$invalid">
									<span class="error"
									ng-show="form24qdeductee.name.$error.pattern">Please
										enter valid Name </span> <span class="error"
									ng-show="form24qdeductee.name.$error.maxlength">Name
										should not be greater than 45 characters.</span> <span class="error"
									ng-show="form24qdeductee.name.$error.required">Name is
										Required.</span>
								</span> <span class="error" id="name"></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Section Code<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="sectionCode" placeholder="Section Code"
									ng-model="cWctr.entity.sectionCode" autocomplete="off"
									ng-maxlenght="45" ng-required="true"
									ng-pattern="/^\s*$|^$|^[ A-Za-z0-9_.,()\/&-]*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.sectionCode.$dirty && form24qdeductee.sectionCode.$invalid">
									<span class="error"
									ng-show="form24qdeductee.sectionCode.$error.pattern">Please
										enter valid Section Code </span> <span class="error"
									ng-show="form24qdeductee.sectionCode.$error.maxlength">Section
										Code should not be greater than 45 characters.</span> <span
									class="error"
									ng-show="form24qdeductee.sectionCode.$error.required">Section
										Code is Required.</span>
								</span> <span class="error" id="sectionCode"></span>
							</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Date Of Payment<span style="color:red;">*</span></label> <input class="form-control"
									type="date" name="dateOfPayment" placeholder="Date Of Payment "
									ng-model="cWctr.entity.dateOfPayment" ng-required="true" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.dateOfPayment.$dirty && form24qdeductee.dateOfPayment.$invalid">
									<span class="error"
									ng-show="form24qdeductee.dateOfPayment.$error.required
											">Date
										Of Payment Required.</span>

								</span><span class="error" id="dateOfPayment"></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Date Of Deduction<span style="color:red;">*</span></label> <input class="form-control"
									type="date" name="dateOfDeduction"
									placeholder="Date Of Deduction"
									ng-model="cWctr.entity.dateOfDeduction" ng-required="true" />
								<span style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.dateOfDeduction.$dirty && form24qdeductee.dateOfDeduction.$invalid">
									<span class="error"
									ng-show="form24qdeductee.dateOfDeduction.$error.required
											">Date
										Of Deduction is Required.</span>

								</span> <span class="error" id="dateOfDeduction"></span>
							</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Amount Paid<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="amountPaid" placeholder="Amount Paid"
									ng-maxlenght="45" ng-required="true"
									ng-model="cWctr.entity.amountPaid" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.amountPaid.$dirty && form24qdeductee.amountPaid.$invalid">
									<span class="error"
									ng-show="form24qdeductee.amountPaid.$error.pattern">Please
										enter valid Amount Paid </span> <span class="error"
									ng-show="form24qdeductee.amountPaid.$error.maxlength">Amount
										Paid should not be greater than 45 characters.</span> <span
									class="error"
									ng-show="form24qdeductee.amountPaid.$error.required">Amount
										Paid is Required.</span>
								</span> <span class="error" id="amountPaid"></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>TDS<span style="color:red;">*</span></label> <input class="form-control" type="text"
									name="tds" placeholder="TDS" ng-model="cWctr.entity.tds"
									autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-maxlenght="45" ng-required="true"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.tds.$dirty && form24qdeductee.tds.$invalid">
									<span class="error"
									ng-show="form24qdeductee.tds.$error.pattern">Please
										enter valid TDS </span> <span class="error"
									ng-show="form24qdeductee.tds.$error.maxlength">TDS
										should not be greater than 45 characters.</span> <span class="error"
									ng-show="form24qdeductee.tds.$error.required">TDS is
										Required.</span>
								</span> <span class="error" id="tds"></span>
							</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Surcharge<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="surcharge" placeholder="Surcharge"
									ng-model="cWctr.entity.surcharge" autocomplete="off"
									ng-maxlenght="45" ng-required="true"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.surcharge.$dirty && form24qdeductee.surcharge.$invalid">
									<span class="error"
									ng-show="form24qdeductee.surcharge.$error.pattern">Please
										enter Surcharge </span> <span class="error"
									ng-show="form24qdeductee.surcharge.$error.maxlength">Surcharge
										should not be greater than 45 characters.</span> <span class="error"
									ng-show="form24qdeductee.surcharge.$error.required">Surcharge
										is Required.</span>
								</span><span class="error" id="surcharge"></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Education Cess<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="educationCess" placeholder="Education Cess"
									ng-maxlenght="45" ng-required="true"
									ng-model="cWctr.entity.educationCess" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.educationCess.$dirty && form24qdeductee.educationCess.$invalid">
									<span class="error"
									ng-show="form24qdeductee.educationCess.$error.pattern">Please
										enter valid Education Cess </span> <span class="error"
									ng-show="form24qdeductee.educationCess.$error.maxlength">Education
										Cess should not be greater than 45 characters.</span> <span
									class="error"
									ng-show="form24qdeductee.educationCess.$error.required">Education
										Cess is Required.</span>
								</span> <span class="error" id="educationCess"></span>
							</div>
						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Total TDS<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="totalTds" placeholder="Total TDS"
									ng-model="cWctr.entity.totalTds" autocomplete="off"
									ng-maxlenght="45" ng-required="true"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.totalTds.$dirty && form24qdeductee.totalTds.$invalid">
									<span class="error"
									ng-show="form24qdeductee.totalTds.$error.pattern">Please
										enter valid Total TDS </span> <span class="error"
									ng-show="form24qdeductee.totalTds.$error.maxlength">Total
										TDS should not be greater than 45 characters.</span> <span
									class="error"
									ng-show="form24qdeductee.totalTds.$error.required">Total
										TDS is Required.</span>
								</span> <span class="error" id="totalTds"></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Total Tax Deposited<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="totalTaxDeposited" ng-maxlenght="45"
									ng-required="true" placeholder="Total Tax Deposited"
									ng-model="cWctr.entity.totalTaxDeposited" autocomplete="off"
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.totalTaxDeposited.$dirty && form24qdeductee.totalTaxDeposited.$invalid">
									<span class="error"
									ng-show="form24qdeductee.totalTaxDeposited.$error.pattern">Please
										enter valid Total TDS </span> <span class="error"
									ng-show="form24qdeductee.totalTaxDeposited.$error.maxlength">Total
										TDS should not be greater than 45 characters.</span> <span
									class="error"
									ng-show="form24qdeductee.totalTaxDeposited.$error.required">Total
										TDS is Required.</span>
								</span> <span class="error" id="totalTaxDeposited"></span>
							</div>
						</div>


					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Certificate Number<span style="color:red;">*</span></label> <input class="form-control"
									type="text" name="certificateNumber" ng-maxlenght="45"
									ng-required="true" placeholder="Certificate Number"
									ng-model="cWctr.entity.certificateNumber" autocomplete="off"
									ng-pattern="" ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.certificateNumber.$dirty && form24qdeductee.certificateNumber.$invalid">
									<span class="error"
									ng-show="form24qdeductee.certificateNumber.$error.pattern">Please
										enter valid Certificate Number </span> <span class="error"
									ng-show="form24qdeductee.certificateNumber.$error.maxlength">Certificate
										Number should not be greater than 45 characters.</span> <span
									class="error"
									ng-show="form24qdeductee.certificateNumber.$error.required">Certificate
										Number is Required.</span>
								</span> <span class="error" id="certificateNumber"></span>
							</div>
						</div>
						<!-- <div class="col-md-6">
							<label>Remarks<span style="color:red;">*</span></label> <input class="form-control" type="text"
								name="remarks" placeholder="Remarks" ng-maxlenght="45"
								ng-required="true" ng-model="cWctr.entity.remarks"
								autocomplete="off" ng-pattern=""
								ng-model-options="{updateOn: 'blur'}" /> <span
								style="color: red"
								ng-show="form24qdeductee.submitted || form24qdeductee.remarks.$dirty && form24qdeductee.remarks.$invalid">
								<span class="error"
								ng-show="form24qdeductee.remarks.$error.pattern">Please
									enter valid Remarks </span> <span class="error"
								ng-show="form24qdeductee.remarks.$error.maxlength">Remarks
									should not be greater than 45 characters.</span> <span class="error"
								ng-show="form24qdeductee.remarks.$error.required">Remarks
									is Required.</span>
							</span> <span class="error" id="remarks"></span>
						</div> -->
						<div class="col-md-6">
							<div class="form-group">
								<label>Financial Year<span style="color:red;">*</span></label> <select name="fy"
									class="form-control" ng-model="cWctr.entity.fy"
									ng-required="true" ng-model-options="{updateOn: 'blur'}">
									<option value="201920">201920</option>
									<option value="201819">201819</option>
									<option value="201718">201718</option>
									<option value="201617">201617</option>
									<option value="201516">201516</option>
									<option value="201415">201415</option>
									<option value="201314">201314</option>
									<option value="201213">201213</option>
									<option value="201112">201112</option>
									<option value="201011">201011</option>
									<option value="200910">200910</option>
									<option value="200809">200809</option>
									<option value="200708">200708</option>
								</select> <span style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.fy.$dirty && form24qdeductee.fy.$invalid">
									<span class="error" ng-show="form24qdeductee.fy.$error.pattern">Please
										enter valid Financial Year </span> <span class="error"
									ng-show="form24qdeductee.fy.$error.maxlength">Financial Year should
										not be greater than 45 characters.</span> <span class="error"
									ng-show="form24qdeductee.fy.$error.required">Financial Year is
										Required.</span>
								</span> <span class="error" id="fy"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Quarter<span style="color:red;">*</span></label> <select name="quarter"
									class="form-control" ng-model="cWctr.entity.quarter"
									ng-required="true" ng-model-options="{updateOn: 'blur'}">
									<option value="Q1">Q1</option>
									<option value="Q2">Q2</option>
									<option value="Q3">Q3</option>
									<option value="Q4">Q4</option>
								</select> <span style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.quarter.$dirty && form24qdeductee.quarter.$invalid">
									<span class="error"
									ng-show="form24qdeductee.quarter.$error.required">Quarter
										is Required.</span>
								</span> <span class="error" id="quarter"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Sol ID<span style="color:red;">*</span></label> <select class="form-control"
									name="branchId" ng-model="cWctr.entity.branchId">
									<#list listBr as branch>
									<option value="${branch}">${branch}</option>
									</#list>
								</select> <span style="color: red"
									ng-show="form24qdeductee.submitted ||form24qdeductee.branchId.$dirty && form24qdeductee.branchId.$invalid">
									<span class="error"
									ng-show="form24qdeductee.branchId.$error.required">Branch
										Id is Required.</span>
								</span> <span class="error" id="branchId"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Remark<span style="color:red;">*</span></label> <input class="form-control" type="text"
									name="name" placeholder="Remark" ng-model="cWctr.entity.remarks"
									ng-required="true" ng-maxlenght="45" autocomplete="off"
									ng-pattern="/^\s*$|^$|^[ A-Za-z0-9_.,()\/&-]*$/"
									ng-model-options="{updateOn: 'blur'}" /> <span
									style="color: red"
									ng-show="form24qdeductee.submitted || form24qdeductee.name.$dirty && form24qdeductee.name.$invalid">
									<span class="error"
									ng-show="form24qdeductee.name.$error.pattern">Please
										enter valid Remark Reference No. </span> <span class="error"
									ng-show="form24qdeductee.name.$error.maxlength">Remark
										should not be greater than 45 characters.</span> <span class="error"
									ng-show="form24qdeductee.name.$error.required">Remark is
										Required.</span>
								</span> <span class="error" id="remark"></span>
							</div>
						</div>

						
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button
				ng-click="form24qdeductee.submitted=true; cWctr.submit(true,'form24QDeductee')"
				class="btn btn-success" data-dismiss="modal">Save</button>
			<button class="btn btn-danger"
				ng-click="cWctr.gotoList2Page('form24QDeductee','form24QDeductee');">Cancel</button>
		</div>
	</div>
</div>
</div>

</div>
<script>
	$(document).ready(function() {
		$(this).scrollTop(0);
	});
</script>