<br>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<h1>Add Regular 26Q Deductee Details</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" name="form26qdeductee">


							<div class="row">
								<div class="col-md-6">
								   
									     <label> Challan Sr No</label> 
									     <input class="form-control"
										    type="text" name="challanSrNo" placeholder="Challan Sr No"
										    ng-model="cCctr.entity.challanSrNo" autocomplete="off"
										    ng-pattern=""  ng-model-options="{updateOn: 'blur'}" />
								<span class="error" id="challanSrNo"></span>
							
											</div>

											<div class="col-md-6">
												
													<label>DeducteeRefNo</label> <input
														class="form-control" type="text" name="deducteeRefNo"
														placeholder="DeducteeRefNo"
														ng-model="cCctr.entity.deducteeRefNo"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="deducteeRefNo"></span>
											</div>


										</div>

										<div class="row">
											<div class="col-md-6">
												
													<label>Deductee Code </label> <input
														class="form-control" type="text" name="deducteeCode"
														placeholder="Deductee Code"
														ng-model="cCctr.entity.deducteeCode"
														autocomplete="off" ng-pattern="" 
														ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="deducteeCode"></span>
											</div>

											<div class="col-md-6">
												
													<label>DeducteePan</label> <input class="form-control" type="text"
														name="deducteePan" placeholder="DeducteePan"
														ng-model="cCctr.entity.deducteePan" autocomplete="off"
														ng-pattern=""  ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="deducteePan"></span>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												
													<label>DeducteeName</label> <input class="form-control"
														type="text" name="deducteeName" placeholder="DeducteeName"
														ng-model="cCctr.entity.deducteeName" autocomplete="off"
														ng-pattern=""  ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="deducteeName"></span>
											</div>

											<div class="col-md-6">
												
													<label>SectionCode</label> <input class="form-control"
														type="text" name="sectionCode"
														placeholder="SectionCode"
														ng-model="cCctr.entity.sectionCode"
														autocomplete="off" ng-pattern="" 
														ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="sectionCode"></span>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												
													<label>Payment Date </label> <input class="form-control"
														type="date" name="paymentDate" placeholder="Payment Date"
														ng-model="cCctr.entity.paymentDate" autocomplete="off" ng-pattern="" 
														ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="paymentDate"></span>
											</div>

											<div class="col-md-6">
												
													<label>Paid Amt</label> <input
														class="form-control" type="text" name="paidAmt"
														placeholder="Paid Amt"
														ng-model="cCctr.entity.paidAmt" autocomplete="off" ng-pattern="" 
														ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="paidAmt"></span>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												
													<label>Tds </label> <input class="form-control"
														type="text" name="tds" placeholder="Tds"
														ng-model="cCctr.entity.tds"
														autocomplete="off" ng-pattern="" 
														ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="tds"></span>
											</div>

											<div class="col-md-6">
												
													<label>Surcharge</label> <input class="form-control" type="text"
														name="surcharge" placeholder="Surcharge"
														ng-model="cCctr.entity.surcharge" autocomplete="off"
														ng-pattern=""  ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="surcharge"></span>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												
													<label>Education cess </label> <input class="form-control"
														type="text" name="eduCess" placeholder="Education cess"
														ng-model="cCctr.entity.eduCess"
														autocomplete="off" ng-pattern="" 
														ng-model-options="{updateOn: 'blur'}" />
												<span class="error" id="eduCess"></span>
											</div>

											<div class="col-md-6">
												
													<label>TotalTaxDeduct</label> <input class="form-control"
														type="text" name="totalTaxDeduct"
														placeholder="TotalTaxDeduct"
														ng-model="cCctr.entity.totalTaxDeduct"
														autocomplete="off" ng-pattern="" 
														ng-model-options="{updateOn: 'blur'}" />
											<span class="error" id="totalTaxDeduct"></span>
											</div>
											


										</div>
										<div class="row">
							<div class="col-md-6">
								
									<label>TotalTaxDeposit</label> <input class="form-control"
										type="text" name="totalTaxDeposit" placeholder="TotalTaxDeposit"
										ng-model="cCctr.entity.totalTaxDeposit" autocomplete="off"
										ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
								<span class="error" id="totalTaxDeposit"></span>
							</div>

							<div class="col-md-6">
								
									<label>DeductDate</label> <input class="form-control"
										type="date" name="deductDate"
										placeholder="DeductDate"
										ng-model="cCctr.entity.deductDate"
										autocomplete="off" ng-pattern="" 
										ng-model-options="{updateOn: 'blur'}" />
								<span class="error" id="deductDate"></span>
							</div>


						</div>

						<div class="row">
							<div class="col-md-6">
								
									<label>Rate Tax Deduct</label> <input class="form-control" type="text"
										name="rateTaxDeduct" placeholder="Rate Tax Deduct"
										ng-model="cCctr.entity.rateTaxDeduct" autocomplete="off"
										ng-pattern=""  ng-model-options="{updateOn: 'blur'}" />
								<span class="error" id="rateTaxDeduct"></span>
							</div>

							<div class="col-md-6">
								
									<label>Remarks</label> <input class="form-control"
										type="text" name="Remarks"
										placeholder="remarks"
										ng-model="cCctr.entity.remarks"
										autocomplete="off" ng-pattern="" 
										ng-model-options="{updateOn: 'blur'}" />
								<span class="error" id="remarks"></span>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								
									<label>CertificateNo</label> <input class="form-control"
										type="text" name="certificateNo"
										placeholder="CertificateNo"
										ng-model="cCctr.entity.certificateNo"
										autocomplete="off" ng-pattern="" 
										ng-model-options="{updateOn: 'blur'}" />
										<span class="error" id="certificateNo"></span>
							</div>

							<div class="col-md-6">
								
									<label>Financial Year</label> <input class="form-control"
										type="text" name="fy"
										placeholder="Financial Year"
										ng-model="cCctr.entity.fy"
										autocomplete="off" ng-pattern="" 
										ng-model-options="{updateOn: 'blur'}" />
										<span class="error" id="fy"></span>
							</div>

						</div>
						
						<div class="row">
							<div class="col-md-6">
								
									<label> Quarter</label> <input
										class="form-control" type="text"
										name="quarter"
										placeholder="Quarter"
										ng-model="cCctr.entity.quarter"
										autocomplete="off" ng-pattern="" 
										ng-model-options="{updateOn: 'blur'}" />
										<span class="error" id="quarter"></span>
							</div>

						</div>
									</form>
								</div>
							</div>
							<div class="modal-footer">
								<button
									ng-click="form26qdeductee.submitted=true; cCctr.submit(form26qdeductee.$valid,'form26Q')"
									class="btn btn-success" data-dismiss="modal">Save</button>
								<button
								ng-click="cCctr.gotoListPage('form26Q','form26Q');"
								class="btn btn-primary" ng-click="cCctr.gotoListPage('form27Q','form27Q');">Back</button>
							</div>
						</div>
					</div>
				</div>

			</div>
