

<style>

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
	td:nth-of-type(1):before {
		content: "Sr. No.";
	}
	td:nth-of-type(2):before {
		content: "Bill No.";
	}
	td:nth-of-type(3):before {
		content: "Date";
	}
	td:nth-of-type(4):before {
		content: "Customer Name";
	}
	td:nth-of-type(5):before {
		content: "Customer Alias Name";
	}
	td:nth-of-type(6):before {
		content: "GSTIN";
	}
	td:nth-of-type(7):before {
		content: "Amount";
	}
	td:nth-of-type(8):before {
		content: "CGST Amount";
	}
	td:nth-of-type(9):before {
		content: "SGST Amount";
	}
	td:nth-of-type(10):before {
		content: "IGST Amount";
	}
	td:nth-of-type(11):before {
		content: "Total Amount";
	}
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>



<br>
<div class="col-md-12 "
	style="padding-left: 0px; font-size: 12pxp; margin-top: 2%">
	<div class="heading">
		<strong>Deductor Details</strong>
	</div>
</div>

<br>
<br>
<br>
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" data-target="#home">Deductor
			Details</a></li>
	<li><a data-toggle="tab" data-target="#menu1">Login Details</a></li>

</ul>

<div class="tab-content" ng-init="cCctr.entity=cCctr.getEntityData();">
	<div id="home" class="tab-pane  active">
		<form role="form" name="deductorDetailForm">

			<h3>Client Details</h3>

			<div class="container">

				<button class="btn btn-primary hidden visible-xs" type="button"
					data-toggle="collapse" data-target="#collapseExample1"
					aria-expanded="false" aria-controls="collapseExample">
					Search</button>

				<div class="collapse dont-collapse-sm" id="collapseExample1">
					<div class="row">
						<div class="form-group">

							<div class="col-md-4">

								<label>Name*</label> <input type="text" name="NAME"
									ng-model="cCctr.entity.clientDetail.NAME" class="form-control"
									ng-required="true" placeholder="Name"> <span
									style="color: red"
									ng-show="deductorDetailForm.submitted || deductorDetailForm.NAME.$dirty && deductorDetailForm.NAME.$invalid">
									<span class="error"
									ng-show="deductorDetailForm.NAME.$error.pattern">Please
										enter valid NAME</span> <span class="error"
									ng-show="deductorDetailForm.NAME.$error.maxlength">NAME
										should not be greater than 50 characters.</span>
								</span> <span class="error"
									ng-show="deductorDetailForm.NAME.$error.required"> NAME
									is Required</span>

							</div>
							<div class="col-md-4">
								<label>Tan</label> <input type="text"
									ng-model="cCctr.entity.clientDetail.TAN" class="form-control"
									placeholder="Tan">
							</div>

							<div class="col-md-4" ng-required="true">
								<label><b>Type Of Deductor*</b></label> <select
									class="form-control" ng-model="cCctr.entity.clientDetail.TYPE"  ng-required="true"
									>
									<option value="A">A</option>
									<option value="B">B</option>
									<option value="C">C</option>
								</select> <span style="color: red"
									ng-show="deductorDetailForm.submitted || deductorDetailForm.TYPE.$dirty && deductorDetailForm.TYPE.$invalid">
									<span class="error"
									ng-show="deductorDetailForm.TYPE.$error.pattern">Please
										enter valid TYPE</span> <span class="error"
									ng-show="deductorDetailForm.TYPE.$error.maxlength"> TYPE
										should not be greater than 50 characters.</span> <span class="error"
									ng-show="deductorDetailForm.TYPE.$error.required"> TYPE
										is Required</span>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Branch*</label> <input type="text" ng-required="true" name="BRANCH"
								ng-model="cCctr.entity.clientDetail.BRANCH" class="form-control"
								placeholder="Branch"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.BRANCH.$dirty && deductorDetailForm.BRANCH.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.BRANCH.$error.pattern">Please
									enter valid BRANCH</span> <span class="error"
								ng-show="deductorDetailForm.BRANCH.$error.maxlength">BRANCH
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.BRANCH.$error.required">BRANCH
									is Required</span>
							</span>
						</div>

						<div class="col-md-4">
							<label>Pan*</label> <input type="text" ng-required="true"name="PAN" ng-pattern="/^([A-Za-z]{5}[0-9]{4}[A-Za-z]{1})*$/"
								ng-model="cCctr.entity.clientDetail.PAN" class="form-control"
								placeholder="Pan"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.PAN.$dirty && deductorDetailForm.PAN.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.PAN.$error.pattern">Please
									enter valid PAN</span> <span class="error"
								ng-show="deductorDetailForm.PAN.$error.maxlength">Pan </span> <span
								class="error" ng-show="deductorDetailForm.PAN.$error.required">PAN
									is required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>Email ID*</label> <input type="email" name="EMAIL1" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
								ng-model="cCctr.entity.clientDetail.EMAIL" class="form-control"
								placeholder="Email" style="size: 15px"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.EMAIL1.$dirty && deductorDetailForm.EMAIL1.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.EMAIL1.$error.pattern">Please
									enter valid EMAIL</span> <span class="error"
								ng-show="deductorDetailForm.EMAIL1.$error.maxlength">EMAIL
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.EMAIL1.$error.required">EMAIL
									is Required</span>
							</span>
						</div>
					</div>

				</div>
			</div>
			<hr>
			<h3>Deductor Details</h3>

			<div class="container">

				<button class="btn btn-primary hidden visible-xs" type="button"
					data-toggle="collapse" data-target="#collapseExample2"
					aria-expanded="false" aria-controls="collapseExample">
					Search</button>
				<div class="collapse dont-collapse-sm" id="collapseExample2">
					<div class="row">
						<div class="form-group">
							<form>
								<div class="col-md-4">

									<label>Name Of The Deductor*</label> <input type="text" ng-required="true"
										ng-model="cCctr.entity.deductorDetails.vendorNo"
										name="NameOfTheDeductor" class="form-control"
										placeholder="Name Of The Deductor"> <span
										style="color: red"
										ng-show="deductorDetailForm.submitted || deductorDetailForm.NameOfTheDeductor.$dirty && deductorDetailForm.NameOfTheDeductor.$invalid">
										<span class="error"
										ng-show="deductorDetailForm.NameOfTheDeductor.$error.pattern">Please
											enter valid Name Of The Deductor</span> <span class="error"
										ng-show="deductorDetailForm.NameOfTheDeductor.$error.maxlength">
											Name Of The Deductor should not be greater than 50
											characters.</span> <span class="error"
										ng-show="deductorDetailForm.NameOfTheDeductor.$error.required">Name
											Of The Deductor is Required</span>
									</span>

								</div>
								<div class="col-md-4">
									<label>Permanent Account Number*</label> <input type="text" ng-required="true" ng-pattern="/^([A-Za-z]{5}[0-9]{4}[A-Za-z]{1})*$/"
										name="PermanentAccountNumber1" class="form-control" ng-maxlength=" "
										placeholder="Permanent Account Number"> <span
										style="color: red"
										ng-show="deductorDetailForm.submitted || deductorDetailForm.PermanentAccountNumber1.$dirty && deductorDetailForm.PermanentAccountNumber1.$invalid">
										<span class="error"
										ng-show="deductorDetailForm.PermanentAccountNumber1.$error.pattern">Please
											enter valid Permanent Account Number</span> <span class="error"
										ng-show="deductorDetailForm.PermanentAccountNumber1.$error.maxlength">Permanent
											Account Number should not be greater than 50 characters.</span> <span
										class="error"
										ng-show="deductorDetailForm.PermanentAccountNumber1.$error.required">Permanent
											Account Number is Required</span>
									</span>
								</div>

								<div class="col-md-4">
									<label>Branch/Division*</label> <input type="text" ng-required="true"
										name="Branch1" class="form-control"
										placeholder="Branch/Division"> <span
										style="color: red"
										ng-show="deductorDetailForm.submitted || deductorDetailForm.Branch1.$dirty && deductorDetailForm.Branch1.$invalid">
										<span class="error"
										ng-show="deductorDetailForm.Branch1.$error.pattern">Please
											enter valid Branch</span> <span class="error"
										ng-show="deductorDetailForm.Branch1.$error.maxlength">Branch
											should not be greater than 50 characters.</span> <span class="error"
										ng-show="deductorDetailForm.Branch1.$error.required">Branch
											is Required</span>
									</span>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Flat/Door/Block No*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.deductorDetails.FLATORFLOAR" name="Flat"
								class="form-control" placeholder="Flat/Door/Block No"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.Flat.$dirty && deductorDetailForm.Flat.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.Flat.$error.pattern">Please
									enter valid Flat/Door/Block No</span> <span class="error"
								ng-show="deductorDetailForm.Flat.$error.maxlength">Flat/Door/Block
									No should not be greater than 50 characters.</span> <span
								class="error" ng-show="deductorDetailForm.Flat.$error.required">Flat/Door/Block
									No Required</span>
							</span>
						</div>

						<div class="col-md-4">
							<label>Name Of Premises/Building*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.deductorDetails.BUILDINGNAME"
								name="NameOfPremises" class="form-control"
								placeholder="Name Of Premises/Building"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.NameOfPremises.$dirty && deductorDetailForm.NameOfPremises.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.NameOfPremises.$error.pattern">Please
									enter valid Name Of Premises</span> <span class="error"
								ng-show="deductorDetailForm.NameOfPremises.$error.maxlength">Name
									Of Premises should not be greater than 50 characters.</span> <span
								class="error"
								ng-show="deductorDetailForm.NameOfPremises.$error.required">Name
									Of Premises is Required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>Road/Street/Lane*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.deductorDetails.ROADSTREET" name="Road"
								class="form-control" placeholder="Road/Street/Lane"
								style="size: 15px"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.Road.$dirty && deductorDetailForm.Road.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.Road.$error.pattern">Please
									enter valid Road/Street/Lane</span> <span class="error"
								ng-show="deductorDetailForm.Road.$error.maxlength">Road/Street/Lane
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.Road.$error.required">Road/Street/Lane
									is Required.</span>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Area/Locality*</label> <input type="text" ng-required="true"
								name="AREALOCALITY1"
								ng-model="cCctr.entity.deductorDetails.AREALOCALITY"
								class="form-control" placeholder="Area/Locality"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.AREALOCALITY.$dirty && deductorDetailForm.AREALOCALITY.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.AREALOCALITY.$error.pattern">Please
									enter valid Area/Locality</span> <span class="error"
								ng-show="deductorDetailForm.AREALOCALITY.$error.maxlength">Area/Locality
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.AREALOCALITY.$error.required">Area/Locality
									is Required</span>
							</span>
						</div>

						<div class="col-md-4">
							<label>Town/District/City*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.deductorDetails.CITY" name="CITY1"
								class="form-control" placeholder="Town/District/City"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.CITY1.$dirty && deductorDetailForm.CITY1.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.CITY1.$error.pattern">Please
									enter valid Town/District/City</span> <span class="error"
								ng-show="deductorDetailForm.CITY1.$error.maxlength">Town/District/City
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.CITY1.$error.required">Town/District/City
									is Required</span>
							</span>
						</div>
						<div class="col-md-4" ng-required="true">
							<label>State*</label> <select class="form-control" name="STATE1" ng-model="cCctr.entity.deductorDetails.STATE" >
								<option value="" ng-selected=true>Select State</option>
								<option value="Andaman and Nicobar Islands">Andaman and
									Nicobar Islands</option>
								<option value="Andhra Pradesh">Andhra Pradesh</option>
								<option value="Arunachal Pradesh">Arunachal Pradesh</option>
								<option value="Assam">Assam</option>
								<option value="Bihar">Bihar</option>
								<option value="Chandigarh">Chandigarh</option>
								<option value="Chhattisgarh">Chhattisgarh</option>
								<option value="Dadra and Nagar Haveli">Dadra and Nagar
									Haveli</option>
								<option value="Daman and Diu">Daman and Diu</option>
								<option value="Delhi">Delhi</option>
								<option value="Goa">Goa</option>
								<option value="Gujarat">Gujarat</option>
								<option value="Haryana">Haryana</option>
								<option value="Himachal Pradesh">Himachal Pradesh</option>
								<option value="Jammu and Kashmir">Jammu and Kashmir</option>
								<option value="Jharkhand">Jharkhand</option>
								<option value="Karnataka">Karnataka</option>
								<option value="Kerala">Kerala</option>
								<option value="Lakshadweep">Lakshadweep</option>
								<option value="Madhya Pradesh">Madhya Pradesh</option>
								<option value="Maharashtra">Maharashtra</option>
								<option value="Manipur">Manipur</option>
								<option value="Meghalaya">Meghalaya</option>
								<option value="Mizoram">Mizoram</option>
								<option value="Nagaland">Nagaland</option>
								<option value="Orissa">Orissa</option>
								<option value="Pondicherry">Pondicherry</option>
								<option value="Punjab">Punjab</option>
								<option value="Rajasthan">Rajasthan</option>
								<option value="Sikkim">Sikkim</option>
								<option value="Tamil Nadu">Tamil Nadu</option>
								<option value="Tripura">Tripura</option>
								<option value="Uttaranchal">Uttaranchal</option>
								<option value="Uttar Pradesh">Uttar Pradesh</option>
								<option value="West Bengal">West Bengal</option>
							</select>
							<span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.STATE1.$dirty && deductorDetailForm.STATE1.$invalid">
								
							<span class="error"
								ng-show="deductorDetailForm.STATE1.$error.required">State
									is Required</span>
									</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<label>Pin Code*</label> <input type="text" ng-required="true" name="PIN1" ng-maxlength="6"
								ng-model="cCctr.entity.deductorDetails.PIN" class="form-control" ng-pattern="/^[0-9]*$/"
								placeholder="Pin Code"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.PIN1.$dirty && deductorDetailForm.PIN1.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.PIN1.$error.pattern">Please
									enter valid Pin Code</span> <span class="error"
								ng-show="deductorDetailForm.PIN1.$error.maxlength">Pin
									Code should not be greater than 6 characters</span> <span
								class="error" ng-show="deductorDetailForm.PIN1.$error.required">Pin
									Code is Required</span>
							</span>
						</div>

						<div class="col-md-4">
							<label>STD Code</label> <input type="text"
								ng-model="cCctr.entity.deductorDetails.STD" class="form-control"
								placeholder="STD Code">
						</div>
						<div class="col-md-4">
							<label>Telephone No</label> <input type="text"
								ng-model="cCctr.entity.deductorDetails.TELEPHONE"
								class="form-control" placeholder="Telephone No">
						</div>

					</div>

					<div class="row">
						<div class="col-md-4">
							<label>Email ID(Alternate)</label> <input type="text"
								ng-model="cCctr.entity.deductorDetails.COMPANYEMAIL"
								class="form-control" placeholder="Pin Code">
						</div>

						<div class="col-md-4">
							<label>STD Code(Alternate)</label> <input type="text"
								ng-model="cCctr.entity.deductorDetails.STD_ALTERNATE"
								class="form-control" placeholder="STD Code">
						</div>
						<div class="col-md-4">
							<label>Telephone No(Alternate)</label> <input type="text"
								ng-model="cCctr.entity.deductorDetails.TELEPHONEALTERNATE"
								class="form-control" placeholder="Telephone No(Alternate)">
						</div>

					</div>
					<div class="row">
						<div class="col-md-4">
							<label> Company Email ID(Alternate)</label> <input type="email"
								ng-model="cCctr.entity.deductorDetails.COMPANYEMAILALTERNATE"
								class="form-control" placeholder=" Company Email ID(Alternate)">
						</div>

						<div class="col-md-4" ng-required="true">
							<label>Change Of Address Of Employer Since Last
								Return(Y/N)*</label> <select class="form-control">
								<option value="Null">Null</option>
								<option value="B">B</option>
								<option value="C">C</option>
							</select>
						</div>
						<div class="col-md-4">
							<label>GSTIN</label> <input type="text"
								ng-model="cCctr.entity.deductorDetails.GSTIN"
								class="form-control" placeholder="Telephone No">
						</div>

					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Deductor Status</label> <select class="form-control">
								<option value="Null">Null</option>
								<option value="B">B</option>
								<option value="C">C</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<hr>

			<h3>Responsible Person Details</h3>

			<div class="container">

				<button class="btn btn-primary hidden visible-xs" type="button"
					data-toggle="collapse" data-target="#collapseExample3"
					aria-expanded="false" aria-controls="collapseExample">
					Search</button>
				<div class="collapse dont-collapse-sm" id="collapseExample3">
					<div class="row">
						<div class="form-group">

							<div class="col-md-4">

								<label>Name Of The responsible Person*</label> <input
									type="text" ng-required="true"
									ng-model="cCctr.entity.respersonDetails.NAMERESPONSIBLEPERSONE"
									class="form-control" name="NAMERESPONSIBLEPERSONE"
									placeholder="Name Of The responsible Person"> <span
									style="color: red"
									ng-show="deductorDetailForm.submitted || deductorDetailForm.NAMERESPONSIBLEPERSONE.$dirty && deductorDetailForm.NAMERESPONSIBLEPERSONE.$invalid">
									<span class="error"
									ng-show="deductorDetailForm.NAMERESPONSIBLEPERSONE.$error.pattern">Please
										enter valid Name Of The responsible Person</span> <span class="error"
									ng-show="deductorDetailForm.NAMERESPONSIBLEPERSONE.$error.maxlength">Name
										Of The responsible Person should not be greater than 50
										characters.</span> <span class="error"
									ng-show="deductorDetailForm.NAMERESPONSIBLEPERSONE.$error.required">Name
										Of The responsible Person is Required</span>
								</span>

							</div>
							<div class="col-md-4">
								<label>Pan Of Responsible Person</label> <input type="text"
									ng-model="cCctr.entity.respersonDetails.PANRESPONSIBLEPERSONE"
									class="form-control" placeholder="Pan Of Responsible Person">
							</div>

							<div class="col-md-4">
								<label> Responsible Person's Father Name</label> <input
									type="text"
									ng-model="cCctr.entity.respersonDetails.FATHERNAMERESPONSIBLEPERSONE"
									class="form-control"
									placeholder="Responsible Person's Father Name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Designation*</label> <input type="text" ng-required="true" name="DESIGNATION"
								ng-model="cCctr.entity.respersonDetails.DESIGNATION"
								class="form-control" placeholder="Designation"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.DESIGNATION.$dirty && deductorDetailForm.DESIGNATION.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.DESIGNATION.$error.pattern">Please
									enter valid Designation</span> <span class="error"
								ng-show="deductorDetailForm.DESIGNATION.$error.maxlength">Designation
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.DESIGNATION.$error.required">Designation
									is Required</span>

							</span>
						</div>

						<div class="col-md-4">
							<label>Flat/Door/Block No*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.respersonDetails.FLATORFLOAR"
								name="FLATORFLOAR" class="form-control"
								placeholder="Flat/Door/Block No"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.FLATORFLOAR.$dirty && deductorDetailForm.FLATORFLOAR.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.FLATORFLOAR.$error.pattern">Please
									enter valid Flat/Door/Block No</span> <span class="error"
								ng-show="deductorDetailForm.FLATORFLOAR.$error.maxlength">Flat/Door/Block
									No should not be greater than 50 characters.</span> <span
								class="error"
								ng-show="deductorDetailForm.FLATORFLOAR.$error.required">Flat/Door/Block
									No is required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>Name Of Premises/Building*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.respersonDetails.BUILDINGNAME"
								name="BUILDINGNAME" class="form-control"
								placeholder="Name Of Premises/Building" style="size: 15px">
							<span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.BUILDINGNAME.$dirty && deductorDetailForm.BUILDINGNAME.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.BUILDINGNAME.$error.pattern">Please
									enter valid Name Of Premises/Building</span> <span class="error"
								ng-show="deductorDetailForm.BUILDINGNAME.$error.maxlength">Name
									Of Premises/Building should not be greater than 50 characters.</span>
								<span class="error"
								ng-show="deductorDetailForm.BUILDINGNAME.$error.required">Name
									Of Premises/Building is Required</span>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Road/Street/Lane*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.respersonDetails.ROADSTREET"
								name="ROADSTREET" class="form-control"
								placeholder="Road/Stree/Lane"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.ROADSTREET.$dirty && deductorDetailForm.ROADSTREET.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.fROADSTREET.$error.pattern">Please
									enter valid Road/Street/Lane</span> <span class="error"
								ng-show="deductorDetailForm.ROADSTREET.$error.maxlength">Road/Street/Lane
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.ROADSTREET.$error.required">Road/Street/Lane
									is Required</span>
							</span>
						</div>

						<div class="col-md-4">
							<label>Area/Locality*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.respersonDetails.AREALOCALITY"
								name="AREALOCALITY" class="form-control"
								placeholder="Area/Locality"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.AREALOCALITY.$dirty && deductorDetailForm.AREALOCALITY.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.AREALOCALITY.$error.pattern">Please
									enter valid Area/Locality</span> <span class="error"
								ng-show="deductorDetailForm.AREALOCALITY.$error.maxlength">Area/Locality
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.AREALOCALITY.$error.required">Area/Locality
									is Required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>Town/District/City*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.respersonDetails.CITY" name="CITY"
								class="form-control" placeholder="Town/District/City"
								style="size: 15px"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.CITY.$dirty && deductorDetailForm.CITY.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.CITY.$error.pattern">Please
									enter valid Town/District/City</span> <span class="error"
								ng-show="deductorDetailForm.CITY.$error.maxlength">Town/District/City
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.CITY.$error.required">Town/District/City
									is Required</span>
							</span>
						</div>
					</div>
					<div class="row" >
						<div class="col-md-4" ng-required="true" name="STATE2">
							<label>State*</label> <select class="form-control">
								<option value="" ng-selected=true>Select State</option>
								<option value="Andaman and Nicobar Islands">Andaman and
									Nicobar Islands</option>
								<option value="Andhra Pradesh">Andhra Pradesh</option>
								<option value="Arunachal Pradesh">Arunachal Pradesh</option>
								<option value="Assam">Assam</option>
								<option value="Bihar">Bihar</option>
								<option value="Chandigarh">Chandigarh</option>
								<option value="Chhattisgarh">Chhattisgarh</option>
								<option value="Dadra and Nagar Haveli">Dadra and Nagar
									Haveli</option>
								<option value="Daman and Diu">Daman and Diu</option>
								<option value="Delhi">Delhi</option>
								<option value="Goa">Goa</option>
								<option value="Gujarat">Gujarat</option>
								<option value="Haryana">Haryana</option>
								<option value="Himachal Pradesh">Himachal Pradesh</option>
								<option value="Jammu and Kashmir">Jammu and Kashmir</option>
								<option value="Jharkhand">Jharkhand</option>
								<option value="Karnataka">Karnataka</option>
								<option value="Kerala">Kerala</option>
								<option value="Lakshadweep">Lakshadweep</option>
								<option value="Madhya Pradesh">Madhya Pradesh</option>
								<option value="Maharashtra">Maharashtra</option>
								<option value="Manipur">Manipur</option>
								<option value="Meghalaya">Meghalaya</option>
								<option value="Mizoram">Mizoram</option>
								<option value="Nagaland">Nagaland</option>
								<option value="Orissa">Orissa</option>
								<option value="Pondicherry">Pondicherry</option>
								<option value="Punjab">Punjab</option>
								<option value="Rajasthan">Rajasthan</option>
								<option value="Sikkim">Sikkim</option>
								<option value="Tamil Nadu">Tamil Nadu</option>
								<option value="Tripura">Tripura</option>
								<option value="Uttaranchal">Uttaranchal</option>
								<option value="Uttar Pradesh">Uttar Pradesh</option>
								<option value="West Bengal">West Bengal</option>
							</select>
							<span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.STATE2.$dirty && deductorDetailForm.STATE2.$invalid">
								
							<span class="error"
								ng-show="deductorDetailForm.STATE2.$error.required">State
									is Required</span>
									</span>
						</div>

						<div class="col-md-4">
							<label>Pin Code*</label> <input type="text" ng-maxlength="6" ng-pattern="/^[0-9]*$/"
								ng-model="cCctr.entity.respersonDetails.PIN" name="PIN" ng-required="true"
								class="form-control" placeholder="Pin Code"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.PIN.$dirty && deductorDetailForm.PIN.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.PIN.$error.pattern">Please
									enter valid Pin Code</span> <span class="error"
								ng-show="deductorDetailForm.PIN.$error.maxlength">Pin
									Code Name should not be greater than 6 characters.</span> <span
								class="error" ng-show="deductorDetailForm.PIN.$error.required">Pin
									Code is Required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>STD Code*</label> <input type="text" ng-required="true"
								ng-model="cCctr.entity.respersonDetails.STD" name="STD"
								class="form-control" placeholder="STD Code" style="size: 15px">
							<span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.STD.$dirty && deductorDetailForm.STD.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.STD.$error.pattern">Please
									enter valid STD Code</span> <span class="error"
								ng-show="deductorDetailForm.STD.$error.maxlength">STD
									Code should not be greater than 50 characters.</span> <span
								class="error" ng-show="deductorDetailForm.STD.$error.required">STD
									Code is Required</span>
							</span>
						</div>
					</div>
					<div class="row">


						<div class="col-md-4">
							<label>Telephone No*</label> <input type="text" ng-required="true" ng-pattern="/^([6-9]{1})([0-9]{9})$/"
								ng-model="cCctr.entity.respersonDetails.TELEPHONE" ng-maxlength="10"
								name="TELEPHONE" class="form-control" placeholder="Telephone No">
							<span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.TELEPHONE.$dirty && deductorDetailForm.TELEPHONE.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.TELEPHONE.$error.pattern">Please
									enter valid Telephone No</span> <span class="error"
								ng-show="deductorDetailForm.TELEPHONE.$error.maxlength">Telephone
									No. Name should not be greater than 10 characters.</span> <span
								class="error"
								ng-show="deductorDetailForm.TELEPHONE.$error.required">Telephone
									No is Required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>Responsible Person's Mobile No*</label> <input type="text" ng-required="true"
								name="RESPONSIBLEPERSONEMOBILE" ng-pattern="/^([6-9]{1})([0-9]{9})$/" ng-maxlength="10"
								ng-model="cCctr.entity.respersonDetails.RESPONSIBLEPERSONEMOBILE"
								class="form-control"
								placeholder="Responsible Person's Mobile No"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.fatherName.$dirty && deductorDetailForm.RESPONSIBLEPERSONEMOBILE.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.RESPONSIBLEPERSONEMOBILE.$error.pattern">Please
									enter valid Responsible Person's Mobile No</span> <span class="error"
								ng-show="deductorDetailForm.RESPONSIBLEPERSONEMOBILE.$error.maxlength">
									Responsible Person's Mobile No should not be greater than 10
									characters.</span> <span class="error"
								ng-show="deductorDetailForm.RESPONSIBLEPERSONEMOBILE.$error.required">
									Responsible Person's Mobile No is Required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>Email ID*</label> <input type="email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
								ng-model="cCctr.entity.respersonDetails.EMAIL" name="EMAIL"
								class="form-control" placeholder="Email ID" style="size: 15px">
							<span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.EMAIL.$dirty && deductorDetailForm.EMAIL.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.EMAIL.$error.pattern">Please
									enter valid Email ID</span> <span class="error"
								ng-show="deductorDetailForm.EMAIL.$error.maxlength">
									Email ID should not be greater than 50 characters.</span> <span
								class="error" ng-show="deductorDetailForm.EMAIL.$error.required">
									Email ID is Required</span>
							</span>
						</div>
					</div>
					<div class="row">


						<div class="col-md-4">
							<label>Email(Alternate)*</label> <input type="email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
								name="EMAILALTERNATE"
								ng-model="cCctr.entity.respersonDetails.EMAILALTERNATE"
								class="form-control" placeholder="Email(Alternate)"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.EMAILALTERNATE.$dirty && deductorDetailForm.EMAILALTERNATE.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.EMAILALTERNATE.$error.pattern">Please
									enter valid Email(Alternate)</span> <span class="error"
								ng-show="deductorDetailForm.EMAILALTERNATE.$error.maxlength">Email(Alternate)
									should not be greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.EMAILALTERNATE.$error.required">Email(Alternate)
									is Required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>STD Code(Alternate)*</label> <input type="text"
								name="STDALTERNATE" ng-required="true"
								ng-model="cCctr.entity.respersonDetails.STDALTERNATE"
								class="form-control"
								placeholder="Responsible Person's Mobile No"> <span
								style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.STDALTERNATE.$dirty && deductorDetailForm.STDALTERNATE.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.STDALTERNATE.$error.pattern">Please
									enter valid STD Code(Alternate)</span> <span class="error"
								ng-show="deductorDetailForm.STDALTERNATE.$error.maxlength">STD
									Code(Alternate) should not be greater than 50 characters.</span> <span
								class="error"
								ng-show="deductorDetailForm.STDALTERNATE.$error.required">STD
									Code(Alternate) is Required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>Telephone No (Alternate)*</label> <input type="text"
								name="TELEPHONEALTERNATE" ng-required="true" ng-pattern="/^([6-9]{1})([0-9]{9})$/"
								ng-model="cCctr.entity.respersonDetails.TELEPHONEALTERNATE" ng-maxlength="10"
								class="form-control" placeholder="Telephone No (Alternate)" style="size: 15px">
							<span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.TELEPHONEALTERNATE.$dirty && deductorDetailForm.TELEPHONEALTERNATE.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.TELEPHONEALTERNATE.$error.pattern">Please
									enter valid Telephone No (Alternate)</span> <span class="error"
								ng-show="deductorDetailForm.TELEPHONEALTERNATE.$error.maxlength">Telephone
									No (Alternate) should not be greater than 10 characters.</span> <span
								class="error"
								ng-show="deductorDetailForm.TELEPHONEALTERNATE.$error.required">Telephone
									No (Alternate) is Required</span>
							</span>
						</div>
					</div>
					<div class="row">

						<div class="col-md-4" name="Return" ng-required="true">
							<label>Change Of Add.Of Resp Person Since Last
								Return(Y/N)*</label> <select class="form-control">
								<option value="y">Y</option>
								<option value="n">N</option>

							</select> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.Return.$dirty && deductorDetailForm.Return.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.Return.$error.pattern">Please
									enter valid Change Of Add.Of Resp Person Since Last Return(Y/N)</span>
								<span class="error"
								ng-show="deductorDetailForm.Return.$error.maxlength">Change
									Of Add.Of Resp Person Since Last Return(Y/N) Name should not be
									greater than 50 characters.</span> <span class="error"
								ng-show="deductorDetailForm.Return.$error.required">Change
									Of Add.Of Resp Person Since Last Return(Y/N) is Required</span>
							</span>
						</div>

					</div>

				</div>
			</div>
			<hr>

			<h3>Government Details</h3>
			<div class="container">
				<button class="btn btn-primary hidden visible-xs" type="button"
					data-toggle="collapse" data-target="#collapseExample4"
					aria-expanded="false" aria-controls="collapseExample">
					Search</button>
				<div class="collapse dont-collapse-sm" id="collapseExample4">
					<div class="row">
						<div class="form-group">

							<div class="col-md-4" >
								<label>State*</label> <select class="form-control" name="STATENAME"
									ng-model="cCctr.entity.govtDetails.STATENAME" ng-required="true">

									<option value="" ng-selected=true>Select State</option>
									<option value="Andaman and Nicobar Islands">Andaman
										and Nicobar Islands</option>
									<option value="Andhra Pradesh">Andhra Pradesh</option>
									<option value="Arunachal Pradesh">Arunachal Pradesh</option>
									<option value="Assam">Assam</option>
									<option value="Bihar">Bihar</option>
									<option value="Chandigarh">Chandigarh</option>
									<option value="Chhattisgarh">Chhattisgarh</option>
									<option value="Dadra and Nagar Haveli">Dadra and Nagar
										Haveli</option>
									<option value="Daman and Diu">Daman and Diu</option>
									<option value="Delhi">Delhi</option>
									<option value="Goa">Goa</option>
									<option value="Gujarat">Gujarat</option>
									<option value="Haryana">Haryana</option>
									<option value="Himachal Pradesh">Himachal Pradesh</option>
									<option value="Jammu and Kashmir">Jammu and Kashmir</option>
									<option value="Jharkhand">Jharkhand</option>
									<option value="Karnataka">Karnataka</option>
									<option value="Kerala">Kerala</option>
									<option value="Lakshadweep">Lakshadweep</option>
									<option value="Madhya Pradesh">Madhya Pradesh</option>
									<option value="Maharashtra">Maharashtra</option>
									<option value="Manipur">Manipur</option>
									<option value="Meghalaya">Meghalaya</option>
									<option value="Mizoram">Mizoram</option>
									<option value="Nagaland">Nagaland</option>
									<option value="Orissa">Orissa</option>
									<option value="Pondicherry">Pondicherry</option>
									<option value="Punjab">Punjab</option>
									<option value="Rajasthan">Rajasthan</option>
									<option value="Sikkim">Sikkim</option>
									<option value="Tamil Nadu">Tamil Nadu</option>
									<option value="Tripura">Tripura</option>
									<option value="Uttaranchal">Uttaranchal</option>
									<option value="Uttar Pradesh">Uttar Pradesh</option>
									<option value="West Bengal">West Bengal</option>
								</select> <span style="color: red"
									ng-show="deductorDetailForm.submitted || deductorDetailForm.STATENAME.$dirty && deductorDetailForm.STATENAME.$invalid">
										<span class="error"
									ng-show="deductorDetailForm.STATENAME.$error.required">STATE
										is Required</span>
								</span>
							</div>
							<div class="col-md-4">
								<label>Ministry Name Other</label> <input type="text"
									ng-model="cCctr.entity.govtDetails.MINISTRYNAMEOTHER"
									class="form-control" placeholder="Ministry Name Other">
							</div>
							<div class="col-md-4">
								<label>PAO Code</label> <input type="text"
									ng-model="cCctr.entity.govtDetails.PAO" class="form-control"
									placeholder="PAO Code">
							</div>


						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>PAO Registration Number*</label> <input type="text" ng-required="true" name="PAOREGISTRATIONNUMBER"
								ng-model="cCctr.entity.govtDetails.PAOREGISTRATIONNUMBER"
								class="form-control" placeholder="PAO Registration Number">
							<span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.PAOREGISTRATIONNUMBER.$dirty && deductorDetailForm.PAOREGISTRATIONNUMBER.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.PAOREGISTRATIONNUMBER.$error.pattern">Please
									enter valid PAO Registration Number</span> <span class="error"
								ng-show="deductorDetailForm.PAOREGISTRATIONNUMBER.$error.maxlength">PAO Registration Number
									 should not be greater than 50 characters.</span>
									<span class="error"
								ng-show="deductorDetailForm.PAOREGISTRATIONNUMBER.$error.required">PAO Registration Number
									is Required</span>
							</span>
						</div>

						<div class="col-md-4">
							<label>DDO Code*</label> <input type="text" ng-required="true" name="DDO"
								ng-model="cCctr.entity.govtDetails.DDO" class="form-control"
								placeholder="DDO Code"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.DDO.$dirty && deductorDetailForm.DDO.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.DDO.$error.pattern">Please
									enter valid DDO Code</span> <span class="error"
								ng-show="deductorDetailForm.DDO.$error.maxlength">DDO Code
									 should not be greater than 50 characters.</span>
									<span class="error"
								ng-show="deductorDetailForm.DDO.$error.required">DDO Code
									is Required</span>
							</span>
						</div>
						<div class="col-md-4">
							<label>DDO Registration No*</label> <input type="text" name="DDO" ng-required="true"
								ng-model="cCctr.entity.govtDetails.DDO"
								class="form-control" placeholder="DDO Registration No"
								style="size: 15px"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.DDO.$dirty && deductorDetailForm.DDO.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.DDO.$error.pattern">Please
									enter valid DDO Registration No</span> <span class="error"
								ng-show="deductorDetailForm.DDO.$error.maxlength">DDO Registration No
									should not be greater than 50 characters.</span>
									<span class="error"
								ng-show="deductorDetailForm.DDO.$error.required">DDO Registration No
									is Required</span>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Ministry Name*</label> <select class="form-control" name="MINISTRYNAME" ng-required="true"
								ng-model="cCctr.entity.govtDetails.MINISTRYNAME">
								<option value="a">A</option>
								<option value="b">B</option>

							</select> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.MINISTRYNAME.$dirty && deductorDetailForm.MINISTRYNAME.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.MINISTRYNAME.$error.pattern">Please
									enter valid Ministry Name</span> <span class="error"
								ng-show="deductorDetailForm.MINISTRYNAME.$error.maxlength">
									Ministry Name should not be greater than 50 characters.</span>
									<span class="error"
								ng-show="deductorDetailForm.MINISTRYNAME.$error.required">Ministry Name
									is Required</span>
							</span>
						</div>

						<div class="col-md-4">
							<label>AIN No*</label> <input type="text" name="AIN" ng-required="true"
								ng-model="cCctr.entity.govtDetails.AIN" class="form-control"
								placeholder="AIN No*"> <span style="color: red"
								ng-show="deductorDetailForm.submitted || deductorDetailForm.AIN.$dirty && deductorDetailForm.AIN.$invalid">
								<span class="error"
								ng-show="deductorDetailForm.AIN.$error.pattern">Please
									enter valid AIN No</span> <span class="error"
								ng-show="deductorDetailForm.AIN.$error.maxlength">AIN No
									 should not be greater than 50 characters.</span>
									<span class="error"
								ng-show="deductorDetailForm.AIN.$error.required">AIN No
									is Required</span>
							</span>
						</div>

					</div>




				</div>
			</div>
			<br> <br>
			<div class="row" style="float: right; margin-right: 20%">
				<button type="button"
					ng-click="deductorDetailForm.submitted=true;cCctr.updateData(deductorDetailForm.$valid,'deductorDetails',cCctr.entity,'closeU')"
					class="btn btn-primary btn-lg">Submit</button>
				<button type="button" class="btn btn-danger btn-lg">Cancel</button>
			</div>

		</form>

	</div>
	<br> <br>





	<div id="menu1" class="tab-pane fade">

		<div class="container-fluid">
			<form role="form" name="tracesLoginForm">
				<div class="col-md-12 "
					style="padding-left: 0px; font-size: 15px; margin-top: 2%">
					<div class="heading">
						<center>
							<h2>Traces Login Details
						</center>
						</h2>
					</div>

				</div>

				<button class="btn btn-primary hidden visible-xs" type="button"
					data-toggle="collapse" data-target="#collapseExample10"
					aria-expanded="false" aria-controls="collapseExample">
					Search</button>

				<br>

				<div class="collapse dont-collapse-sm" id="collapseExample10">

					<div class="row">
						<div class="form-group">
							<div class="col-md-4" style="margin-left: 30%">
								<label>User ID</label> <input type="text"
									ng-model="cCctr.entity.traces.USERNAME" class="form-control"
									placeholder="User ID">
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="form-group">
							<div class="col-md-4" style="margin-left: 30%">
								<label>Password</label> <input type="password"
									ng-model="cCctr.entity.traces.PASSWORD" class="form-control"
									placeholder="Password">
							</div>
						</div>
					</div>
					<br>

					<button type="button" id="hide" class="btn btn-primary btn-lg"
						ng-click="tracesLoginForm.submitted=true;cCctr.updateData(tracesLoginForm.$valid,'deductorDetails',cCctr.entity,'closeU')"
						style="margin-left: 33%">Update Traces Login Details</button>
					<button type="button" id="search" class="btn btn-primary"
						ng-click="tracesLoginForm.submitted=true;cCctr.updateData(tracesLoginForm.$valid,'deductorDetails',cCctr.entity,'closeU')">Update
						Traces Login Details</button>
				</div>
			</form>
		</div>
		<hr>

		<div class="container-fluid">
			<form role="form" name="efilingForm">
				<div class="col-md-12 "
					style="padding-left: 0px; font-size: 15px; margin-top: 2%">
					<div class="heading">
						<center>
							<h2>EFiling Login Details
						</center>
						</h2>
					</div>
				</div>
				<button class="btn btn-primary hidden visible-xs" type="button"
					data-toggle="collapse" data-target="#collapseExample12"
					aria-expanded="false" aria-controls="collapseExample">
					Search</button>

				<br>

				<div class="collapse dont-collapse-sm" id="collapseExample12">

					<div class="row">
						<div class="form-group">
							<div class="col-md-4" style="margin-left: 30%">
								<label>User ID</label> <input type="text"
									ng-model="cCctr.entity.efiling.USERNAME" class="form-control"
									placeholder="User ID">
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="form-group">
							<div class="col-md-4" style="margin-left: 30%">
								<label>Password</label> <input type="password"
									ng-model="cCctr.entity.efiling.PASSWORD" class="form-control"
									placeholder="Password">
							</div>
						</div>
					</div>
					<br>

					<button type="button" id="hide" class="btn btn-primary btn-lg"
						ng-click="efilingForm.submitted=true;cCctr.updateData(efilingForm.$valid,'deductorDetails',cCctr.entity,'closeU')"
						style="margin-left: 33%">Update EFiling Login Details</button>
					<button type="button" id="search" class="btn btn-primary"
						ng-click="efilingForm.submitted=true;cCctr.updateData(efilingForm.$valid,'deductorDetails',cCctr.entity,'closeU')">Update
						EFiling Login Details</button>
					<br>
				</div>
			</form>
		</div>


	</div>

</div>
<br>
<br>

























