
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
	td:nth-of-type(1):before {
		content: "Sr. No.";
	}
	td:nth-of-type(2):before {
		content: "Employee Code";
	}
	td:nth-of-type(3):before {
		content: "Name";
	}
	td:nth-of-type(4):before {
		content: "PAN";
	}
	td:nth-of-type(5):before {
		content: "Designation";
	}
	td:nth-of-type(6):before {
		content: "Email";
	}
	td:nth-of-type(7):before {
		content: "Mobile";
	}
	td:nth-of-type(8):before {
		content: "Address";
	}
	td:nth-of-type(9):before {
		content: "Branch";
	}
	td:nth-of-type(10):before {
		content: "Group Code";
	}
	td:nth-of-type(11):before {
		content: "Action";
	}
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper"
	ng-init="cCctr.entity=cCctr.getEntityDataFY().deductee;">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;">Details of
					Ticket</h3>
			</div>

			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">

					<!-- <div class="row">
						<div class="col-xs-12">
							<div class="text-left">
								<button class="btn btn-primary" data-toggle="modal"
									onclick="test('#profile')">Edit</button>
							</div>
						</div>
					</div> -->

					<br>
					<div class="container">
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Financial Year &nbsp;:</label> {{cCctr.entity.fy}}
							</div>
							<div class="col-md-3">
								<label>Quarter &nbsp;:</label> {{cCctr.entity.quarter}}
							</div>
							<div class="col-md-3">
								<label>Form &nbsp;:</label> {{cCctr.entity.form}}
							</div>

						</div>
						<br>
						<div class="row" style="font-size: 13px;">
							<!-- <div class="col-md-3">
							<label>Type &nbsp;:</label> {{cCctr.entity.type}}
						</div> -->
							<div class="col-md-3">
								<label>Status &nbsp;:</label> <span
									ng-if="cCctr.entity.resolved == 0"> Resolved</span> <span
									ng-if="cCctr.entity.resolved == 1"> Not Resolved</span>
							</div>
							<div class="col-md-3">
								<label>Description &nbsp;:</label> {{cCctr.entity.description}}
							</div>
							<div class="col-md-3">
								<label>Branch Code. &nbsp;:</label>
								{{cCctr.entity.branchCode}}
							</div>
							<!-- <div class="col-md-3">
								<label>Remarks &nbsp;:</label> {{cCctr.entity.status}}
							</div> -->


						</div>
						<br>

						<div class="row" style="font-size: 13px;">
							<!-- <div class="col-md-3">
							<label>Attachment &nbsp;:</label> {{cCctr.entity.attachment}}
						</div> -->
							<div class="col-md-3">
								<label>Date Of Opening &nbsp;:</label>
								{{cCctr.entity.dateOfOpening | date:'dd-MM-yyyy'}}
							</div>
							<div class="col-md-3">
								<label>Date of Change &nbsp;:</label>
								{{cCctr.entity.dateOfChange | date:'dd-MM-yyyy'}}
							</div>

						</div>
						<br>
						<div class="row" style="font-size: 13px;"></div>


						<div class="row">
							<form role="form" name="remark">
								<input ng-model="cCctr.newEntity.deducteeId = cCctr.entity.id"
									id="deducteeId" name="deducteeId" style="display: none">

								<input ng-model="cCctr.newEntity.fy = cCctr.entity.fy" id="fy"
									name="fy" style="display: none"> <input
									ng-model="cCctr.newEntity.deducteeForm ='ticket'"
									id="deducteeForm" name="deducteeForm" style="display: none">

								<input class="form-control"
									ng-model="cCctr.newEntity.branchCode = cCctr.entity.branchCode"
									id="branchCode" name="branchCode" style="display: none">

								<button data-toggle="modal" data-target="#myModal"
									class="btn btn-success" style="margin-left: 50%">Add
									Remark</button>

								<button class="btn btn-danger"
									ng-click="cCctr.gotoWFYListPage('ticket','ticket')">Back</button>

								<div ng-if="cCctr.entity.resolved == 1"
									style="margin: -2.9% 0 0% 64.2%;">
									<button data-toggle="modal" data-target="#resolveModal"
										class="btn btn-primary">Resolved</button>
								</div>
								<div ng-if="cCctr.entity.resolved == 0"
									style="margin: -2.9% 0 0% 64.2%;">
									<button data-toggle="modal" data-target="#resolveModal"
										class="btn btn-primary" disabled>Resolved</button>
								</div>

								<div ng-if="cCctr.entity.resolved == 1"
									style="margin: -2.9% 0 0% 72.2%;">
									<button data-toggle="modal" data-target="#rejectModal"
										class="btn btn-info">Reject</button>
								</div>
								<div ng-if="cCctr.entity.resolved == 0"
									style="margin: -2.9% 0 0% 72.2%;">
									<button data-toggle="modal" data-target="#rejectModal"
										class="btn btn-info" disabled>Reject</button>
								</div>

								<div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Add Remark</h4>
											</div>
											<div class="col-md-12">
												<div class="col-md-12">
													<label style="font-size: 13px; margin-top: 2%">Remarks&nbsp;:</label>
												</div>
												<textarea ng-model="cCctr.newEntity.remark" id="remark"
													name="remark"
													style="width: 90%; height: 20%; font-size: 15px; margin-left: 5%;"
													ng-required="true"></textarea>
												<span style="color: red; margin-left: 5%;" class="error"
													ng-show="remark.submitted || remark.remark.$dirty && remark.remark.$invalid">Please
													enter valid Remark</span> <span class="error" id="remark"></span>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success "
													ng-click="remark.submitted=true;cCctr.addRemark(remark.$valid,'remark',cCctr.newEntity,'Remark','close')"
													data-dismiss="modal" style="margin: 2% 5% 0 0; width: 15%;">Add</button>
											</div>
										</div>

									</div>
								</div>
								<!-- Reject Remark model -->
								<div class="modal fade" id="rejectModal" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Reject</h4>
											</div>
											<div class="col-md-12 ">
												<label style="font-size: 13px; margin-top: 2%">Why
													do you want to reject?</label><br>
												<textarea ng-model="cCctr.newEntity.remark" id="remark"
													name="remark"
													style="width: 90%; height: 20%; font-size: 15px; margin-left: 5%;"
													ng-required="true"></textarea>
											</div>
											<div class="modal-footer">
												<button class="btn btn-success"
													ng-init="cCctr.resolve.resolved = 'false'; cCctr.resolve.id = cCctr.entity.deductee.id"
													ng-click="cCctr.addRemark(true,'remark',cCctr.newEntity,'Reject','close')"
													style="margin-top: 1%;">Yes</button>
												<button class="btn btn-danger" data-dismiss="modal"
													style="margin-top: 1%;">No</button>
											</div>
										</div>
									</div>
								</div>

								<!-- Resolve Remark model -->
								<div class="modal fade" id="resolveModal" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Resolve</h4>
											</div>
											<div class="col-md-12 ">
												<label style="font-size: 13px; margin-top: 2%">Resolve</label><br>
												<textarea ng-model="cCctr.newEntity.remark" id="remark"
													name="remark"
													style="width: 90%; height: 20%; font-size: 15px; margin-left: 5%;"
													ng-required="true"></textarea>
											</div>
											<div class="modal-footer">
												<button class="btn btn-success"
													ng-init="cCctr.resolve.resolved = 'false'; cCctr.resolve.id = cCctr.entity.deductee.id"
													ng-click="cCctr.addRemark(true,'remark',cCctr.newEntity,'Resolve','close')"
													style="margin-top: 1%;">Yes</button>
												<button class="btn btn-danger" data-dismiss="modal"
													style="margin-top: 1%;">No</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<br>
					<div>
						<div class="table-responsive" style="overflow-x: inherit">
							<!-- 	<div class="col-md-12" style="margin-left:-30px"> -->
							<table class=" table table-bordered table-hover  table-striped"
								role="table"
								style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">

								<thead>
								<colgroup>
									<col span="14" style="background-color: #ffffff">
								</colgroup>
								<tr>
								<thead>
									<tr role="row" style="height: 40px; background-color: #81b7db">
										<th>Sr.No</th>
										<th style="width: 50%">Remark</th>
										<th>Status</th>
										<th>Remark By</th>
										<th>Date & Time</th>

									</tr>

								</thead>
								<tbody>
									<tr ng-repeat="a in cCctr.getEntityListDataFY().remark">
										<th>{{$index+1}}</th>
										<th>{{a.remark}}</th>
										<th>{{a.status}}</th>
										<th>{{a.userName}}</th>
										<th>{{a.dateTime | date:'dd-MM-yyyyTHH:mm:ss'}}</th>
									</tr>
								</tbody>
							</table>

						</div>
					</div>


					<!-- <div style="text-align:center">
					<button class="btn btn-success"  ng-click="cCctr.viewFile('fileDetail',cCctr.entity,'viewFile');">Download Ticket</button>
                    </div> -->
				</div>



			</div>



			<div id="profile" class="modal fade" role="dialog">
				<div class="modal-dialog modal-lg">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" id="closeU"
								data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Edit Ticket Details</h4>
						</div>
						<div class="modal-body">

							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade active in" id="signin">
									<form name="profileForm" class="form-horizontal"
										enctype="multipart/form-data">


										<div class="row">
											<div class="col-md-6">

												<label>Financial Year*</label> <select name="fy"
													class="form-control" ng-model="cCctr.entity.fy"
													ng-required="true" ng-model-options="{updateOn: 'blur'}">
													<option value="201920">201920</option>
													<option value="201819">201819</option>
													<option value="201718">201718</option>
													<option value="201617">201617</option>
													<option value="201516">201516</option>
													<option value="201415">201415</option>
													<option value="201314">201314</option>
													<option value="201213">201213</option>
													<option value="201112">201112</option>
													<option value="201011">201011</option>
													<option value="200910">200910</option>
													<option value="200809">200809</option>
													<option value="200708">200708</option>
												</select>



											</div>

											<div class="col-md-6">

												<label>Quarter*</label> <select name="quarter"
													class="form-control" ng-model="cCctr.entity.quarter"
													ng-required="true" ng-model-options="{updateOn: 'blur'}">
													<option value="Q1">Q1</option>
													<option value="Q2">Q2</option>
													<option value="Q3">Q3</option>
													<option value="Q4">Q4</option>
												</select>

											</div>
										</div>

										<div class="row">
											<div class="col-md-6">

												<label>Form*</label> <select name="quarter"
													class="form-control" ng-model="cCctr.entity.form"
													ng-required="true" ng-model-options="{updateOn: 'blur'}">
													<option value="24Q">24Q</option>
													<option value="26Q">26Q</option>
													<option value="27Q">27Q</option>
													<option value="27EQ">27EQ</option>
												</select>
											</div>
											<div class="col-md-6">

												<label>Type*</label> <input class="form-control" type="text"
													name="type" placeholder="type" ng-maxlenght="45"
													ng-required="true" ng-model="cCctr.entity.type"
													autocomplete="off" ng-model-options="{updateOn: 'blur'}" />


											</div>


										</div>


										<div class="row">
											<div class="col-md-6">

												<label>Attachment*</label> <input class="form-control"
													type="text" name="attachment" placeholder="Attachment"
													ng-maxlenght="45" ng-required="true"
													ng-model="cCctr.entity.attachment" autocomplete="off"
													ng-model-options="{updateOn: 'blur'}" />

											</div>

											<div class="col-md-6">

												<label>Status*</label> <input class="form-control"
													type="text" name="status" placeholder="Status"
													ng-maxlenght="45" ng-required="true"
													ng-model="cCctr.entity.status" autocomplete="off"
													ng-model-options="{updateOn: 'blur'}" />

											</div>



										</div>


										<div class="row">
											<div class="col-md-6">

												<label>Description*</label> <input class="form-control"
													type="text" name="Description" placeholder="Description"
													ng-maxlenght="45" ng-required="true"
													ng-model="cCctr.entity.description" autocomplete="off"
													ng-model-options="{updateOn: 'blur'}" />

											</div>

											<div class="col-md-6">

												<label>Remark*</label> <input class="form-control"
													type="text" name="remark" placeholder="Remark"
													ng-maxlenght="45" ng-required="true"
													ng-model="cCctr.entity.remarks" autocomplete="off"
													ng-model-options="{updateOn: 'blur'}" />

											</div>
										</div>

										<div class="row">
											<div class="col-md-6">

												<label>Date Of Opening*</label> <input type="date"
													class="form-control" style="padding-top: 0px;"
													name="dateOfOpening" value={{cCctr.entity.dateOfOpening}}
													ng-model="cCctr.entity.dateOfOpening" autocomplete="off"
													ng-model-options="{updateOn: 'blur'}" />


											</div>

											<div class="col-md-6">

												<label>Date Of Change*</label> <input type="date"
													class="form-control" style="padding-top: 0px;"
													name="dateOfChange" value={{cCctr.entity.dateOfChange}}
													ng-model="cCctr.entity.dateOfChange" autocomplete="off"
													ng-model-options="{updateOn: 'blur'}" />

											</div>


										</div>
									</form>

									<div class="modal-footer">
										<!-- <button
									ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'form24QDeductee',cCctr.entity.deductee,'closeU')"
									class="btn btn-success" data-dismiss="modal">Save</button> -->
										<button class="btn btn-success" data-dismiss="modal">OK</button>
										<button class="btn btn-danger" data-dismiss="modal">Back</button>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




		</div>






	</div>

</div>






