<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityData();">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;">
					<strong>Details of Form 24Q Deductee</strong>
				</h3>
			</div>




			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">

					<div class="row">
						<div class="col-xs-12">
							<div class="text-left">
								<button class="btn btn-primary" data-toggle="modal"
									onclick="test('#profile')">Edit</button>
							</div>
						</div>
					</div>

					<br> <br>



					<div class="container">

						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Challan Sr.No. &nbsp;:</label>
									{{cCctr.entity.deductee.challanSrNo}}
								</div>
								<div class="col-md-6">
									<label>Employee Reference No. &nbsp;:</label>
									{{cCctr.entity.deductee.employeeRefNo}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Pan Reference No &nbsp;:</label>
									{{cCctr.entity.deductee.panRefNo}}
								</div>

								<div class="col-md-6">
									<label>Pan &nbsp;:</label> {{cCctr.entity.deductee.pan}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Name &nbsp;:</label> {{cCctr.entity.deductee.name}}
								</div>
								<div class="col-md-6">
									<label>Section Code &nbsp;:</label>
									{{cCctr.entity.deductee.sectionCode }}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Date Of Payment &nbsp;:</label>
									{{cCctr.entity.deductee.dateOfPayment| date:'dd-MM-yyyy'}}
								</div>
								<div class="col-md-6">
									<label>Date of Deduction &nbsp;:</label>
									{{cCctr.entity.deductee.dateOfDeduction| date:'dd-MM-yyyy'}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Amount Paid &nbsp;:</label>
									{{cCctr.entity.deductee.amountPaid}}
								</div>
								<div class="col-md-6">
									<label>TDS&nbsp;:</label> {{cCctr.entity.deductee.tds}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Surcharge &nbsp;:</label>
									{{cCctr.entity.deductee.surcharge}}
								</div>
								<div class="col-md-6">
									<label>Education Cess &nbsp;:</label>
									{{cCctr.entity.deductee.educationCess}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Total Tds &nbsp;:</label>
									{{cCctr.entity.deductee.totalTds}}
								</div>
								<div class="col-md-6">
									<label>Total Tax Deposited &nbsp;:</label>
									{{cCctr.entity.deductee.totalTaxDeposited}}
								</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Remarks&nbsp;:</label> {{cCctr.entity.deductee.remarks}}
								</div>
								<div class="col-md-6">
									<label>Certificate Number &nbsp;:</label>
									{{cCctr.entity.deductee.certificateNumber}}
								</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>FY&nbsp;:</label> {{cCctr.entity.deductee.fy}}
								</div>
								<div class="col-md-6">
									<label>Quarter &nbsp;:</label>
									{{cCctr.entity.deductee.quarter}}
								</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<div ng-if="cCctr.entity.deductee.verify == 1">
										<label>Verified &nbsp;:&nbsp;</label><i class="fa fa-check"
											aria-hidden="true" style="color: #5cb85c"></i>
									</div>
									<div ng-if="cCctr.entity.deductee.verify == 0">
										<label>Verified &nbsp;:&nbsp;</label><i class="fa fa-times"
											aria-hidden="true" style="color: #ff0000"></i>
									</div>
								</div>
							</div>
							<br>

							<hr>
							<br>
							<div class="row">
								<button
									ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'form24QDeductee',cCctr.entity.deductee,'closeU')"
									class="btn btn-success" data-dismiss="modal"
									style="margin-left: 780px">Save</button>
								<button class="btn btn-danger"
									ng-click="cCctr.gotoList2Page('form24QDeductee','form24QDeductee');">Back</button>
							</div>
						</div>
					</div>
					<br>



				</div>
				<div id="profile" class="modal fade" role="dialog">
					<div class="modal-dialog modal-lg">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" id="closeU"
									data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Edit Employee Details</h4>
							</div>
							<div class="modal-body">

								<div id="myTabContent" class="tab-content">
									<div class="tab-pane fade active in" id="signin">
										<form name="profileForm" class="form-horizontal"
											enctype="multipart/form-data">


											<div class="row">
												<div class="col-md-6">

													<label>Challan Sr. No*</label> <input class="form-control"
														type="text" name="challanSrNo"
														placeholder="Challan Sr. No"
														ng-model="cCctr.entity.deductee.challanSrNo"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
														ng-required="true" ng-maxlength="12"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.challanSrNo.$dirty && profileForm.challanSrNo.$invalid">
														<span class="error"
														ng-show="profileForm.challanSrNo.$error.pattern">Please
															enter valid Challan Sr. No </span> <span class="error"
														ng-show="profileForm.challanSrNo.$error.maxlength">Challan
															Sr. No should not be greater than 12 characters.</span> <span
														class="error"
														ng-show="profileForm.challanSrNo.$error.required">Challan
															Sr. No is Required.</span>
													</span> <span class="error" id="challanSrNo"></span>

												</div>

												<div class="col-md-6">

													<label>Employee Reference No*</label> <input
														class="form-control" type="text" name="employeeRefNo"
														placeholder="Employee Reference No." ng-required="true"
														ng-maxlength="12"
														ng-model="cCctr.entity.deductee.employeeRefNo"
														autocomplete="off" ng-pattern="/^[0-9]/"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.employeeRefNo.$dirty && profileForm.employeeRefNo.$invalid">
														<span class="error"
														ng-show="profileForm.employeeRefNo.$error.pattern">Please
															enter valid Employee Reference No. </span> <span class="error"
														ng-show="profileForm.employeeRefNo.$error.maxlength">Employee
															Reference No. should not be greater than 12 characters.</span> <span
														class="error"
														ng-show="profileForm.employeeRefNo.$error.required">Employee
															Reference No. is Required.</span>
													</span> <span class="error" id="employeeRefNo"></span>

												</div>


											</div>

											<div class="row">
												<div class="col-md-6">

													<label>Pan Reference No*</label> <input
														class="form-control" type="text" name="panRefNo"
														placeholder="Pan Reference No." ng-required="true"
														ng-maxlength="12"
														ng-model="cCctr.entity.deductee.panRefNo"
														autocomplete="off" ng-pattern="/^[0-9]/"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.panRefNo.$dirty && profileForm.panRefNo.$invalid">
														<span class="error"
														ng-show="profileForm.panRefNo.$error.pattern">Please
															enter valid Pan Reference No. </span> <span class="error"
														ng-show="profileForm.panRefNo.$error.maxlength">Pan
															Reference No. should not be greater than 12 characters.</span> <span
														class="error"
														ng-show="profileForm.panRefNo.$error.required">Pan
															Reference No.is Required.</span>
													</span> <span class="error" id="panRefNo"></span>

												</div>

												<div class="col-md-6">

													<label>Pan*</label> <input class="form-control" type="text"
														name="pan" placeholder="Pan " ng-required="true"
														ng-maxlength="12" ng-model="cCctr.entity.deductee.pan"
														autocomplete="off"
														ng-pattern="/^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$/"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.pan.$dirty && profileForm.pan.$invalid">
														<span class="error"
														ng-show="profileForm.pan.$error.pattern">Please
															enter valid Pan Reference No. </span> <span class="error"
														ng-show="profileForm.pan.$error.maxlength">Pan
															should not be greater than 12 characters.</span> <span
														class="error" ng-show="profileForm.pan.$error.required">Pan
															is Required.</span>
													</span><span class="error" id="pan"></span>
												</div>


											</div>
											<div class="row">
												<div class="col-md-6">

													<label>Name*</label> <input class="form-control"
														type="text" name="name" placeholder="Name"
														ng-required="true" ng-maxlength="12"
														ng-model="cCctr.entity.deductee.name" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.name.$dirty && profileForm.name.$invalid">
														<span class="error"
														ng-show="profileForm.name.$error.pattern">Please
															enter valid Name. </span> <span class="error"
														ng-show="profileForm.name.$error.maxlength">Name
															should not be greater than 45 characters.</span> <span
														class="error" ng-show="profileForm.name.$error.required">Name
															is Required.</span>
													</span> <span class="error" id="name"></span>

												</div>

												<div class="col-md-6">

													<label>Section Code*</label> <input class="form-control"
														type="text" name="sectionCode" ng-required="true"
														ng-maxlength="12" placeholder="Section Code"
														ng-model="cCctr.entity.deductee.sectionCode"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.sectionCode.$dirty && profileForm.sectionCode.$invalid">
														<span class="error"
														ng-show="profileForm.sectionCode.$error.pattern">Please
															enter valid Section Code </span> <span class="error"
														ng-show="profileForm.sectionCode.$error.maxlength">Section
															Code should not be greater than 45 characters.</span> <span
														class="error"
														ng-show="profileForm.sectionCode.$error.required">Section
															Code is Required.</span>
													</span> <span class="error" id="sectionCode"></span>

												</div>


											</div>
											<div class="row">
												<div class="col-md-6">

													<label>Date Of Payment*</label> <input type="date"
														class="form-control" style="padding-top: 0px;"
														name="dateOfPayment"
														value={{cCctr.entity.deductee.dateOfPayment}}
														ng-model="cCctr.entity.deductee.dateOfPayment"
														autocomplete="off" ng-model-options="{updateOn: 'blur'}" />
													<span style="color: red"
														ng-show="profileForm.submitted || profileForm.dateOfPayment.$dirty && profileForm.dateOfPayment.$invalid">
														<span class="error"
														ng-show="profileForm.dateOfPayment.$error.required">Date
															Of Payment Required.</span>
													</span><span class="error" id="dateOfPayment"></span>

												</div>

												<div class="col-md-6">

													<label>Date Of Deduction*</label> <input type="date"
														class="form-control" style="padding-top: 0px;"
														name="dateOfDeduction"
														value={{cCctr.entity.deductee.dateOfDeduction}}
														ng-model="cCctr.entity.deductee.dateOfDeduction"
														autocomplete="off" ng-model-options="{updateOn: 'blur'}" />
													<span style="color: red"
														ng-show="profileForm.submitted || profileForm.dateOfDeduction.$dirty && profileForm.dateOfDeduction.$invalid">
														<span class="error"
														ng-show="profileForm.dateOfDeduction.$error.required">Date
															Of Deduction is Required.</span>
													</span> <span class="error" id="dateOfDeduction"></span>
												</div>


											</div>
											<div class="row">
												<div class="col-md-6">

													<label>Amount Paid*</label> <input class="form-control"
														type="text" name="amountPaid" placeholder="Amount Paid"
														ng-maxlenght="45" ng-required="true"
														ng-model="cCctr.entity.deductee.amountPaid"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.amountPaid.$dirty && profileForm.amountPaid.$invalid">
														<span class="error"
														ng-show="profileForm.amountPaid.$error.pattern">Please
															enter valid Amount Paid </span> <span class="error"
														ng-show="profileForm.amountPaid.$error.maxlength">Amount
															Paid should not be greater than 45 characters.</span> <span
														class="error"
														ng-show="profileForm.amountPaid.$error.required">Amount
															Paid is Required.</span>
													</span> <span class="error" id="amountPaid"></span>

												</div>

												<div class="col-md-6">

													<label>TDS*</label> <input class="form-control" type="text"
														name="tds" placeholder="TDS" ng-maxlenght="45"
														ng-required="true" ng-model="cCctr.entity.deductee.tds"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.tds.$dirty && profileForm.tds.$invalid">
														<span class="error"
														ng-show="form24qdeductee.tds.$error.pattern">Please
															enter valid TDS </span> <span class="error"
														ng-show="profileForm.tds.$error.maxlength">TDS
															should not be greater than 45 characters.</span> <span
														class="error" ng-show="profileForm.tds.$error.required">TDS
															is Required.</span>
													</span> <span class="error" id="tds"></span>

												</div>


											</div>
											<div class="row">
												<div class="col-md-6">

													<label>Surcharge*</label> <input class="form-control"
														type="text" name="surcharge" placeholder="Surcharge"
														ng-maxlenght="45" ng-required="true"
														ng-model="cCctr.entity.deductee.surcharge"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.surcharge.$dirty && profileForm.surcharge.$invalid">
														<span class="error"
														ng-show="profileForm.surcharge.$error.pattern">Please
															enter Surcharge </span> <span class="error"
														ng-show="profileForm.surcharge.$error.maxlength">Surcharge
															should not be greater than 45 characters.</span> <span
														class="error"
														ng-show="profileForm.surcharge.$error.required">Surcharge
															is Required.</span>
													</span><span class="error" id="surcharge"></span>

												</div>

												<div class="col-md-6">

													<label>Education Cess*</label> <input class="form-control"
														type="text" name="educationCess" ng-maxlenght="45"
														ng-required="true" placeholder="Education Cess"
														ng-model="cCctr.entity.deductee.educationCess"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.educationCess.$dirty && profileForm.educationCess.$invalid">
														<span class="error"
														ng-show="profileForm.educationCess.$error.pattern">Please
															enter valid Education Cess </span> <span class="error"
														ng-show="profileForm.educationCess.$error.maxlength">Education
															Cess should not be greater than 45 characters.</span> <span
														class="error"
														ng-show="profileForm.educationCess.$error.required">Education
															Cess is Required.</span>
													</span> <span class="error" id="educationCess"></span>

												</div>


											</div>

											<div class="row">
												<div class="col-md-6">

													<label>Total TDS*</label> <input class="form-control"
														type="text" name="totalTds" placeholder="Total TDS"
														ng-model="cCctr.entity.deductee.totalTds"
														ng-maxlenght="45" ng-required="true" autocomplete="off"
														ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.totalTds.$dirty && profileForm.totalTds.$invalid">
														<span class="error"
														ng-show="profileForm.totalTds.$error.pattern">Please
															enter valid Total TDS </span> <span class="error"
														ng-show="profileForm.totalTds.$error.maxlength">Total
															TDS should not be greater than 45 characters.</span> <span
														class="error"
														ng-show="profileForm.totalTds.$error.required">Total
															TDS is Required.</span>
													</span> <span class="error" id="totalTds"></span>

												</div>

												<div class="col-md-6">

													<label>Total Tax Deposited*</label> <input
														class="form-control" type="text" name="totalTaxDeposited"
														placeholder="Total Tax Deposited" ng-maxlenght="45"
														ng-required="true"
														ng-model="cCctr.entity.deductee.totalTaxDeposited"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.totalTaxDeposited.$dirty && profileForm.totalTaxDeposited.$invalid">
														<span class="error"
														ng-show="profileForm.totalTaxDeposited.$error.pattern">Please
															enter valid Total TDS </span> <span class="error"
														ng-show="profileForm.totalTaxDeposited.$error.maxlength">Total
															TDS should not be greater than 45 characters.</span> <span
														class="error"
														ng-show="profileForm.totalTaxDeposited.$error.required">Total
															TDS is Required.</span>
													</span> <span class="error" id="totalTaxDeposited"></span>

												</div>


											</div>

											<div class="row">
												<div class="col-md-6">

													<label>Remarks*</label> <input class="form-control"
														type="text" name="remarks" placeholder="Remarks"
														ng-model="cCctr.entity.deductee.remarks" ng-maxlenght="45"
														ng-required="true" autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" /> <span
														style="color: red"
														ng-show="profileForm.submitted || profileForm.remarks.$dirty && profileForm.remarks.$invalid">
														<span class="error"
														ng-show="profileForm.remarks.$error.pattern">Please
															enter valid Remarks </span> <span class="error"
														ng-show="profileForm.remarks.$error.maxlength">Remarks
															should not be greater than 45 characters.</span> <span
														class="error"
														ng-show="profileForm.remarks.$error.required">Remarks
															is Required.</span>
													</span> <span class="error" id="remarks"></span>

												</div>

												<div class="col-md-6">

													<label>Certificate Number*</label> <input
														class="form-control" type="text" name="certificateNumber"
														placeholder="Certificate Number"
														ng-model="cCctr.entity.deductee.certificateNumber"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" ng-maxlenght="45"
														ng-required="true" /> <span style="color: red"
														ng-show="profileForm.submitted || profileForm.certificateNumber.$dirty && profileForm.certificateNumber.$invalid">
														<span class="error"
														ng-show="profileForm.certificateNumber.$error.pattern">Please
															enter valid Certificate Number </span> <span class="error"
														ng-show="profileForm.certificateNumber.$error.maxlength">Certificate
															Number should not be greater than 45 characters.</span> <span
														class="error"
														ng-show="profileForm.certificateNumber.$error.required">Certificate
															Number is Required.</span>
													</span> <span class="error" id="certificateNumber"></span>


												</div>


											</div>
											<div class="row">
												<div class="col-md-6">

													<label>Financial Year*</label> <select name="fy"
														class="form-control" ng-model="cCctr.entity.deductee.fy"
														ng-required="true" ng-model-options="{updateOn: 'blur'}">
														<option value="201920">201920</option>
														<option value="201819">201819</option>
														<option value="201718">201718</option>
														<option value="201617">201617</option>
														<option value="201516">201516</option>
														<option value="201415">201415</option>
														<option value="201314">201314</option>
														<option value="201213">201213</option>
														<option value="201112">201112</option>
														<option value="201011">201011</option>
														<option value="200910">200910</option>
														<option value="200809">200809</option>
														<option value="200708">200708</option>
													</select> <span style="color: red"
														ng-show="profileForm.submitted || profileForm.fy.$dirty && profileForm.fy.$invalid">
														<span class="error"
														ng-show="profileForm.fy.$error.required">FY is
															Required.</span>
													</span> <span class="error" id="fy"></span>



												</div>

												<div class="col-md-6">

													<label>Quarter*</label> <select name="quarter"
														class="form-control"
														ng-model="cCctr.entity.deductee.quarter"
														ng-required="true" ng-model-options="{updateOn: 'blur'}">
														<option value="Q1">Q1</option>
														<option value="Q2">Q2</option>
														<option value="Q3">Q3</option>
														<option value="Q4">Q4</option>
													</select> <span style="color: red"
														ng-show="profileForm.submitted || profileForm.quarter.$dirty && profileForm.quarter.$invalid">
														<span class="error"
														ng-show="profileForm.quarter.$error.required">Quarter
															is Required.</span>
													</span> <span class="error" id="quarter"></span>

												</div>

											</div>


										</form>
									</div>
								</div>
								<div class="modal-footer">
									<!-- <button
									ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'form24QDeductee',cCctr.entity.deductee,'closeU')"
									class="btn btn-success" data-dismiss="modal">Save</button> -->
									<button class="btn btn-success" data-dismiss="modal">OK</button>
									<button class="btn btn-danger" data-dismiss="modal">Back</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>

















