
<style>
.page-header {
	border-bottom: none;
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: white;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

.pushable {
	border-radius: 12px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	margin-top: 2%;
}

/*Add Remark Button  */
.tooltip-top {
	margin-left: -89%;
	width: max-content !important;
	margin-top: -35%;
}
/*Edit Button*/
.tooltip-top1 {
	margin-left: -82%;
	width: max-content !important;
	margin-top: -56%;
}
/*Resolved Button*/
.tooltip-top2 {
	margin-left: -89%;
	width: max-content !important;
	margin-top: -40%;
}
/*Reject Button*/
.tooltip-top3 {
	margin-left: -88%;
	width: max-content !important;
	margin-top: -48%;
}
/*Back Button*/
.tooltip-top4 {
	margin-left: -88%;
	width: max-content !important;
	margin-top: -53%;
}

</style>
<div
	ng-init="cCctr.helpFolder = 'homeWOThelpPage' ;  cCctr.helpPage = 'form27qdetailsHelp' ">


	<div id="page-wrapper"
		ng-init="cCctr.entity=cCctr.getEntityDataFY().deductee;">
		<div class="container-fluid ContFluid">
			<div ng-show="cCctr.show != true">

				<div class="row">
					<h4 class="page-header">
						<strong>Details of Form 27Q Deductee</strong>
					</h4>

				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<br>
						<div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Quarter &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.quarter}}</div>
								<div class="col-md-3">
									<label>Grossing up Indicator &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.grossingUpIndicator}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Month&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.month}}</div>
								<div class="col-md-3">
									<label>No of certificate under section&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.certificateNumber}}</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Branch Code&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.branchCode}}</div>
								<div class="col-md-3">
									<label>TDS Rate As Per It Acts &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.tdsRateAsPerItActs}}</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>RO Code. &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.roCode}}</div>

								<div class="col-md-3">
									<label>TAN</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.TAN}}</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Vend/Cust Id&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.custVendId}}</div>
								<div class="col-md-3">
									<label>Nature Of Remittance &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.natureOfRemittance}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Unique Ref Number&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.uniqueRefNo}}</div>
								<div class="col-md-3">
									<label>Unique Knowledge No.&nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.uniqueAcknowledgeNo}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Account Number&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.accNo}}</div>
								<div class="col-md-3">
									<label>Country &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.countryOfResidence}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Challan Heading&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.challanHeading}}</div>
								<div class="col-md-3">
									<label>Email &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.emailId}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Deductee Ref. No &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.deducteeRefNo}}</div>
								<div class="col-md-3">
									<label>Contact no &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.contactNoOfDeductee}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Deductee Code &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.deducteeCode}}</div>
								<div class="col-md-3">
									<label>Address &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.addressOfDeductee}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Pan&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.pan}}</div>
								<div class="col-md-3">
									<label>Tax Identification Number &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.taxIdentificationNo}}</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Name &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.name }}</div>
								<div class="col-md-3">
									<label>Cash Withdrawl (194N) &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.cashWithdrawal194N}}</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Section Code &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.sectionCode}}</div>
								<div class="col-md-3">
									<label>Cash Withdrawl 194N(20L to 1cr) &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.cashWithdrawal194N20Lto1Cr}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Date of Payment &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.dateOfPayment|date:'dd-MM-yyyy'}}</div>
								<div class="col-md-3">
									<label>Cash Withdrawl 194N(>1cr &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.cashWithdrawal194N1Cr}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Paid Amount&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.amountPaid}}</div>
								<div class="col-md-3">
									<label>Error Description&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.errorDescription}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>TDS&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.tds}}</div>
								<div class="col-md-3">
									<label>Warning Description&nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.warningDescription}}</div>
							</div>


							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Surcharge &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.surcharge}}</div>
								<div class="col-md-3">
									<label>Short Deduction&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.ShortDeduction}}</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Education Cess &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.eduCess}}</div>
								<div class="col-md-3">
									<label>Interest on Short Deduction &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.ShortDeduction}}</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Total Tax Deducted &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.totalTaxDeducted}}</div>
								<div class="col-md-3">
									<label>Interest on Late Payment&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.ShortDeduction}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Total Tax Deposited &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.totalTaxDeposited}}
								</div>
								<div class="col-md-3">
									<label>Interest on Late Deduction&nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.ShortDeduction}}</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Date Of Deduction &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.dateOfDeduction}}</div>
								<div class="col-md-3">
									<label>Reason for non Deduction &nbsp;</label>
								</div>
								<div class="col-md-3">: {{cCctr.entity.remarksReason}}</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-3">
									<label>Status &nbsp;</label>
								</div>
								<div class="col-md-3" ng-if="cCctr.entity.resolved == 0">:
									Resolved</div>
								<div class="col-md-3" ng-if="cCctr.entity.resolved == 1"
									style="color: red">: Not Resolved</div>
								<div class="col-md-3">
									<label>Rate at which tax Deducted &nbsp;</label>
								</div>
								<div class="col-md-3">:
									{{cCctr.entity.rateAtWhichTaxCollected}}</div>
							</div>

							<div class="row">
								<input ng-model="cCctr.newEntity.deducteeId = cCctr.entity.id"
									id="deducteeId" name="deducteeId" style="display: none">

								<input ng-model="cCctr.newEntity.fy = cCctr.entity.fy" id="fy"
									name="fy" style="display: none"> <input
									ng-model="cCctr.newEntity.deducteeForm ='27Qform'"
									id="deducteeForm" name="deducteeForm" style="display: none">

								<input class="form-control"
									ng-model="cCctr.newEntity.branchCode = cCctr.entity.branchCode"
									id="branchCode" name="branchCode" style="display: none">

								<div class="Buttons" style="gap: 3px; float: left">
									<div>
										<button type="button" onclick="history.back()"
											class="btn btn-outline-danger waves-effect waves-light tool  ">
											<i class="mdi mdi-arrow-left-bold-outline mr-2"></i>Back<span
												class="tooltiptext tooltip-top2">Back Button</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#reload').click(function() {
		location.reload();
	});
</script>
<script>
	$(document).ready(function() {
		$(this).scrollTop(0);
	});
</script>
