<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>

<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityDataFY();">
	<div class="container-fluid">
		<div ng-show="cCctr.show != true">
			<h3 class="page-header" style="margin-top: 2%;">Details of
				Deductee</h3>
		</div>

		<!-- <div class ="row">
					<div class="col-xs-12">
						<div class = "text-left">
							<button class ="btn btn-primary" data-toggle="modal"
							onclick="test('#profile')">Edit</button>
						</div>
					</div>
				</div> -->

		<div class="panel panel-default"
			style="margin-top: -2%; border: none !important;">
			<div class="panel-body">
				<br>

				<h4>Dedcutee Details</h4>
				<div class="container">
					<div class="collapse dont-collapse-sm" id="collapseExample2">
						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Quarter. &nbsp;</label> {{cCctr.entity.quarter}}
							</div>

							<div class="col-md-6">
								<label>Month. &nbsp;</label> {{cCctr.entity.month}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Branch Code. &nbsp;</label> {{cCctr.entity.branchCode}}
							</div>

							<div class="col-md-6">
								<label>Vend/Cust Id</label> {{cCctr.entity.custVendId}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Unique Ref No. &nbsp;</label>
								{{cCctr.entity.uniqueRefNo}}
							</div>
							<div class="col-md-6">
								<label>Account Number. &nbsp;</label> {{cCctr.entity.accNo}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Challan Heading. &nbsp;</label>
								{{cCctr.entity.challanHeading}}
							</div>

							<div class="col-md-6">
								<label>Deductee Reference No. &nbsp;</label>
								{{cCctr.entity.deducteeRefNo}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Deductee Code. &nbsp;</label>
								{{cCctr.entity.deducteeCode}}
							</div>
							<div class="col-md-6">
								<label>PAN of the Deductee. &nbsp;</label>
								{{cCctr.entity.deducteePan}}
							</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Name of the Deductee. &nbsp;</label>
								{{cCctr.entity.deducteeName}}
							</div>

							<div class="col-md-6">
								<label>Section Code. &nbsp;</label> {{cCctr.entity.sectionCode}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Date of Payment. &nbsp;</label>
								{{cCctr.entity.paymentDate}}
							</div>

							<div class="col-md-6">
								<label> Amount Paid. &nbsp;</label> {{cCctr.entity.paidAmt}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>TDS. &nbsp;</label> {{cCctr.entity.tds}}
							</div>
							<div class="col-md-6">
								<label>Surcharge. &nbsp;</label> {{cCctr.entity.surcharge}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Education cess. &nbsp;</label> {{cCctr.entity.eduCess}}
							</div>

							<div class="col-md-6">
								<label>Total Tax Deducted. &nbsp;</label>
								{{cCctr.entity.totalTaxDeduct}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Total Tax Deposited. &nbsp;</label>
								{{cCctr.entity.totalTaxDeposit}}
							</div>

							<div class="col-md-6">
								<label>Date of Deduction. &nbsp;</label>
								{{cCctr.entity.deductDate}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Rate at which Tax Deducted. &nbsp;</label>
								{{cCctr.entity.rateTaxDeduct}}
							</div>
							<div class="col-md-6">
								<label>Remarks. &nbsp;</label> {{cCctr.entity.remarks}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Certificate No. &nbsp;</label>
								{{cCctr.entity.certificateNo}}
							</div>
							<div class="col-md-6">
								<label>Cash Withdrawl (194N). &nbsp;</label>
								{{cCctr.entity.cashWithdrawal194N}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Cash Withdrawl 194N(20L to 1cr). &nbsp;</label>
								{{cCctr.entity.cashWithdrawal194N20Lto1Cr}}
							</div>
							<div class="col-md-6">
								<label>Cash Withdrawl 194N(>1cr). &nbsp;</label>
								{{cCctr.entity.cashWithdrawal194N1Cr}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Error Description. &nbsp;</label>
								{{cCctr.entity.errorDescription}}
							</div>
							<div class="col-md-6">
								<label>Warning Description. &nbsp;</label>
								{{cCctr.entity.warningDescription}}
							</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Short Deduction. &nbsp;</label>
								{{cCctr.entity.ShortDeduction}}
							</div>
							<div class="col-md-6">
								<label>Interest on Short Deduction. &nbsp;</label>
								{{cCctr.entity.InterestOnShortDeduction}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-6">
								<label>Interest on Late Payment. &nbsp;</label>
								{{cCctr.entity.InterestOnLatePayment}}
							</div>
							<div class="col-md-6">
								<label>Interest on Late Deduction. &nbsp;</label>
								{{cCctr.entity.InterestOnLateDeduction}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- <button
									ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'form24QDeductee',cCctr.entity.deductee,'closeU')"
									class="btn btn-success" data-dismiss="modal"
									style="margin-left: 780px">Save</button> -->
				<button class="btn btn-danger"
					ng-click="cCctr.gotoWFYListPage('form26QDeductee','form26QDeductee')"
					style="margin-left: 780px">Back</button>
			</div>

			<!-- <div id ="profile" class ="model fade" role="dialog">
				<div class ="model-dialog model-lg">
					<div class ="model-content">
						<div class="model-header">
						<button type="button" class="close" id="closeU"
								data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Edit Employee Details</h4>
						</div>
						<div class="modal-body">

							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade active in" id="signin">
									<form name="profileForm" class="form-horizontal"
										enctype="multipart/form-data">


										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Challan Sr. No</label> <input class="form-control"
														type="text" name="challanSrNo" placeholder="Pan"
														ng-model="cCctr.entity.deductee26.challanSrNo"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Deductee Reference No</label> <input
														class="form-control" type="text" name="deducteeRefNo"
														placeholder="Deductee Ref No"
														ng-model="cCctr.entity.deductee26.deducteeRefNo"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Deductee Code </label> <input
														class="form-control" type="text" name="deducteeCode"
														placeholder="Deductee Code"
														ng-model="cCctr.entity.deductee26.deducteeCode"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>PAN of the Deductee</label> <input class="form-control" type="text"
														name="deducteePan" placeholder="deducteePan"
														ng-model="cCctr.entity.deductee26.deducteePan" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Name of the Deductee </label> <input class="form-control"
														type="text" name="deducteeName" placeholder="deducteeName"
														ng-model="cCctr.entity.deductee26.deducteeName" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Section Code</label> <input class="form-control"
														type="text" name="sectionCode"
														placeholder="Section Code"
														ng-model="cCctr.entity.deductee26.sectionCode"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Date Of Payment </label> <input class="form-control"
														type="text" name="paymentDate" placeholder="paymentDate"
														ng-model="cCctr.entity.deductee.paymentDate|
									date:'dd-MM-yyyy'" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label> Amount Paid</label> <input
														class="form-control" type="text" name="paidAmt"
														placeholder="PaidAmt"
														ng-model="cCctr.entity.deductee26.paidAmt" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>TDS </label> <input class="form-control"
														type="text" name="tds" placeholder="tds"
														ng-model="cCctr.entity.deductee26.tds"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Surcharge</label> <input class="form-control" type="text"
														name="surcharge" placeholder="surcharge"
														ng-model="cCctr.entity.deductee26.surcharge" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Education Cess </label> <input class="form-control"
														type="text" name="eduCess" placeholder="eduCess"
														ng-model="cCctr.entity.deductee26.eduCess"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Total Tax Deducted</label> <input class="form-control"
														type="text" name="totalTaxDeduct"
														placeholder="totalTaxDeduct"
														ng-model="cCctr.entity.deductee26.totalTaxDeduct"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Education Cess </label> <input class="form-control"
														type="text" name="totalTaxDeposit" placeholder="totalTaxDeposit"
														ng-model="cCctr.entity.deductee26.totalTaxDeposit"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Deduct Date</label> <input class="form-control"
														type="text" name="deductDate"
														placeholder="deductDate"
														ng-model="cCctr.entity.deductee26.deductDate |date:'dd-MM-yyyy'"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Rate Tax Deduct </label> <input class="form-control"
														type="text" name="rateTaxDeduct" placeholder="rateTaxDeduct"
														ng-model="cCctr.entity.deductee26.rateTaxDeduct
														"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Remarks*</label> <input class="form-control"
														type="text" name="remarks"
														placeholder="remarks"
														ng-model="cCctr.entity.deductee26.remarks"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Certificate No </label> <input class="form-control"
														type="text" name="certificateNo" placeholder="eduCess"
														ng-model="cCctr.entity.deductee26.certificateNo"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Short Deduct</label> <input class="form-control"
														type="text" name="shortDeduct"
														placeholder="shortDeduct"
														ng-model="cCctr.entity.deductee26.shortDeduct"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Interest On ShtDeduct</label> <input class="form-control"
														type="text" name="interestOnShtDeduct" placeholder="interestOnShtDeduct"
														ng-model="cCctr.entity.deductee26.interestOnShtDeduct"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Interest On Late Pay</label> <input class="form-control"
														type="text" name="interestOnLatePay"
														placeholder="shortDeduct"
														ng-model="cCctr.entity.deductee26.interestOnLatePay"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Interest On Late Deduct</label> <input class="form-control"
														type="text" name="interestOnLateDeduct" placeholder="interestOnLateDeduct"
														ng-model="cCctr.entity.deductee26.interestOnLateDeduct"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Financial Year</label> <input class="form-control"
														type="text" name="fy"
														placeholder="fy"
														ng-model="cCctr.entity.deductee26.fy"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Quarter</label> <input class="form-control"
														type="text" name="quarter" placeholder="quarter"
														ng-model="cCctr.entity.deductee26.quarter"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											

										</div>
									</form>
								</div>
							</div>
							<div class="modal-footer">
								<button
									ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'form26Q',cCctr.entity.deductee26,'closeU')"
									class="btn btn-success" data-dismiss="modal">Save</button>
								<button class="btn btn-primary" data-dismiss="modal">Back</button>
							</div>
						</div>
					</div>
				</div>

			</div>  -->



			<!-- <div id="other" class="modal fade" role="dialog">
				<div class="modal-dialog modal-lg">
					Modal content
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" id="closeU"
								data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Edit Other Details</h4>
						</div>
						<div class="modal-body">

							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade active in" id="signin">
									<form name="profileForm" class="form-horizontal"
										enctype="multipart/form-data">


										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Total TDS</label> <input class="form-control"
														type="text" name="totalTds" placeholder="Total TDS"
														ng-model="cCctr.entity.deductee.totalTds"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Total Tax Deposited</label> <input
														class="form-control" type="text" name="totalTaxDeposited"
														placeholder="Total Tax Deposited"
														ng-model="cCctr.entity.deductee.totalTaxDeposited"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Remarks</label> <input class="form-control"
														type="text" name="remarks" placeholder="Pan"
														ng-model="cCctr.entity.deductee.remarks"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Certificate Number</label> <input
														class="form-control" type="text" name="certificateNumber"
														placeholder="Pan Reference No."
														ng-model="cCctr.entity.deductee.certificateNumber"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Error Description</label> <input
														class="form-control" type="text" name="errorDescription"
														placeholder="Error Description"
														ng-model="cCctr.entity.deductee.errorDescription"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label> Warning Description</label> <input
														class="form-control" type="text" name="warningDescription"
														placeholder="Warning Description"
														ng-model="cCctr.entity.deductee.warningDescription"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Short Deduction</label> <input class="form-control"
														type="text" name="shortDeduction"
														placeholder="Error Description"
														ng-model="cCctr.entity.deductee.shortDeduction"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label> Interest On Short Deduction</label> <input
														class="form-control" type="text"
														name="interestOnShortDeduction"
														placeholder="Warning Description"
														ng-model="cCctr.entity.deductee.interestOnShortDeduction"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Interest On Late Payment</label> <input
														class="form-control" type="text"
														name="interestOnLatePayment"
														placeholder="Interest On Late Payment"
														ng-model="cCctr.entity.deductee.interestOnLatePayment"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label> Interest On Late Deduction</label> <input
														class="form-control" type="text"
														name="interestOnLateDeduction"
														placeholder="Interest On Late Deduction"
														ng-model="cCctr.entity.deductee.interestOnLateDeduction"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>FY</label> <input class="form-control" type="text"
														name="fy" placeholder="FY" ng-model="cCctr.entity.fy"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label> Quarter</label> <input class="form-control"
														type="text" name="quarter" placeholder="Quarter"
														ng-model="cCctr.entity.quarter" autocomplete="off"
														ng-pattern="" ng-model-options="{updateOn: 'blur'}" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Cash Withdrawl (194N)</label><input
														class="form-control" type="text" name="cashwithdrawl194N"
														placeholder="Cash Withdrawl (194N)"
														ng-model="cCctr.entity.cashWithdrawal194N"
														autocomplete="off" ng-pattern=""
														ng-model-options="{updateOn:'blur'}" />
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Cash Withdrawl 194N(20L to 1cr)</label> <input
															type="form-control" type="text"
															name="cashWithdrawal194N20Lto1Cr"
															palceholder="Cash Withdrawl 194N(20L to 1cr)"
															ng-model="cCctr.entity.cashWithdrawal194N20Lto1Cr"
															autocomplete="off" ng-pattern=""
															ng-model-options="{updateOn:'blur'}" />
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label>Cash Withdrawl 194N(>1cr)</label><input
													class="form-control" type="text"
													name="Cash Withdrawl 194N(>1cr)"
													ng-model="cCctr.entity.cashWithdrawal194N1Cr"
													autocomplete="off" ng-pattern=""
													ng-model-options="{updateOn:'blur'}" />
											</div>
										</div>
									</form>
								</div>

							</div>
							<div class="modal-footer">
								<button
									ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'form26Q',cCctr.entity.deductee,'closeU')"
									class="btn btn-success" data-dismiss="modal">Save</button>
								<button class="btn btn-primary" data-dismiss="modal">Back</button>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>

