
<style>
 

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: white;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityData();">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;"><strong>Details of
					Form 27Q Deductee</strong></h3>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="text-left">
						<button class="btn btn-primary" data-toggle="modal"
							onclick="test('#profile');scrollWin()">Edit</button>
					</div>
				</div>
			</div>



			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">
					<br>



					<h4>Deductee Details:</h4>

					<div class="container">

						<div class="">
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Deductee Sr.No. &nbsp;:</label>
									{{cCctr.entity.deductee27.deducteeSrNo}}
								</div>
								<div class="col-md-6">
									<label>Sr No. in challan &nbsp;:</label>
									{{cCctr.entity.deductee27.srNoInChallan}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Deductee Ref. No &nbsp;:</label>
									{{cCctr.entity.deductee27.deducteeRefNo}}
								</div>

								<div class="col-md-6">
								
									<label>Deductee Code &nbsp;:</label> {{cCctr.entity.deductee27.deducteeCode}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Pan&nbsp;:</label> {{cCctr.entity.deductee27.pan}}
								</div>
								<div class="col-md-6">
									<label>Name &nbsp;:</label>
									{{cCctr.entity.deductee27.name }}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Section Code &nbsp;:</label>
									{{cCctr.entity.deductee27.sectionCode}}
								</div>
								<div class="col-md-6">
									<label>Date of Payment &nbsp;:</label>
									{{cCctr.entity.deductee27.date| date:'dd-MM-yyyy'}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Paid Amount&nbsp;:</label>
									{{cCctr.entity.deductee27.amountPaid}}
								</div>
								<div class="col-md-6">
									<label>TDS&nbsp;:</label> {{cCctr.entity.deductee27.tds}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Surcharge &nbsp;:</label>
									{{cCctr.entity.deductee27.surcharge}}
								</div>
								<div class="col-md-6">
									<label>Education Cess &nbsp;:</label>
									{{cCctr.entity.deductee27.educationCess}}
								</div>
							</div>
							
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Address &nbsp;:</label>
									{{cCctr.entity.deductee27.addressOfDeductee}}
								</div>
								<div class="col-md-6">
									<label>Contact no &nbsp;:</label>
									{{cCctr.entity.deductee27.contactNoOfDeductee}}
								</div>
							</div>
							
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Email &nbsp;:</label>
									{{cCctr.entity.deductee27.emailId}}
								</div>
								<div class="col-md-6">
									<label>Country &nbsp;:</label>
									{{cCctr.entity.deductee27.countryOfResidence}}
								</div>
							</div>
							
						
						<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Total Tax Deducted &nbsp;:</label>
									{{cCctr.entity.deductee27.totalTaxDeducted}}
								</div>
								<div class="col-md-6">
									<label>Total Tax Deposited &nbsp;:</label>
									{{cCctr.entity.deductee27.totalTaxDeposited}}
								</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Date of Deduction&nbsp;:</label>
									{{cCctr.entity.deductee27.dateOfDeduction| date:'dd-MM-yyyy'}}
								</div>
								<div class="col-md-6">
									<label>Rate at which tax Deducted &nbsp;:</label>
									{{cCctr.entity.deductee27.rateAtWhichTaxDeducted}}
								</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
								<label>Reason for non Deduction &nbsp;:</label>
									{{cCctr.entity.deductee27.reasonForNonDeduction}}
								</div>
								<div class="col-md-6">
									<label>Grossing up Indicator &nbsp;:</label>
									{{cCctr.entity.deductee27.grossingUpIndicator}}
								</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>No of certificate under section&nbsp;:</label>
									{{cCctr.entity.deductee27.noOfCertificateUnderSection}}
								</div>
								<div class="col-md-6">
									<label>Unique Knowledge No.&nbsp;:</label>
									{{cCctr.entity.deductee27.uniqueAcknowledgeNo}}
								</div>
							</div>
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>TIN &nbsp;:</label>
									{{cCctr.entity.deductee27.taxIdentificationNo}}
								</div>
								<div class="col-md-6">
									<label>Quarter &nbsp;:</label>
									{{cCctr.entity.deductee27.quarter}}
								</div>
							</div>
							
							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<label>Financial Year&nbsp;:</label> {{cCctr.entity.deductee27.fy}}
								</div>
								<div class="col-md-6">
									<label>TDS Rate As Per It Acts &nbsp;:</label>
									{{cCctr.entity.deductee27.tdaRateAsPerItActs}}
								</div>
								
							</div>
							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<label>Nature Of Remittance &nbsp;:</label>
									{{cCctr.entity.deductee27.natureOfRemittance}}
								</div>
								<div class="col-md-6">
									<div ng-if="cCctr.entity.deductee27.verify == 1"><label>Verified &nbsp;:&nbsp;</label><i class="fa fa-check" aria-hidden="true"  style="color:#5cb85c"></i></div>
							<div ng-if="cCctr.entity.deductee27.verify == 0"><label>Verified &nbsp;:&nbsp;</label><i class="fa fa-times" aria-hidden="true"  style="color:#ff0000"></i></div>
								</div>
							</div>
							<br>
							<div class="row" style="margin-left:55%">
							<button ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'form27Q',cCctr.entity.deductee27,'closeU')"
					 	class="btn btn-success" onclick="scrollWin()">Save</button>&nbsp;&nbsp;
					  <button  class="btn btn-danger" ng-click="cCctr.gotoListPage('form27Q','form27Q');" onclick="scrollWin()">Back</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
			<div id="profile" class="modal fade"    data-backdrop="static"   role="dialog">
				<div class="modal-dialog modal-lg">
					<!-- Modal content-->
					<div class="modal-content" style="top: 40px;">
						<div class="modal-header">
							<button type="button" class="close" id="closeU"
								data-dismiss="modal">&times;</button>
							<h4 class="modal-title"><strong>Edit Form 27Q Deductee Details</strong></h4>
						</div>
						<div class="modal-body">

							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade active in" id="signin">
									<form name="profileForm" class="form-horizontal"
										       enctype="multipart/form-data">


										<div class="row">
											<div class="col-md-6">
													<label>Deductee Sr.No*.</label> <input class="form-control"
														type="text" name="deducteeSrNo" placeholder="Deductee Sr.No"
														ng-model="cCctr.entity.deductee27.deducteeSrNo"
														ng-maxlength="12" 
									                    ng-pattern="/^[0-9]/"
								                       ng-required="true"
									                  ng-model-options="{updateOn: 'blur'}" />
									
									<span style="color: red" ng-show="profileForm.submitted || profileForm.deducteeSrNo.$dirty && profileForm.deducteeSrNo.$invalid">
										<span class="error" ng-show="profileForm.deducteeSrNo.$error.maxlength">Deductee Sr.No should not be greater than 12.</span>
										<span class="error" ng-show="profileForm.deducteeSrNo.$error.required">Please enter Deductee Sr.No.</span>
										<span class="error" ng-show="profileForm.deducteeSrNo.$error.pattern">Please enter valid Deductee Sr.No.</span>
										<span class="error" id="deducteeSrNo"></span>
								</span>
												</div>
								

											<div class="col-md-6">
													<label>Sr No. in Challan<span style="color:red;">*</span></label> <input
														class="form-control" type="text" name="srNoInChallan"
														placeholder="Sr No. in Challan"
														ng-model="cCctr.entity.deductee27.srNoInChallan"
														  ng-required="true"
								                    	 autocomplete="off"
								                    	ng-maxlength="100" 
									                   ng-pattern="/^[0-9]/"
									                  ng-model-options="{updateOn: 'blur'}" /> 
									
										<span style="color: red" ng-show="profileForm.submitted || profileForm.srNoInChallan.$dirty && profileForm.srNoInChallan.$invalid">
                                        <span class="error" ng-show="profileForm.srNoInChallan.$error.pattern">Please enter valid Deductee Sr No. in challan</span>
										<span class="error" ng-show="profileForm.srNoInChallan.$error.max">Deductee Sr.No should not be greater than {{cCctr.getNoPages()}}.</span>
										<span class="error" ng-show="profileForm.srNoInChallan.$error.required">Please enter Deductee Sr.No.</span>
										<span class="error" id="srNoInChallan"></span>
								</span>
												</div>
											


										</div>

										<div class="row">
											<div class="col-md-6">
													<label>Deductee Ref. No<span style="color:red;">*</span></label> <input
														class="form-control" type="text" name="deducteeRefNo"
														placeholder="Deductee Ref. No"
														ng-model="cCctr.entity.deductee27.deducteeRefNo"
														  ng-required="true"
									                      autocomplete="off" 
									                    ng-pattern="/^[0-9]/"
								                       	ng-maxlength="10"
								                      	ng-model-options="{updateOn: 'blur'}" /> 
									
									<span style="color: red" ng-show="profileForm.submitted || profileForm.deducteeRefNo.$dirty && profileForm.deducteeRefNo.$invalid">
										  <span class="error" ng-show="profileForm.deducteeRefNo.$error.pattern">Please enter valid Deductee Ref. No</span>
										<span class="error" ng-show="profileForm.deducteeRefNo.$error.maxlength">Deductee Ref. Noshould not be greater than 10.</span>
										<span class="error" ng-show="profileForm.deducteeRefNo.$error.required">Please enter Deductee Ref. No</span>
										<span class="error" id="deducteeRefNo"></span>
								</span>
												</div>
										

											<div class="col-md-6">
													<label>Deductee Code<span style="color:red;">*</span></label> <input class="form-control" type="text"
														name="deducteeCode" placeholder="Deductee Code"
														ng-model="cCctr.entity.deductee27.deducteeCode" 
														  ng-required="true"
									autocomplete="off"
									ng-pattern="/^[0-9]/"
									ng-maxlength="10"
									ng-model-options="{updateOn: 'blur'}" /> 
									<span style="color: red" ng-show="profileForm.submitted || profileForm.deducteeCode.$dirty && profileForm.deducteeCode.$invalid">
										  <span class="error" ng-show="profileForm.deducteeCode.$error.pattern">Please enter valid Deductee Code</span>
										<span class="error" ng-show="profileForm.deducteeCode.$error.maxlength">Deductee Code should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.deducteeCode.$error.required">Please enter Deductee Code</span>
										<span class="error" id="deducteeCode"></span>
								</span>
												</div>
										


										</div>
										<div class="row">
											<div class="col-md-6">
													<label>PAN<span style="color:red;">*</span></label> <input class="form-control"
														type="text" name="pan" placeholder="PAN"
														ng-model="cCctr.entity.deductee27.pan"
														ng-model="cCctr.entity.pan"
									                     ng-required="true"
									                    ng-pattern="/^([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1})|^$/"
								                    	autocomplete="off"
									                   ng-maxlength="10" 
									                  ng-model-options="{updateOn: 'blur'}" /> 
									
									<span style="color: red" ng-show="profileForm.submitted || profileForm.pan.$dirty && profileForm.pan.$invalid">
										  <span class="error" ng-show="profileForm.pan.$error.pattern">Please enter valid Pan</span>
										<span class="error" ng-show="profileForm.pan.$error.maxlength">Pan should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.pan.$error.required">Please enter Pan</span>
										<span class="error" id="pan"></span>
								</span>
												</div>
									
											<div class="col-md-6">
													<label>Name<span style="color:red;">*</span></label> <input class="form-control"
														type="text" name="name"
														placeholder="Name"
														ng-model="cCctr.entity.deductee27.name"
														 ng-required="true"
									                     autocomplete="off" 
							    	 					ng-pattern ="/^[a-zA-Z\s]*$/" 
														ng-maxlength="10"
														ng-model-options="{updateOn: 'blur'}" /> 
									
									<span style="color: red" ng-show="profileForm.submitted || profileForm.name.$dirty && profileForm.name.$invalid">
										  <span class="error" ng-show="profileForm.name.$error.pattern">Please enter valid Name</span>
										<span class="error" ng-show="profileForm.name.$error.maxlength">Name should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.name.$error.required">Please enter Name</span>
										<span class="error" id="name"></span>
								</span>
												</div>
										


										</div>
										<div class="row">
											<div class="col-md-6">
													<label>Section Code* </label> <input class="form-control"
														type="text" name="sectionCode" placeholder="Section Code"
														ng-model="cCctr.entity.deductee27.sectionCode" 
														  ng-required="true"
									                    autocomplete="off"
								                       ng-pattern="/^[0-9]/"
								                      ng-model-options="{updateOn: 'blur'}" /> 
								  
								  <span style="color: red" ng-show="profileForm.submitted || profileForm.sectionCode.$dirty && profileForm.sectionCode.$invalid">
										  <span class="error" ng-show="profileForm.sectionCode.$error.pattern">Please enter valid No Of Certificate Under Section Code</span>
										<span class="error" ng-show="profileForm.sectionCode.$error.maxlength">No Of Certificate Under Section Code should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.sectionCode.$error.required">Please enter No Of Certificate Under Section Code</span>
										<span class="error" id="sectionCode"></span>
								</span>
														
												</div>
											

											<div class="col-md-6">
													<label>Date Of Payment<span style="color:red;">*</span></label> 
													<input type="date" class="form-control" style="padding-top:0px;" name="date" value={{cCctr.entity.deductee27.date}} 
									  ng-model="cCctr.entity.deductee27.date" autocomplete="off"
									 ng-model-options="{updateOn: 'blur'}"/>									
												</div>
										


										</div>
										<div class="row">
											<div class="col-md-6">
													<label>Paid Amount* </label> <input class="form-control"
														type="text" name="amountPaid" placeholder="Paid Amount"
														ng-model="cCctr.entity.deductee27.amountPaid"
														  ng-required="true"
								                     	autocomplete="off" 
							                            ng-pattern="/^[0-9]/"
								                     	ng-maxlength="50" 
									                  ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.amountPaid.$dirty && profileForm.amountPaid.$invalid">
										  <span class="error" ng-show="profileForm.amountPaid.$error.pattern">Please enter valid Paid Amount</span>
										<span class="error" ng-show="profileForm.amountPaid.$error.maxlength">Paid Amount should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.amountPaid.$error.required">Please enter Paid Amount</span>
										<span class="error" id="amountPaid"></span>
								</span>
												</div>
											

											<div class="col-md-6">
													<label>TDS<span style="color:red;">*</span></label> <input class="form-control" type="text"
														name="tds" placeholder="TDS"
														ng-model="cCctr.entity.deductee27.tds" 
														  ng-required="true"
									                     autocomplete="off" 
							                            ng-maxlength="50" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									                    ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.tds.$dirty && profileForm.tds.$invalid">
										 
										<span class="error" ng-show="profileForm.tds.$error.maxlength">TDS should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.tds.$error.required">Please enter TDS</span>
										<span class="error" ng-show="profileForm.tds.$error.pattern">Please enter valid TDS</span>
										<span class="error" id="tds"></span>
								</span>
												</div>
										


										</div>
										<div class="row">
											<div class="col-md-6">
													<label>Surcharge* </label> <input class="form-control"
														type="text" name="surcharge" placeholder="Surcharge"
														ng-model="cCctr.entity.deductee27.surcharge"
														 ng-required="true"
									autocomplete="off" 
							        ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-maxlength="50" 
									ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.surcharge.$dirty && profileForm.surcharge.$invalid">
										  <span class="error" ng-show="profileForm.surcharge.$error.pattern">Please enter valid Surcharge</span>
										<span class="error" ng-show="profileForm.surcharge.$error.maxlength">Surcharge should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.surcharge.$error.required">Please enter Surcharge</span>
										<span class="error" id="surcharge"></span>
								</span>
												</div>
										

											<div class="col-md-6">
													<label>Education Cess<span style="color:red;">*</span></label> <input class="form-control"
														type="text" name="educationCess"
														placeholder="Education Cess"
														ng-model="cCctr.entity.deductee27.educationCess"
														 ng-required="true"
									                   autocomplete="off" 
							                          ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									                ng-maxlength="50" 
									                 ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.educationCess.$dirty && profileForm.educationCess.$invalid">
										  <span class="error" ng-show="profileForm.educationCess.$error.pattern">Please enter valid Education Cess</span>
										<span class="error" ng-show="profileForm.educationCess.$error.maxlength">Education Cess should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.educationCess.$error.required">Please enter Education Cess</span>
										<span class="error" id="educationCess"></span>
								</span>
												</div>
											</div>
							
										<div class="row">
											<div class="col-md-6">
													<label>Address<span style="color:red;">*</span></label> <input class="form-control"
														type="text" name="addressOfDeductee" placeholder="Address"
														ng-model="cCctr.entity.deductee27.addressOfDeductee"
														 ng-required="true"
									                  autocomplete="off" 
							                          ng-pattern="/^[a-zA-Z0-9._-]+$/"
								                   	ng-maxlength="50" 
								                   	ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.addressOfDeductee.$dirty && profileForm.addressOfDeductee.$invalid">
										  <span class="error" ng-show="profileForm.addressOfDeductee.$error.pattern">Please enter valid Address</span>
										<span class="error" ng-show="profileForm.addressOfDeductee.$error.maxlength">Address should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.addressOfDeductee.$error.required">Please enter Address</span>
										<span class="error" id="addressOfDeductee"></span>
								</span>
												</div>
										
											<div class="col-md-6">
													<label>Contact No<span style="color:red;">*</span></label> <input class="form-control"
														type="text" name="contactNoOfDeductee"
														placeholder="Contact No"
														ng-model="cCctr.entity.deductee27.contactNoOfDeductee"
														autocomplete="off" 
							                           ng-maxlength="10"
							                           ng-minlength="10"
									                  ng-required="true"
								                     ng-pattern="/^\s*$|^$|^[7-9][0-9]{9}$/"
								                      ng-model-options="{updateOn: 'blur'}" 
								                     autocomplete="off"/><br>
										<span style="color:red" ng-show="profileForm.contactNoOfDeductee.$dirty && profileForm.contactNoOfDeductee.$invalid">
										<span class="error" ng-show="profileForm.contactNoOfDeductee.$error.pattern">Please Enter Valid Mobile Number.</span>
										<span class="error" ng-show="profileForm.contactNoOfDeductee.$error.maxlength">Mobile Number should not be greater than 10 digits.</span>
										<span class="error" ng-show="profileForm.contactNoOfDeductee.$error.minlength">Mobile Number should not be less than 10 digits.</span>
										<span class="error" ng-show="profileForm.contactNoOfDeductee.$error.required">Mobile Number is Required.</span>
										<span class="error" id="contactNoOfDeductee"></span>
									</span>
												</div>
											</div>


								
										
										
										<div class="row">
											<div class="col-md-6">
													<label>Email ID* </label> <input class="form-control"
														type="text" name="emailId" placeholder="Email ID"
														ng-model="cCctr.entity.deductee27.emailId"
														 ng-required="true"
								                      	autocomplete="off" 
							                            ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
								                     	ng-maxlength="50" 
									                   ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.emailId.$dirty && profileForm.emailId.$invalid">
										  <span class="error" ng-show="profileForm.emailId.$error.pattern">Please enter valid Email Id</span>
										<span class="error" ng-show="profileForm.emailId.$error.maxlength">Email Id should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.emailId.$error.required">Please enter Email Id</span>
										<span class="error" id="emailId"></span>
								</span>
												</div>
										

											<div class="col-md-6">
													<label>Country Of Residence<span style="color:red;">*</span></label> <input class="form-control"
														type="text" name="countryOfResidence"
														placeholder="Country Of Residence"
														ng-model="cCctr.entity.deductee27.countryOfResidence"
														 ng-required="true"
									                   autocomplete="off" 
							                          ng-pattern ="/^[a-zA-Z\s]*$/" 
									                ng-maxlength="50" 
									                  ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.countryOfResidence.$dirty && profileForm.countryOfResidence.$invalid">
										  <span class="error" ng-show="profileForm.countryOfResidence.$error.pattern">Please enter valid Country Of Residence</span>
										<span class="error" ng-show="profileForm.countryOfResidence.$error.maxlength">Country Of Residence should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.countryOfResidence.$error.required">Please enter Country Of Residence</span>
										<span class="error" id="countryOfResidence"></span>
								</span>
												</div>
											</div>
											
										<div class="row">
							<div class="col-md-6">
									<label>Total Tax Deducted<span style="color:red;">*</span></label> <input class="form-control"
										type="text" name="totalTaxDeducted" placeholder="Total Tax Deducted"
										ng-model="cCctr.entity.deductee27.totalTaxDeducted" 
										  ng-required="true"
								        	autocomplete="off" 
								         ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
							              ng-maxlength="50" 
								        	ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.totalTaxDeducted.$dirty && profileForm.totalTaxDeducted.$invalid">
										  <span class="error" ng-show="profileForm.totalTaxDeducted.$error.pattern">Please enter valid Total Tax Deducted</span>
										<span class="error" ng-show="profileForm.totalTaxDeducted.$error.maxlength">Total Tax Deducted should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.totalTaxDeducted.$error.required">Please enter Total Tax Deducted</span>
										<span class="error" id="totalTaxDeducted"></span>
								</span>
								</div>
						

							<div class="col-md-6">
									<label>Total Tax Deposited<span style="color:red;">*</span></label> <input class="form-control"
										type="text" name="totalTaxDeposited"
										placeholder="Total Tax Deposited"
										ng-model="cCctr.entity.deductee27.totalTaxDeposited"
										 ng-required="true"
									autocomplete="off" 
							        ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-maxlength="50" 
									ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.totalTaxDeposited.$dirty && profileForm.totalTaxDeposited.$invalid">
										  <span class="error" ng-show="profileForm.totalTaxDeposited.$error.pattern">Please enter valid Total Tax Deposited</span>
										<span class="error" ng-show="profileForm.totalTaxDeposited.$error.maxlength">Total Tax Deposited should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.totalTaxDeposited.$error.required">Please enter Total Tax Deposited</span>
										<span class="error" id="totalTaxDeposited"></span>
								</span>
								</div>
							</div>


						

						<div class="row">
							<div class="col-md-6">
									<label>Date of Deduction<span style="color:red;">*</span></label> 
									<input type="date" class="form-control" style="padding-top:0px;" name="dateOfDeduction" value={{cCctr.entity.deductee27.dateOfDeduction}} 
									  ng-model="cCctr.entity.deductee27.dateOfDeduction" autocomplete="off"
									 ng-model-options="{updateOn: 'blur'}"/>
								</div>
						

							<div class="col-md-6">
									<label>Rate At Which Tax Deducted<span style="color:red;">*</span></label> <input class="form-control"
										type="text" name="rateAtWhichTaxDeducted"
										placeholder="Rate At Which Tax Deducted"
										ng-model="cCctr.entity.deductee27.rateAtWhichTaxDeducted"
										  ng-required="true"
									autocomplete="off" 
							        ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
									ng-maxlength="50" 
									ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.rateAtWhichTaxDeducted.$dirty && profileForm.rateAtWhichTaxDeducted.$invalid">
										  <span class="error" ng-show="profileForm.rateAtWhichTaxDeducted.$error.pattern">Please enter valid Rate OfDeduction at which tax Deducted</span>
										<span class="error" ng-show="profileForm.rateAtWhichTaxDeducted.$error.maxlength">Rate OfDeduction at which tax Deducted should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.rateAtWhichTaxDeducted.$error.required">Please enter Rate Of Deduction at which tax Deducted</span>
										<span class="error" id="rateAtWhichTaxDeducted"></span>
								</span>
								</div>
						


						</div>
						<div class="row">
							<div class="col-md-6">
									<label>Reason For Non-Deduction<span style="color:red;">*</span></label> <input class="form-control"
										type="text" name="reasonForNonDeduction"
										placeholder="Reason For Non-Deduction"
										ng-model="cCctr.entity.deductee27.reasonForNonDeduction"
										 ng-required="true"
									    autocomplete="off" 
							           
									    ng-maxlength="50" 
									   ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.reasonForNonDeduction.$dirty && profileForm.reasonForNonDeduction.$invalid">
										 
										<span class="error" ng-show="profileForm.reasonForNonDeduction.$error.maxlength">Reason For Non Deduction for non Deduction should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.reasonForNonDeduction.$error.required">Please enter Reason For Non Deduction for non Deduction</span>
										<span class="error" id="reasonForNonDeduction"></span>
								</span>
								</div>
						

							<div class="col-md-6">
									<label> Grossing Up Indicator<span style="color:red;">*</span></label> <input class="form-control"
										type="text" name=" grossingUpIndicator"
										placeholder="Grossing Up Indicator"
										ng-model="cCctr.entity.deductee27.grossingUpIndicator"
										 ng-required="true"
									    autocomplete="off" 
							        	
									   ng-maxlength="50" 
									    ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.grossingUpIndicator.$dirty && profileForm.grossingUpIndicator.$invalid">
										
										<span class="error" ng-show="profileForm.grossingUpIndicator.$error.maxlength">Grossing up Indicator should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.grossingUpIndicator.$error.required">Please enterGrossing up Indicator</span>
										<span class="error" id="grossingUpIndicator"></span>
								</span>
								</div>
							</div>


						
						<div class="row">
							<div class="col-md-6">
									<label>No Of Certificate Under Section<span style="color:red;">*</span></label> <input class="form-control"
										type="text" name="noOfCertificateUnderSection"
										placeholder="No Of Certificate Under Section"
										ng-model="cCctr.entity.deductee27.noOfCertificateUnderSection"
										 ng-required="true"
									     autocomplete="off"
								        ng-pattern="/^[0-9]/"
								        ng-model-options="{updateOn: 'blur'}" /> 
								  
								  <span style="color: red" ng-show="profileForm.submitted || profileForm.noOfCertificateUnderSection.$dirty && profileForm.noOfCertificateUnderSection.$invalid">
										  <span class="error" ng-show="profileForm.noOfCertificateUnderSection.$error.pattern">Please enter valid No Of Certificate Under Section Code</span>
										<span class="error" ng-show="profileForm.noOfCertificateUnderSection.$error.maxlength">No Of Certificate Under Section Code should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.noOfCertificateUnderSection.$error.required">Please enter No Of Certificate Under Section Code</span>
										<span class="error" id="noOfCertificateUnderSection"></span>
								</span>
								</div>
					

							<div class="col-md-6">
									<label> Unique Knowledge No*.</label> <input
										class="form-control" type="text"
										name="uniqueAcknowledgeNo"
										placeholder="Unique Knowledge No."
										ng-model="cCctr.entity.deductee27.uniqueAcknowledgeNo"
										 ng-required="true"
								    	autocomplete="off" 
							            ng-pattern="/^[0-9]/"
								    	ng-maxlength="50" 
								    	ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.uniqueAcknowledgeNo.$dirty && profileForm.uniqueAcknowledgeNo.$invalid">
										  <span class="error" ng-show="profileForm.uniqueAcknowledgeNo.$error.pattern">Please enter valid Unique Knowledge No.</span>
										<span class="error" ng-show="profileForm.uniqueAcknowledgeNo.$error.maxlength">Unique Knowledge No. should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.uniqueAcknowledgeNo.$error.required">Please enter Unique Knowledge No.</span>
										<span class="error" id="uniqueAcknowledgeNo"></span>
								</span>
								</div>
							</div>
						
						
						
						<div class="row">
							<div class="col-md-6">
									<label>TIN* </label> <input class="form-control"
										type="text" name="taxIdentificationNo"
										placeholder="TIN"
										ng-model="cCctr.entity.deductee27.taxIdentificationNo"
										 ng-required="true"
									   autocomplete="off" 
							          ng-pattern="/^[a-zA-Z0-9._-]+$/"
									ng-maxlength="50" 
									ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.taxIdentificationNo.$dirty && profileForm.taxIdentificationNo.$invalid">
										  <span class="error" ng-show="profileForm.taxIdentificationNo.$error.pattern">Please enter valid TIN</span>
										    <span class="error" ng-show="profileForm.taxIdentificationNo.$error.pattern">Please enter valid TIN</span>
										<span class="error" ng-show="profileForm.taxIdentificationNo.$error.maxlength">TIN should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.taxIdentificationNo.$error.required">Please enter TIN</span>
										<span class="error" id="taxIdentificationNo"></span>
								</span>
								</div>
						

							<div class="col-md-6">
									<label>Financial Year<span style="color:red;">*</span></label> 
									<select name="fy" class="form-control" ng-model="cCctr.entity.deductee27.fy" ng-required="true" ng-model-options="{updateOn: 'blur'}" >
										<option value="201920">201920</option>
										<option value="201819">201819</option>
										<option value="201718">201718</option>
										<option value="201617">201617</option>
										<option value="201516">201516</option>
										<option value="201415">201415</option>
										<option value="201314">201314</option>
										<option value="201213">201213</option>
										<option value="201112">201112</option>
										<option value="201011">201011</option>
										<option value="200910">200910</option>
										<option value="200809">200809</option>
										<option value="200708">200708</option>
									</select>
									<span style="color: red" ng-show="profileForm.submitted || profileForm.fy.$dirty && profileForm.fy.$invalid">		
									<span class="error" ng-show="profileForm.fy.$error.required">Please enter Financial Year</span>
									<span class="error" id="fy"></span>
									</span>
								</div>
						
							</div>
						
						
						<div class="row">
							

							<div class="col-md-6">
									<label> Quarter<span style="color:red;">*</span></label> 
									<select name="quarter" class="form-control" ng-model="cCctr.entity.deductee27.quarter" ng-required="true" ng-model-options="{updateOn: 'blur'}">
										<option value="Q1">Q1</option>
										<option value="Q2">Q2</option>
										<option value="Q3">Q3</option>
										<option value="Q4">Q4</option>
									</select>
									<span style="color: red" ng-show="profileForm.submitted || profileForm.quarter.$dirty && profileForm.quarter.$invalid">
									<span class="error" ng-show="profileForm.quarter.$error.required">Please enter Quarter</span>
									<span class="error" id="quarter"></span>
									</span>
								</div>
								<div class="col-md-6">
									<label>TDS Rate As Per IT Acts* </label> <input class="form-control"
										type="text" name="tdaRateAsPerItActs"
										placeholder="TDS Rate As Per IT Acts"
										ng-model="cCctr.entity.deductee27.tdaRateAsPerItActs"
										  ng-required="true"
									      autocomplete="off" 
							              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
								        ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.tdaRateAsPerItActs.$dirty && profileForm.tdaRateAsPerItActs.$invalid">
										  <span class="error" ng-show="profileForm.tdaRateAsPerItActs.$error.pattern">Please enter valid Tda Rate As Per It Acts</span>
										<span class="error" ng-show="profileForm.tdaRateAsPerItActs.$error.maxlength">Tda Rate As Per It Acts should not be greater than 10.</span>
										<span class="error" ng-show="profileForm.tdaRateAsPerItActs.$error.required">Please enter Tda Rate As Per It Acts</span>
										<span class="error" id="tdaRateAsPerItActs"></span>
								</span>
								</div>
							</div>
					
						
						
						<div class="row">
							
						
							<div class="col-md-6">
									<label>Nature Of Remittance<span style="color:red;">*</span></label> <input class="form-control" type="text"
										name="fy" placeholder=" Nature Of Remittance" ng-model="cCctr.entity.deductee27.natureOfRemittance"
										 ng-required="true"
									     autocomplete="off" 
							             ng-pattern="/.*[a-zA-Z]+.*/"
									     ng-model-options="{updateOn: 'blur'}" /> 
									
									  <span style="color: red" ng-show="profileForm.submitted || profileForm.natureOfRemittance.$dirty && profileForm.natureOfRemittance.$invalid">
										 <span class="error" ng-show="profileForm.natureOfRemittance.$error.pattern">Please enter valid  Nature Of Remittance</span>
									
										<span class="error" ng-show="profileForm.natureOfRemittance.$error.required">Please enter Nature Of Remittance</span>
										<span class="error" id="natureOfRemittance"></span>
								</span>
								</div>
						
							</div>
						
						</form>
					</div>
					
				</div>
				<div class="modal-footer">
                      <!--  <button ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'form27Q',cCctr.entity.deductee27,'closeU')"
					 	class="btn btn-success" data-dismiss="modal">Save</button> -->
					 	<button 
						class="btn btn-success" data-dismiss="modal" onclick="scrollWin()">Ok</button>
					 <button class="btn btn-danger" data-dismiss="modal" onclick="scrollWin()">Back</button>
					 
      </div>
			</div>
		</div>
	</div>

</div>

</div>


<script>
	$(document).ready(function() {
		$(this).scrollTop(0);
	});
</script>















