
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityData();">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;"> <strong>Details of
					Form 27Q Challan</strong></h3>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="text-left">
						<button class="btn btn-primary" data-toggle="modal"
							onclick="test('#profile');scrollWin()">Edit</button>
					</div>
				</div>
			</div>



			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">
					<br>



					<h4>Challan Details:</h4>

					<div class="container">

						<div class="collapse dont-collapse-sm" id="collapseExample2">
							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<label>TDS &nbsp;:</label>
									{{cCctr.entity.challan27.tds}}
									</div>
								
								<div class="col-md-6">
									<label>Surcharge &nbsp;:</label>
									{{cCctr.entity.challan27.surcharge}}
								</div>
							</div>
							

							<div class="row" style="font-size: 13px;">
								

								<div class="col-md-6">
									<label>Education Cess &nbsp;:
									</label> {{cCctr.entity.challan27.eduCess}}
								</div>
								<div class="col-md-6">
									<label>Interest &nbsp;:</label> {{cCctr.entity.challan27.interest}}
								</div>
							</div>
							
							

							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<label>Fee &nbsp;:</label>
									{{cCctr.entity.challan27.fee }}
								</div>
								<div class="col-md-6">
									<label>Others &nbsp;:</label>
									{{cCctr.entity.challan27.others}}
								</div>
							</div>
							
							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<label>Total Tax Deposit&nbsp;:</label> {{cCctr.entity.challan27.totalTaxDeposit}}
								</div>
								<div class="col-md-6">
									<label>TDS Deposit Book Entry &nbsp;:</label>
									{{cCctr.entity.challan27.tdsDepositBookEntry }}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
							
								<div class="col-md-6">
									<label>Tax Deposit Date &nbsp;:</label>
									{{cCctr.entity.challan27.taxDepositDate| date:'dd-MM-yyyy'}}
								</div>
								<div class="col-md-6">
									<label>Bank Branch Code &nbsp;:</label>
									{{cCctr.entity.challan27.bankBranchCode}}
								</div>
							</div>

							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<label>Challan Sr.No &nbsp;:</label>
									{{cCctr.entity.challan27.challanSrNo}}
								</div>
								<div class="col-md-6">
									<label>Minor Head Challan&nbsp;:</label> {{cCctr.entity.challan27.minorHeadChallan}}
								</div>
							</div>
							
							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<label>Interest Allocated &nbsp;:</label>
									{{cCctr.entity.challan27.interestAllocated}}
								</div>
								<div class="col-md-6">
									<label>Other Amount Allocated &nbsp;:</label>
									{{cCctr.entity.challan27.otherAmtAllocated}}
								</div>
							</div>
							
							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<label>Nil Challan Indicator &nbsp;:</label>
									{{cCctr.entity.challan27.nilChallanIndicator}}
								</div>
								<div class="col-md-6">
									<label>Financial Year &nbsp;:</label>
									{{cCctr.entity.challan27.fy}}
								</div>
							</div>
							
							<div class="row" style="font-size: 13px;">
								
								<div class="col-md-6">
									<label>Quarter &nbsp;:</label>
									{{cCctr.entity.challan27.quarter}}
								</div>
								<div class="col-md-6">
									<label>Amount Consumed &nbsp;:</label>
									{{cCctr.entity.challan27.amountConsumed}}
								</div>
							</div>
							
							<div class="row" style="font-size: 13px;">
								<div class="col-md-6">
									<label>Amount Available &nbsp;:</label>
									{{cCctr.entity.challan27.amountAvailable}}
								</div>
								<div class="col-md-6">
									<div ng-if="cCctr.entity.challan27.verify == 1"><label>Verified &nbsp;:&nbsp;</label><i class="fa fa-check" aria-hidden="true"  style="color:#5cb85c"></i></div>
							<div ng-if="cCctr.entity.challan27.verify == 0"><label>Verified &nbsp;:&nbsp;</label><i class="fa fa-times" aria-hidden="true"  style="color:#ff0000"></i></div>
								</div>
							</div>
							
							<br><br>
							<div class="row" style="margin-left:55%">
								<div class="col-md-6">
								<button
									ng-click="profileForm.submitted=true;cCctr.updateData(profileForm.$valid,'regular27QChallan',cCctr.entity.challan27,'closeU')"
									class="btn btn-success" data-dismiss="modal" onclick="scrollWin()">Save</button>&nbsp;&nbsp;
								<button
									ng-click="cCctr.gotoListPage('regular27QChallan','regular27QChallan');"
				class="btn btn-danger" onclick="scrollWin()">Back</button>
									
								
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
			<div id="profile" class="modal fade" role="dialog">
				<div class="modal-dialog modal-lg">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" id="closeU"
								data-dismiss="modal">&times;</button>
							<h4 class="modal-title"><strong>Edit Form 27Q Challan Details</strong></h4>
						</div>
						<div class="modal-body">

							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade active in" id="signin">
									<form name="profileForm" class="form-horizontal"
										enctype="multipart/form-data">


										<div class="row">
											<div class="col-md-6">
													<label>TDS</label> <input
														class="form-control" type="text" name="tds"
														placeholder="TDS" ng-required="true"
														ng-model="cCctr.entity.challan27.tds"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-maxlength="15"
														ng-model-options="{updateOn: 'blur'}" />
														<span style="color: red" ng-show="profileForm.submitted || profileForm.tds.$dirty && profileForm.tds.$invalid">
									<span class="error" ng-show="profileForm.tds.$error.pattern">Please enter valid TDS. </span> 
									<span class="error" ng-show="profileForm.tds.$error.maxlength">TDS should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.tds.$error.required">TDS Value is Required.</span>
								</span>
									
								</span> <span class="error" id="tds"></span>
												</div>
											
										<div class="col-md-6">
													<label>Surcharge </label> <input
														class="form-control" type="text" name="surcharge"
														placeholder="Surcharge"  ng-required="true"
														ng-model="cCctr.entity.challan27.surcharge"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-maxlength="15"
														ng-model-options="{updateOn: 'blur'}" />
														<span style="color: red" ng-show="profileForm.submitted || profileForm.surcharge.$dirty && profileForm.surcharge.$invalid">
									<span class="error" ng-show="profileForm.surcharge.$error.pattern">Please enter valid Surcharge. </span> 
									<span class="error" ng-show="profileForm.surcharge.$error.maxlength">Surcharge should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.surcharge.$error.required">Surcharge Value is Required.</span>
								</span>
									<span class="error"
									id="surcharge"></span>
												</div>
	                                           </div>
											


									

										<div class="row">
										<div class="col-md-6">
													<label>Education Cess</label> <input class="form-control" type="text"
														name="eduCess" placeholder="Education Cess" ng-required="true" ng-maxlength="15"
														ng-model="cCctr.entity.challan27.eduCess" autocomplete="off"
														ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model-options="{updateOn: 'blur'}" />
														<span style="color: red" ng-show="profileForm.submitted || profileForm.eduCess.$dirty && profileForm.eduCess.$invalid">
									<span class="error" ng-show="profileForm.eduCess.$error.pattern">Please enter valid Education Cess. </span> 
									<span class="error" ng-show="profileForm.eduCess.$error.maxlength">Education Cess should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.eduCess.$error.required">Education Cess Value is Required.</span>
								</span> <span class="error"
									id="eduCess"></span>
														
												</div>
											<div class="col-md-6">
													<label>Interest </label> <input class="form-control"
														type="text" name="interest" placeholder="Interest" ng-required="true"  ng-maxlength="15"
														ng-model="cCctr.entity.challan27.interest" autocomplete="off"
														ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model-options="{updateOn: 'blur'}" />
														<span style="color: red" ng-show="profileForm.submitted || profileForm.interest.$dirty && profileForm.interest.$invalid">
									<span class="error" ng-show="profileForm.interest.$error.pattern">Please enter valid Interest. </span> 
									<span class="error" ng-show="profileForm.interest.$error.maxlength">Interest should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.interest.$error.required">Interest is Required Field.</span>
									 <span class="error"
									id="interest"></span>
												</div>
										</div>

											


									
										<div class="row">
											<div class="col-md-6">
													<label>Fee</label> <input class="form-control"
														type="text" name="fee" ng-maxlength="15"
														placeholder="Fee"  ng-maxlength="15" ng-required="true"
														ng-model="cCctr.entity.challan27.fee"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
														ng-model-options="{updateOn: 'blur'}" />
														<span style="color: red" ng-show="profileForm.submitted || profileForm.fee.$dirty && profileForm.fee.$invalid">
									<span class="error" ng-show="profileForm.fee.$error.pattern">Please enter valid Fee. </span> 
									<span class="error" ng-show="profileForm.fee.$error.maxlength">Fee should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.fee.$error.required">Fee is Required Field.</span>
									 <span class="error"
									id="fee"></span>
														
												</div>
										<div class="col-md-6">
													<label>Others</label> <input
														class="form-control" type="text" name="others" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
														placeholder="Others" ng-maxlength="15" ng-required="true"
														ng-model="cCctr.entity.challan27.others" />
														<span style="color: red" ng-show="profileForm.submitted || profileForm.others.$dirty && profileForm.others.$invalid">
									<span class="error" ng-show="profileForm.others.$error.pattern">Please enter valid Value. </span> 
									<span class="error" ng-show="profileForm.others.$error.maxlength">Other Value should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.others.$error.required">Other Value is Required Field.</span>
									<span class="error"
									id="others"></span>
									
												</div>
                                               </div>
                                        
											
											

										
										<div class="row">
										<div class="col-md-6">
													<label>Total Tax Deposit </label> <input class="form-control"
														type="text" name="totalTaxDeposit" placeholder="Total Tax Deposit"
														ng-model="cCctr.entity.challan27.totalTaxDeposit" ng-required="true"
														autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-maxlength="15"
														ng-model-options="{updateOn: 'blur'}" />
														<span style="color: red" ng-show="profileForm.submitted || profileForm.totalTaxDeposit.$dirty && profileForm.totalTaxDeposit.$invalid">
									<span class="error" ng-show="profileForm.totalTaxDeposit.$error.pattern">Please enter valid Total Tax Deposit. </span> 
									<span class="error" ng-show="profileForm.totalTaxDeposit.$error.maxlength">Total Tax Deposit should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.totalTaxDeposit.$error.required">Total Tax Deposit is Required Field.</span>
									
									<span class="error"
									id="totalTaxDeposit"></span>
												</div>
										<div class="col-md-6">
													<label>TDS Deposit Book Entry</label> <input class="form-control" type="text" ng-required="true"
														name="tdsDepositBookEntry" placeholder="TDS Deposit Book Entry" ng-maxlength="45"
														ng-model="cCctr.entity.challan27.tdsDepositBookEntry" autocomplete="off"
														ng-pattern="/^\s*$|^$|^[ A-Za-z0-9_.,()\/&-]*$/" ng-model-options="{updateOn: 'blur'}" />
														<span style="color: red" ng-show="profileForm.submitted || profileForm.tdsDepositBookEntry.$dirty && profileForm.tdsDepositBookEntry.$invalid">
									<span class="error" ng-show="profileForm.tdsDepositBookEntry.$error.pattern">Please enter valid TDS Deposit Book Entry. </span> 
									<span class="error" ng-show="profileForm.tdsDepositBookEntry.$error.maxlength">TDS Deposit Book Entry should not be greater than 45 characters.</span> 
									<span class="error" ng-show="profileForm.tdsDepositBookEntry.$error.required">TDS Deposit Book Entry is Required Field.</span>
									
									 <span class="error"
									id="tdsDepositBookEntry"></span>
											  </div>
											
											</div>
											
											<div class="row">
                                               <div class="col-md-6">
													<label>Tax Deposit Date</label> 
													<input type="date" class="form-control" style="padding-top:0px;" name="taxDepositDate" value={{cCctr.entity.challan27.taxDepositDate}} 
									  ng-model="cCctr.entity.challan27.taxDepositDate" autocomplete="off"
									 ng-model-options="{updateOn: 'blur'}"/>
														<span style="color: red" ng-show="profileForm.submitted || profileForm.taxDepositDate.$dirty && profileForm.taxDepositDate.$invalid">
									<span class="error" ng-show="profileForm.taxDepositDate.$error.pattern">Please enter valid Tax Deposit Date. </span> 
									<span class="error" ng-show="profileForm.taxDepositDate.$error.maxlength">Tax Deposit Date should be Proper.</span> 
									<span class="error" ng-show="profileForm.taxDepositDate.$error.required">Tax Deposit Date is Required.</span>
									
									 <span class="error"
									id="taxDepositDate"></span>
										     </div>
										     
										<div class="col-md-6">
									<label>Bank Branch Code</label> <input class="form-control" ng-required="true"
										type="text" name="bankBranchCode" placeholder="Bank Branch Code" ng-maxlength="45"
										ng-model="cCctr.entity.challan27.bankBranchCode" autocomplete="off"
										ng-pattern="/^\s*$|^$|^[ A-Za-z0-9_.,()\/&-]*$/" ng-model-options="{updateOn: 'blur'}" />
										<span style="color: red" ng-show="profileForm.submitted || profileForm.bankBranchCode.$dirty && profileForm.bankBranchCode.$invalid">
									<span class="error" ng-show="profileForm.bankBranchCode.$error.pattern">Please enter valid Bank Branch Code. </span> 
									<span class="error" ng-show="profileForm.bankBranchCode.$error.maxlength">Bank Branch Code should not be greater than 45 characters.</span> 
									<span class="error" ng-show="profileForm.bankBranchCode.$error.required">Bank Branch Code is Required.</span>
									
                                   <span class="error"
									id="bankBranchCode"></span>
										
								</div>
							
									   </div>
											
						<div class="row">
							

							<div class="col-md-6">
									<label>Challan Sr.No</label> <input class="form-control"
										type="text" name="challanSrNo"
										placeholder="Challan Sr.No"  ng-required="true" ng-maxlength="15"
										ng-model="cCctr.entity.challan27.challanSrNo"
										autocomplete="off" ng-pattern="/^[0-9]*$/"
										ng-model-options="{updateOn: 'blur'}" />
										<span style="color: red" ng-show="profileForm.submitted || profileForm.challanSrNo.$dirty && profileForm.challanSrNo.$invalid">
									<span class="error" ng-show="profileForm.challanSrNo.$error.pattern">Please enter valid Challan Serial No. </span> 
									<span class="error" ng-show="profileForm.challanSrNo.$error.maxlength">Challan Serial No should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.challanSrNo.$error.required">Challan Serial No is Required Field.</span>
									
									<span class="error"
									id="challanSrNo"></span>
										
								</div>
							    <div class="col-md-6">
									<label>Minor Head Challan</label> <input class="form-control" type="text" ng-maxlength="45"
										name="minorHeadChallan" placeholder="Minor Head Challan" ng-required="true"
										ng-model="cCctr.entity.challan27.minorHeadChallan" autocomplete="off"
										ng-pattern="/^\s*$|^$|^[ A-Za-z0-9_.,()\/&-]*$/" ng-model-options="{updateOn: 'blur'}" />
										
										<span style="color: red" ng-show="profileForm.submitted || profileForm.minorHeadChallan.$dirty && profileForm.minorHeadChallan.$invalid">
									<span class="error" ng-show="profileForm.minorHeadChallan.$error.pattern">Please enter valid Minor Head Of Challan Value. </span> 
									<span class="error" ng-show="profileForm.minorHeadChallan.$error.maxlength">Minor Head Of Challan should not be greater than 45 characters.</span> 
									<span class="error" ng-show="profileForm.minorHeadChallan.$error.required">Minor Head Of Challan Value is Required Field.</span>
									
									<span class="error"
									id="minorHeadChallan"></span>
								</div>
                               </div>

						
							<div class="row">
							    <div class="col-md-6">
									<label>Interest Allocated</label> <input class="form-control"
										type="text" name="interestAllocated" ng-required="true"
										placeholder="Interest Allocated" ng-maxlength="15"
										ng-model="cCctr.entity.challan27.interestAllocated"
										autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
										ng-model-options="{updateOn: 'blur'}" />
										<span style="color: red" ng-show="profileForm.submitted || profileForm.interestAllocated.$dirty && profileForm.interestAllocated.$invalid">
									<span class="error" ng-show="profileForm.interestAllocated.$error.pattern">Please enter valid Interest Allocated Value. </span> 
									<span class="error" ng-show="profileForm.interestAllocated.$error.maxlength">Interest Allocated Value should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.interestAllocated.$error.required">Interest Allocated Value is Required Field.</span>
									
									<span class="error"
									id="interestAllocated"></span>
								</div>      
					<div class="col-md-6">
									<label>Other Amount Allocated</label> <input class="form-control"
										type="text" name="otherAmtAllocated" ng-maxlength="15"
										placeholder="Other Amount Allocated"
										ng-model="cCctr.entity.challan27.otherAmtAllocated"
										autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
										ng-model-options="{updateOn: 'blur'}" />
										<span style="color: red" ng-show="profileForm.submitted || profileForm.otherAmtAllocated.$dirty && profileForm.otherAmtAllocated.$invalid">
									<span class="error" ng-show="profileForm.otherAmtAllocated.$error.pattern">Please enter valid Amount Allocated Value. </span> 
									<span class="error" ng-show="profileForm.otherAmtAllocatedt.$error.maxlength">Amount Allocated Value should not be greater than 12 digits. Maximum 2 fractions allowed.</span> 
									<span class="error" ng-show="profileForm.otherAmtAllocated.$error.required">Amount Allocated is Required Field.</span>
									
										 <span class="error"
										id="otherAmtAllocated"></span>
								</div>
							</div>

						<div class="row">
							

							<div class="col-md-6">
									<label> Nil Challan Indicator</label> <input class="form-control"
										type="text" name="nilChallanIndicator" ng-required="true"
										placeholder="Nil Challan Indicator" ng-maxlength="45"
										ng-model="cCctr.entity.challan27.nilChallanIndicator"
										autocomplete="off" ng-pattern="/^\s*$|^$|^[ A-Za-z0-9_.,()\/&-]*$/"
										ng-model-options="{updateOn: 'blur'}" />
										<span style="color: red" ng-show="profileForm.submitted || profileForm.nilChallanIndicator.$dirty && profileForm.nilChallanIndicator.$invalid">
									<span class="error" ng-show="profileForm.nilChallanIndicator.$error.pattern">Please enter valid Nill Challan Indicator. </span> 
									<span class="error" ng-show="profileForm.nilChallanIndicator.$error.maxlength">Nill Challan indicator should not be greater than 45 characters.</span> 
									<span class="error" ng-show="profileForm.nilChallanIndicator.$error.required">Nill Challan Indicator is Required Field.</span>
									
										<span class="error"
										id="nilChallanIndicator"></span>
								</div>
						<div class="col-md-6">
									<label>Financial Year*</label> 
									<select name="fy" class="form-control" ng-model="cCctr.entity.challan27.fy" ng-required="true" ng-model-options="{updateOn: 'blur'}">
										<option value="201920">201920</option>
										<option value="201819">201819</option>
										<option value="201718">201718</option>
										<option value="201617">201617</option>
										<option value="201516">201516</option>
										<option value="201415">201415</option>
										<option value="201314">201314</option>
										<option value="201213">201213</option>
										<option value="201112">201112</option>
										<option value="201011">201011</option>
										<option value="200910">200910</option>
										<option value="200809">200809</option>
										<option value="200708">200708</option>
									</select>
									<span style="color: red" ng-show="profileForm.submitted || profileForm.fy.$dirty && profileForm.fy.$invalid">
									<span class="error" ng-show="profileForm.fy.$error.required">Financial Year is Required Field.</span>
									<span class="error" id="fy"></span>
								</div>
                                    </div>
						
						<div class="row">
							<div class="col-md-6">
									<label>Quarter*</label> 
									<select name="quarter" class="form-control" ng-model="cCctr.entity.challan27.quarter" ng-required="true" ng-model-options="{updateOn: 'blur'}">
										<option value="Q1">Q1</option>
										<option value="Q2">Q2</option>
										<option value="Q3">Q3</option>
										<option value="Q4">Q4</option>
									</select>
									<span style="color: red" ng-show="profileForm.submitted || profileForm.quarter.$dirty && profileForm.quarter.$invalid"> 
									<span class="error" ng-show="profileForm.quarter.$error.required">Quarter is Required Field.</span>
									<span class="error" id="quarter"></span>
								</div>
								<div class="col-md-6">
									<label>Amount Consumed</label> <input class="form-control"
										type="text" name="amountConsumed"
										placeholder="Amount Consumed" ng-maxlength="45"
										ng-model="cCctr.entity.challan27.amountConsumed"
										autocomplete="off" ng-model-options="{updateOn: 'blur'}" />
										<span style="color: red" ng-show="profileForm.submitted || profileForm.amountConsumed.$dirty && profileForm.amountConsumed.$invalid">
									<span class="error" ng-show="profileForm.amountConsumed.$error.pattern">Please enter valid Amount Consumed.</span> 
									<span class="error" ng-show="profileForm.amountConsumed.$error.maxlength">Amount Consumed should not be greater than 45 characters.</span> 
									<span class="error" ng-show="profileForm.amountConsumed.$error.required">Amount Consumed is Required Field.</span>
									
										<span class="error" id="amountConsumed"></span>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6">
										<label>Amount Available</label> <input class="form-control"
											type="text" name="amountAvailable"
											placeholder="Amount Available" ng-maxlength="45"
											ng-model="cCctr.entity.challan27.amountAvailable"
											autocomplete="off" ng-model-options="{updateOn: 'blur'}" />
											<span style="color: red" ng-show="profileForm.submitted || profileForm.amountAvailable.$dirty && profileForm.amountAvailable.$invalid">
										<span class="error" ng-show="profileForm.amountAvailable.$error.pattern">Please enter valid Amount Available.</span> 
										<span class="error" ng-show="profileForm.amountAvailable.$error.maxlength">Amount Available should not be greater than 45 characters.</span> 
										<span class="error" ng-show="profileForm.amountAvailable.$error.required">Amount Available is Required Field.</span>
										
											<span class="error" id="amountAvailable"></span>
									</div>
							</div>
	                                  </form>
								    </div>
							     </div>
										
		                      <div class="modal-footer">
								<!--  -->
								<button class="btn btn-success" data-dismiss="modal" onclick="scrollWin()">OK</button>
								<button class="btn btn-danger" data-dismiss="modal" onclick="scrollWin()">Back</button>
							</div>
						</div>
					</div>
				</div>

			</div> 
		</div>
    </div>
























