
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
	td:nth-of-type(1):before {
		content: "Sr. No.";
	}
	td:nth-of-type(2):before {
		content: "Employee Code";
	}
	td:nth-of-type(3):before {
		content: "Name";
	}
	td:nth-of-type(4):before {
		content: "PAN";
	}
	td:nth-of-type(5):before {
		content: "Designation";
	}
	td:nth-of-type(6):before {
		content: "Email";
	}
	td:nth-of-type(7):before {
		content: "Mobile";
	}
	td:nth-of-type(8):before {
		content: "Address";
	}
	td:nth-of-type(9):before {
		content: "Branch";
	}
	td:nth-of-type(10):before {
		content: "Group Code";
	}
	td:nth-of-type(11):before {
		content: "Action";
	}
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: white;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper" ng-init="cCctr.entity=cCctr.getEntityData();">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;">Details Of Request Correction</h3>
			</div>

			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">
					<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>Form &nbsp;:</label> {{cCctr.entity.reqCorrection.form}}
						</div>
						<div class="col-md-3">
							<label>Quarter &nbsp;:</label> {{cCctr.entity.reqCorrection.quarter}}
						</div>
						<div class="col-md-3">
							<label>Financial Year &nbsp;:</label> {{cCctr.reqCorrection.vendor.fy}}
						</div>
						<div class="col-md-3">
							<label>Date Of Request &nbsp;:</label> {{cCctr.entity.reqCorrection.dor | date:'dd-MM-yyyy'}}
						</div>
						<div class="col-md-3">
							<label>Status &nbsp;:</label> {{cCctr.entity.reqCorrection.status}}
						</div>
						<div class="col-md-3">
							<label>Remark &nbsp;:</label> {{cCctr.entity.reqCorrection.remark}}
						</div>
						

					</div>
				</div>
			</div>

		</div>






	</div>
	<div class="row">



		<ul class="nav nav-tabs">
		<li ><a data-target="#deductorDtls"
				data-toggle="tab">Deductor Details</a></li>
				<li ><a data-target="#challanDtls"
				data-toggle="tab">Challan Details</a></li>
			<li ><a data-target="#deducteeDtls"
				data-toggle="tab">Deductee Details</a></li>
			
		</ul>
		<br>
		
		
				<div class="tab-content ">
				
			<div class="tab-pane active" id="deductorDtls">
			<hr>
              <div class="panel panel-default"
				style="margin-top: -5%; border: none !important;">
				<div class="panel-body">
					<div class="row" style="font-size: 13px;">
					<b>Deductor Detail</b>
					<br><br>
						<div class="col-md-3">
							<label>PAN &nbsp;:</label> {{cCctr.entity.vendor.pan}}
						</div>
						<div class="col-md-3">
							<label>GST No &nbsp;:</label> {{cCctr.entity.vendor.gstNo}}
						</div>
						<div class="col-md-3">
							<label>Residential Status &nbsp;:</label> {{cCctr.entity.vendor.resiStatus}}
						</div>
						<div class="col-md-3">
							<label>Tel No &nbsp;:</label> {{cCctr.entity.vendor.telNo}}
						</div>
						
						

					</div>
					<br>
					<div class="row" style="font-size: 13px;">
						<div class="col-md-3">
							<label>Mobile No &nbsp;:</label> {{cCctr.entity.vendor.mobNo}}
						</div>
						<div class="col-md-3">
							<label>Email &nbsp;:</label> {{cCctr.entity.vendor.email}}
						</div>
						
						

					</div>
					
					<br>
					
					
				</div>
			</div>
			
			</div>
			
			
						<div class="tab-pane" id="challanDtls">
				<div class="table-responsive">

					<table class="  table-bordered table-hover table-striped"
						role="table"
						style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">
						<thead>
						<colgroup>
							<col span="14" style="background-color: #ffffff">
						</colgroup>
						<tr>
						<thead role="rowgroup">
							<tr role="row" style="height: 40px; background-color: #7482f45e">
								<th >Sr. No.</th>
								<th >Challan No.</th>
								<th >Deductee Ref No.</th>
								<th >Deductee Code</th>
								<th >Deductee PAN</th>
								<th >Deductee Name</th>
								<th >Section Code</th>
								<th >Payment Date</th>
								<th >Paid Amount</th>
								<th >TDS</th>
								<th >Surcharge</th>
								<th >Edu Cess</th>
								<th >Total Tax Deduct</th>
								<th >Total Tax Deposit</th>
								<th >Deduct Date</th>
								<th >Rate Tax Deduct</th>
								<th >Remarks</th>
								<th >Certificate No.</th>
								<th >Warning Description</th>
								<th >Short Deduct</th>
								<th >Interest on Short Deduct</th>
								<th >Interest on Late Pay</th>
								<th >Interest on Late Deduct</th>
								<th >FY</th>
								<th >Quarter</th>
										
							</tr>
							
						</thead>
						<tbody>
							<tr role="row"
								ng-repeat="a in cCctr.entity.vpList track by a.id">
								<td role="cell" class="one" style=" padding: 5px">{{$index+cCctr.srNo}}</td>
								<td>{{a.challanSrNo}}</td>
								<td>{{a.deducteeRefNo}}</td>
								<td>{{a.eduCess}}</td>
								<td>{{a.deducteeCode}}</td>
								<td>{{a.deducteePan}}</td>
								<td>{{a.deducteeName}}</td>
								<td>{{a.sectionCode}}</td>
								<td>{{a.paymentDate}}</td>
								<td>{{a.paidAmt}}</td>
								<td>{{a.tds}}</td>
								<td>{{a.surcharge}}</td>
								<td>{{a.eduCess}}</td>
								<td>{{a.totalTaxDeduct}}</td>
								<td>{{a.totalTaxDeposit}}</td>								
								<td>{{a.deductDate}}</td>
								<td>{{a.rateTaxDeduct}}</td>
								<td>{{a.remarks}}</td>
								<td>{{a.certificateNo}}</td>
								<td>{{a.warningDescription}}</td>
								<td>{{a.shortDeduct}}</td>
								<td>{{a.interestOnShtDeduct}}</td>
								<td>{{a.interestOnLatePay}}</td>
								<td>{{a.interestOnLateDeduct}}</td>
								<td>{{a.fy}}</td>
								<td>{{a.quarter}}</td>
								<!-- <td>{{a.total-a.amountPaid}}</td> -->

							</tr>
						</tbody>
					</table>
				</div>
			
			
			</div>
			
			
			
						<div class="tab-pane " id="deducteeDtls">

				<div class="table-responsive">

					<table class="  table-bordered table-hover table-striped"
						role="table"
						style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">
						<thead>
						<colgroup>
							<col span="14" style="background-color: #ffffff">
						</colgroup>
						<tr>
						<thead role="rowgroup">
							<tr role="row" style="height: 40px; background-color: #7482f45e">
								<th >Sr. No.</th>
								<th >Challan Serial No</th>
								<th >Party Ref No.</th>
								<th >Party Code</th>
								<th >Party PAN</th>
								<th >Party Name</th>
								<th >Amount Debited</th>
								<th >Debited Date</th>
								<th >TCS</th>
								<th >Surcharge</th>
								<th >Education Cess</th>
								<th >Total Tax Collect</th>
								<th >Total Tax Deposit</th>
								<th> Collected Date</th>								
								<th >Total Value Purchase</th>
								<th >Rate Tax Collected</th>
								<th >Non Collect Reason</th>
								<th >Section Code</th>
								<th >Certificate No</th>
								<th >Non Resident Deductee</th>
								<th >Permanent Est</th>
								<th >Warning Description</th>
								<th >Short Deductee</th>
								<th >Interest on Short Deduct</th>
								<th >Interest On Late Pay</th>
								<th >Interest On Late Deduction</th>
								<th >FY </th>
								<th >Quarter</th>
								
								
							</tr>
							
						</thead>
						<tbody>
							<tr role="row"
								ng-repeat="a in cCctr.entity.Regular26QDeducteeList track by a.id">
								<td role="cell" class="one" style=" padding: 5px">{{$index+cCctr.srNo}}</td>
								<td>{{a.challanSrNo}}</td>
								<td>{{a.partyRefNo}}</td>
								<td>{{a.partyCode}}</td>
								<td>{{a.partyPan}}</td>
								<td>{{a.partyName}}</td>
								<td>{{a.amtDebited}}</td>
								<td>{{a.debitedDate | date:'dd-MM-yyyy'}}</td>
								<td>{{a.tcs}}</td>
								<td>{{a.surcharge}}</td>
								<td>{{a.eduCess}}</td>
								<td>{{a.totalTaxCollect}}</td>
								<td>{{a.totalTaxDeposit}}</td>
								<td>{{a.collectedDate | date:'dd-MM-yyyy'}}</td>
								<td>{{a.totValuePurchasec}}</td>
								<td>{{a.rateTaxCollected}}</td>
								<td>{{a.nonCollectReason}}</td>
								<td>{{a.sectionCode}}</td>
								<td>{{a.certificateNo}}</td>
								<td>{{a.nonResidentDeductee}}</td>
								<td>{{a.permanentEst}}</td>
								<td>{{a.warningDescription}}</td>
								<td>{{a.shortDeduct}}</td>
								<td>{{a.interestOnShtDeduct}}</td>
								<td>{{a.interestOnLatePay}}</td>
								<td>{{a.interestOnLateDeduct}}</td>
								<td>{{a.fy}}</td>
								<td>{{a.quarter}}</td>
							<!-- <td>{{a.total-a.amountPaid}}</td> -->

							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		
		
		
		

		


		</div>

	</div>








