
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
}

@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}.pushable {
	background: hsl(205.3, 80.4%, 56.1%, 0.84);
	border-radius: 12px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	margin-top: 2%;
}

.front {
	display: block;
	padding: 7px 14px;
	border-radius: 12px;
	font-size: 1.45rem;
	background: hsl(205.3, 80.4%, 56.1%);
	color: white;
	transform: translateY(-6px);
}

.pushable:active .front {
	transform: translateY(-2px);
}

.front:hover {
	background: hsl(205.2, 80.7%, 42.7%);
}
</style>




<div id="page-wrapper"
	ng-init="cCctr.entity=cCctr.getEntityDataFY().deductee;">
	<div class="container-fluid">

		<div ng-show="cCctr.show != true">

			<div class="row">
				<h3 class="page-header" style="margin-top: 2%;">
					<strong>Details of Form 27Q Deductee</strong>
				</h3>
			</div>
			<div class="panel panel-default"
				style="margin-top: -2%; border: none !important;">
				<div class="panel-body">
					<br>



					<h4>Deductee Details:</h4>

					<div class="container">

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Quarter &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.quarter}}</div>
							<div class="col-md-3">
								<label>Grossing up Indicator &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.grossingUpIndicator}}</div>
							<!-- <div class="col-md-3">

									<label>Deductee Code &nbsp;:</label>
									{{cCctr.entityCode}}
								</div> -->
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Month&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.month}}</div>
							<div class="col-md-3">
								<label>No of certificate under section&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.certificateNumber}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Branch Code&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.branchCode}}</div>
							<div class="col-md-3">
								<label>TDS Rate As Per It Acts &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.tdsRateAsPerItActs}}
							</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>RO Code. &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.roCode}}</div>

							<div class="col-md-3">
								<label>TAN</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.TAN}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Vend/Cust Id&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.custVendId}}</div>
							<div class="col-md-3">
								<label>Nature Of Remittance &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.natureOfRemittance}}
							</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Unique Ref Number&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.uniqueRefNo}}</div>
							<div class="col-md-3">
								<label>Unique Knowledge No.&nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.uniqueAcknowledgeNo}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Account Number&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.accNo}}</div>
							<div class="col-md-3">
								<label>Country &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.countryOfResidence}}
							</div>

						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Challan Heading&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.challanHeading}}</div>
							<div class="col-md-3">
								<label>Email &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.emailId}}</div>
						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Deductee Ref. No &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deducteeRefNo}}</div>
							<div class="col-md-3">
								<label>Contact no &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.contactNoOfDeductee}}</div>

						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Deductee Code &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.deducteeCode}}</div>
							<div class="col-md-3">
								<label>Address &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.addressOfDeductee}}
							</div>

						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Pan&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.pan}}</div>
							<div class="col-md-3">
								<label>Tax Identification Number &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.taxIdentificationNo}}</div>
						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Name &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.name }}</div>
							<div class="col-md-3">
								<label>Cash Withdrawl (194N) &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.cashWithdrawal194N}}
							</div>


						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Section Code &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.sectionCode}}</div>
							<div class="col-md-3">
								<label>Cash Withdrawl 194N(20L to 1cr) &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.cashWithdrawal194N20Lto1Cr}}</div>


						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Date of Payment &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.dateOfPayment|date:'dd-MM-yyyy'}}</div>
							<div class="col-md-3">
								<label>Cash Withdrawl 194N(>1cr &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.cashWithdrawal194N1Cr}}</div>


						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Paid Amount&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.amountPaid}}</div>
							<div class="col-md-3">
								<label>Error Description&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.errorDescription}}</div>


						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>TDS&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.tds}}</div>
							<div class="col-md-3">
								<label>Warning Description&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.warningDescription}}
							</div>


						</div>


						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Surcharge &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.surcharge}}</div>
							<div class="col-md-3">
								<label>Short Deduction&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.ShortDeduction}}</div>

						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Education Cess &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.eduCess}}</div>
							<div class="col-md-3">
								<label>Interest on Short Deduction &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.ShortDeduction}}</div>


						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Total Tax Deducted &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.totalTaxDeducted}}</div>
							<div class="col-md-3">
								<label>Interest on Late Payment&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.ShortDeduction}}</div>



						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Total Tax Deposited &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.totalTaxDeposited}}
							</div>
							<div class="col-md-3">
								<label>Interest on Late Deduction&nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.ShortDeduction}}</div>



						</div>
						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Date Of Deduction &nbsp;</label>
							</div>
							<div class="col-md-3">: {{cCctr.entity.dateOfDeduction}}</div>
							<div class="col-md-3">
								<label>Reason for non Deduction &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.remarksReason}}</div>


						</div>

						<div class="row" style="font-size: 13px;">
							<div class="col-md-3">
								<label>Rate at which tax Deducted &nbsp;</label>
							</div>
							<div class="col-md-3">:
								{{cCctr.entity.rateAtWhichTaxCollected}}</div>
							<div class="col-md-3">
								<label>Status &nbsp;</label>
							</div>
							<div class="col-md-3" ng-if="cCctr.entity.resolved == 0">:
								Resolved</div>
							<div class="col-md-3" ng-if="cCctr.entity.resolved == 1" style="color:red">:
								Not Resolved</div>



						</div>


						<div class="row" style="font-size: 13px;"></div>

						<div class="row">
							<form role="form" name="remark">
								<input ng-model="cCctr.newEntityId = cCctr.entity.id"
									id="deducteeId" name="deducteeId" style="display: none">

								<input ng-model="cCctr.newEntity.fy = cCctr.entity.fy" id="fy"
									name="fy" style="display: none"> <input
									ng-model="cCctr.newEntityForm ='27Qform'"
									id="deducteeForm" name="deducteeForm" style="display: none">

								<input class="form-control"
									ng-model="cCctr.newEntity.branchCode = cCctr.entity.branchCode"
									id="branchCode" name="branchCode" style="display: none">

								<button class="pushable"
										style="margin-left: 43%; background: hsl(224.9, 87.1%, 39.4%, 0.59);"
										data-target="#myModal" data-toggle="modal">
										<span class="front darkblue"
											style="background: hsl(224.9, 87.1%, 39.4%);"><i
											class="fa fa-plus" aria-hidden="true"></i> Add Remark</span>
									</button>

									<button class="pushable"
										style="background: hsl(205.3, 80.4%, 56.1%, 0.61);"
										data-toggle="modal" data-target="#edit">
										<span class="front"
											style="background: hsl(205.3, 80.4%, 56.1%);"><i
											class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;Edit</span>
									</button>

								

								<div ng-if="cCctr.entity.resolved == 1" ng-hide=("admin"!="${typeOfUser}");
									style="margin: -3.8% 0 0% 60.7%">
									<button class="pushable"
											style="background: hsl(115.5, 77.1%, 30.8%, 0.54);"
											data-toggle="modal" data-target="#resolveModal">
											<span class="front"
												style="background: hsl(115.5, 77.1%, 30.8%);"><i
												class="fa fa-thumbs-up" aria-hidden="true"></i> Resolved</span>
										</button>
								</div>
								<div ng-if="cCctr.entity.resolved == 0" ng-hide=("admin"!="${typeOfUser}");
									style="margin: -3.8% 0 0% 60.7%">
									<button class="pushable"
											style="background: hsl(115.5, 77.1%, 30.8%, 0.54);"
											data-toggle="modal" data-target="#resolveModal" disabled>
											<span class="front"
												style="background: hsl(116.1, 44.3%, 72.5%);"><i
												class="fa fa-thumbs-up" aria-hidden="true"></i> Resolved</span>
										</button>
								</div>

								<div ng-if="cCctr.entity.resolved == 1" ng-hide=("admin"!="${typeOfUser}");
									style="margin: -3.5% 0 0% 70.0%">
									<button class="pushable"
											style="background: hsl(11.2, 81.2%, 37.5%, 0.53);"
											data-toggle="modal" data-target="#rejectModal">
											<span class="front"
												style="background: hsl(11.2, 81.2%, 37.5%);"><i
												class="fa fa-thumbs-down" aria-hidden="true"></i> Reject</span>
										</button>
								</div>
								<div ng-if="cCctr.entity.resolved == 0" ng-hide=("admin"!="${typeOfUser}");
									style="margin: -3.5% 0 0% 70.0%;">
									<button class="pushable"
											style="background: hsl(11.2, 81.2%, 37.5%, 0.53);"
											data-toggle="modal" data-target="#rejectModal" disabled>
											<span class="front"
												style="background: hsl(11.6, 47.5%, 72.4%);"><i
												class="fa fa-thumbs-down" aria-hidden="true"></i> Reject</span>
										</button>
								</div>
								
								<div style="margin: -3.4% 0 0% 77.7%">
										<button class="pushable"
											style="background: hsl(0, 0%, 4.7%, 0.45);"
											ng-click="cCctr.gotoWFYListPage('form27QDeductee','form27QDeductee')">
											<span class="front" style="background: hsl(0, 0%, 4.7%);"><i
												class="fa fa-arrow-left" aria-hidden="true"></i> Back</span>
										</button>
									</div>	
									
								<div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Add Remark</h4>
											</div>
											<div class="col-md-12">
												<div class="col-md-12">
													<label style="font-size: 13px; margin-top: 2%">Remarks&nbsp;:</label>
												</div>
												<textarea ng-model="cCctr.newEntity.remark" id="remark"
													name="remark"
													style="width: 90%; height: 20%; font-size: 15px; margin-left: 5%;"
													ng-required="true"></textarea>
												<span style="color: red; margin-left: 5%;" class="error"
													ng-show="remark.submitted || remark.remark.$dirty && remark.remark.$invalid">Please
													enter valid Remark</span> <span class="error" id="remark"></span>
											</div>
											<div class="modal-footer">
											<button class="pushable"
														style="background: hsl(115.5, 77.1%, 30.8%, 0.54); margin-top: 2%;"
														data-dismiss="modal"
														style="margin: 2% 5% 0 0; width: 15%;"
														ng-click="remark.submitted=true;cCctr.addRemark(remark.$valid,'remark',cCctr.newEntity,'Remark','close')"">
														<span class="front"
															style="background: hsl(115.5, 77.1%, 30.8%);"> Add</span>
													</button>		
											</div>
										</div>

									</div>
								</div>
								<!-- Reject Remark model -->
									<div class="modal fade" id="rejectModal" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Reject</h4>
												</div>
												<div class="col-md-12 ">
													<label style="font-size: 13px; margin-top: 2%">Why
														do you want to reject?</label><br>
													<textarea ng-model="cCctr.newEntity.remark" id="remark"
													name="remark"
													style="width: 90%; height: 20%; font-size: 15px; margin-left: 5%;"
													ng-required="true"></textarea>
												</div>
													<div class="modal-footer">
													<button class="pushable"
														style="background: hsl(115.5, 77.1%, 30.8%, 0.54); margin-top: 2%;"
														ng-init="cCctr.resolve.resolved = 'false'; cCctr.resolve.id = cCctr.entity.id"
														ng-click="cCctr.addRemark(true,'remark',cCctr.newEntity,'Reject','close')">
														<span class="front"
															style="background: hsl(115.5, 77.1%, 30.8%);"> Yes</span>
													</button>
													<button class="pushable"
														style="background: hsl(11.2, 81.2%, 37.5%, 0.53); margin-top: 2%;"
														data-dismiss="modal">
														<span class="front"
															style="background: hsl(11.2, 81.2%, 37.5%);"> No</span>
													</button>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Resolve Remark model -->
									<div class="modal fade" id="resolveModal" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Resolve</h4>
												</div>
												<div class="col-md-12 ">
													<label style="font-size: 13px; margin-top: 2%">Resolve</label><br>
													<textarea style="width: 100%; height: 15%" ng-model ="cCctr.newEntity.remark"></textarea>
												</div>
													<div class="modal-footer">
													<button class="pushable"
														style="background: hsl(115.5, 77.1%, 30.8%, 0.54); margin-top: 2%;"
														ng-init="cCctr.resolve.resolved = 'false'; cCctr.resolve.id = cCctr.entity.id"
														ng-click="cCctr.addRemark(true,'remark',cCctr.newEntity,'Resolve','close')">
														<span class="front"
															style="background: hsl(115.5, 77.1%, 30.8%);"> Yes</span>
													</button>
													<button class="pushable"
														style="background: hsl(11.2, 81.2%, 37.5%, 0.53); margin-top: 2%;"
														data-dismiss="modal">
														<span class="front"
															style="background: hsl(11.2, 81.2%, 37.5%);"> No</span>
													</button>
													
													
												</div>
											</div>
										</div>
									</div>
							</form>
						</div>
					</div>
				</div>
				<br>
				<div>
					<div class="table-responsive" style="overflow-x: inherit">
						<!-- 	<div class="col-md-12" style="margin-left:-30px"> -->
						<table class=" table table-bordered table-hover  table-striped"
							role="table"
							style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">

							<thead>
							<colgroup>
								<col span="14" style="background-color: #ffffff">
							</colgroup>
							<tr>
							<thead>
								<tr role="row" style="height: 40px; background-color: #81b7db">
									<th>Sr.No</th>
									<th style="width: 50%">Remark</th>
									<th>Status</th>
									<th>Remark By</th>
									<th>Date & Time</th>

								</tr>

							</thead>
							<tbody>
								<tr ng-repeat="a in cCctr.getEntityListDataFY().remark">
									<th>{{$index+1}}</th>
									<th>{{a.remark}}</th>
									<th>{{a.status}}</th>
									<th>{{a.userName}}</th>
									<th>{{a.dateTime | date:'dd-MM-yyyyTHH:mm:ss'}}</th>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="edit" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" id="closeU" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Details of Form 27Q Deductee</h4>
			</div>
			<div class="modal-body">

				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="signin">
						<form name="form27qdeductee" class="form-horizontal"
							enctype="multipart/form-data">
							<div class="row">
								<div class="col-md-6">
									
										<label style="font-size: 12px;">Quarter</label> <select name="quarter"
											class="form-control" ng-model="cCctr.entity.quarter"
											 ng-model-options="{updateOn: 'blur'}" disabled>
											<option value="Q1">Q1</option>
											<option value="Q2">Q2</option>
											<option value="Q3">Q3</option>
											<option value="Q4">Q4</option>
										</select> <span style="color: red"
											ng-show="form27qdeductee.submitted || form27qdeductee.quarter.$dirty && form27qdeductee.quarter.$invalid">
										</span> <span class="error" id="quarter"></span>
									
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Month</label> <select name="quarter"
										class="form-control" ng-model="cCctr.entity.month"
										 ng-model-options="{updateOn: 'blur'}" disabled>
										<option selected value='Janaury'>Janaury</option>
										<option value='February'>February</option>
										<option value='March'>March</option>
										<option value='April'>April</option>
										<option value='May'>May</option>
										<option value='June'>June</option>
										<option value='July'>July</option>
										<option value='August'>August</option>
										<option value='September'>September</option>
										<option value='October'>October</option>
										<option value='November'>November</option>
										<option value='December'>December</option>
									</select> <span style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.month.$dirty && form27qdeductee.month.$invalid">
									</span> <span class="error" id="month"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<label style="font-size: 12px;">Grossing up Indicator</label>
									<input class="form-control" type="text" name="grossingUpIndicator" 
										 placeholder="Grossing up Indicator" 
										ng-model="cCctr.entity.grossingUpIndicator" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.grossingUpIndicator.$dirty && form27qdeductee.grossingUpIndicator.$invalid">
									</span> <span class="error" id="grossingUpIndicator"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">No of certificate under
										section</label> <input class="form-control" type="text"
										name="certificateNumber"
										placeholder="No of certificate under section"
										ng-model="cCctr.entity.certificateNumber"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.certificateNumber.$dirty && form27qdeductee.certificateNumber.$invalid">
									</span> <span class="error" id="certificateNumber"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label style="font-size: 12px;">TDS Rate As Per It
										Acts</label> <input class="form-control" type="text"
										name="tdsRateAsPerItActs" ng-pattern="/^[0-9]*$/"
										placeholder="TDS Rate As Per It Acts"
										ng-model="cCctr.entity.tdsRateAsPerItActs"
										disabled />
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.tdsRateAsPerItActs.$dirty && form27qdeductee.tdsRateAsPerItActs.$invalid">
									</span> <span class="error" id="tdsRateAsPerItActs"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Nature Of Remittance</label> <input
										class="form-control" type="text" name="natureOfRemittance" 
										placeholder="Nature Of Remittance" 
										ng-model="cCctr.entity.natureOfRemittance"
										ng-model-options="{updateOn: 'blur'}" disabled />
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.natureOfRemittance.$dirty && form27qdeductee.natureOfRemittance.$invalid">
									</span> <span class="error" id="natureOfRemittance"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Unique Ref No.</label> <input
										class="form-control" type="text" name="uniqueRefNo"
										placeholder="Unique Ref No" 
										ng-model="cCctr.entity.uniqueRefNo"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.uniqueRefNo.$dirty && form27qdeductee.uniqueRefNo.$invalid">
									</span> <span class="error" id="uniqueRefNo"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Unique Knowledge No</label> <input
										class="form-control" type="text" name="uniqueAcknowledgeNo"
										placeholder="Unique Knowledge No" 
										ng-model="cCctr.entity.uniqueAcknowledgeNo"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.uniqueAcknowledgeNo.$dirty && form27qdeductee.uniqueAcknowledgeNo.$invalid">
									</span> <span class="error" id="uniqueAcknowledgeNo"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<label style="font-size: 12px;">Country Code</label> <input
										class="form-control" type="text" name="countryOfResidence"
										placeholder="Country"
										ng-model="cCctr.entity.countryOfResidence"
										 disabled/>
										 
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Contact no</label> <input
										class="form-control" type="text" name="contactNoOfDeductee"
										placeholder="Contact Number"  ng-pattern="/^[0-9]{10,10}$/;" ng-maxlength="10"
										ng-model="cCctr.entity.contactNoOfDeductee"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.contactNoOfDeductee.$dirty && form27qdeductee.contactNoOfDeductee.$invalid">
										<span class="error"
										ng-show="form27qdeductee.contactNoOfDeductee.$error.pattern">Please
											enter valid Contact no. </span> <span class="error"
										ng-show="form27qdeductee.contactNoOfDeductee.$error.maxlength">Contact no should not be greater than 10 characters.</span>
									</span> <span class="error" id="contactNoOfDeductee"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">RO Code</label> <input
										class="form-control" type="text" name="roCode"
										placeholder="RO Code" 
										ng-model="cCctr.entity.roCode"
										ng-model-options="{updateOn: 'blur'}" /> <span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.roCode.$dirty && form27qdeductee.roCode.$invalid">
									</span> <span class="error" id="roCode"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Branch Code</label> <input
										class="form-control" type="text" name="branchCode"
										placeholder="Branch Code" 
										ng-model="cCctr.entity.branchCode"
										ng-model-options="{updateOn: 'blur'}" /> <span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.branchCode.$dirty && form27qdeductee.branchCode.$invalid">
									</span> <span class="error" id="branchCode"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">

							<label>Account Number</label> <input class="form-control"
								type="text" name="Account Number" placeholder="Account Number"
								ng-model="cCctr.entity.accNo" autocomplete="off"
								ng-pattern="/^[0-9]*$/" 
								ng-model-options="{updateOn: 'blur'}" disabled/> <span
								style="color: red"
								ng-show="form27qdeductee.submitted ||form27qdeductee.accNo.$dirty && form27qdeductee.accNo.$invalid">
								<span class="error"
								ng-show="form27qdeductee.accNo.$error.pattern">Please
									enter valid Account Number. </span>
							</span> <span class="error" id="accNo"></span>
						</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Challan Heading</label> <input
										class="form-control" type="text" name="challanHeading"
										placeholder="Challan Heading" 
										ng-model="cCctr.entity.challanHeading"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.challanHeading.$dirty && form27qdeductee.challanHeading.$invalid">
									</span> <span class="error" id="challanHeading"></span>
								</div>
							</div>




							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Deductee Code</label> <input
										class="form-control" type="text" name="deducteeCode" 
										placeholder="Deductee Code"  
										ng-model="cCctr.entity.deducteeCode"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeducteeCode.$dirty && form27qdeducteeCode.$invalid">
									</span> <span class="error" id="deducteeCode"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Address</label> <input
										class="form-control" type="text" name="addressOfDeductee"
										placeholder="Address" 
										ng-model="cCctr.entity.addressOfDeductee"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">PAN of the Deductee</label> <input
										class="form-control" type="text" name="deducteePan"
										placeholder="PAN of the Deductee" 
										ng-model="cCctr.entity.pan"
										ng-model-options="{updateOn: 'blur'}" ng-maxlength="10"
										ng-pattern="/^([A-Za-z]{5}[0-9]{4}[A-Za-z]{1})*$/" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.panofthedeductee.$dirty && form27qdeductee.panofthedeductee.$invalid">
										<span class="error"
										ng-show="form27qdeductee.panofthedeductee.$error.pattern">Please
											enter valid Pan . </span> <span class="error"
										ng-show="form27qdeductee.panofthedeductee.$error.maxlength">Pan
											should not be greater than 12 characters.</span> <span class="error"
										ng-show="form27qdeductee.panofthedeductee.$error.required">Pan is
											Required.</span>
									</span><span class="error" id="panofthedeductee"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Tax Identification
										Number </label> <input class="form-control" type="text"
										name="taxIdentificationNo"  
										placeholder="Tax Identification Number " 
										ng-model="cCctr.entity.taxIdentificationNo"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.taxIdentificationNo.$dirty && form27qdeductee.taxIdentificationNo.$invalid">
									</span> <span class="error" id="taxIdentificationNo"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Name</label> <input
										class="form-control" type="text" name="name" ng-maxlength="45"
										ng-model="cCctr.entity.name"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.name.$dirty && form27qdeductee.name.$invalid">
									</span> <span class="error" id="name"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Cash Withdrawl (194N)</label>
									<input class="form-control" type="text"  
										name="cashWithdrawal194N" placeholder="Cash Withdrawl (194N)"
										ng-model="cCctr.entity.cashWithdrawal194N"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.cashWithdrawal194N.$dirty && form27qdeductee.cashWithdrawal194N.$invalid">
									</span> <span class="error" id="cashWithdrawal194N"></span>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Section Code</label> <input
										class="form-control" type="text" name="sectionCode"
										placeholder="Section Code" 
										ng-model="cCctr.entity.sectionCode"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.sectionCode.$dirty && form27qdeductee.sectionCode.$invalid">
									</span> <span class="error" id="sectionCode"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Cash Withdrawl 194N(20L
										to 1cr)</label> <input class="form-control" type="text"
										name="cashWithdrawal194N20Lto1Cr" 
										placeholder="Cash Withdrawl 194N(20L to 1cr)"
										ng-model="cCctr.entity.cashWithdrawal194N20Lto1Cr"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.cashWithdrawal194N20Lto1Cr.$dirty && form27qdeductee.cashWithdrawal194N20Lto1Cr.$invalid">
									</span> <span class="error" id="cashWithdrawal194N20Lto1Cr"></span>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Date of Payment</label> <input
										class="form-control" type="Date" name="dateOfPayment"
										placeholder="Date of Payment "
										ng-value='"{{cCctr.entity.dateOfPayment}}"' 
										ng-model="cCctr.temp.dateOfPayment"
										ng-blur="cCctr.entity.dateOfPayment=cCctr.temp.dateOfPayment" disabled/>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Cash Withdrawl
										194N(>1cr</label> <input class="form-control" type="text"
										name="cashWithdrawal194N1Cr"
										placeholder="Cash Withdrawl 194N(>1cr" 
										ng-model="cCctr.entity.cashWithdrawal194N1Cr"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.cashWithdrawal194N1Cr.$dirty && form27qdeductee.cashWithdrawal194N1Cr.$invalid">
									</span> <span class="error" id="cashWithdrawal194N1Cr"></span>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Paid Amount</label> <input
										class="form-control" type="text" name="amountPaid"
										placeholder="Paid Amount "  
										ng-model="cCctr.entity.amountPaid"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.amountPaid.$dirty && form27qdeductee.amountPaid.$invalid">
									</span> <span class="error" id="amountPaid"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">TDS</label> <input
										class="form-control" type="text" name="tds" placeholder="TDS"
										 ng-model="cCctr.entity.tds"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.tds.$dirty && form27qdeductee.tds.$invalid">
									</span> <span class="error" id="tds"></span>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Date Of Deduction</label> <input
										class="form-control" type="Date" name="dateOfDeduction"
										placeholder="Date Of Deduction" 
										ng-value='"{{cCctr.entity.dateOfDeduction}}"'
										ng-model="cCctr.temp.dateOfDeduction"
										ng-blur="cCctr.entity.dateOfDeduction=cCctr.temp.dateOfDeduction" disabled/>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Reason for non
										Deduction</label> <input class="form-control" type="text"
										name="remarksReason" 
										placeholder="Reason for non Deduction" 
										ng-model="cCctr.entity.remarksReason"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.remarksReason.$dirty && form27qdeductee.remarksReason.$invalid">
									</span> <span class="error" id="remarksReason"></span>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Rate at which tax
										Deducted</label> <input class="form-control" type="text"
										name="rateAtWhichTaxCollected" 
										placeholder="Rate at which tax Deducted" 
										ng-model="cCctr.entity.rateAtWhichTaxCollected"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.rateAtWhichTaxCollected.$dirty && form27qdeductee.rateAtWhichTaxCollected.$invalid">
									</span> <span class="error" id="rateAtWhichTaxCollected"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">TAN</label> <input
										class="form-control" type="text" name="TAN" placeholder="TAN"
										 ng-model="cCctr.entity.TAN" ng-pattern="[A-Za-z]{4}[0-9]{5}[A-Za-z]{1}" ng-maxlenght="10"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.TAN.$dirty && form27qdeductee.TAN.$invalid">
										<span class="error"
										ng-show="form27qdeductee.TAN.$error.pattern">Please
											enter valid TAN </span> <span class="error"
										ng-show="form27qdeductee.TAN.$error.maxlength">TAN should not be greater than 45 characters.</span> 
									</span> <span class="error" id="TAN"></span>
								</div>
							</div>



							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Surcharge </label> <input
										class="form-control" type="text" name="surcharge"
										placeholder="Surcharge" 
										ng-model="cCctr.entity.surcharge"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.surcharge.$dirty && form27qdeductee.surcharge.$invalid">
									</span><span class="error" id="surcharge"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Education Cess</label> <input
										class="form-control" type="text" name="Education Cess"
										placeholder="Education Cess"
										ng-model="cCctr.entity.eduCess"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.eduCess.$dirty && form27qdeductee.eduCess.$invalid">
									</span> <span class="error" id="eduCess"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Total Tax Deducted</label> <input
										class="form-control" type="text" name="totalTaxdeducted" 
										placeholder="Total Tax Deducted" 
										ng-model="cCctr.entity.totalTaxDeducted"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.totalTaxdeducted.$dirty && form27qdeductee.totalTaxdeducted.$invalid">
									</span> <span class="error" id="totalTaxdeducted"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Total Tax Deposited </label> <input
										class="form-control" type="text" name="totalTaxDeposited"
										placeholder="Total Tax Deposited" 
										ng-model="cCctr.entity.totalTaxDeposited"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.totalTaxDeposited.$dirty && form27qdeductee.totalTaxDeposited.$invalid">
									</span> <span class="error" id="totalTaxDeposited"></span>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Error Description</label> <input
										class="form-control" type="text" name="errorDescription"
										placeholder="Error Description" 
										ng-model="cCctr.entity.errorDescription"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.errorDescription.$dirty && form27qdeductee.errorDescription.$invalid">
									</span> <span class="error" id="errorDescription"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Warning Description</label> <input
										class="form-control" type="text" name="warningDescription"
										placeholder="Warning Description"  
										ng-model="cCctr.entity.warningDescription"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.warningDescription.$dirty && form27qdeductee.errorDescription.$invalid">
									</span> <span class="error" id="warningDescription"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Short Deduction </label> <input
										class="form-control" type="text" name="ShortDeduction"
										placeholder="Short Deduction"  
										ng-model="cCctr.entity.ShortDeduction"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.ShortDeduction.$dirty && form27qdeductee.ShortDeduction.$invalid">
									</span> <span class="error" id="ShortDeduction"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Interest On Short
										Deduction </label> <input class="form-control" type="text"
										name="InterestOnShortDeduction"
										placeholder="Interest On Short Deduction"  
										ng-model="cCctr.entity.InterestOnShortDeduction"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.InterestOnShortDeduction.$dirty && form27qdeductee.InterestOnShortDeduction.$invalid">
									</span> <span class="error" id="InterestOnShortDeduction"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Interest On Late
										Payment</label> <input class="form-control" type="text"
										name="InterestOnLatePayment"
										placeholder="Interest On Late Payment" 
										ng-model="cCctr.entity.InterestOnLatePayment"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.InterestOnLatePayment.$dirty && form27qdeductee.InterestOnLatePayment.$invalid">
									</span> <span class="error" id="InterestOnLatePayment"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Interest On Late
										Deduction</label> <input class="form-control" type="text"
										name="InterestOnLateDeduction"
										placeholder="Interest On Late Deduction"  
										ng-model="cCctr.entity.InterestOnLateDeduction"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.InterestOnLateDeduction.$dirty && form27qdeductee.InterestOnLateDeduction.$invalid">
									</span> <span class="error" id="InterestOnLateDeduction"></span>
								</div>
							</div>



							<div class="row">
								<div class="col-md-6">

									<label style="font-size: 12px;">Email</label> <input
										class="form-control" type="text" name="emailId"
										placeholder="Email"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
										ng-model="cCctr.entity.emailId"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted || form27qdeductee.emailId.$dirty && form27qdeductee.emailId.$invalid">
										<span class="error"
										ng-show="form27qdeductee.emailId.$error.pattern">Please
											enter valid Email Id </span>  
									</span> <span class="error" id="emailId"></span>
								</div>

								<div class="col-md-6">

									<label style="font-size: 12px;">Deductee Ref. No </label> <input
										class="form-control" type="text" name="deducteeRefNo"
										placeholder="Deductee Ref. No" 
										ng-model="cCctr.entity.deducteeRefNo"
										ng-model-options="{updateOn: 'blur'}" disabled/>
										<span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeducteeRefNo.$dirty && form27qdeducteeRefNo.$invalid">
									</span> <span class="error" id="deducteeRefNo"></span>
								</div>

							</div>

							<div class="row">

								<div class="col-md-6">

									<label style="font-size: 12px;">Vend/Cust/Id</label> <input
										class="form-control" type="text" name="custVendId"
										placeholder="Vend/Cust/Id" 
										ng-model="cCctr.entity.custVendId"
										ng-model-options="{updateOn: 'blur'}" disabled/> <span
										style="color: red"
										ng-show="form27qdeductee.submitted ||form27qdeductee.custVendId.$dirty && form27qdeductee.custVendId.$invalid">
									</span> <span class="error" id="custVendId"></span>
								</div>
								<div class="col-md-6">

									<label style="font-size: 12px;">Status</label> <input
										class="form-control" type="text" name="resolved"
										placeholder="Status" 
										ng-model="cCctr.entity.resolved"
										ng-model-options="{updateOn: 'blur'}" disabled/>
								</div>
							</div>


							<br> <br>
							<div class="row">
								<div class="col-md-12" style="text-align: right">
								<button class="pushable"
										style="background: hsl(224.9, 87.1%, 39.4%, 0.59); margin-top: 2%;"
										data-dismiss="modal"
										ng-click="form27qdeductee.submitted=true;cCctr.updateData(form27qdeductee.$valid,cCctr.entity,'form27QDeductee')">
										<span class="front"
											style="background: hsl(224.9, 87.1%, 39.4%);"> Update</span>
									</button>
									<button class="pushable"
										style="background: hsl(0, 0.7%, 71.2%, 0.53); margin-top: 2%;"
										data-dismiss="modal">
										<span class="front" style="background: hsl(240, 0.4%, 48.8%);">Close</span>
									</button>		
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
