<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>


@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

@media ( min-width : 300px) and (max-width: 700px) {
	.mobile {
		display: none;
	}
}

@media only screen and (min-width:700px) {
	.hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
		display: none;
	}
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width:
	1024px) {
	/* CSS */
	.mobile {
		display: none;
	}
}

#download .container-fluid #download-row #download-column #download-box
	{
	margin-top: -550px;
	width: 400px;
	height: 350px;
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.2);
	color: #ffffff;
}

#download .container-fluid #download-row #download-column #download-box #download-form
	{
	padding: 20px;
}

#download .container-fluid #download-row #download-column #download-box #download-form
	{
	margin-top: -85px;
}
</style>
</head>
<body>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 " id="download">
			<div id="page-wrapper"style="margin-top: 30px;">
				<div class="container-fluid ">
					<div id="download-row"
						class="row justify-content-center align-items-center"
						style="border: 1px solid black; padding: 5%">
						<div id="download-column"></div>
						<div id="download-box">
							<form id="download-form" name="downloadCertificateFrom"
								class="form">

								<div class="col-md-12 "
									style="font-size: 12px; margin: 2% 0 2% 0; text-align: center">
									<div class="heading">
										<strong>Download Certificate</strong>
									</div>
									<br>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label style="font-size: 12px">Select Following: </label>
									</div>
								</div>
								<!-- <label for="chkPan"> 
								<input type="radio" id="chkPan" name="chkPassPort" onclick="myFunction()"checked/> PAN
							</label> 
							<label for="chkId"> 
								<input type="radio" id="chkId" name="chkPassPort" onclick="myFunction()"/> ID
							</label> -->
								<br>
								<!-- pan -->
								<div class="row" id="pan">
									<!-- PAN: <input type="text" id="pan" /> -->

									<div class="col-md-12">
										<div class="form-group">
											<label for="pan" class="col-form-label"
												style="font-size: 12px"> PAN Number / Customer Id:</label> <input type="text"
												class="form-control" id="pan" name="pan" placeholder="PAN / Customer Id"
												ng-model="cCctr.entity.pan" ng-required="true"
												required="required" style="font-size: 15px"> <span
												style="color: red"
												ng-show="downloadCertificateFrom.submitted || downloadCertificateFrom.pan.$dirty && downloadCertificateFrom.pan.$invalid">
												<span class="error"
												ng-show="downloadCertificateFrom.pan.$error.required">PAN
													Number Required </span> <span class="error"
												ng-show="downloadCertificateFrom.pan.$error.pattern">PAN
													number should be capital and valid </span>
											</span>
										</div>
									</div>
								</div>
								<!-- id -->
								<!-- 
								<div id="id" style="display: none">
									ID: <input type="text" id="id" />
									<div class="col-md-12">
										<div class="form-group">
											<label for="id" class="col-form-label"
												style="font-weight: bold; font-size: 12px"> ID:</label> <input
												type="text" class="form-control" id="id" name="id"
												placeholder="ID"
												ng-model="cCctr.entity.id"
												ng-required="true" ng-pattern="/^[0-9]/" required="required"
												style="font-size: 15px"> <span style="color: red"
												ng-show="downloadCertificateFrom.submitted || downloadCertificateFrom.id.$dirty && downloadCertificateFrom.id.$invalid">
												<span class="error"
												ng-show="downloadCertificateFrom.id.$error.required">id
													Required </span> <span class="error"
												ng-show="downloadCertificateFrom.id.$error.pattern">id
													should be only Number: </span>
											</span>
										</div>
									</div>
								</div>
								 -->
								<br>
								<!-- <div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label style="font-size: 12px">Type of Deductee*</label> <select
												name="typeofDeductee" id="typeofDeductee"
												class="form-control" ng-model="cCctr.entity.typeofDeductee"
												ng-required="true" required="required"
												ng-model-options="{updateOn: 'blur'}"><option
													disabled value="">Select Deductee</option>
												<#list typeOfDeductee as Deductee>

												<option value="${Deductee}">${Deductee}</option>
												</#list>
											</select> <span style="color: red"
												ng-show="downloadCertificateFrom.submitted ||downloadCertificateFrom.typeofDeductee.$dirty && downloadCertificateFrom.typeofDeductee.$invalid">
												<span class="error"
												ng-show="downloadCertificateFrom.typeofDeductee.$error.required">Type
													of Certificate is Required. </span>
											</span>
										</div>
									</div>
								</div> -->
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label style="font-size: 12px">TAN Number*</label> <!-- <input type="text"
												class="form-control" id="tan" name="tan" placeholder="TAN"
												ng-model="cCctr.entity.tan" ng-required="true"
												ng-pattern="/^[A-Z]{4}[0-9]{5}[A-Z]{1}$/"
												required="required" style="font-size: 15px"> -->
												<select
												name="tan" id="tan"
												class="form-control"
												ng-model="cCctr.entity.tan" ng-required="true"
												ng-model-options="{updateOn: 'blur'}">
												<option disabled value="">Select Tan</option>
												<#list Tan as T>

												<option value="${T}">${T}</option>
												</#list>
											</select>
												 <span style="color: red"
												ng-show="downloadCertificateFrom.submitted ||downloadCertificateFrom.tan.$dirty && downloadCertificateFrom.tan.$invalid">
												<span class="error"
												ng-show="downloadCertificateFrom.tan.$error.required">TAN is Required. </span>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label style="font-size: 12px">Type of Certificate*</label> <select
												name="typeofCertificate" id="typeofCertificate"
												class="form-control"
												ng-model="cCctr.entity.typeofCertificate" ng-required="true"
												ng-model-options="{updateOn: 'blur'}">
												<option disabled value="">Select Certificate</option>
												<#list typeOfCertificate as Certificate>

												<option value="${Certificate}">${Certificate}</option>
												</#list>
											</select> <span style="color: red"
												ng-show="downloadCertificateFrom.submitted ||downloadCertificateFrom.typeofCertificate.$dirty && downloadCertificateFrom.typeofCertificate.$invalid">
												<span class="error"
												ng-show="downloadCertificateFrom.typeofCertificate.$error.required">type
													ofCertificate is Required.</span>
											</span>
										</div>
									</div>
								</div>
								<!-- financial year code -->
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label style="font-size: 12px">Financial Year*</label> <select
												name="financialYear" class="form-control"
												ng-model="cCctr.entity.financialYear" ng-required="true"
												ng-model-options="{updateOn: 'blur'}">
												<option disabled value="">Select financial Year</option>
												<#list financialYear as year>
												<option value="${year}">${year}</option>
												</#list>
											</select> <span style="color: red"
												ng-show="downloadCertificateFrom.submitted ||downloadCertificateFrom.financialYear.$dirty && downloadCertificateFrom.financialYear.$invalid">
												<span class="error"
												ng-show="downloadCertificateFrom.financialYear.$error.required">Financial
													Year is Required.</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label style="font-size: 12px">Quarter*</label> <select
												name="quarter" class="form-control"
												ng-model="cCctr.entity.quarter" ng-required="true"
												ng-model-options="{updateOn: 'blur'}">
												<option disabled value="">Select Quarter</option>
												<#list Quarter as quarter>
												<option value="${quarter}">${quarter}</option>
												</#list>
											</select> <span style="color: red"
												ng-show="downloadCertificateFrom.submitted ||downloadCertificateFrom.quarter.$dirty && downloadCertificateFrom.quarter.$invalid">
												<span class="error"
												ng-show="downloadCertificateFrom.quarter.$error.required">Quarter
													is Required. </span>
											</span>
										</div>
									</div>
								</div>
								<button style="margin-left: 40%" class="btn btn-success"
									ng-click="cCctr.download('apichallan/files/'+cCctr.entity.tan+'/'+cCctr.entity.typeofCertificate+'/'+cCctr.entity.financialYear+'/'+cCctr.entity.quarter+'/'+cCctr.entity.pan)">
									Download</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>


<script>
	function myFunction() {
		$("input[name='chkPassPort']").click(function() {
			if ($("#chkPan").is(":checked")) {
				$("#pan").show();
				$("#id").hide();
			} else {
				$("#id").show();
				$("#pan").hide();
			}
		});
	}
</script>
