<style>
@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

@media ( min-width : 300px) and (max-width: 700px) {
	.mobile {
		display: none;
	}
}

@media only screen and (min-width:700px) {
	.hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
		display: none;
	}
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width:
	1024px) {
	/* CSS */
	.mobile {
		display: none;
	}
}

th {
	text-align: center;
}

.truncate {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 5%;
	height: 60px;
}

.ellipsis {
	max-width: 70px;
	min-width: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.btn-grad {
	background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	padding: 8px;
}

.btn-grad:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

/*Refresh Button  */
.tooltip-top {
 bottom: 83%;
  margin-left:-7%;
}
/*Search Button  */
.tooltip-top1 {
 bottom: 116%;
margin-left: -30%;
}
/*Advance Search Button  */
.tooltip-top2 {
 bottom: 116%;
margin-left: -57%;
}
/*Export to Excel Button  */
.tooltip-top3 {
 bottom: 63%;
margin-left: -47%;
}
/*Table Coloumn Button */
.tooltip-top4{
 bottom: 116%;
margin-left: -47%;
}

/*Detail Page Button */
.tooltip-top5{
margin-left: -6%;
}

</style>




<div id="page-wrapper" ng-controller="CommonWOTController as cWctr">
	<div class="container-fluid">
	<button class="btn btn-grad astro-MG2CNCJP tool" data-toggle="modal"
					style="background-image: linear-gradient(to right, #5237B3 0%, #5370C6 51%, #7740B9 100%);float: right;"
					 onClick="refreshPageButton()"><i
					class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh<span class="tooltiptext tooltip-top">Refresh Button</span></button>
		<div class="col-md-12 "
			style="padding-left: 0px; font-size: 12pxp; margin-top: 2%">
			<div class="heading">
				<strong>Form 27Q Deductee Details</strong>
			</div>



		</div>

		<br>
		<button class="btn btn-primary hidden visible-xs" type="button"
			data-toggle="collapse" data-target="#collapseExample2"
			aria-expanded="false" aria-controls="collapseExample">Search</button>
		<div class="collapse dont-collapse-sm" id="collapseExample2">
			<div class="row">
				<div class="form-group">


					<div class="col-md-3">
						<h6>
							<b>Section Code</b>
							<h6>
								<select class="form-control" ng-model="cCctr.search.sectionCode"
									required>
									<option disabled value="">Select Section</option>
									<#list Section as section>
									<option value="${section}">${section}</option>
									</#list>
								</select>
					</div>
					

					<div class="col-md-3">
						<h6>
							<b>PAN</b>
							<h6>
								<input type="text" ng-model="cCctr.search.pan"
									class="form-control" placeholder="PAN" style="width: 100%">
					</div>
				</div>
			</div>

			<div class=" collapse  panel-collapse" id="collapseExample4">

				<div class="row">
					<div class="col-md-3">
						<h6>
							<b>Name</b>
							<h6>
								<input type="text" ng-model="cCctr.search.name"
									class="form-control" placeholder="Name" style="width: 100%">
					</div>

					<div class="col-md-3">
						<h6>
							<b>Account Number</b>
							<h6>
								<input type="text" ng-model="cCctr.search.accNo"
									class="form-control" placeholder="Account Number"
									style="width: 100%">
					</div>

					<div class="col-md-3">
						<h6>
							<b>Vendor/Customer ID</b>
							<h6>
								<input type="text" ng-model="cCctr.search.custVendId"
									class="form-control" placeholder="Vendor/Customer ID"
									style="width: 100%">
					</div>
					<div class="col-md-3">
						<h6>
							<b>Status</b>
						</h6>
						<select ng-model="cCctr.search.resolved" class="form-control">
							<option value="">Status</option>
							<option value="false">Resolved</option>
							<option value="true">Not Resolved</option>

						</select>
					</div>
				</div>



				<div class="row">


					<div class="col-md-3">
						<h6>
							<b>Challan Heading</b>
							<h6>
								<input type="text" ng-model="cCctr.search.challanHeading"
									class="form-control" placeholder="Challan Heading"
									style="width: 100%">
					</div>

					<div class="col-md-3">
						<h6>
							<b> Error Description</b>
							<h6>
								<input type="text" ng-model="cCctr.search.errorDescription"
									class="form-control" placeholder=" Error Description"
									style="width: 100%">
					</div>
					<div class="col-md-3">
						<h6>
							<b>Warning Description</b>
							<h6>
								<input type="text" ng-model="cCctr.search.warningDescription"
									class="form-control" placeholder="Warning Description"
									style="width: 100%">
					</div>
					<div class="col-md-3">
						<h6>
							<b>RO Code</b>
							<h6>
								<input type="text" ng-model="cCctr.search.roCode"
									class="form-control" placeholder="RO Code" style="width: 100%">
					</div>



				</div>

				<div class="row">
					<div class="col-md-3">
						<h6>
							<b>Quarter</b>
							<h6>
								<select class="form-control" ng-model="cCctr.search.quarter"
									required>
									<option disabled value="">Select Quarter</option>
									<#list Quarter as quarter>
									<option value="${quarter}">${quarter}</option>
									</#list>
								</select>
					</div>
					<div class="col-md-3">
						<h6>
							<b>TAN</b>
							<h6>
								<select name="tan" id="tan" class="form-control"
									ng-model="cCctr.search.TAN">
									<option disabled value="">Select Tan</option>
									<#list Tan as T>
									<option value="${T}">${T}</option>
									</#list>
								</select>
					</div>
					<div class="col-md-3">
						<button class="btn btn-grad astro-MG2CNCJP tool" type="button" style="margin-top: 15%;margin-left: -9%;background-image: linear-gradient(to right, #517fa4 0%, #243949  51%, #517fa4  100%);"
							ng-click="cCctr.generateProcessExcel('apiform27QDeductee/generateExcel/','regular27QDeductee')">Export
							to Excel<span class="tooltiptext tooltip-top3">Export Excel Button</span></button>
					</div>
				</div>




			</div>
			<div class="row text-right" id="hide">
				<div class="col-md-3" style="margin-left:60%; margin-top: -45px;display:ruby">
					<button
						ng-click="cCctr.searchFYEntities(true,'form27QDeductee','form27QDeductee')"
						style="background-image: linear-gradient(to right, #093028 0%, #237A57  51%, #093028  100%)"
						class="btn btn-grad astro-MG2CNCJP tool" onclick="scrollWin()"><i class="fa fa-search" aria-hidden="true"></i>
						Search<span class="tooltiptext tooltip-top1">Search Button</span></button>
						
					<button class="btn btn-grad astro-MG2CNCJP tool" style="background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%)"
						data-toggle="collapse" data-target="#collapseExample4"
						aria-expanded="false" aria-controls="collapseExample">
						<i
											class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Advance Search<span class="tooltiptext tooltip-top2">Advance Search Button</span></button>

					<button class="btn btn-grad astro-MG2CNCJP advsearchbtn tool"style="background-image: linear-gradient(to right, #5237B3 0%, #5370C6 51%, #7740B9 100%);color:#fff;"
						data-color1="#F09819" data-color2="#EDDE5D;"
						data-toggle="collapse" data-target="#checkList"
						aria-expanded="false" aria-controls="collapseExample">
						</i>&nbsp;Table Column <span class="tooltiptext tooltip-top4">Table Column Button</span><i class="fa fa-angle-down" aria-hidden="true"></i></button>	
					
					
					<!--  <button class="btn btn-Primary" data-toggle="modal"
					ng-click="cCctr.gotoList2Page('addMonthlyChallan','addMonthlyChallan');">Add</button>-->
					<div class="text-right"></div>
				</div>
			</div>

			<!-- <div class="row" id="search">
				<div class="col-md-2" id="search">
					<button
						ng-click="cWctr.searchEntities(true,'form27QDeductee','form27QDeductee')"
						class="btn btn-success" onclick="scrollWin()">Search</button>
				</div>
			</div> -->


			<div class="row" id="hide"></div>

			<!-- 
			<div class="row mobile ipad-landscape" id="search">
				<div class="col-md-3" id="search">
					<button ng-click="cWctr.searchEntities(true,'form27QDeductee')"
						class="btn btn-success" onclick="scrollWin()">Search</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" ng-click="cWctr.gotoListPage('addForm27QDeductee','addForm27QDeductee');" onclick="scrollWin()">Add</button>
				</div>
			</div> -->
		</div>
	</div>

	<div style="float: right; margin-top: -13px"></div>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-md-3" style="margin-top: 5px"></div>
			<div class="text-right" style="width: 99%">

				<!-- <button type="button" class="btn btn-primary"
					ng-click="cCctr.gotoListPage('addForm27QDeductee','addForm27QDeductee');">Add</button> -->
			</div>
		</div>
	</div>

<table style="font-size: 12px; padding: 5px; margin: 5px;"class="collapse panel-collapse table table-bordered table-hover  table-striped" id="checkList">
  <tr>
   <td><button class="showAll"  for='selectAll'>Show All</button></td>
     <td><button class="removeAll"  for='selectAll'>Remove All</button></td>
    <td><input type="checkbox" name="amountPaid">Amount paid</td>
    <td><input type="checkbox" name="tds">TDS</td>
    <td><input type="checkbox" name="surcharge">Surcharge </td>
    <td><input type="checkbox" name="educationCess">Education cess</td>
    </tr>
 
  <tr>
   
    <td><input type="checkbox" name="totalTaxDed">Total Tax Deducted</td>
    <td><input type="checkbox" name="totalTaxDep">Total Tax Deposited</td>
     <td><input type="checkbox" name="certificateNo">CertificateNo </td>
    <td><input type="checkbox" name="remarkReason">remarkReason</td>
    <td><input type="checkbox" name="deducteeCode">DeducteeCode</td>
     <td><input type="checkbox" name="InterestOnLateDeduction">InterestOnLateDeduction</td>
  </tr>
 
   <tr>
   
    <td><input type="checkbox" name="rateAtWhitchDeductee">Rate At Whitch Deductee</td>
    <td><input type="checkbox" name="CW194N">CW194N</td>
      <td><input type="checkbox" name="CW194N20L">CW194N20L </td>
    <td><input type="checkbox" name="CW194N1CR">CW194N1CR</td>
    <td><input type="checkbox" name="grossingUp">grossingUp</td>
     <td><input type="checkbox" name="InterestOnLatePayment">InterestOnLatePayment </td>
  </tr>
  <tr>
  
    <td><input type="checkbox" name="tdsRate">tdsRate</td>
    <td><input type="checkbox" name="naturalRemittance">naturalRemittance</td>
    <td><input type="checkbox" name="uniqueKN">uniqueKN </td>
    <td><input type="checkbox" name="countryResidence">countryResidence</td>
    <td><input type="checkbox" name="emailId">Email ID of Deductee</td>
    <td><input type="checkbox" name="contactNo">contactNo</td>
  </tr>
  <tr>
    
    <td><input type="checkbox" name="address">address</td>
     <td><input type="checkbox" name="taxIdentification">taxIdentification </td>
   
    <td><input type="checkbox" name="ShortDeduction">ShortDeduction</td>
    <td><input type="checkbox" name="InterestOnShortDeduction">InterestOnShortDeduction</td>
  </tr>
</table>
	<div class="row">

		<div style="overflow-x: inherit; width:100%">

			<table class=" table table-bordered table-hover table-striped"
				role="table" style="font-size: 12px; padding: 5px; margin: 5px;">


				<thead>
				<colgroup>
					<col span="14" style="background-color: #ffffff">
				</colgroup>
				<tr>
				<thead role="rowgroup">
					<tr style="background-color: #81b7db; height: 40px">
						<th>Sr. No.</th>
							<th><div class="autoResizeQuarter">Quarter</div></th>
						<th><div class="autoResizeQuarter">Month</div></th>
						<th><div class="autoResizeQuarter">RO Code</div></th>
						<th><div class="autoResizeQuarter">Branch Code</div></th>
						<th><div class="autoResizeQuarter">Cust/Vend Id</div></th>
						<th><div class="autoResize">Unique Ref No</div></th>
						<th><div class="autoResize">Account Number</div></th>
						<th><div class="autoResize">Challan Heading</div></th>
						<th><div class="autoResize">Deductee Reference No</div></th>
						<th><div class="autoResize">PAN</div></th>
						<th><div class="autoResize">Name</div></th>
						<th><div class="autoResize">Section Code</div></th>
						<th><div class="autoResize">Date of Payment</div></th>
						<th><div class="autoResize">Date of Deduction</div></th>
						<th  class="hideClass amountPaid"><div class="autoResize">Amount paid</div></th>
						<th class="hideClass tds"><div class="autoResize">TDS</div></th>
						<th class="hideClass surcharge"><div class="autoResize">Surcharge</div></th>
						<th class="hideClass educationCess"><div class="autoResize">Education cess</div></th>
						<th class="hideClass totalTaxDed"><div class="autoResize">Total Tax Deducted</div></th>
						<th class="hideClass totalTaxDep"><div class="autoResize">Total Tax Deposited</div></th>
						<th class="hideClass certificateNo"><div class="autoResize">Certificate Number</div></th>
						<th class="hideClass remarkReason"><div class="autoResize">Remarks Reason</div></th>
						<th class="hideClass deducteeCode"><div class="autoResize">Deductee Code</div></th>
						<th class="hideClass rateAtWhitchDeductee"><div class="autoResize">Rate at which tax Deducted</div></th>
						<th class="hideClass CW194N"><div class="autoResize">Cash Withdrawl (194N)</div></th>
						<th class="hideClass CW194N20L"><div class="autoResize">Cash Withdrawl 194N(20L to 1cr)</div></th>
						<th class="hideClass CW194N1CR"><div class="autoResize">Cash Withdrawl 194N(>1cr</div></th>		
							<th class="hideClass grossingUp"><div class="autoResize">Grossing up Indicator</div></th>
						<th class="hideClass tdsRate"><div class="autoResize">TDS Rate As Per IT Acts</div></th>
						<th class="hideClass naturalRemittance"><div class="autoResize">Nature Of Remittance</div></th>
						<th class="hideClass uniqueKN"><div class="autoResize">Unique Knowledge No.</div></th>
						<th class="hideClass countryResidence"><div class="autoResize">Country of residence of the Deductee</div></th>
						<th class="hideClass emailId"><div class="autoResize">Email ID of Deductee</div></th>
						<th class="hideClass contactNo"><div class="autoResize">Contact Number of Deductee</div></th>
						<th class="hideClass address"><div class="autoResize">Address of Deductee in Country of Residence</div></th>
						<th class="hideClass taxIdentification"><div class="autoResize">Tax Identification Number</div></th>
						<th class=" errorDesc"><div class="autoResize">Error Description</div></th>
						<th class=" warningDesc"><div class="autoResize">Warning Description</div></th>
						<th class="hideClass ShortDeduction"><div class="autoResize">Short Deduction</div></th>
						<th class="hideClass InterestOnShortDeduction"><div class="autoResize">Interest on Short Deduction</div></th>
						<th class="hideClass InterestOnLatePayment"><div class="autoResize">Interest on Late Payment</div></th>
						<th class="hideClass InterestOnLateDeduction"><div class="autoResize">Interest on Late Deduction</div></th>
						<th>TAN</th>
						<th>Comments</th>
						<th >Status</th>
						<th >Action</th>
					</tr>
				</thead>
				<tbody>
					<tr style="color: red"
						ng-show="cCctr.getEntityListDataFY().length <= 0">
						<td colspan="22" style="text-align: center;"><b><h3
									style="text-align: center; text-align-last: 5;">No data
									found!!</h3></b></td>
						<td colspan="25" style="text-align: center;"><b><h3
									style="text-align: center; text-align-last: 5; margin-right: -100%;">
								</h3></b></td>
					</tr>
					<tr role="row"
						ng-repeat="a in ( filteredList =( cCctr.getEntityListDataFY()  ) )">
						<td  ng-if="a.resolved == 0">{{$index+1}}</td>
						<td style=" background-color:#ff3232" ng-if="a.resolved == 1" >{{$index+1}}</td>
					<td ng-if="a.resolved == 0">{{a.quarter}}</td>
						<td  style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.quarter}}</td>
						
						<td  ng-if="a.resolved == 0">{{a.month}}</td>
						<td  style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.month}}</td>
						
						<td ng-if="a.resolved == 0">{{a.roCode}}</td>
						<td style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.roCode}}</td>
						
						<td  ng-if="a.resolved == 0">{{a.branchCode}}</td>
						<td  style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.branchCode}}</td>
						
						<td   ng-if="a.resolved == 0">{{a.custVendId}}</td>
						<td   style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.custVendId}}</td>
						
						<td  ng-if="a.resolved == 0">{{a.uniqueRefNo}}</td>
						<td  style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.uniqueRefNo}}</td>
						
						<td  ng-if="a.resolved == 0">{{a.accNo}}</td>
						<td  style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.accNo}}</td>
						
						<td  class=" ellipsis " data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.challanHeading}}">{{a.challanHeading}}</td>
						<td class=" ellipsis " data-toggle="tooltip" ng-if="a.resolved == 1" style="background-color:#ff3232"
							data-placement="bottom" title="{{a.challanHeading}}">{{a.challanHeading}}</td>
								
						<td  ng-if="a.resolved == 0">{{a.deducteeRefNo}}</td>
						<td  style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.deducteeRefNo}}</td>
						
						<td c ng-if="a.resolved == 0">{{a.pan}}</td>
						<td  style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.pan}}</td>
						
						<td  data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.name}}">{{a.name}}</td>
						<td  data-toggle="tooltip" ng-if="a.resolved == 1" style="background-color:#ff3232"
							data-placement="bottom" title="{{a.name}}">{{a.name}}</td>
								
						<td  ng-if="a.resolved == 0">{{a.sectionCode}}</td>
						<td   style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.sectionCode}}</td>
						
						<td  ng-if="a.resolved == 0">{{a.dateOfPayment | date:'dd-MM-yyyy'}}</td>
						<td  style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.dateOfPayment | date:'dd-MM-yyyy'}}</td>
						
						<td  ng-if="a.resolved == 0">{{a.dateOfDeduction|
							date:'dd-MM-yyyy'}}</td>
						<td  style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.dateOfDeduction| 
							date:'dd-MM-yyyy'}}</td>
						
						<td class="hideClass amountPaid" ng-if="a.resolved == 0">{{a.amountPaid}}</td>
						<td class="hideClass amountPaid" style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.amountPaid}}</td>
						
						<td  class="hideClass tds" ng-if="a.resolved == 0">{{a.tds}}</td>
						<td class="hideClass tds" style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.tds}}</td>
						
						<td class="hideClass surcharge" ng-if="a.resolved == 0">{{a.surcharge}}</td>
						<td class="hideClass surcharge" style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.surcharge}}</td>
						
						<td class="hideClass educationCess" ng-if="a.resolved == 0">{{a.eduCess}}</td>
						<td class="hideClass educationCess" style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.eduCess}}</td>
						
						<td class="hideClass totalTaxDed" ng-if="a.resolved == 0">{{a.totalTaxDeducted}}</td>
						<td class="hideClass totalTaxDed" style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.totalTaxDeducted}}</td>
						
						<td class="hideClass totalTaxDep" ng-if="a.resolved == 0">{{a.totalTaxDeposited}}</td>
						<td class="hideClass totalTaxDep" style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.totalTaxDeposited}}</td>
						
						<td class="hideClass certificateNo"  ng-if="a.resolved == 0">{{a.certificateNumber}}</td>
						<td class="hideClass certificateNo" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.certificateNumber}}</td>
						
						<td class="hideClass remarkReason" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.remarksReason}}">{{a.remarksReason}}</td>
						<td class="hideClass remarkReason" data-toggle="tooltip" ng-if="a.resolved == 1" style="background-color:#ff3232"
							data-placement="bottom" title="{{a.remarksReason}}">{{a.remarksReason}}</td>
						
						<td class="hideClass deducteeCode" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.deducteeCode}}">{{a.deducteeCode}}</td>
						<td class="hideClass deducteeCode" data-toggle="tooltip" ng-if="a.resolved == 1" style="background-color:#ff3232"
							data-placement="bottom" title="{{a.deducteeCode}}">{{a.deducteeCode}}</td>
						
						<td  class="hideClass rateAtWhitchDeductee"  ng-if="a.resolved == 0">{{a.rateAtWhichTaxCollected}}</td>
						<td  class="hideClass rateAtWhitchDeductee" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.rateAtWhichTaxCollected}}</td>
							
						<td class="hideClass CW194N"  ng-if="a.resolved == 0">{{a.cashWithdrawal194N}}</td>
						<td  class="hideClass CW194N" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.cashWithdrawal194N}}</td>
						
						<td class="hideClass CW194N20L"  ng-if="a.resolved == 0">{{a.cashWithdrawal194N20Lto1Cr}}</td>
						<td class=" hideClass CW194N20L" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.cashWithdrawal194N20Lto1Cr}}</td>
						
						<td class="hideClass CW194N1CR "  ng-if="a.resolved == 0">{{a.cashWithdrawal194N1Cr}}</td>
						<td class="hideClass CW194N1CR" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.cashWithdrawal194N1Cr}}</td>
								
						<td class="hideClass grossingUp"  ng-if="a.resolved == 0">{{a.grossingUpIndicator}}</td>
						<td class="hideClass grossingUp" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.grossingUpIndicator}}</td>
						
						
						<td class="hideClass tdsRate"  ng-if="a.resolved == 0">{{a.tdsRateAsPerItActs}}</td>
						<td class="hideClass tdsRate" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.tdsRateAsPerItActs}}</td>
						
						<td class="hideClass naturalRemittance" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.natureOfRemittance}}">{{a.natureOfRemittance}}</td>
						<td class="hideClass naturalRemittance" data-toggle="tooltip" ng-if="a.resolved == 1" style="background-color:#ff3232"
							data-placement="bottom" title="{{a.natureOfRemittance}}">{{a.natureOfRemittance}}</td>
								
						<td class="hideClass uniqueKN"  ng-if="a.resolved == 0">{{a.uniqueAcknowledgeNo}}</td>
						<td class="hideClass uniqueKN" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.uniqueAcknowledgeNo}}</td>
						
						<td class="hideClass countryResidence"  ng-if="a.resolved == 0">{{a.countryOfResidence}}</td>
						<td class="hideClass countryResidence" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.countryOfResidence}}</td>
						
						<td class="hideClass emailId"  ng-if="a.resolved == 0">{{a.emailId}}</td>
						<td class="hideClass emailId" style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.emailId}}</td>
						
						<td class="hideClass contactNo"  ng-if="a.resolved == 0">{{a.contactNoOfDeductee}}</td>
						<td  class="hideClass contactNo" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.contactNoOfDeductee}}</td>
						
						<td class="hideClass address" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.addressOfDeductee}}">{{a.addressOfDeductee}}</td>
						<td class="hideClass address" data-toggle="tooltip" ng-if="a.resolved == 1" style="background-color:#ff3232"
							data-placement="bottom" title="{{a.addressOfDeductee}}">{{a.addressOfDeductee}}</td>
								
						<td class="hideClass taxIdentification"  ng-if="a.resolved == 0">{{a.taxIdentificationNo}}</td>
						<td class="hideClass taxIdentification" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.taxIdentificationNo}}</td>
						
						
						<td class="ellipsis  errorDesc" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.errorDescription}}">{{a.errorDescription}}</td>
						<td class="ellipsis  errorDesc" data-toggle="tooltip" ng-if="a.resolved == 1" style="background-color:#ff3232"
							data-placement="bottom" title="{{a.errorDescription}}">{{a.errorDescription}}</td>
								
						<td class="ellipsis  warningDesc" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.warningDescription}}">{{a.warningDescription}}</td>
						<td class="ellipsis  warningDesc" data-toggle="tooltip" ng-if="a.resolved == 1" style="background-color:#ff3232"
							data-placement="bottom" title="{{a.warningDescription}}">{{a.warningDescription}}</td>
								
						<td class=" ShortDeduction" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.ShortDeduction}}">{{a.ShortDeduction}}</td>
						<td class=" ShortDeduction" data-toggle="tooltip" ng-if="a.resolved == 1" style="background-color:#ff3232"
							data-placement="bottom" title="{{a.ShortDeduction}}">{{a.ShortDeduction}}</td>
								
						<td class="hideClass InterestOnShortDeduction"  ng-if="a.resolved == 0">{{a.InterestOnShortDeduction}}</td>
						<td class="hideClass InterestOnShortDeduction" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.InterestOnShortDeduction}}</td>
						
						<td  class="hideClass InterestOnLatePayment"  ng-if="a.resolved == 0">{{a.InterestOnLatePayment}}</td>
						<td  class="hideClass InterestOnLatePayment" style="width: 2%; background-color:#ff3232" ng-if="a.resolved == 1">{{a.InterestOnLatePayment}}</td>
						
						<td class=" hideClass InterestOnLateDeduction" ng-if="a.resolved == 0">{{a.InterestOnLateDeduction}}</td>
						<td class=" hideClass InterestOnLateDeduction" background-color:#ff3232" ng-if="a.resolved == 1">{{a.InterestOnLateDeduction}}</td>
						
						<td  ng-if="a.resolved == 0">{{a.TAN}}</td>
						<td style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.TAN}}</td>
						
						<td  ng-if="a.resolved == 0">{{a.comments}}</td>
						<td style=" background-color:#ff3232" ng-if="a.resolved == 1">{{a.comments}}</td>
						
						<div>
							<td ng-if="a.resolved == 0">Resolved</td>
							<td ng-if="a.resolved == 1" style="background-color:#ff3232">Not Resolved</td>
						</div>

						<!-- <div>
						<td ng-if="a.verify == 1"><i class="fa fa-check"
							aria-hidden="true" style="color: #5cb85c"></i></td>
						<td ng-if="a.verify == 0"><i class="fa fa-times"
							aria-hidden="true" style="color: #ff0000"></i></td>
					</div> -->
						<td ><a class="tool"
							ng-click="cCctr.gotoWFYDetailPage('form27QDeductee',a.id,'detailForm27QDeductee')"
							style="color: blue" onclick="scrollWin()"><img
								src="static\img\edit.png" width="22px" height="22px"
								alt="Details" style="margin-top: 5px; margin-bottom: 5px;" /><span class="tooltiptext tooltip-top5">Detail</span></a></td>
						<!-- <td>{{a.total-a.amountPaid}}</td> -->
					</tr>
				<tr>
							<th class="one" colspan="15" style="text-align: center; height: 40px" ng-init="ttl=0"><b>TOTAL</b></th>
							<td class="hideClass amountPaid"><b>{{filteredList | sumByKey:'amountPaid'  	| number : fractionSize}}</b></td>
							<td class="hideClass tds"><b>{{filteredList | sumByKey:'tds' 	| number : fractionSize}}</b></td>
							<td class="hideClass surcharge"><b>{{filteredList | sumByKey:'surcharge' 	| number : fractionSize}}</b></td>
							<td class="hideClass educationCess"><b>{{filteredList | sumByKey:'eduCess' 	| number : fractionSize}}</b></td>
							<td class="hideClass totalTaxDed" ><b>{{filteredList 	| sumByKey:'totalTaxDeducted' | number : fractionSize}}</b></td>
							<td class="hideClass totalTaxDep"><b>{{filteredList | sumByKey:'totalTaxDeposited'	| number : fractionSize}}</b></td>
							<td class="hideClass certificateNo"></td>
							<td class="hideClass remarkReason"></td>
							<td class="hideClass deducteeCode"></td>
							<td class="hideClass rateAtWhitchDeductee"></td>
							<td class="hideClass CW194N"><b>{{filteredList | sumByKey:'cashWithdrawal194N'  	| number : fractionSize}}</b></td>
							<td class="hideClass CW194N20L"><b>{{filteredList | sumByKey:'cashWithdrawal194N20Lto1Cr' 	| number : fractionSize}}</b></td>
							<td class="hideClass CW194N1CR"><b>{{filteredList | sumByKey:'cashWithdrawal194N1Cr' 	| number : fractionSize}}</b></td>
							<td class="hideClass grossingUp"></td>
							<td class="hideClass tdsRate"></td>
							<td class="hideClass naturalRemittance"></td>
							<td class="hideClass uniqueKN"></td>
							<td class="hideClass countryResidence"></td>
							<td class="hideClass emailId"></td>
							<td class="hideClass contactNo"></td>
							<td class="hideClass address"></td>
							<td class="hideClass taxIdentification"></td>
							<td class=" errorDesc"></td>
							<td class=" warningDesc"></td>
							<td class="hideClass ShortDeduction"><b>{{filteredList | sumByKey:'ShortDeduction' 	| number : fractionSize}}</b></td>
							<td class="hideClass InterestOnShortDeduction" ><b>{{filteredList 	| sumByKey:'InterestOnShortDeduction' | number : fractionSize}}</b></td>
							<td class="hideClass InterestOnLatePayment"><b>{{ttl=(filteredList | sumByKey:'InterestOnLatePayment'	| number : fractionSize)}}</b></td>
							<td class="hideClass InterestOnLateDeduction"><b>{{ttl=(filteredList | sumByKey:'InterestOnLateDeduction'	| number : fractionSize)}}</b></td>
							
						</tr>
				</tbody>
			</table>

		</div>

		<div class="row" ng-show="cCctr.getNoPages() > 0">
			<div class="row" align="center">
				<span ng-show="cCctr.currentPage != 1"> <a
					ng-click="cCctr.getPages(true,'form27QDeductee',cCctr.currentPage-1)"><strong>Previous</strong></a>
				</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>Displaying page &nbsp;<strong>{{cCctr.currentPage}}</strong>&nbsp;
					of &nbsp;<strong>{{cCctr.getNoPages()}}</strong>
					&nbsp;&nbsp;&nbsp;&nbsp; <span
					ng-show="cCctr.currentPage != cCctr.getNoPages()"> <a
						ng-click="cCctr.getPages(true,'form27QDeductee',cCctr.currentPage+1)"><strong>Next</strong></a>
				</span>
				</span>
			</div>
			<form role="form" name="gotoForm">
				<div class="row" align="center">
					<span>Go to</span> &nbsp;&nbsp;&nbsp; <input
						style="width: 70px; text-align: center;" type="number"
						name="pageNo" ng-model="cCctr.currentPage"
						ng-init="cCctr.pageNo=cCctr.currentPage" autocomplete="off"
						ng-min="1" min="1" max="{{cCctr.getNoPages()}}"
						ng-max="cCctr.getNoPages()" ng-required="true">
					&nbsp;&nbsp;&nbsp;
					<button style="height: 25px;"
						ng-click="gotoForm.submitted=true;cCctr.getPages(gotoForm.$valid,'form27QDeductee',cCctr.currentPage)"
						class="btn btn-primary">Go</button>
				</div>
				<div class="row" align="center">
					<span style="color: red"
						ng-show="gotoForm.submitted || gotoForm.pageNo.$dirty && gotoForm.pageNo.$invalid">
						<span class="error" ng-show="gotoForm.pageNo.$error.min">Page
							No. should not be less than 1.</span> <span class="error"
						ng-show="gotoForm.pageNo.$error.max">Page No. should not be
							greater than {{cCctr.getNoPages()}}.</span> <span class="error"
						ng-show="gotoForm.pageNo.$error.required">Please enter page
							number.</span>
					</span>
				</div>
			</form>
		</div>


	</div>
</div>


<script>
	$(document).ready(function() {
		$('th').tooltip({
			selector : '[data-toggle="tooltip"]'
		});
	});
</script>


<script>
$("input:checkbox:not(:checked)").each(function() {
	    var column = "table ." + $(this).attr("name");
   
  $(column).hide();
});

$("input:checkbox").click(function(){
    var column = "table ." + $(this).attr("name");
    $(column).toggle();
});

</script>
<script>
$(".selectAll").click(function() {
	$("input[type=checkbox]").prop("checked", $(this).prop("checked"));
});

$("input[type=checkbox]").click(function() {
	if (!$(this).prop("checked")) {
		$(".selectAll").prop("checked", false);
	}
});
</script>

<script>
$(".removeAll").click(function() {
	 $(".hideClass").hide();
});
</script>
<script>
$(".showAll").click(function() {
	 $(".hideClass").show();
});
</script>

<script>
$(function() {
	  $("table th").resizable({
	      handles: "e",
	      minWidth: 40,
	  });
	});
</script>
