<style>
@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

@media ( min-width : 300px) and (max-width: 700px) {
	.mobile {
		display: none;
	}
}

@media only screen and (min-width:700px) {
	.hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
		display: none;
	}
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width:
	1024px) {
	/* CSS */
	.mobile {
		display: none;
	}
}

th{
text-align:center;
}

.truncate {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width:5%;
        height:60px;
        
    }
    
    .ellipsis{
     max-width: 70px;
    min-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    }
</style>




<div id="page-wrapper" ng-controller="CommonController as cCctr">
	<div class="container-fluid">
		<div class="col-md-12 "
			style="padding-left: 0px; font-size: 12pxp; margin-top: 2%">
			<div class="heading">
				<strong>Form 27EQ Deductee Details</strong>
			</div>



		</div>

		<br>
		<button class="btn btn-primary hidden visible-xs" type="button"
		data-toggle="collapse" data-target="#collapseExample2"
		aria-expanded="false" aria-controls="collapseExample">Search</button>
	<div class="collapse dont-collapse-sm" id="collapseExample2">
		<div class="row">
			<div class="form-group">


				<div class="col-md-3">
				<h6>
					<b>Section Code</b>
					<h6>
						<input type="text" ng-model="cCctr.search.sectionCode"
							class="form-control" placeholder="Collection Code" style="width: 100%">
			</div>
				

				<div class="col-md-3">
					<h6>
						<b>PAN</b>
						<h6>
							<input type="text" ng-model="cCctr.search.pan"
								class="form-control" placeholder="PAN" style="width: 100%">
				</div>
			</div>
		</div>

		<div class=" collapse  panel-collapse" id="collapseExample4">
			
			<div class="row">
			<div class="col-md-3">
				<h6>
					<b>Name</b>
					<h6>
						<input type="text" ng-model="cCctr.search.name"
							class="form-control" placeholder="Name" style="width: 100%">
			</div>

			<div class="col-md-3">
				<h6>
					<b>Account Number</b>
					<h6>
						<input type="text" ng-model="cCctr.search.accNo"
							class="form-control" placeholder="Account Number" style="width: 100%">
			</div>

			<div class="col-md-3">
				<h6>
					<b>Vendor/Customer ID</b>
					<h6>
						<input type="text" ng-model="cCctr.search.custVendId"
							class="form-control" placeholder="Vendor/Customer ID" style="width: 100%">
			</div>
			<div class="col-md-3">
					<h6>
						<b>Status</b>
					</h6>
					<select ng-model="cCctr.search.resolved" class="form-control">
						<option value="">Status</option>
						<option value="false">Resolved</option>
						<option value="true">Not Resolved</option>
						
					</select>
				</div>
		</div>
		
		
		
		<div class="row">
			

			<div class="col-md-3">
				<h6>
					<b>Challan Heading</b>
					<h6>
						<input type="text" ng-model="cCctr.search.challanHeading"
						
							class="form-control" placeholder="Challan Heading" style="width: 100%">
			</div>

			<div class="col-md-3">
				<h6>
					<b> Error Description</b>
					<h6>
						<input type="text" ng-model="cCctr.search.errorDescription"
							
							class="form-control" placeholder=" Error Description" style="width: 100%">
			</div>
			<div class="col-md-3">
				<h6>
					<b>Warning Description</b>
					<h6>
						<input type="text" ng-model="cCctr.search.warningDescription"
							class="form-control" placeholder="Warning Description" style="width: 100%">
			</div>
			<div class="col-md-3">
						<h6>
							<b>RO Code</b>
							<h6>
								<input type="text" ng-model="cCctr.search.roCode"
									class="form-control" placeholder="RO Code" style="width: 100%">
					</div>

			
			
		</div>
		<div class="row">
					<div class="col-md-3">
					<h6>
						<b>Quarter</b>
						<h6>
							<select class="form-control"
								ng-model="cCctr.search.quarter" required>
								<option disabled value="">Select Quarter</option>
								<#list Quarter as quarter>
									<option value="${quarter}">${quarter}</option>
								</#list>
						</select>
				</div>
					<div class="col-md-3">
						<h6>
							<b>TAN</b>
							<h6>
								<input type="text" ng-model="cCctr.search.TAN"
									class="form-control" placeholder="TAN" style="width: 100%">
					</div>
					<div class="col-md-3">
						<button class="btn btn-primary " type="button"
							style="margin-top:14%"
							ng-click="cCctr.generateProcessExcel('apiform27EQDeductee/generateExcel/','regular27EQDeductee')">Export
							to Excel</button>
					</div>
				</div>
		
		
		
		
		</div>
		<div class="row text-right" id="hide">
					<div class="col-md-3" style="margin-left: 75%; margin-top: -45px">
						<button
					ng-click="cCctr.searchFYEntities(true,'form27EQDeductee','form27EQDeductee')"
					class="btn btn-success" onclick="scrollWin()" style="margin-top: 0px;">Search</button>
						<button class="btn btn-secondary" style="background-color: #FFA500"
						data-toggle="collapse" data-target="#collapseExample4"
						aria-expanded="false" aria-controls="collapseExample">
						Advance Search</button>

						<!--  <button class="btn btn-Primary" data-toggle="modal"
					ng-click="cCctr.gotoList2Page('addMonthlyChallan','addMonthlyChallan');">Add</button>-->
						<div class="text-right"></div>
					</div>
				</div>
		<!-- 	<div class="row" id="search">
				<div class="col-md-2" id="search">
					<button ng-click="cCctr.searchEntities(true,'form27EQDeductee','form27EQDeductee')"
						class="btn btn-success" onclick="scrollWin()">Search</button>
				</div>
			</div> -->


			<div class="row" id="hide">
				
			</div>


		<!-- 	<div class="row mobile ipad-landscape" id="search">
				<div class="col-md-3" id="search">
					<button ng-click="cCctr.searchEntities(true,'form27QEDeductee')" style="margin-left: -350%;margin-top: 30;"
						class="btn btn-success" onclick="scrollWin()" >Search</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" ng-click="cCctr.gotoListPage('addForm27QDeductee','addForm27QDeductee');" onclick="scrollWin()">Add</button>
				</div>
			</div> -->
		</div>
	</div>

		<div style="float: right; margin-top: -13px"></div>

		<div class="row">
			<div class="col-xs-12">
			<div class="col-md-3" style="margin-top:5px">
					
				</div>
				<div class="text-right">
					
					<!-- <button type="button" class="btn btn-primary"
						ng-click="cCctr.gotoListPage('addForm27EQDeductee','addForm27EQDeductee');">Add</button> -->
				</div>
			</div>
		</div>


		<div class="row">

			<div class="table-responsive" style="overflow-x:inherit;width:600%">

				<table class=" tables table-bordered table-hover table-striped"
					role="table"
					style="font-size: 12px; padding: 5px; margin: 5px;">


					<thead>
					<colgroup>
						<col span="14" style="background-color: #ffffff">
					</colgroup>
					<tr>
					<thead role="rowgroup">
						<tr style="background-color: #81b7db;height:40px">
							<th>Sr. No.</th>
						<th>Quarter</th>
						<th>Month</th>
						<th>RO Code</th>
						<th>Branch Code</th>
						<th>Cust/Vend Id</th>
						<th>Unique Ref No</th>
						<th>Account Number</th>
						<th>Challan Heading</th>
						<th>Deductee Reference No</th>
						<th style="width: 0.01%">PAN</th>
						<th style="width: 0.01%">Name</th>
						<th>Section Code</th>
						<th>Date of Payment</th>
						<th>Date of Deduction</th>
						<th>Amount Paid</th>
						<th>TDS</th>
						<th>Surcharge</th>
						<th>Education Cess</th>
						<th>Total Tax Deducted</th>
						<th>Total Tax Deposited</th>
						<th style="width: 0.01%">Certificate Number</th>
						<th>Remarks Reason</th>
						<th>Deductee Code</th>
						<th>Rate at which Tax Deducted</th>
						<th>Total Value of Purchase</th>
						<th style="width: 0.01%">Deductee is Non-Resident</th>
						<th style="width: 0.01%">Permanent Establishment</th>
						<th>Reason For NonCollection F or G</th>
						<th class=" ellipsis" data-toggle="tooltip"
							data-placement="bottom"
							title="if Answer to 681A is Yes Then Challan Number">if
							Answer to 681A is Yes Then Challan Number</th>
						<th class=" ellipsis" data-toggle="tooltip"
							data-placement="bottom"
							title="if Answer to 681A is Yes Then Date Of Payment Of TDS To
								Central Government">if
							Answer to 681A is Yes Then Date Of Payment Of TDS To Central
							Government</th>
						<th style="width: 0.01%">Error Description</th>
						<th style="width: 0.01%">Warning Description</th>
						<th style="width: 0.01%">Short Deduction</th>
						<th class=" ellipsis" data-toggle="tooltip"
							data-placement="bottom" title="Interest on Short Deduction">Interest
							on Short Deduction</th>
						<th class=" ellipsis" data-toggle="tooltip"
							data-placement="bottom" title="Interest on Late Payment">Interest
							on Late Payment</th>
						<th class=" ellipsis" data-toggle="tooltip"
							data-placement="bottom" title="Interest on Late Deduction">Interest
							on Late Deduction</th>
						<th>TAN</th>
						<th>Comments</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
			<tbody>
					<tr style="color: red" ng-show="cCctr.getEntityListDataFY().length <= 0">
                    	<td colspan="20" style="text-align: center;"><b><h3 style="text-align:center;text-align-last: 5;">No data
                    found!!</h3></b></td>
                    <td colspan="20" style="text-align: center;"><b><h3 style="text-align:center;text-align-last: 5;margin-right: -100%;">
                    </h3></b></td>
            </tr>
						<tr role="row"
							ng-repeat="a in ( filteredList =( cCctr.getEntityListDataFY()  ) )">
						<td ng-if="a.resolved == 0">{{$index+1}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 	1">{{$index+1}}</td>
						
						<td ng-if="a.resolved == 0">{{a.quarter}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.quarter}}</td>
						
						<td ng-if="a.resolved == 0">{{a.month}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.month}}</td>
						
						<td ng-if="a.resolved == 0">{{a.roCode}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.roCode}}</td>
						
						<td ng-if="a.resolved == 0">{{a.branchCode}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.branchCode}}</td>
						
						<td ng-if="a.resolved == 0">{{a.custVendId}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.custVendId}}</td>
						
						<td ng-if="a.resolved == 0">{{a.uniqueRefNo}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.uniqueRefNo}}</td>
						
						<td ng-if="a.resolved == 0">{{a.accNo}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.accNo}}</td>
						
						<td ng-if="a.resolved == 0">{{a.challanHeading}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.challanHeading}}</td>
						
						<td ng-if="a.resolved == 0">{{a.deducteeRefNo}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.deducteeRefNo}}</td>
						
						<td ng-if="a.resolved == 0">{{a.pan}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.pan}}</td>
						
						<td class=" ellipsis" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.name}}">{{a.name}}</td>
						<td class=" ellipsis" data-toggle="tooltip" style="background-color:#ff3232" ng-if="a.resolved == 1"
							data-placement="bottom" title="{{a.name}}">{{a.name}}</td>
							
						<td ng-if="a.resolved == 0">{{a.sectionCode}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.sectionCode}}</td>	
						
						<td ng-if="a.resolved == 0">{{a.dateOfPayment}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.dateOfPayment}}</td>
						
						<td ng-if="a.resolved == 0">{{a.dateOfDeduction| date:'dd-MM-yyyy'}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.dateOfDeduction| date:'dd-MM-yyyy'}}</td>
						
						<td ng-if="a.resolved == 0">{{a.amountPaid}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.amountPaid}}</td>
						
						<td ng-if="a.resolved == 0">{{a.tds}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.tds}}</td>
						
						<td ng-if="a.resolved == 0">{{a.surcharge}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.surcharge}}</td>
						
						<td ng-if="a.resolved == 0">{{a.eduCess}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.eduCess}}</td>
						
						<td ng-if="a.resolved == 0">{{a.totalTaxDeducted}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.totalTaxDeducted}}</td>
						
						<td ng-if="a.resolved == 0">{{a.totalTaxDeposited}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.totalTaxDeposited}}</td>
						
						<td class=" ellipsis" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.certificateNumber}}">{{a.certificateNumber}}</td>
						<td class=" ellipsis" data-toggle="tooltip" style="background-color:#ff3232" ng-if="a.resolved == 1"
							data-placement="bottom" title="{{a.certificateNumber}}">{{a.certificateNumber}}</td>
							
						<td class=" ellipsis" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.remarksReason}}">{{a.remarksReason}}</td>
						<td class=" ellipsis" data-toggle="tooltip" style="background-color:#ff3232" ng-if="a.resolved == 1"
							data-placement="bottom" title="{{a.remarksReason}}">{{a.remarksReason}}</td>
						
						<td ng-if="a.resolved == 0">{{a.deducteeCode}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.deducteeCode}}</td>
						
						<td ng-if="a.resolved == 0">{{a.rateatwhichTaxCollected}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.rateatwhichTaxCollected}}</td>
						
						<td ng-if="a.resolved == 0">{{a.totalValueofPurchase}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.totalValueofPurchase}}</td>
						
						<td class=" ellipsis" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.deducteeisNonResident}}">{{a.deducteeisNonResident}}</td>
						<td class=" ellipsis" data-toggle="tooltip" style="background-color:#ff3232" ng-if="a.resolved == 1"
							data-placement="bottom" title="{{a.deducteeisNonResident}}">{{a.deducteeisNonResident}}</td>
								
						<td class=" ellipsis" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.permanentEstablishment}}">{{a.permanentEstablishment}}</td>
						<td class=" ellipsis" data-toggle="tooltip" style="background-color:#ff3232" ng-if="a.resolved == 1"
							data-placement="bottom" title="{{a.permanentEstablishment}}">{{a.permanentEstablishment}}</td>
						
						<td class=" ellipsis" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.reasonForNonCollectionForG}}">{{a.reasonForNonCollectionForG}}</td>
						<td class=" ellipsis" data-toggle="tooltip" style="background-color:#ff3232" ng-if="a.resolved == 1"
							data-placement="bottom" title="{{a.reasonForNonCollectionForG}}">{{a.reasonForNonCollectionForG}}</td>	
						
						<td ng-if="a.resolved == 0">{{a.ifAnswerTo681AisyesthenChallanNumber}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.ifAnswerTo681AisyesthenChallanNumber}}</td>
						
						<td ng-if="a.resolved == 0">{{a.ifAnswerto681AisyesthenDateofpaymentofTDStoCentralGovernment|
							date:'dd-MM-yyyy'}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.ifAnswerto681AisyesthenDateofpaymentofTDStoCentralGovernment|
							date:'dd-MM-yyyy'}}</td>			
						
						<td class=" ellipsis" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.errorDescription}}">{{a.errorDescription}}</td>
						<td class=" ellipsis" data-toggle="tooltip" style="background-color:#ff3232" ng-if="a.resolved == 1"
							data-placement="bottom" title="{{a.errorDescription}}">{{a.errorDescription}}</td>	
						
						<td class=" ellipsis" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.warningDescription}}">{{a.warningDescription}}</td>
						<td class=" ellipsis" data-toggle="tooltip" style="background-color:#ff3232" ng-if="a.resolved == 1"
							data-placement="bottom" title="{{a.warningDescription}}">{{a.warningDescription}}</td>
								
						<td class=" ellipsis" data-toggle="tooltip" ng-if="a.resolved == 0"
							data-placement="bottom" title="{{a.ShortDeduction}}">{{a.ShortDeduction}}</td>
						<td class=" ellipsis" data-toggle="tooltip" style="background-color:#ff3232" ng-if="a.resolved == 1"
							data-placement="bottom" title="{{a.ShortDeduction}}">{{a.ShortDeduction}}</td>
								
						<td ng-if="a.resolved == 0">{{a.InterestOnShortDeduction}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.InterestOnShortDeduction}}</td>
						
						<td ng-if="a.resolved == 0">{{a.InterestOnLatePayment}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.InterestOnLatePayment}}</td>
						
						<td ng-if="a.resolved == 0">{{a.InterestOnLatePayment}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.InterestOnLateDeduction}}</td>
						
						<td ng-if="a.resolved == 0">{{a.TAN}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.TAN}}</td>
						
						<td ng-if="a.resolved == 0">{{a.comments}}</td>
						<td style="background-color:#ff3232" ng-if="a.resolved == 1">{{a.comments}}</td>
						
						<div>
							<td ng-if="a.resolved == 0">Resolved</td>
							<td ng-if="a.resolved == 1" style="background-color:#ff3232">Not Resolved</td>
						</div>

							<!-- <div>
								<td ng-if="a.verify == 1"><i class="fa fa-check"
									aria-hidden="true" style="color: #5cb85c"></i></td>
								<td ng-if="a.verify == 0"><i class="fa fa-times"
									aria-hidden="true" style="color: #ff0000"></i></td>
							</div> -->
							<td style="width:2%"><a
						ng-click="cCctr.gotoWFYDetailPage('form27EQDeductee',a.id,'detailForm27EQDeductee')"
						style="color: blue" onclick="scrollWin()"><img
							src="static\img\edit.png" width="22px" height="22px"
							alt="Details" style="margin-top: 5px; margin-bottom: 5px;" /></a></td>
							<!-- <td>{{a.total-a.amountPaid}}</td> -->
						</tr>
						<tr>
							<th class="one" colspan="15" style="text-align: center; height: 40px" ng-init="ttl=0"><b>TOTAL</b></th>
							<td class="one"><b>{{filteredList | sumByKey:'amountPaid'  	| number : fractionSize}}</b></td>
							<td class="one"><b>{{filteredList | sumByKey:'tds' 	| number : fractionSize}}</b></td>
							<td class="one"><b>{{filteredList | sumByKey:'surcharge' 	| number : fractionSize}}</b></td>
							<td class="one"><b>{{filteredList | sumByKey:'eduCess' 	| number : fractionSize}}</b></td>
							<td class="one" ><b>{{filteredList 	| sumByKey:'totalTaxDeducted' | number : fractionSize}}</b></td>
							<td class="one"><b>{{ttl=(filteredList | sumByKey:'totalTaxDeposited'	| number : fractionSize)}}</b></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="one"><b>{{filteredList | sumByKey:'totalValueofPurchase'  | number : fractionSize}}</b></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="one"><b>{{filteredList | sumByKey:'ShortDeduction' 	| number : fractionSize}}</b></td>
							<td class="one"><b>{{filteredList | sumByKey:'InterestOnShortDeduction' 	| number : fractionSize}}</b></td>
							<td class="one"><b>{{filteredList | sumByKey:'InterestOnLatePayment' 	| number : fractionSize}}</b></td>
							<td class="one" ><b>{{filteredList 	| sumByKey:'InterestOnLateDeduction' | number : fractionSize}}</b></td>
						</tr>
					</tbody>
				</table>

			</div>

			<div class="row" ng-show="cCctr.getNoPages() > 0">
				<div class="row" align="center">
					<span ng-show="cCctr.currentPage != 1"> <a
						ng-click="cCctr.getPages(true,'form27EQDeductee',cCctr.currentPage-1)"><strong>Previous</strong></a>
					</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>Displaying page &nbsp;<strong>{{cCctr.currentPage}}</strong>&nbsp;
						of &nbsp;<strong>{{cCctr.getNoPages()}}</strong>
						&nbsp;&nbsp;&nbsp;&nbsp; <span
						ng-show="cCctr.currentPage != cCctr.getNoPages()"> <a
							ng-click="cCctr.getPages(true,'form27EQDeductee',cCctr.currentPage+1)"><strong>Next</strong></a>
					</span>
					</span>
				</div>
				<form role="form" name="gotoForm">
					<div class="row" align="center">
						<span>Go to</span> &nbsp;&nbsp;&nbsp; <input
							style="width: 70px; text-align: center;" type="number"
							name="pageNo" ng-model="cCctr.currentPage"
							ng-init="cCctr.pageNo=cCctr.currentPage" autocomplete="off"
							ng-min="1" ng-max="cCctr.getNoPages()" ng-required="true">
						&nbsp;&nbsp;&nbsp;
						<button style="height: 25px;"
							ng-click="gotoForm.submitted=true;cCctr.getPages(gotoForm.$valid,'form27EQDeductee',cCctr.currentPage)"
							class="btn btn-primary">Go</button>
					</div>
					<div class="row" align="center">
						<span style="color: red"
							ng-show="gotoForm.submitted || gotoForm.pageNo.$dirty && gotoForm.pageNo.$invalid">
							<span class="error" ng-show="gotoForm.pageNo.$error.min">Page
								No. should not be less than 1.</span> <span class="error"
							ng-show="gotoForm.pageNo.$error.max">Page No. should not
								be greater than {{cCctr.getNoPages()}}.</span> <span class="error"
							ng-show="gotoForm.pageNo.$error.required">Please enter
								page number.</span>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>