<style>
@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>




<div id="page-wrapper">
	<div class="container-fluid">
		<div class="col-md-12 "
			style="padding-left: 0px; font-size: 12pxp; margin-top: 2%">
			<div class="heading">Form 24Q Salary Detail</div>



		</div>


		<br>
		<button class="btn btn-primary hidden visible-xs" type="button"
			data-toggle="collapse" data-target="#collapseExample3"
			aria-expanded="false" aria-controls="collapseExample">
			Search</button>
		<div class="collapse dont-collapse-sm" id="collapseExample3">
			<div class="row">
				<div class="form-group">


					<div class="col-md-2">
						<h6>
							<b>Financial Year</b>
						</h6>
						<select class="form-control" ng-model="cCctr.search.fy">
							<option value=" " ng-selected="true">Financial Year</option>
							<option value="201819">201920</option>
							<option value="201819">201819</option>
							<option value="201718">201718</option>
							<option value="201617">201617</option>
							<option value="201516">201516</option>
							<option value="201415">201415</option>
							<option value="201314">201314</option>
							<option value="201213">201213</option>
							<option value="201112">201112</option>
							<option value="201011">201011</option>
							<option value="200910">200910</option>
							<option value="200809">200809</option>
							<option value="200709">200709</option>
						</select>
					</div>

					<div class="col-md-2">
						<h6>
							<b>Quarter</b>

							<h6>
								<select class="form-control" ng-model="cCctr.search.quarter">
									<option value=" " ng-selected="true">Quarter</option>
									<option value="Q1">Q1</option>
									<option value="Q2">Q2</option>
									<option value="Q3">Q3</option>
									<option value="Q4">Q4</option>
								</select>
					</div>

					<div class="col-md-2">
						<h6>
							<b>Pan</b>
							<h6>
								<input type="text" ng-model="cCctr.search.pan"
									class="form-control" placeholder="Pan" style="width: 100%">
					</div>
                    <div class="col-md-2">
						<h6>
							<b>Name</b>
							<h6>
								<input type="text" ng-model="cCctr.search.name"
									class="form-control" placeholder="Pan" style="width: 100%">
					</div>

					


				</div>


			</div>

			<div class="row" id="hide">
				<div class="col-md-3" style="margin-left: 85%; margin-top: -70px">
					<button ng-click="cCctr.searchEntities(true,'form24Qsalary')"
						class="btn btn-success">Search</button>
					<button type="button" class="btn btn-primary">Add</button>
				</div>

				<div class="row">
					<div class="col-md-3" id="search">
						<button ng-click="cCctr.searchEntities(true,'form24Qsalary')"
							class="btn btn-success">Search</button>
						<button type="button" class="btn btn-primary">Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="table-responsive">

			<table class="  table-bordered table-hover table-striped"
				role="table"
				style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">


				<thead>
				<colgroup>
					<col span="14" style="background-color: #ffffff">
				</colgroup>
				<tr>
				<thead role="rowgroup">
					<tr role="row" style="height: 40px; background-color: #81b7db">
						<th width="10%">Sr. No.</th>
						<th width="10%">Pan</th>
						<th width="10%">Pan Ref. No.</th>
						<th width="10%">Name</th>
						<th width="10%">Category</th>
						<th width="10%">From Date of Employment</th>
						<th width="10%">To Date of Employment</th>
						<th width="10%">Gross Salary As PerProvision</th>
						<th width="10%">Value Of Perquisites</th>
						<th width="10%">Profit InSalary</th>
						<th width="10%">Taxable Salary From Current Emp</th>
						<th width="10%">Reported Salary From Other Emp</th>
						<th width="10%">Total Amount Of Salary</th>
						<th width="10%">Leave Travel Allowance</th>
						<th width="10%">Gratuity</th>

						<th width="10%">Commuted Value Of Pension</th>
						<th width="10%">Leave Encashment Salary</th>
						<th width="10%">HouseRent Allowance</th>
						<th width="10%">Any Other Exemptionus10</th>
						<th width="10%">Total Amount Of Exemption</th>
						<th width="10%">Entertainment Allowance</th>
						<th width="10%">PTax</th>
						<th width="10%">Standard Deduction</th>
						<th width="10%">Total Deduction Under Section16</th>
						<th width="10%">Income From Salary</th>
						<th width="10%">Income From House Property</th>
						<th width="10%">Income From Other Sources</th>
						<th width="10%">Gross Total Income</th>
						<th width="10%">Deduction Us80C</th>
						<th width="10%">Deduction Us80CCC</th>
						<th width="10%">Deduction Us80CCD1</th>
						<th width="10%">Deduction Us80C80CCC80CCD1</th>
						<th width="10%">Deduction Us80CCD1B</th>
						<th width="10%">Deduction Us80CCD2</th>
						<th width="10%">Deduction Us80D</th>
						<th width="10%">Deduction Us80E</th>
						<th width="10%">Deduction Us80G</th>
						<th width="10%">Deduction Us80TTA</th>
						<th width="10%">Amount Deductible80ccg</th>
						<th width="10%">Any Other Deduction</th>
						<th width="10%">Total Deduction UnderChapterVIA</th>
						<th width="10%">Total Taxable Income</th>
						<th width="10%">Income Tax On Total Income</th>
						<th width="10%">Rebate Us87A</th>
						<th width="10%">Surcharge</th>
						<th width="10%">Education Cess</th>
						<th width="10%">Income Tax ReliefUs89</th>
						<th width="10%">Net Income Tax Payable</th>
						<th width="10%">Tds From Current Employer</th>
						<th width="10%">Reported Tds From Previous Employer</th>
						<th width="10%">Total Tds</th>
						<th width="10%">Short fall In Tax Deduction</th>
						<th width="10%">Whether Tax Deducted At Higher Rate</th>
						<th width="10%">Count Of Pan Of Lender</th>
						<th width="10%">Pan Of Landlord1</th>
						<th width="10%">Name Of Landlord1</th>
						<th width="10%">Pan Of Landlord2</th>
						<th width="10%">Name Of Landlord2</th>
						<th width="10%">Pan Of Landlord3</th>
						<th width="10%">Name Of Landlord3</th>
						<th width="10%">Pan Of Landlord4</th>
						<th width="10%">Name Of Landlord4</th>
						<th width="10%">Whether Interest Paid To Be Lender</th>
						<th width="10%">Count Of Pan Of Lender</th>
						<th width="10%">Pan Of Lender1</th>
						<th width="10%">Name Of Lender1</th>
						<th width="10%">Pan Of Lender2</th>
						<th width="10%">Name Of Lender2</th>
						<th width="10%">Pan Of Lender3</th>
						<th width="10%">Name Of Lender3</th>
						<th width="10%">Pan Of Lender4</th>
						<th width="10%">Name Of Lender4</th>
						<th width="10%">Contribution Paid By Trustees</th>

						<th width="10%">Super annuationFund FromDate</th>
						<th width="10%">Super annuationFund ToDate</th>
						<th width="10%">Contribution Super annuationFund</th>
						<th width="10%">Average Rate Of Deduction</th>
						<th width="10%">Tax Deducted Of Super annuationFund</th>
						<th width="10%">Gross Total Income including Contribution</th>
						
						<th width="10%">Short Deduction</th>
						<th width="10%">Interest On Short Deduction</th>
						<th width="10%">FY</th>
						<th width="10%">Quarter</th>
						<th width="10%">Action</th>


					</tr>
				</thead>
				<tbody>
					<tr role="row"
						ng-repeat="a in cCctr.getEntityListData() track by a.id">
						<td role="cell" class="one" style="padding: 5px">{{$index+1}}</td>
						<td>{{a.pan}}</td>
						<td>{{a.panRefNo}}</td>
						<td>{{a.name}}</td>
						<td>{{a.category}}</td>
						<td>{{a.fromDateOfEmployment| date:'dd-MM-yyyy'}}</td>
						<td>{{a.toDateOfEmployment| date:'dd-MM-yyyy'}}</td>
						<td>{{a.grossSalaryAsPerProvision}}</td>
						<td>{{a.valueOfPerquisites}}</td>
						<td>{{a.profitInSalary}}</td>
						<td>{{a.taxableSalaryFromCurrentEmp}}</td>
						<td>{{a.reportedSalaryFromOtherEmp}}</td>
						<td>{{a.totalAmountOfSalary}}</td>
						<td>{{a.leaveTravelAllowance}}</td>
						<td>{{a.gratuity}}</td>
						<td>{{a.commutedValueOfPension}}</td>
						<td>{{a.leaveEncashmentSalary}}</td>
						<td>{{a.houseRentAllowance}}</td>
						<td>{{a.anyOtherExemptionus10}}</td>
						<td>{{a.totalAmountOfExemption}}</td>
						<td>{{a.entertainmentAllowance}}</td>
						<td>{{a.pTax}}</td>
						<td>{{a.standardDeduction}}</td>
						<td>{{a.totalDeductionUnderSection16}}</td>
						<td>{{a.incomeFromSalary}}</td>
						<td>{{a.incomeFromHouseProperty}}</td>
						<td>{{a.incomeFromOtherSources}}</td>
						<td>{{a.grossTotalIncome}}</td>
						<td>{{a.deductionUs80C}}</td>
						<td>{{a.deductionUs80CCC}}</td>
						<td>{{a.deductionUs80CCD1}}</td>
						<td>{{a.deductionUs80C80CCC80CCD1}}</td>
						<td>{{a.deductionUs80CCD1B}}</td>
						<td>{{a.deductionUs80CCD2}}</td>
						<td>{{a.deductionUs80D}}</td>
						<td>{{a.deductionUs80E}}</td>
						<td>{{a.deductionUs80G}}</td>
						<td>{{a.deductionUs80TTA}}</td>
						<td>{{a.amountDeductible80ccg}}</td>
						<td>{{a.anyOtherDeduction}}</td>
						<td>{{a.totalDeductionUnderChapterVIA}}</td>
						<td>{{a.totalTaxableIncome}}</td>
						<td>{{a.incomeTaxOnTotalIncome}}</td>
						<td>{{a.rebateUs87A}}</td>
						<td>{{a.surcharge}}</td>
						<td>{{a.educationCess}}</td>
						<td>{{a.incomeTaxReliefUs89}}</td>
						<td>{{a.netIncomeTaxPayable}}</td>
						<td>{{a.tdsFromCurrentEmployer}}</td>
						<td>{{a.reportedTdsFromPreviousEmployer}}</td>
						<td>{{a.totalTds}}</td>
						<td>{{a.shortfallInTaxDeduction}}</td>
						<td>{{a.whetherTaxDeductedAtHigherRate}}</td>
						<td>{{a.countOfPanOfLandlord}}</td>
						<td>{{a.panOfLandlord1}}</td>
						<td>{{a.nameOfLandlord1}}</td>
						<td>{{a.panOfLandlord2}}</td>
						<td>{{a.nameOfLandlord2}}</td>
						<td>{{a.panOfLandlord3}}</td>
						<td>{{a.nameOfLandlord3}}</td>
						<td>{{a.panOfLandlord4}}</td>
						<td>{{a.nameOfLandlord4}}</td>
						<td>{{a.whetherInterestPaidToBeLender}}</td>
						<td>{{a.countOfPanOfLender}}</td>
						<td>{{a.panOfLender1}}</td>
						<td>{{a.nameOfLender1}}</td>
						<td>{{a.panOfLender2}}</td>
						<td>{{a.nameOfLender2}}</td>
						<td>{{a.panOfLender3}}</td>
						<td>{{a.nameOfLender3}}</td>
						<td>{{a.panOfLender4}}</td>
						<td>{{a.nameOfLender4}}</td>
						<td>{{a.contributionPaidByTrustees}}</td>

						<td>{{a.SuperannuationFundFromDate| date:'dd-MM-yyyy'}}</td>
						<td>{{a.SuperannuationFundToDate| date:'dd-MM-yyyy'}}</td>
						<td>{{a.contributionSuperannuationFund}}</td>
						<td>{{a.averageRateOfDeduction}}</td>
						<td>{{a.taxDeductedOfSuperannuationFund}}</td>
						<td>{{a.grossTotalIncomeincludingContribution}}</td>
						
						<td>{{a.shortDeduction}}</td>
						<td>{{a.interestOnShortDeduction}}</td>
						<td>{{a.fy}}</td>
						<td>{{a.quarter}}</td>
						<td><a ng-click="cCctr.gotoDetailPage('form24Qsalary',a.id,'detailForm24Q4')" style="color: blue">Details</a></td>

						<!-- <td>{{a.total-a.amountPaid}}</td> -->

					</tr>

				</tbody>
			</table>
		</div>

	</div>


</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a small modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>