<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
@media only screen and (max-width: 1000px) {
	.one {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.two {
		padding: 8px;
	}
}

@media only screen and (min-width:600px) {
	#three {
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

@media ( min-width : 300px) and (max-width: 700px) {
	.mobile {
		display: none;
	}
}

@media only screen and (min-width:700px) {
	.hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
		display: none;
	}
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width:
	1024px) {
	/* CSS */
	.mobile {
		display: none;
	}
}

th {
	text-align: center;
}

.truncate {
	display: block;
	white-space: nowrap;
	
	overflow: hidden;
	width: 5%;
	height: 60px;
}

/* . {
	max-width: 70px;
	min-width: 200px;
	text-overflow: ;
	overflow: hidden;
	white-space: nowrap;
} */
.btn-grad {
	background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	padding: 8px;
}

.btn-grad:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

/*Refresh Button  */
.tooltip-top {
 bottom: 83%;
  margin-left:-9%;
}
/*Search Button  */
.tooltip-top1 {
 bottom: 116%;
margin-left: -29%;
}
/*Advance Search Button  */
.tooltip-top2 {
 bottom: 116%;
margin-left: -57%;
}
/*Export to Excel Button  */
.tooltip-top3 {
 bottom: 108%;
margin-left: -192%;
}
/*Table Coloumn Button */
.tooltip-top4{
 bottom: 116%;
margin-left: -47%;
}

/*Detail Page Button */
.tooltip-top5{
margin-left: -6%;
}
</style>
</head>
<body>
	<div id="page-wrapper" ng-controller="CommonController as cCctr">
		<div class="container-fluid">
	<!-- 	<button class="btn btn-grad astro-MG2CNCJP tool" data-toggle="modal"
					style="background-image: linear-gradient(to right, #5237B3 0%, #5370C6 51%, #7740B9 100%);float: right;"
					 onClick="refreshPageButton()"><i
					class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh<span class="tooltiptext tooltip-top">Refresh or Press F5</span></button> -->
			<div class="col-md-12 "
				style="padding-left: 0px; font-size: 12pxp; margin-top: 1%">
				<div class="heading">
					<strong>Form 15G</strong>
				</div>



			</div>


			<br>
			<button class="btn btn-primary hidden visible-xs" type="button"
				data-toggle="collapse" data-target="#collapseExample2"
				aria-expanded="false" aria-controls="collapseExample">Search</button>
			<div class="collapse dont-collapse-sm" id="collapseExample2">
				<div class="row">
					<div class="form-group">

<div class="col-md-3">
							<h6>
								<b>Account No</b>
								<h6>
									<input type="text" ng-model="cCctr.search.accNo"
										class="form-control" placeholder="Account No"
										style="width: 100%">
						</div>
						
						<div class="col-md-3">
							<h6>
								<b>PAN</b>
								<h6>
									<input type="text" ng-model="cCctr.search.panoftheAssessee"
										class="form-control" placeholder="PAN" style="width: 100%">
						</div>
						<div class="col-md-3">
							<h6>
								<b>Customer / Vendor No</b>
								<h6>
									<input type="text" ng-model="cCctr.search.custVendId"
										class="form-control" placeholder="Customer / Vendor No"
										style="width: 100%">
						</div>
						

					</div>
				</div>

				<div class=" collapse  panel-collapse" id="collapseExample4">

					<div class="row">
						
						
						<div class="col-md-3">
							<h6>
								<b>Name Of Assessee Declarant</b>
								<h6>
									<input type="text"
										ng-model="cCctr.search.nameofAssesseeDeclarant"
										class="form-control" placeholder="Name" style="width: 100%">
						</div>


						<!-- <div class="col-md-3">
							<h6>
								<b> Error</b>
								<h6>
									<input type="text" ng-model="cCctr.search.error"
										class="form-control" placeholder="Error" style="width: 100%">
						</div> -->
						<div class="col-md-3">
							<h6>
								<b>Warning</b>
								<h6>
									<input type="text" ng-model="cCctr.search.warning"
										class="form-control" placeholder="Warning" style="width: 100%">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="col-md-3">
								<button class="btn btn-grad astro-MG2CNCJP tool" type="button"
									style="margin-top: 11%;background-image: linear-gradient(to right, #517fa4 0%, #243949  51%, #517fa4  100%);"
									ng-click="cCctr.generateProcessExcel('apiform15G/generateExcel/','G15')">Export
									to Excel<span class="tooltiptext tooltip-top3">Export Excel Button</span></button>
							</div>

						</div>
					</div>
				</div>
			<!-- 	<div class="row text-right" id="hide">
					<div class="col-md-3" style="margin-left: 60%; margin-top: -44px;display:ruby">
						<button
							ng-click="cCctr.searchFYEntities(true,'form15G','form15G')"
							style="background-image: linear-gradient(to right, #093028 0%, #237A57  51%, #093028  100%)"
							class="btn btn-grad astro-MG2CNCJP tool" onclick="scrollWin()"><i class="fa fa-search" aria-hidden="true"></i>
							Search<span class="tooltiptext tooltip-top1">Search Button</span></button>
						<button class="btn btn-grad astro-MG2CNCJP tool"
							style="background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%)" data-toggle="collapse"
							data-target="#collapseExample4" aria-expanded="false"
							aria-controls="collapseExample"><i
											class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Advance Search<span class="tooltiptext tooltip-top2">Advance Search Button</span></button>
					<button class="btn btn-grad astro-MG2CNCJP advsearchbtn tool"style="background-image: linear-gradient(to right, #5237B3 0%, #5370C6 51%, #7740B9 100%);color:#fff;"
						data-color1="#F09819" data-color2="#EDDE5D;"
						data-toggle="collapse" data-target="#checkList"
						aria-expanded="false" aria-controls="collapseExample">
						</i>&nbsp;Table Column <span class="tooltiptext tooltip-top4">Table Column Button</span>	<i class="fa fa-angle-down" aria-hidden="true"></i></button>	
					
					</div>
					<div class="col-md-3">
						<div class="text-right"></div>
					</div>
				</div> -->
				
				
				<div style="right: 3%; position: absolute; gap: 20px;margin-top:-3%;display:flex"
		class="">


		<button 	ng-click="cCctr.searchFYEntities(true,'form15G','form15G')"
			class="btn btn-success mobile tool" onclick="scrollWin()">
			<i class="fa fa-search border-0 p-0"
				style="color: inherit; background-color: transparent;font-size: large;"></i>
		<span class="tooltiptext tooltip-top">Search Button</span> </button>

		<button class="btn btn-primary mobile collapsed tool"
			style="background-color: #FFA500; border-color: #FFA500;"
			data-toggle="collapse" data-target="#collapseExample4"
			aria-expanded="false" data-parent="#navaccordion"
			aria-controls="collapseExample">
			<i class="fa fa-filter border-0 p-0"
				style="color: #fff; background-color: transparent;font-size: large;"></i>
		<span class="tooltiptext tooltip-top1">Advance Search Button</span></button>

		<button class="btn btn-primary mobile tool" data-toggle="collapse" data-target="#checkList"
						aria-expanded="false" aria-controls="collapseExample"
			data-target="#bd-example-modal-xl">
			<i class="fa fa-table border-0 p-0"
				style="color: inherit; background-color: transparent;font-size: large;"></i>
		<span class="tooltiptext tooltip-top2">Table Column Button</span></button> 
		
	

	</div>
				
			</div>
		</div>

		<div style="float: right; margin-top: -13px"></div>

		<div class="row"></div>
<table style="font-size: 12px; padding: 5px; margin: 5px;"
			class="collapse panel-collapse table table-bordered table-hover  table-striped"
			id="checkList">
			<tr>

				<td><button class="showAll"  for='selectAll'>Show All</button></td>
				 <td><button class="removeAll"  for='selectAll'>Remove All</button></td>
				<td><input type="checkbox" name="amountIncome">Amount of income</td>
				<td><input type="checkbox" name="aadharNo">Aadhaar Number</td>
				<td><input type="checkbox" name="branchCode">Branch Code</td>
				<td><input type="checkbox" name="tanNo">Tan No</td>
			</tr>
			<tr>
				<td><input type="checkbox" name="uniqueRefNo">Unique Reference No</td>
				<td><input type="checkbox" name="uniqueIdeNo">Unique Identification No</td>
				<td><input type="checkbox" name="ideNumber">Identification number of relevant investment/account, etc.</td>
				<td><input type="checkbox" name="naturOfIncome">Nature of income</td>
				<td><input type="checkbox" name="sectionUnder">Section under which tax is deductible</td>

			</tr>
			<tr>
				<td><input type="checkbox" name="incomeDeclarationMade">Estimated income for which this declaration is made</td>
				<td><input type="checkbox" name="totalIncomeOfPY">Estimated total income of the P.Y.</td>
				<td><input type="checkbox" name="amtIncomeForForm15GFilled">Aggregate amount of income for which Form No.15G filed</td>
				<td><input type="checkbox" name="amountOfIncomePaid">Amount of income paid</td>
				<td><input type="checkbox" name="dateDeclarationReceived">Date on which Declaration is received</td>
			</tr>

		</table>
		<div class="row">
			<div class="table-responsive"
				style="overflow-x: inherit;">
				<!-- 	<div class="col-md-12" style="margin-left:-30px"> -->
				<table class=" tables table-bordered table-hover  table-striped"
					role="table" style="font-size: 12px; padding: 5px; margin: 5px;">

					<thead>
					<colgroup>
						<col span="14" style="background-color: #ffffff">
					</colgroup>
					<tr>
					<thead"rowgroup">
						<tr role="row" style="background-color: #81b7db; height: 40px">
							<th>Sr. No.</th>
							<th><div class="autoResizeQuarter">Quarter</div></th>
							<th><div class="autoResizeQuarter">Month</div></th>
							<th class="custNo"><div class="autoResizeQuarter">Customer/Vendor Id</div></th>
							<th class="accNo"><div class="autoResizeQuarter">Account No</div></th>
							<th class="hideClass branchCode"><div class="autoResizeQuarter">Branch Code</div></th>
							<th class="hideClass tanNo"><div class="autoResizeQuarter">Tan No</div></th>
							<th class="hideClass uniqueRefNo"><div class="autoResizeQuarter">Unique Reference No</div></th>
							
							<th class="hideClass uniqueIdeNo " data-toggle="tooltip"
								data-placement="bottom" title="Unique Identification No"><div
									class="autoResizeQuarter">Unique Identification No</div></th>
							<th class="hideClass ideNumber " data-toggle="tooltip"
								data-placement="bottom"
								title="Identification number of relevant investment/account, etc."><div
									class="autoResizeQuarter">Identification number of
									relevant investment/account, etc.</div></th>
							<th class="hideClass naturOfIncome"><div class="autoResizeQuarter">Nature
									of income</div></th>
							<th class="hideClass sectionUnder  " data-toggle="tooltip"
								data-placement="bottom"
								title="Section under which tax is deductible"><div
									class="autoResizeQuarter">Section under which tax is
									deductible</div></th>
							<th class="hideClass amountIncome"><div class="autoResizeQuarter">Amount
									of income</div></th>
							<th class="nameOfAssessee"><div class="autoResizeQuarter">Name
									of Assessee (Declarant)</div></th>
							<th class="panOfAssessee"><div class="autoResizeQuarter">PAN
									of the Assessee</div></th>
							<th class="hideClass aadharNo"><div class="autoResizeQuarter">Aadhaar
									Number</div></th>
							<th class="hideClass status"><div class="autoResizeQuarter">Status</div></th>
							<th><div class="autoResizeQuarter">Sub-Status</div></th>
							<th class="" data-toggle="tooltip" data-placement="bottom"
								title="Previous year (P.Y.) (for which declaration is being made)"><div
									class="autoResizeQuarter">Previous year (P.Y.) (for which
									declaration is being made)</div></th>
							<th><div class="autoResizeQuarter">Residential Status</div></th>
							<th class="country"><div class="autoResizeQuarter">Country</div></th>
							<th><div class="autoResizeQuarter">Flat / Door /
									Building</div></th>
							<th><div class="autoResizeQuarter">Road / Street /
									Block / Sector</div></th>
							<th><div class="autoResizeQuarter">Pincode</div></th>
							<th><div class="autoResizeQuarter">Post Office</div></th>
							<th><div class="autoResizeQuarter">Area/ Locality</div></th>
							<th><div class="autoResizeQuarter">District</div></th>
							<th><div class="autoResizeQuarter">State</div></th>
							<th><div class="autoResizeQuarter">Email</div></th>
							<th><div class="autoResizeQuarter">Telephone No.</div></th>
							<th><div class="autoResizeQuarter">Mobile No.</div></th>
							<th class=" " data-toggle="tooltip" data-placement="bottom"
								title="Whether assessed to tax under the Income-tax Act, 1961"><div
									class="autoResize">Whether assessed to tax under the
									Income-tax Act, 1961</div></th>
							<th class=" " data-toggle="tooltip" data-placement="bottom"
								title="If yes, latest assessment year for which assessed"><div
									class="autoResize">If yes, latest assessment year for
									which assessed</div></th>
							<th class="hideClass  incomeDeclarationMade" data-toggle="tooltip" data-placement="bottom"
								title="Estimated income for which this declaration is made"><div
									class="autoResizeQuarter">Estimated income for which this
									declaration is made</div></th>
							<th class="hideClass totalIncomeOfPY" data-toggle="tooltip" data-placement="bottom"
								title="Estimated total income of the P.Y. (including income for which this declaration is made)"><div
									class="autoResizeQuarter">Estimated total income of the
									P.Y. (including income for which this declaration is made)</div></th>
							<th class="hideClass total15G" data-toggle="tooltip" data-placement="bottom"
								title="Total No. of Form No. 15G filed"><div
									class="autoResizeQuarter">Total No. of Form No. 15G filed</div></th>
							<th class="hideClass amtIncomeForForm15GFilled" data-toggle="tooltip" data-placement="bottom"
								title="Aggregate amount of income for which Form No.15G filed"><div
									class="autoResizeQuarter">Aggregate amount of income for
									which Form No.15G filed</div></th>
							<th class="hideClass dateDeclarationReceived"><div class="autoResizeQuarter">Date on which
									Declaration is received</div></th>
							<th class="hideClass amountOfIncomePaid"><div class="autoResizeQuarter">Amount of income
									paid</div></th>
							<th class=" " data-toggle="tooltip" data-placement="bottom"
								title="Date on which the income has been paid/credited"><div
									class="autoResizeQuarter">Date on which the income has
									been paid/credited</div></th>
							<th><div class="autoResizeQuarter">Financial Year</div></th>
							<th><div class="autoResizeQuarter">Warning</div></th>
							<th><div class="autoResizeQuarter">Error</div></th>
							<!-- <th>Action</th> -->




						</tr>
					</thead>
					<tbody>
						<tr style="color: red"
							ng-show="cCctr.getEntityListDataFY().length <= 0">
							<td colspan="20" style="text-align: center;"><b><h3
										style="text-align: center; text-align-last: 5; margin-right: 10%;">No
										data found!!</h3></b></td>
							<td colspan="25" style="text-align: center;"><b><h3
										style="text-align: center; text-align-last: 5; margin-right: 10%;">
									</h3></b></td>
						</tr>
						<tr ng-repeat="a in ( filteredList =( cCctr.getEntityListDataFY() ) )">
							<td>{{$index+1}}</td>
							<td>{{a.quarter}}</td>
							<td>{{a.month}}</td>
							<td class="custNo">{{a.custVendId}}</td>
							<td class="accNo">{{a.accNo}}</td>
							<td class="hideClass branchCode">{{a.branchCode}}</td>
							<td class="hideClass tanNo">{{a.tan}}</td>
							<td class="hideClass uniqueRefNo">{{a.uniqueRefNo}}</td>
							<td class="hideClass uniqueIdeNo " data-toggle="tooltip"
								data-placement="bottom" title="{{a.uniqueIdentificationNo}}">{{a.uniqueIdentificationNo}}</td>
							<td class="hideClass ideNumber">{{a.identificationNumberofRelevantInvestmentAccount}}</td>
							<td class="hideClass naturOfIncome " data-toggle="tooltip"
								data-placement="bottom" title="{{a.natureofIncome}}">{{a.natureofIncome}}</td>
							<td class="hideClass sectionUnder">{{a.sectionUnderWhichTaxisDeductible}}</td>
							<td class="hideClass amountIncome">{{a.amountofIncome}}</td>
							<td class="nameOfAssessee " data-toggle="tooltip"
								data-placement="bottom" title="{{a.nameofAssesseeDeclarant}}">{{a.nameofAssesseeDeclarant}}</td>
							<td class="panOfAssessee">{{a.panoftheAssessee}}</td>
							<td class="hideClass aadharNo">{{a.aadhaarNumber}}</td>
							<td class="hideClass status">{{a.status}}</td>
							<td class="hideClass subStatus">{{a.subStatus}}</td>
							<td class="hideClass previousYearforwhichdeclarationisbeingmade">{{a.previousYearforwhichdeclarationisbeingmade}}</td>
							<td class="hideClass residentialStatus">{{a.residentialStatus}}</td>
							<td class="country">{{a.country}}</td>
							<td class="hideClass flatDoorBuilding" data-toggle="tooltip" data-placement="bottom"
								title="{{a.flatDoorBuilding}}">{{a.flatDoorBuilding}}</td>
							<td class="hideClass roadStreetBlockSector" data-toggle="tooltip" data-placement="bottom"
								title="{{a.roadStreetBlockSector}}">{{a.roadStreetBlockSector}}</td>
							<td class="hideClass pincode">{{a.pincode}}</td>
							<td class="hideClass postOffice">{{a.postOffice}}</td>
							<td class="hideClass areaLocality">{{a.areaLocality}}</td>
							<td class="hideClass district">{{a.district}}</td>
							<td class="hideClass state">{{a.state}}</td>
							<td class="hideClass email">{{a.email}}</td>
							<td class="hideClass telephoneNo">{{a.telephoneNo}}</td>
							<td class="hideClass mobileNo">{{a.mobileNo}}</td>
							<td class="hideClass whetherAssessedtotaxundertheIncometaxAct1961">{{a.whetherAssessedtotaxundertheIncometaxAct1961}}</td>
							<td class="hideClass ifyeslatestassessmentyearforwhichassessed">{{a.ifyeslatestassessmentyearforwhichassessed}}</td>
							<td class="hideClass incomeDeclarationMade">{{a.estimatedIncomeforwhichthisdeclarationismade}}</td>
							<td class="hideClass totalIncomeOfPY">{{a.estimatedtotalincomeofthePY}}</td>
							<td class="hideClass total15G">{{a.totalNoofFormNo15Gfiled}}</td>
							<td class="hideClass amtIncomeForForm15GFilled">{{a.aggregateAmountofincomeforwhichFormNo15Gfiled}}</td>
							<td class="hideClass dateDeclarationReceived">{{a.dateonwhichDeclarationisreceived |
								date:'dd-MM-yyyy'}}</td>
							<td class="hideClass amountOfIncomePaid">{{a.amountofincomepaid}}</td>
							<td>{{a.dateonwhichtheincomehasbeenpaidcredited |
								date:'dd-MM-yyyy'}}</td>
							<td>{{a.fy}}</td>
							<td class=" " data-toggle="tooltip" data-placement="bottom"
								title="{{a.warning}}">{{a.warning}}</td>
							<td class=" " data-toggle="tooltip" data-placement="bottom"
								title="{{a.error}}">{{a.error}}</td>

							<!-- <td><a
							ng-click="cCctr.gotoDetailFormPage('form15g',a.id,a.fy,a.branchCode,'detailform15G')"
							style="color: blue" onclick="scrollWin()"><img src="static\img\edit.png"
								width="22px" height="22px" alt="Details"
								style="margin-top: 5px; margin-bottom: 5px;" /></a></td> -->

							<!-- <td>{{a.total-a.amountPaid}}</td> -->

						</tr>
						<tr>
							<th class="one" colspan="12"
								style="text-align: center; height: 40px" ng-init="ttl=0"><b>TOTAL</b></th>
							<td class="hideClass amountIncome"><b>{{ filteredList | sumByKey :
									'amountofIncome' | number : fractionSize}}</b></td>
							<td class=" nameOfAssessee"></td>
							<td class=" panOfAssessee"></td>
							<td class="hideClass aadharNo"></td>
							<td class="hideClass status"></td>
							<td class="hideClass subStatus"></td>
							<td class="hideClass previousYearforwhichdeclarationisbeingmade"></td>
							<td class="hideClass residentialStatus"></td>
							<td class="hideClass country"></td>
							<td class="hideClass flatDoorBuilding"></td>
							<td class="hideClass roadStreetBlockSector"></td>
							<td class="hideClass pincode"></td>
							<td class="hideClass postOffice"></td>
							<td class="hideClass areaLocality"></td>
							<td class="hideClass district"></td>
							<td class="hideClass state"></td>
							<td class="hideClass email"></td>
							<td class="hideClass telephoneNo"></td>
							<td class="hideClass mobileNo"></td>
							<td class="hideClass whetherAssessedtotaxundertheIncometaxAct1961"></td>
							<td class="hideClass ifyeslatestassessmentyearforwhichassessed"></td>
							
							<td class="hideClass incomeDeclarationMade"><b></b>{{ filteredList | sumByKey :
								'estimatedIncomeforwhichthisdeclarationismade' | number :
								fractionSize}}</td>
							<td class="hideClass totalIncomeOfPY"><b></b>{{ filteredList | sumByKey :
								'estimatedtotalincomeofthePY' | number : fractionSize}}</td>
								<td class="hideClass total15G"></td>
							<td class="hideClass amtIncomeForForm15GFilled"><b>{{ filteredList | sumByKey :
									'aggregateAmountofincomeforwhichFormNo15Gfiled' | number :
									fractionSize}}</b></td>
							<td class="hideClass dateDeclarationReceived"></td>
							<td class="hideClass amountOfIncomePaid"><b>{{ filteredList | sumByKey :
									'amountofincomepaid' | number : fractionSize}}</b></td>
						</tr>

					</tbody>
				</table>

			</div>

			<div class="row" ng-show="cCctr.getNoPages() > 0">
				<div class="row" align="center">
					<span ng-show="cCctr.currentPage != 1"> <a
						ng-click="cCctr.getPages(true,'form15G',cCctr.currentPage-1)"><strong>Previous</strong></a>
					</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>Displaying page &nbsp;<strong>{{cCctr.currentPage}}</strong>&nbsp;
						of &nbsp;<strong>{{cCctr.getNoPages()}}</strong>
						&nbsp;&nbsp;&nbsp;&nbsp; <span
						ng-show="cCctr.currentPage != cCctr.getNoPages()"> <a
							ng-click="cCctr.getPages(true,'form15G',cCctr.currentPage+1)"><strong>Next</strong></a>
					</span>
					</span>
				</div>
				<form role="form" name="gotoForm">
					<div class="row" align="center">
						<span>Go to</span> &nbsp;&nbsp;&nbsp; <input
							style="width: 70px; text-align: center;" type="number"
							name="pageNo" ng-model="cCctr.currentPage"
							ng-init="cCctr.pageNo=cCctr.currentPage" autocomplete="off"
							ng-min="1" min="1" max="{{cCctr.getNoPages()}}"
							ng-max="cCctr.getNoPages()" ng-required="true">
						&nbsp;&nbsp;&nbsp;
						<button style="height: 25px;"
							ng-click="gotoForm.submitted=true;cCctr.getPages(gotoForm.$valid,'form15G',cCctr.currentPage)"
							class="btn btn-primary">Go</button>
					</div>
					<div class="row" align="center">
						<span style="color: red"
							ng-show="gotoForm.submitted || gotoForm.pageNo.$dirty && gotoForm.pageNo.$invalid">
							<span class="error" ng-show="gotoForm.pageNo.$error.min">Page
								No. should not be less than 1.</span> <span class="error"
							ng-show="gotoForm.pageNo.$error.max">Page No. should not
								be greater than {{cCctr.getNoPages()}}.</span> <span class="error"
							ng-show="gotoForm.pageNo.$error.required">Please enter
								page number.</span>
						</span>
					</div>
				</form>
			</div>


		</div>
		
	<script>
	$(document).ready(function() {
		$('th').tooltip({
			selector : '[data-toggle="tooltip"]'
		});
	});
</script>


<script>
$("input:checkbox:not(:checked)").each(function() {
	    var column = "table ." + $(this).attr("name");
   
  $(column).hide();
});

$("input:checkbox").click(function(){
    var column = "table ." + $(this).attr("name");
    $(column).toggle();
});

</script>
<script>
$(".selectAll").click(function() {
	$("input[type=checkbox]").prop("checked", $(this).prop("checked"));
});

$("input[type=checkbox]").click(function() {
	if (!$(this).prop("checked")) {
		$(".selectAll").prop("checked", false);
	}
});
</script>

<script>
$(".removeAll").click(function() {
	 $(".hideClass").hide();
});
</script>
<script>
$(".showAll").click(function() {
	 $(".hideClass").show();
});
</script>

<script>
$(function() {
	  $("table th").resizable({
	      handles: "e",
	      minWidth: 40,
	  });
	});
</script>
</body>
</html>