 <div class="container-fluid">
      <div class="col-md-12 " style="padding-left: 0px;font-size: 12pxp; margin-top:2%" >
	      <div class="heading">
	    Request Correction
	     </div>
	  </div> <br>
	         <button class="btn btn-primary hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" onclick="scrollWin()">
             Search 
             </button>
        <div class="collapse dont-collapse-sm" id="collapseExample2" > 
	      <div class="row">
	         <div class="form-group">
	  
	                 <div class="col-md-2">							
                   <h6><b>Form</b></h6>
                   <select ng-model="cCctr.search.form" class="form-control">
                   <option value=""></option>
                   <option value="24Q">24Q</option>
                   <option value="26Q">26Q</option>
                   <option value="27Q">27Q</option>
                   <option value="27EQ">27EQ</option>
                   </select> 
                </div>
	                 
	                 <div class="col-md-2">							
                   <h6><b>Quarter</b></h6>
                   <select ng-model="cCctr.search.quarter" class="form-control">
                   <option value=""></option>
                   <option value="Q1">Q1</option>
                   <option value="Q2">Q2</option>
                   <option value="Q3">Q3</option>
                   <option value="Q4">Q4</option>
                   </select> 
                </div>
                     
	                 <div class="col-md-2">							
                   <h6><b>Financial Year</b></h6>
                   <select ng-model="cCctr.search.fy" class="form-control">
                   <option value=""></option>
                    <option value="201516">201920</option>
             <option value="201819">201819</option>
             <option value="201718">201718</option>
             <option value="201617">201617</option>
             <option value="201516">201516</option>
             <option value="201415">201415</option>
             <option value="201314">201314</option>
             <option value="201213">201213</option>
             <option value="201112">201112</option>
             <option value="201011">201011</option>
             <option value="200910">200910</option>
             <option value="200809">200809</option>
             <option value="200708">200708</option>
                   </select> 
                </div>
                 <div class="col-md-2">							
                   <h6><b>Status</b></h6>
                   <select ng-model="cCctr.search.status" class="form-control">
                   <option value=""></option>
                   <option value="FVU Generated">FVU Generated</option>
                   </select> 
                </div>
                
                
	             
	         	     <div class="col-md-4" id="hide" style=" margin-top:-3%;margin-left:80%">	
	                          <button ng-click="cCctr.searchEntities(true,'requestCorrection')"
							  class="btn btn-success" onclick="scrollWin()">Search</button>
	                 </div>					
  				
                    
      
            </div>
          </div>	 
	     
	      		
  
             <div class="row" id="search" >
	         	  <div class="col-md-3" id="search">	
	                    <button ng-click="cCctr.searchEntities(true,'requestCorrection')"
					      class="btn btn-success" onclick="scrollWin()">Search</button>
	              </div>					
              </div>
  </div>
 </div>

 
 
 <br>
 
  <div class="row" id="search">
	         	  <div class="col-md-12" id="hide">	
	                    <button ng-click="cCctr.searchEntities(true,'requestCorrection')"
					      class="btn btn-success" onclick="scrollWin()">Search</button>
	              </div>					
              </div>
  <div class="row">
	         	  <div  style="float:right">	
	                    <button ng-click="cCctr.gotoListPage('addrequestCorrection','addrequestCorrection');"
					      class="btn btn-Primary" onclick="scrollWin()">Add</button>
	              </div>					
              </div>
<!--  <div class="table-responsive"> -->

							<table class=" table table-bordered table-hover table-striped" role="table"
								style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">
								<thead>
							<colgroup>
									<col span="14" style="background-color: #ffffff">
								</colgroup>
							 <tr>
							  <thead role="rowgroup">
							      <tr role="row" style="height:40px;background-color:#81b7db">
							      <th width="10%">Sr. No.</th>
							      <th width="10%">Form</th>
							      <th width="10%">Quarter</th>
							      <th width="10%" >Financial Year</th>
							      <th width="10%">Date Of Request</th>
							      <th width="10%" >Status</th>
							      <th width="10%">Remark</th>
							      <th width="10%">Action</th>
							     
                                  </tr>
                               </thead>
								<tbody>
									<tr role="row" ng-repeat="a in cCctr.getEntityListData() track by a.id">
										<td  style="padding:5px">{{$index+1}}</td>
											<td>{{a.form}}</td>
											<td>{{a.quarter}}</td>
											<td>{{a.fy}}</td>
											<td>{{a.dor | date:'dd-MM-yyyy'}}</td>
											<td>{{a.status}}</td>
											<td>{{a.remark}}</td>
											<td><a
							                ng-click="cCctr.gotoDetailPage('requestCorrection',a.id,('detailRCreg'+a.form));"><font
								          color="blue" style="font-size: 13px" onclick="scrollWin()">Detail</font></a></td>
									</tr>								
								</tbody>
							</table>
							</div>
					
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <style>
 
 
         @media only screen and (max-width: 1000px) {
           .one{
             display: none;
                 }
               }
    
         @media only screen and (max-width: 1000px) {
          .two{
             padding:8px;
               }
              }
        
         @media only screen and (min-width:600px) {
            #three{
                display: none;
                max-height: 0;
                overflow: hidden;
              }
            }
        
         @media only screen and (min-width:1000px) {
            #search{
             margin-left:45%;
             margin-top:2px;
             display:none;
            }
        }
        
         @media only screen and (max-width: 1000px) {
               #hide{
               display: none;
              }
          }
          .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: whitesmoke;
           }
              @media (min-width: 768px) {
             .collapse.dont-collapse-sm {
              display: block;
              height: auto !important;
              visibility: visible;
           }
         }
 
 </style>
 