

<style>

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 1rem 0;
	}
	tr:nth-child(odd) {
		background: #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
	td:nth-of-type(1):before {
		content: "Sr. No.";
	}
	td:nth-of-type(2):before {
		content: "Description";
	}
	td:nth-of-type(3):before {
		content: "Attachment";
	}
	td:nth-of-type(4):before {
		content: "Financial Year";
	}
	td:nth-of-type(5):before {
		content: "Quarter";
	}
	td:nth-of-type(6):before {
		content: "Form";
	}
	td:nth-of-type(7):before {
		content: "Date Of Opening";
	}
	td:nth-of-type(8):before {
		content: "Date Of Change";
	}
	td:nth-of-type(9):before {
		content: "Type";
	}
	td:nth-of-type(10):before {
		content: "Status";
	}
	td:nth-of-type(11):before {
		content: "Remarks";
	}
	td:nth-of-type(12):before {
		content: "Action";
	}
}

@media only screen and (min-width:1000px) {
	#search {
		margin-left: 45%;
		margin-top: 2px;
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hide {
		display: none;
	}
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: whitesmoke;
}

@media ( min-width : 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
</style>

<div id="page-wrapper">
	<div class="container-fluid">

		<div class="col-md-12 "
			style="padding-left: 0px; font-size: 12pxp; margin-top: 3%">
			<div class="heading">
				<strong>Ticket Details</strong>
			</div>
		</div>

		<br>
		<!-- <button class="btn btn-primary hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" >
             Search 
          </button> -->


		<div class="collapse dont-collapse-sm" id="collapseExample2">
			<div class="row">
				<div class="form-group">
					<div class="col-md-2">
						<h6>
							<b>Status</b>
							<h6>
								<select type="text" ng-model="cCctr.search.status"
									class="form-control" placeholder="Status" style="width: 100%">
									<option disabled value="">Select Status</option>
									<option value="open">open</option>
									<option value="close">close</option>
								</select>
					</div>
					
					<div class="col-md-2">
						<h6>
							<b>Quarter</b>
						</h6>
						<select ng-model="cCctr.search.quarter" style="width: 100%"
							class="form-control">
							<option disabled value="">Select Quarter</option>
							<#list Quarter as quarter>
							<option value="${quarter}">${quarter}</option>
							</#list>
						</select>
					</div>
				</div>
					<!-- <div class="col-md-2">
					<h6>
						<b>Financial Year</b>
					</h6>
					<select ng-model="cCctr.search.fy" style="width: 100%"
						class="form-control">
						<option disabled value="">Select financial Year</option>
						<#list financialYear as year>
						<option value="${year}">${year}</option>
						</#list>
					</select>
				</div> -->
				<div class="col-md-2">
					<h6>
						<b>Form</b>
					</h6>
					<select ng-model="cCctr.search.form" class="form-control">
						<option value="">Form</option>
						<option value="24Q">24Q</option>
						<option value="26Q">26Q</option>
						<option value="27Q">27Q</option>
						<option value="27EQ">27EQ</option>
						<option value="15G">15G</option>
						<option value="15H">15H</option>
					</select>
				</div>
			</div>

			<div class="collapse  panel-collapse" id="collapseExample4">

				<div class="row">
					<div class="col-md-2">
						<h6>
							<b>From Date Of Opening</b>
						</h6>
						<input type="date" ng-model="cCctr.search.fromDate"
							ng-change="cCctr.search.fromDate=cCctr.date(cCctr.search.fromDate);"
							class="form-control" placeholder="Date" style="width: 100%">
					</div>

					<div class="col-md-2">
						<h6>
							<b>To Date Of Opening</b>
						</h6>
						<input type="date" ng-model="cCctr.search.toDate"
							ng-change="cCctr.search.toDate=cCctr.date(cCctr.search.toDate);"
							class="form-control" placeholder="Date" style="width: 100%">
					</div>

					
				</div>
			</div>
			<div class="row text-right" id="hide">
				<div class="col-md-4" style="margin-left: 65%; margin-top: -45px">
					<button ng-click="cCctr.searchFYEntities(true,'ticket','ticket')"
						class="btn btn-success" onclick="scrollWin()">Search</button>
					<button class="btn btn-secondary"
						style="background-color: #FFA500;" data-toggle="collapse"
						data-target="#collapseExample4" aria-expanded="false"
						aria-controls="collapseExample">Advance Search</button>
					<button class="btn btn-primary" data-toggle="modal"
						ng-click="cCctr.gotoAddWFYPage('addTicket')">Add</button>

					<div class="text-right"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-md-4" style="margin-top: 5px; margin-left: -15px;">

				</div>
				<div class="text-right"></div>
			</div>
		</div>


		<div class="row">
			<!-- <div class="table-responsive">  -->
			<table class=" tables table-bordered table-hover table-striped"
				role="table"
				style="font-size: 12px; width: 100%; padding: 5px; margin: 5px;">
				<thead>

					<tr>
				<thead role="rowgroup">
					<tr role="row" style="height: 40px; background-color: #81b7db">
						<th width="10%">Sr. No.</th>
						<th width="10%">Financial Year</th>
						<th width="10%">Quarter</th>
						<th width="10%">Form</th>
						<th width="10%">Date Of Opening</th>
						<th width="10%">Status</th>
						<th width="10%">Added By</th>
						<th width="10%">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr style="color: red" ng-show="cCctr.getEntityListDataFY().length <= 0">
					<td colspan="14" style="text-align: center;"><b><h3 style="text-align:center;">No data
					found!!</h3></b></td>
					<tr role="row" ng-repeat="a in cCctr.getEntityListDataFY()">
						<td role="cell" class="one" style="padding: 5px">{{$index+1}}</td>
						<td>{{a.fy}}</td>
						<td>{{a.quarter}}</td>
						<td>{{a.form}}</td>
						<td>{{a.dateOfOpening | date:'dd-MM-yyyy'}}</td>
						<td>{{a.status}}</td>
						<td>{{a.userName}}</td>
						<td><a
							ng-click="cCctr.gotoWFYDetailPage('ticket',a.id,'detailticket')"
							style="color: blue"><img src="static\img\edit.png"
								width="22px" height="22px" alt="Details"
								style="margin-top: 5px; margin-bottom: 5px;" /></a></td>

						<!-- <td><a ng-click="cCctr.viewFile('fileDetail',a,'viewFile');"
					style="color: blue">View</a></td> -->


						<!-- <td>{{a.total-a.amountPaid}}</td> -->

					</tr>
				</tbody>
			</table>

		</div>
		<div class="row" ng-show="cCctr.getNoPages() > 0">
			<div class="row" align="center">
				<span ng-show="cCctr.currentPage != 1"> <a
					ng-click="cCctr.getPages(true,'ticket',cCctr.currentPage-1)"><strong>Previous</strong></a>
				</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>Displaying page &nbsp;<strong>{{cCctr.currentPage}}</strong>&nbsp;
					of &nbsp;<strong>{{cCctr.getNoPages()}}</strong>
					&nbsp;&nbsp;&nbsp;&nbsp; <span
					ng-show="cCctr.currentPage != cCctr.getNoPages()"> <a
						ng-click="cCctr.getPages(true,'ticket',cCctr.currentPage+1)"><strong>Next</strong></a>
				</span>
				</span>
			</div>
			<form role="form" name="gotoForm">
				<div class="row" align="center">
					<span>Go to</span> &nbsp;&nbsp;&nbsp; <input
						style="width: 70px; text-align: center;" type="number"
						name="pageNo" ng-model="cCctr.currentPage"
						ng-init="cCctr.pageNo=cCctr.currentPage" autocomplete="off"
						ng-min="1" ng-max="cCctr.getNoPages()" ng-required="true">
					&nbsp;&nbsp;&nbsp;
					<button style="height: 25px;"
						ng-click="gotoForm.submitted=true;cCctr.getPages(gotoForm.$valid,'ticket',cCctr.currentPage)"
						class="btn btn-primary">Go</button>
				</div>
				<div class="row" align="center">
					<span style="color: red"
						ng-show="gotoForm.submitted || gotoForm.pageNo.$dirty && gotoForm.pageNo.$invalid">
						<span class="error" ng-show="gotoForm.pageNo.$error.min">Page
							No. should not be less than 1.</span> <span class="error"
						ng-show="gotoForm.pageNo.$error.max">Page No. should not be
							greater than {{cCctr.getNoPages()}}.</span> <span class="error"
						ng-show="gotoForm.pageNo.$error.required">Please enter page
							number.</span>
					</span>
				</div>
			</form>
		</div>

		<!-- add modal     -->

		<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1"
			style="background-color: rgba(0, 0, 0, 0.7);" role="dialog"
			aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content" style="margin-left: 10%;">
					<br>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add Ticket</h4>
					</div>

					<div class="modal-body" style="font-size: 15px;">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in">
								<form name="fileForm" class="form-horizontal" role="form"
									enctype="multipart/form-data">
									<fieldset>
										<input type="hidden" ng-model="cCctr.entity.dateOfOpening"
											ng-init="cCctr.entity.dateOfOpening=cCctr.presentDate()">

										<input type="hidden" ng-model="cCctr.entity.dateOfChange"
											ng-init="cCctr.entity.dateOfChange=cCctr.presentDate()">

										<input type="hidden" ng-model="cCctr.entity.status"
											ng-init="cCctr.entity.status='Open'">

										<div class="row">
											<div class="col-md-4">
												<div>
													<label>Form</label> <select ng-model="cCctr.entity.form"
														class="form-control" required>
														<option value="" ng-selected=true>Form</option>
														<option value="24Q">24Q</option>
														<option value="26Q">26Q</option>
														<option value="27Q">27Q</option>
														<option value="27EQ">27EQ</option>
														<option value="15G">15G</option>
														<option value="15H">15H</option>
													</select>
												</div>
											</div>

											<div class="col-md-4">
												<div>
													<label>Finacial Year</label> <select class="form-control"
														ng-model="cCctr.entity.fy" required>
														<#list financialYear as fy>
														<option value="${fy}">${fy}</option>
														</#list>
													</select>
												</div>
											</div>
											<div class="col-md-4">
												<div>
													<label>Quarter</label> <select class="form-control"
														ng-model="cCctr.entity.quarter" required>
														<#list Quarter as quarter>
														<option value="${quarter}">${quarter}</option>
														</#list>
													</select>
												</div>
											</div>
										</div>


										<!-- <div class="row">
											<div class="col-md-4">
												<div class="control-group">
													<label class="control-label" for="file">Attach File</label>
													<div class="controls">
														<input multiple id="file-upload" type="file"
															name="entity" file-model="cCctr.entity.file"
															accept=".pdf,.png,.jpeg,.jpg">
													</div>
												</div>
											</div>

										</div> -->
										<div class="row">
											<div class="col-md-12">
												<div class="">
													<label>Description</label>
													<textarea class="form-control"
														ng-model="cCctr.entity.description" style="width: 100%;"
														required></textarea>

												</div>
											</div>
										</div>
										<BR>
										<div class="control-group">
											<label class="control-label" for="save"></label>
											<div class="controls">
												<button id="add" name="add"
													class="btn btn-success btn-block btn-primary"
													ng-click="fileForm.submitted=true;cCctr.submitFY(fileForm.$valid,cCctr.entity,'ticket','close')">Add</button>
											</div>
										</div>
									</fieldset>
								</form>

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="close"
							data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
